- if @blogs.present?
  .col-md-12
    .masonry
      - @blogs.each do |resource|
        - link_path = current_user.is_publisher? ? publishers_blog_path(resource) : account_managers_blog_path(resource)
        .item
          = link_to link_path, class: 'hpanel blog-box' do
            .panel-image{ style: "background-image:url(#{resource.attachment_image.url(:normal)}); background-size:cover;"}
            .panel-body
              %h5= resource.title
              = truncate(strip_tags(resource.description), length: 100) if resource.description.present?
            .panel-footer
              %span.pull-right
                %i.fa.fa-comments-o
                #{resource.feed_comments.count} comments
              = resource.status? if resource.current_user_blog(current_user.id)
              %i.fa.fa-eye
              #{resource.try(:view_count) || 0} views
- else
  = render "shared/empty_blank"