#wrapper.blog-publisher.content-dashboard.responsive-blog
  .normalheader.small-header
    .hpanel
      .panel-body.responsive-title-page.quick-date
        %a.small-header-action{:href => ""}
          .clip-header
            %i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
          %ol.breadcrumb.hbreadcrumb
            = render_breadcrumbs :tag => :li, :separator => ""
        %h2.font-light.m-b-xs
          %b Blogs (<span class='js-total-collection'>#{@blogs.total_count}</span>)
        %p You can see the latest article here
  .content.animate-panel.blogs
    .row
      %section
        .col-xs-12
          = render 'publishers/blogs/sort' if current_user.is_account_manager?
        .infinitescroll-page
          .js-blog-box
            = render partial: 'publishers/blogs/blog', object: @blogs
        
        .col-xs-12
          .pagination
            = link_to_next_page(@blogs, 'LOADING MORE ARTICLES', remote: true, class: 'btn btn-default btn-more')
          
  = render 'publishers/blogs/modal_blog' if current_user.is_account_manager?
  = render 'publishers/shared/footer'
