.media-all
  .new-comment
  - @blog_comments.each do |resource|
    .social-talk
      .media.social-profile.clearfix
        .pull-left
          = image_tag resource.user.avatar.url(:thumb)
        .media-body
          = "<b class='text-capital'>#{resource.user.username}</b>".html_safe
          &nbsp;
          = "<small><i class='pe-7s-timer'></i> #{time_to_ago(resource.created_at)}</small>".html_safe
          %br
          %p
            = resource.message
    %hr