- if action_name == "index"
	- blog = Blog.new
	- link_path = account_managers_blogs_path
	- method_path = 'post'
- else
	- blog = @blog
	- link_path = account_managers_blog_path
	- method_path = 'put'

.modal.fade.modal-forum{:role => "dialog", id: "myFeed"}
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				%button.close{"data-dismiss" => "modal", :type => "button"} ×
				%h4.modal-title New Blog
			.modal-body
				.user-forum
					.user-content
						= image_tag current_user.avatar, class: "thumb-lg img-circle"
						%center
							%h5.text-uppercase
								= current_user.username
								
					.overlay-box
				.row.form-horizontal
					= form_for blog, url: link_path, method: method_path do |f|
						.form-group
							.col-md-12
								= f.text_field :title, placeholder: "Enter title", class: 'form-control', required: true, autofocus: true
								%br
							.col-md-12
								= f.select :category, Blog::CATEGORIES, {prompt: 'Select Category'}, class: 'form-control', required: true
								%br
							.col-md-12
								= f.text_area :description, placeholder: "Enter blog artile", id: "editor1", class: 'textarea-forum margin-bottom form-control ckeditor', required: true
								%br
							.col-md-12
								= f.select :status, Blog::STATUSES, {prompt: 'Select Status'}, class: 'form-control', required: true
								%br
							.col-xs-12
								.input-group.image-preview
									%input.form-control.image-preview-filename{:disabled => "disabled", :type => "text"}/
									%span.input-group-btn
										%button.btn.btn-default.image-preview-clear{:style => "display:none;", :type => "button"}
											%span.fa.fa-trash
											Clear
										.btn.btn-default.image-preview-input.margin-right
											%span.fa.fa-camera
											%span.image-preview-input-title Browse
											= f.file_field :attachment_image, accept: "image/png, image/jpeg, image/gif", type: "file"

									= button_tag class: "btn btn-primary pull-right btn-block", type: "submit" do
										%i.fa.fa-send
										&nbsp;
										Send