- url_submit = current_user.is_publisher? ? comment_create_publishers_blogs_path : comment_create_account_managers_blogs_path
#wrapper.blog-publisher.content-dashboard
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h3.font-light.m-b-xs
					%b 
						= @blog.title
				%p
					%i.fa.fa-user
					- if @blog.user.is_account_manager?
						= @blog.account_manager.username
						&nbsp;
					- else
						= 'Cpaground Team &nbsp;'.html_safe
					%i.pe-7s-timer
					= "#{time_to_ago(@blog.created_at)} &nbsp;".html_safe
					- if current_user.is_account_manager? && @blog.user_id == current_user.id
						%button.btn.btn-xs.btn-info{"data-target" => "#myFeed", "data-toggle" => "modal", :type => "button"} 
							<i class="pe-7s-pen"></i> &nbsp; Edit Blog
	.content.animate-panel.blogs.responsive-panel-full
		.row
			%section
				.col-md-8
					.hpanel.blog-box
						/ .panel-image{style: 'height:auto;'}
						/ 	= image_tag @blog.attachment_image, class: "img-responsive"
						.panel-body.description
							= @blog.description.html_safe
						.panel-footer
							%span.pull-right
								%i.fa.fa-comments-o
								#{@blog.feed_comments.count} comments
							= @blog.status? if @blog.current_user_blog(current_user.id)
							%i.fa.fa-eye
							#{@blog.try(:view_count) || 0} views

					.blog-comments.hpanel
						.hpanel.blog-box
							.panel-body
								= form_for FeedComment.new, url: url_submit, method: 'post', html: { class: 'new-comment-blog', data: {url: url_submit}} do |f|
									.input-group
										= hidden_field_tag :feedable_id, @blog.id
										= hidden_field_tag :feedable_type, FeedComment::BLOG
										= text_field_tag :message, nil, placeholder: 'write your comments', class: 'form-control comment-input', required: true, autocomplete: 'off'
										%span.input-group-btn
											= button_tag type: "submit", class: "btn btn-primary" do
												%i.fa.fa-send
						.panel-body
							.infinitescroll-page
								.js-blog-box
									= render partial: 'publishers/blogs/list_blog_comments', object: @blog_comments
						
						.col-xs-12
							.pagination
								= link_to_next_page(@blog_comments, 'LOADING MORE ARTICLES', remote: true, class: 'btn btn-default btn-more')

				.col-md-4.desktop
					.js-sticky-sidebar
						- @latest_blogs.each do |resource|
							- link_path = current_user.is_publisher? ? publishers_blog_path(resource) : account_managers_blog_path(resource)
							.hpanel.filter-item.latest-blogs
								= link_to link_path do
									.bg-white.media.list-blog
										.media-image.pull-left
											= image_tag resource.attachment_image.thumb
										.media-body.description-list-blog
											%h5
												= resource.title
											%p.small
												%i.pe-7s-timer
												= "#{time_to_ago(@blog.created_at)}".html_safe

	= render 'publishers/blogs/modal_blog' if current_user.is_account_manager? && @blog.user_id == current_user.id
	= render 'publishers/shared/footer'