.row.btn-action-forum
  .col-xs-6
    %button.btn.btn-default.pull-left.dropdown-toggle.btn-sort{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      <i class="fa fa-sort-amount-asc"></i> Sort Blog By
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to 'Only My Blogs', account_managers_blogs_path(user: current_user.slug)
      %li
        = link_to 'All Blogs', account_managers_blogs_path
  .col-xs-6
    %button.btn.btn-primary.pull-right{"data-target" => "#myFeed", "data-toggle" => "modal", :type => "button"} 
      <i class="pe-7s-pen"></i> &nbsp; Create Blog
%br