= f.fields_for :profile do |p|
  .row
    .col-md-6
      .row
        .col-md-12
          %h4 ACCOUNT
          %hr
        .col-md-12
          .form-group
            = f.label :role_id
            = f.select :role_id, options_for_select(Owner::OWNER_TYPES, f.object.role_id), {prompt: 'Select Owner Type'}, class: 'form-control'
        .col-md-6
          .form-group
            = f.label :username
            = f.text_field :username, placeholder: "Enter username", class: 'form-control', required: true
        .col-md-6
          .form-group
            = f.label :email
            = f.email_field :email, placeholder: "Enter email", class: 'form-control', required: true
        .col-md-6
          .form-group
            = f.label :phone
            .row
              .col-xs-4
                .no-right
                  = f.select :phone_code, get_phone_codes, {prompt: 'Code'}, class: 'form-control', required: true
              .col-xs-8
                = f.text_field :phone, placeholder: "Phone Number", class: 'form-control', required: true
        .col-md-6
          .form-group
            = f.label :skype
            = f.text_field :skype, placeholder: "Enter skype", class: 'form-control', required: true
        .col-md-6
          .form-group
            = f.label :password
            = f.password_field :password, placeholder: "Enter password", class: 'form-control'
        .col-md-6
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, placeholder: "Enter password confirmation", class: 'form-control'
    .col-md-6
      .form-group
        .photo-profile
          %img.img-thumbnail{ src: asset_path(@owner.avatar) }
          %br
          = f.file_field :avatar
          = f.hidden_field :avatar_cache