.responsive-tabel
  .responsive-content-tabel
    %table#example1.table.table-bordered.table-striped.tabel-width2
      %thead
        %tr
          %th ID
          %th Avatar
          %th Username
          %th Email
          %th Status
          %th Last Month
          %th Ongoing Month
          %th{width: '122px'} Action
      %tbody
        - if @owners.blank?
          %tr
            %td{ colspan: "8"} 
              = render "shared/empty_blank"
        - else
          - @owners.each_with_index do |resource, index|  
            %tr
              %td
                = resource.id
              %td
                = image_tag resource.avatar.url(:thumb), height: '50px'
              %td
                = resource.username
              %td
                = resource.email
              %td
                = resource.status_owner?
              %td
                = get_currency_full(get_payment_owner('last_payment', resource))
              %td
                = get_currency_full(get_payment_owner('ongoing_payment', resource))
              %td
                = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_owner_path(resource), class: 'btn btn-default btn-xs'
                &nbsp;
                = link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_owner_path(resource), class: 'btn btn-default btn-xs' if current_user.is_admin?          