= render "shared/admin/breadcrumbs"

%section.content.full-page
  .row
    .col-md-12
      .box.box-m
        .box-header
          %b
            = @collection_name
            = link_to 'Back To List', admins_owners_path, class: 'btn btn-info btn-xs pull-right' if current_user.is_admin?
          %hr
        .box-body
          = form_for @owner, url: admins_owner_path, method: 'put' do |f|
            = render 'form', f: f
            = submit_tag "Update", class: "btn btn-info"
