#breadcrumbs
  = render "shared/admin/breadcrumbs"

%section.content.full-page
  .row
    .col-xs-12.top-plus
      .box.box-m
        .box-body
          = link_to new_admins_owner_path, class: 'btn btn-info btn-sm pull-right' do
            %i.fa.fa-user
            &nbsp; Create Owner
          %br
          %br
          #table-lists
            = render 'admins/owners/list'