$('.js-field-search').html("<%= escape_javascript render 'shared/analytics/field_search' %>");
$('#btn-group-analytic').html("<%= escape_javascript render 'admins/campaigns/btn_group_analytic' %>")
$('#the-report-analytics').html("<%= escape_javascript render 'shared/analytics/analytic', report_for: 'dashbord_admin_owner' %>")
$('.total-revenue').html("<%= get_currency(@reports_total_revenue) %>")
$('#table-list-invoice-owners').html("<%= escape_javascript render 'admins/invoice_owners/lists' %>")

$(document).ready(function() {
  $(".spinner-load").fadeOut(1000);
});