#wrapper.detail-report
  .normalheader.top-header
    .panel
      .panel-body
        #hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital
          %ol.breadcrumb.hbreadcrumb
            = render_breadcrumbs :tag => :li, :separator => ""
        %h2.font-light.m-b-xs
          %b #{@owner.username.titleize} Report Revenue #{@owner.status_owner?}
        %p 
          This report is all #{@owner.username.titleize}'s belongs. 
  .content.full-page.top-min
    .count-total
      .row
        .col-md-9
          .box.box-m.box-default.estimate-earnings
            .box-footer
              .row
                .col-md-12
                  %h3 Estimated Earnings
                .col-xs-3
                  .description-block
                    %h3.text-success
                      = get_currency(@earning_today_so_far)
                    %small Today so far    
                .col-xs-3
                  .description-block
                    %h3.text-success
                      = get_currency(@earning_yesterday)
                    %small Yesterday
                .col-xs-3
                  .description-block
                    %h3.text-success
                      = get_currency(@earning_last_7_month)
                    %small Last 7 days
                .col-xs-3
                  .description-block
                    %h3.text-success
                      = get_currency(@earning_this_month)
                    %small This month
                
        .col-md-3
          .box.box-m.box-default.estimate-earnings
            .box-footer
              .row
                .col-md-12
                  %h3 Balance
                .col-md-12
                  %h3.text-success 
                    = get_currency(@_last_payment)
                  %small Last Month

      %ul.nav.nav-tabs
        %li
          %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab-1"} 
            %i.fa.fa-table
            &nbsp; Invoice Payment
        %li.active
          %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab-2"} 
            %i.fa.fa-line-chart
            &nbsp; Analytic Report
      .tab-content.no-padding-m.background-white
        #tab-1.tab-pane
          .panel-body
            #table-list-invoice-owners
              = render 'admins/invoice_owners/lists'

        #tab-2.tab-pane.active
          .panel-body.responsive-panel-analytic
            .row.responsive-row-analytic
              .col-xs-6
                .simple-search
                  = form_for :select_date, url: admins_owner_path(@owner), method: 'get', remote: true, html: {class: 'js-form-submit'} do
                    .input-group.js-field-search
                      = render 'shared/analytics/field_search'
              .col-xs-6
                #btn-group-analytic
                  = render 'admins/campaigns/btn_group_analytic'
              .col-xs-12
                .btn-group.pull-right.btn-chart
                  %button.btn.btn-default.btn-total-revenue
                    Total Earnings :
                    %span.total-revenue #{get_currency(@reports_total_revenue)}
              .col-xs-12
                #the-report-analytics
                  = render "shared/analytics/analytic", report_for: 'dashbord_admin_owner'