.row
	.col-md-3
		.form-group
			.photo-profile
				= f.file_field :image, onchange: "previewFile()"
				= f.hidden_field :image_cache
				= image_tag @layout_theme.image, class: "img-thumbnail img-responsive change-profile"
				%i.fa.fa-upload.fa-5x
	.col-md-9
		.col-md-12
			.form-group
				= f.label :category_name
				= f.select :category_id, CategoryCampaign::CATEGORY_NAMES, {prompt: "Select Category Name"}, class: 'form-control', required: true
		.col-md-6
			.form-group
				= f.label :title
				= f.text_field :title, placeholder: "Enter title layout theme", class: 'form-control', required: true
		.col-md-6
			.form-group
				= f.label :link_preview
				= f.text_field :link_preview, placeholder: "http://www.example.com", class: 'form-control', required: true
		.col-md-12
		.col-md-2
			.form-group
				= f.label :status
				= f.select :status, LayoutTheme::STATUSES, {prompt: 'Select Status'}, class: 'form-control', required: true
		.col-md-10
			= submit_tag "Save Layout", class: "btn btn-info pull pull-right btn-save"
