.responsive-tabel
  .responsive-content-tabel
    %table#example1.table.table-bordered.table-striped.tabel-width1
      %thead
        %tr
          %th No
          %th Code
          %th Publisher
          %th AM
          %th Admin
          %th Title
          %th Link Campaign
          %th Status
          %th Created At
          %th{width: '70px'} Action
      %tbody 
        - if @campaigns.blank?
          %tr
            %td{ colspan: "10"} 
              = render "shared/empty_blank"
        - else
          - @campaigns.each_with_index do |resource, index|  
            %tr
              %td
                = index+1
              %td
                = resource.code
                = resource.new_data?
              %td
                = link_to resource.publisher.username, admins_publisher_path(resource.publisher)
              %td
                = link_to resource.account_manager.username, admins_account_manager_path(resource.account_manager) if resource.account_manager.present?
              %td
                = resource.admin.username if resource.admin.present?
              %td
                = resource.title
              %td
                = resource.tracking_code
              %td
                = resource.status?
              %td
                = get_datetime(resource.created_at)
              %td
                = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_campaign_path(resource), class: 'btn btn-default btn-xs'
                = link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_campaign_path(resource), class: 'btn btn-default btn-xs'
                
= paginate @campaigns, remote: true, param_name: "list_campaigns"