.responsive-tabel
  %table#example1.table.table-bordered.table-striped.tabel-width2
    %thead
      %tr
        %th
          = check_box_tag :check_all
        %th Code
        %th Image
        %th Title
        %th Category Name
        %th Requested LP
        %th Campaigns
        %th Status
        %th Created At
        %th{width: '70px'} Action
    %tbody
      - if @layout_themes.blank?
        %tr
          %td{ colspan: "8"} 
            = render "shared/empty_blank"
      - else
        - @layout_themes.each_with_index do |resource, index|  
          %tr
            %td
              = check_box_tag 'ids[]', resource.id
            %td
              = resource.code
            %td
              .line-image-table
                .scroll{:style => "background-image: url(#{resource.image.url});"}
            %td
              = resource.title
            %td
              = resource.category[:name]
            %td
              = resource.request_landing_pages.count
            %td
              = resource.request_landing_pages.present? ? resource.total_campaigns.count : "0"
            %td
              = resource.status?
            %td
              = get_datetime(resource.created_at)
            %td
              = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_layout_theme_path(resource), class: 'btn btn-default btn-xs pull-left'
              &nbsp;
              = link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_layout_theme_path(resource), class: 'btn btn-default btn-xs pull-right'
= paginate @layout_themes, remote: true

:javascript
  $('.responsive-tabel').doubleScroll();