= render "shared/admin/breadcrumbs"

%section.content.full-page
  .row
    .col-md-12
      .box.box-m
        .box-header
          %h3.box-title
            = @collection_name
          = link_to 'Back To List', admins_layout_themes_path, class: 'btn btn-info btn-xs pull-right'
          %hr
        .right-left-min
          .box-body
            = form_for @layout_theme, url: admins_layout_theme_path, method: 'put', html: { multipart:true } do |f|
              = render 'form', f: f