#breadcrumbs
	= render "shared/admin/breadcrumbs"

%section.content.full-page
	.bg-white
		.col-md-12.search
			.row
				= form_for :search, url: admins_layout_themes_path, method: 'get', html: {class: 'form-search', remote: true} do
					.input-group.full
						.col-md-3.no-padding
							= text_field_tag :key, params[:key], class: 'form-control pull-left', placeholder: 'Keywords'
						.col-md-2.no-padding
							= select_tag :status, options_for_select(LayoutTheme::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control'
						.col-md-3.no-padding
							= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
						.col-md-3.no-padding
							= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
						.col-md-1.no-padding
							= submit_tag :search, class: 'btn btn-info radius-right'
	.row
		.col-xs-12.top-plus
			.box.box-m
				.box-body
					= form_for :multiple, url: multiple_action_admins_layout_themes_path, method: 'get' do
						= link_to new_admins_layout_theme_path, class: 'btn btn-info btn-sm pull-right' do
							%i.fa.fa-bars
							&nbsp; New Layout Theme
						= submit_tag LayoutTheme::ACTIVE, value: LayoutTheme::ACTIVE, class: 'btn btn-sm btn-default no-radius no-border-right'
						= submit_tag LayoutTheme::INACTIVE, value: LayoutTheme::INACTIVE, class: 'btn btn-sm btn-default no-radius no-border-right'
						= submit_tag LayoutTheme::PROMOTE, value: LayoutTheme::PROMOTE, class: 'btn btn-sm btn-default no-radius'

						#table-lists
							= render 'admins/layout_themes/lists'