= render "shared/admin/breadcrumbs"
	
%section.content.full-page
	.row
		.col-xs-12
			.box.box-m
				.box-header
					%h3.box-title
						Data Layout Theme
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_layout_themes_path, class: "btn btn-info btn-xs"
						&nbsp;
						= link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_admins_layout_theme_path(@layout_theme), class: "btn btn-default btn-xs"
					%hr
				.box-body.layout-body
					.show-campaign
						.col-md-6.no-padding-m
							= image_tag @layout_theme.image, class: "img-layout"
						.col-md-6.no-padding-m
							.well.bg-white.no-padding-m.no-border-m.top-plus
								.row
									.col-md-12
										%h4 Info Layout
										%hr
									.col-md-3
										.form-group
											%b Category Name
									.col-md-9
										.form-group 
											= @layout_theme.category[:name]
									.col-md-3
										.form-group
											%b Title
									.col-md-9
										.form-group 
											= @layout_theme.title
									.col-md-3
										.form-group
											%b Link Preview
									.col-md-9
										.form-group 
											= link_to @layout_theme.link_preview, @layout_theme.link_preview, target: "_blank"
									.col-md-3
										.form-group
											%b Requested LP
									.col-md-9
										.form-group 
											= @layout_theme.request_landing_pages.count
									.col-md-3
										.form-group
											%b Campaigns
									.col-md-9
										.form-group 
											= @layout_theme.request_landing_pages.present? ? @layout_theme.total_campaigns.count : "0"
									.col-md-3
										.form-group
											%b Status
									.col-md-9
										.form-group 
											= @layout_theme.status?
									.col-md-3
										.form-group
											%b Created
									.col-md-9
										.form-group 
											= get_datetime(@layout_theme.created_at)
							.well
								%h4 Edit status Layout theme
								%hr
								= form_for @layout_theme, url: change_status_admins_layout_theme_path, method: 'put' do |f|
									.form-group 
										= f.label 'Status' 
										= f.select :status, LayoutTheme::STATUSES, {prompt: 'Select Status'}, class: 'form-control', required: true
									.form-group 
										= submit_tag :change, class: 'btn btn-info'
		.col-md-12
			.scroll-tab
				%ul.nav.nav-tabs
					%li.active
						%a{"data-toggle" => "tab", :href => "#tab-1"} List Campaigns 
			.tab-content.background-white
				#tab-1.tab-pane.active
					.show-campaigns.search
						%h2{align: 'center'} Campaigns (#{@layout_theme.request_landing_pages.present? ? @layout_theme.total_campaigns.count : "0"})
						%br
						= form_for :search, url: admins_layout_theme_path(@layout_theme), method: 'get', html: {class: 'form-search', remote: true} do
							.input-group.full
								.col-md-3.no-padding
									= text_field_tag :key_campaigns, params[:key_campaigns], class: 'form-control pull-left radius-left', placeholder: 'Keywords'
								.col-md-2.no-padding
									= select_tag :status_campaign, options_for_select(Campaign::STATUSES, params[:status_campaign]), prompt: 'Select Status', class: 'form-control pull-left'
								.col-md-3.no-padding
									= text_field_tag :start_at_campaigns, nil, value: params[:start_at_campaigns], class: 'form-control datepicker pull-left', placeholder: 'Start At'
								.col-md-3.no-padding
									= text_field_tag :end_at_campaigns, nil, value: params[:end_at_campaigns], class: 'form-control datepicker pull-left',  placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :Search, class: 'btn btn-info radius-right'
					#table-list-campaigns
						= render 'admins/layout_themes/list_campaigns'							
					
