- publisher = current_user.is_publisher? ? "" : "Publisher "
.row
  .col-md-4.col-xs-12
    .hpanel.hblue.offers.responsive-hpanel
      .panel-body.quick-date
        %h4 #{publisher} Commisions<br> Approved
        %h4.text-success
          = get_currency_full(@fee_approved)
  .col-md-4.col-xs-12
    .hpanel.hblue.offers.responsive-hpanel
      .panel-body.quick-date
        %h4 #{publisher} Commisions<br> Pending
        %h4.text-warning
          = get_currency_full(@fee_pending)
  .col-md-4.col-xs-12
    .hpanel.hblue.offers.responsive-hpanel
      .panel-body.quick-date
        %h4 #{publisher} Commisions<br> Rejected
        %h4.text-danger
          = get_currency_full(@fee_rejected)