= render 'shared/loading'
.box-analytic#box-analytic-commision{style: 'display: block;'}
	.panel-body.no-border
		.row
			.col-md-12
				.ct-chart.commision-reports.commisions

- @label_commision = @commisions_group.present? ? @commisions_group.keys.map{|w| w.strftime("%d/%m/%y")} : (1..31).map{|n| n}
- @data_commisions_group = @commisions_group.values if @commisions_group.present?

:javascript
	function loadingPage(){
		var originalText = $(".spinner-load .text").text(),
		i  = 0;
		setInterval(function() {
			$(".spinner-load .text").append(" .");
			i++;
			if(i == 4)
			{
				$(".spinner-load .text").html(originalText);
				i = 0;
			}
		}, 500);
	}
	
	function chartInit(element, label, type, data){
		new Chartist.Line(element, {
			labels: label,
			series: [
				{ "name": type, "data": data}
			]
		}, {
			showArea: true,
			width: '100%',
			height: '300px',
			fullWidth: true,
			chartPadding: {
				right: 40
			},
			plugins: [
				Chartist.plugins.legend({}),
				Chartist.plugins.tooltip()
			]
		});
	}

	function commisionsAnalytic(){
		chartInit('.ct-chart.commision-reports.commisions', #{raw @label_commision}, "Publisher Commisions #{params[:status]}", #{ @commisions_group.present? ? @data_commisions_group.map{|w| w.map(&:fee_publisher).reduce(:+)} : [] });
	}

	$(document).ready(function() {
		loadingPage();
		$('.btn-search-commisions').click(function(){
			$(".spinner-load").show();
		});

		commisionsAnalytic();
	});