- if current_user.is_account_manager?
	- @date_begining = @date
- else
	- @date_begining = @date.beginning_of_month
#wrapper.content-offer-publisher.content-dashboard
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b #{@collection_name} (<span class='js-total-collection'>#{@total_collection}</span>)
				%p All list #{@collection_name.downcase}

	.content.animate-panel.offers.responsive-content-offers
		.count-total.responsive-panel
			.row
				.col-md-9.responsive-panel-quick-date
					.hpanel.responsive-hpanel
						.panel-body.quick-date
							.row
								.col-md-12
									%h3 Estimated Commisions
								.col-md-3.col-xs-3
									%h3.text-success
										= get_currency(@commision_today_so_far)
									%small Today so far
								.col-md-3.col-xs-3
									%h3.text-success
										= get_currency(@commision_yesterday)
									%small Yesterday
								.col-md-3.col-xs-3
									%h3.text-success
										= get_currency(@commision_last_7_month)
									%small Last 7 days
								.col-md-3.col-xs-3
									%h3.text-success
										= get_currency(@commision_this_month)
									%small This month
								
				.col-md-3.responsive-panel-quick-date
					.hpanel.responsive-hpanel
						.panel-body.quick-date
							.row
								.col-md-12
									%h3 Balance
								.col-md-12
									%h3.text-success 
										= get_currency(@last_payment_commision)
									%small Last Payment Commisions
							
		= render "publishers/commisions/box_calculation" unless current_user.is_admin?
	
		= form_for :search, url: publishers_commisions_path, method: 'get', html: {class: 'form-search form-search-commisions', remote: true} do
			.hpanel.responsive-hpanel
				.panel-body
					.row
						.col-md-12
							.col-md-3.no-padding
								.form-group
									= text_field_tag :referral_publisher_username, params[:referral_publisher_username], class: 'form-control no-border-radius', placeholder: 'Keywords (username publisher)'
							.col-md-2.no-padding
								.form-group
									= select_tag :status, options_for_select(Commision::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control no-border-radius'
							.col-md-3.no-padding
								.form-group
									= text_field_tag :start_at, nil, value: params[:start_at].present? ? params[:start_at] : @date_begining, class: 'form-control datepicker no-border-radius', placeholder: 'Start At'
							.col-md-3.no-padding
								.form-group
									= text_field_tag :end_at, nil, value: params[:end_at].present? ? params[:end_at] : @date, class: 'form-control datepicker no-border-radius', placeholder: 'End At'
							.col-md-1.no-padding
								.form-group
									= submit_tag :Search, class: 'btn btn-primary no-border-radius btn-block btn-search-commisions'
						%br
						.col-md-12
							#table-lists
								= render 'publishers/commisions/lists'

	= render 'publishers/shared/footer'