%section.about-us
	.container
		.row
			/ .donut1
			/ .donut2
			/ .donut3
			/ .donut4
			/ .donut5
			/ .donut6
			/ .donut7
			.col-md-5
				.about-title1
					%br
					%h2.text-green
						ABOUT
						%br
						%span.font-bold
							CPAGROUND
				.line-image
				.line-image-jpg
					= image_tag "aboutus-img1.jpg", class: "img-about-us"
					= link_to "Read More", about_us_path, class: "btn-readmore btn"
			.col-md-7
				.about-title
					%br
					%h2.text-green
						ABOUT
						%br
						%span.font-bold
							CPAGROUND
				.description
					%p
						%b CPAGROUND
						is place of association of performance digital marketing, and have extensive experience with advertising and product development. CPAGround is owned by Ultiface Selamet Nugraha. 
					%p
						CPAGround offers unlimited earnings potential to affiliates with tools and resources that allow them to turn traffic into more revenue.
					%p
						Affiliates can sign in to their accounts from desktop or mobile and get instant access to live statistics, or breakdown by keyword, campaign, country, and more. 
					%p
						A self-serve ad exchange that provides solutions for advertisers to buy traffic and for publishers to generate revenue. We provide a platform that helps advertisers enhance their reach and create highly effective, targeted campaigns on global traffic sources.
					%p
						Publishers enjoy the simplicity of a code that they place on their site in order to generate revenue from creating content. 
			
			/ .col-md-2.text-description
			/   %center
			/     %br
			/     %h2.text-green
			/       ABOUT
			/       %span.font-bold
			/         CPAGROUND
			/     %br
			/     = image_tag "heading-before-green.png", class: "img-animate"
			/     %br
			/     %br

			/     %p
			/       %span.text-semi-bold CPAGROUND
			/       is place of association of performance digital marketing, and have extensive experience with advertising and product development. 
			/       %br
			/       %br
						
			/       CPAGround offers unlimited earnings potential to affiliates with tools and resources that allow them to turn traffic into more revenue.
			/       %br
			/       %br
			/       Affiliates can sign in to their accounts from desktop or mobile and get instant access to live statistics, or breakdown by keyword, campaign, country, and more.
			/       %br
			/       %br
			/       A self-serve ad exchange that provides solutions for advertisers to buy traffic and for publishers to generate revenue. We provide a platform that helps advertisers enhance their reach and create highly effective, targeted campaigns on global traffic sources. Publishers enjoy the simplicity of a code that they place on their site in order to generate revenue from creating content.
			/       %br
			/       %br
			/       %span.text-semi-bold Specializing in the full spectrum of offers:
			/       Cost-Per-Acquisition, App Installs, Trial campaigns. Our artistry with consistency, creativity, innovation has allowed us to grow globally.
			/       %br
			/ = image_tag "about-us.png", class: "img-about-us"
	/ .triangle-right
