%section.contact#contact
	.content-contact
		.container.bg-aboutus
			.text-center.title-contact
				%h2.text-green
					QUICK
					%span.font-bold
						SUPPORT
				= image_tag "heading-before-green.png", class: "img-animate"
			.row
				.col-md-6
					.contact-info
						= image_tag "hallo.png", class: "hallo"
						%h3 Feel free to ask or say hello to us!
						%br
						/ %a.site-box{:href => "tel:+91 123 456 7890"}
						/   %figure
						/     %p
						/       %i.fa.fa-phone
						/       &nbsp; +62-897-7555-537
						%a.site-box.last{:href => "mailto:hi@cpaground.com"}
							%figure
								%p
									%i.fa.fa-envelope
									&nbsp; #{@web_setting.email if @web_setting.present?}
						%a.site-box.last{:href => "mailto:hi@cpaground.com"}
							%figure
								%p
									%i.fa.fa-skype
									&nbsp; #{@web_setting.skype if @web_setting.present?}
						/ %a.site-box{:href => "https://www.google.co.id/maps/place/6%C2%B054'34.5%22S+106%C2%B052'50.5%22E/@-6.9096845,106.8802183,19z/data=!4m5!3m4!1s0x0:0x0!8m2!3d-6.909576!4d106.880683", :target => "_blank"}
						/   %figure
						/     %p
						/       %i.fa.fa-map-marker
						/       %b &nbsp;&nbsp; Location,
						/       Jl Siliwangi, Cibatu, Cisaat, Kota Sukabumi ID
				.col-md-6
					= form_for Contact.new, url: contacts_path, method: 'post', html: { multipart:true, id: "myForm", class: "site-contact-form" } do |f|
						.row
							.col-sm-6
								%label
									= f.text_field :name, placeholder: "Name", class: 'app-btn value-clear', required: true
							.col-sm-6
								%label
									= f.email_field :email, placeholder: "Email", class: 'app-btn value-clear', required: true
							.col-sm-6
								%table{width: '100%'}
									%tbody
										%tr
											%td.phone-code
												%label
													= f.text_field :phone_code, placeholder: "+1", class: "app-btn value-clear", required: true, type: "tel"
											%td.phone
												%label
													= f.text_field :phone, placeholder: "Phone", class: 'app-btn value-clear', required: true, type: "tel"
							.col-sm-6
								%label
									= f.text_field :website, placeholder: "Website ex: https://www.cpaground.com", class: 'app-btn value-clear', required: true, type: "url"
							.col-md-12
								%label.last
									= f.text_area :message, placeholder: "Message", class: 'app-btn value-clear', required: true
							.col-md-8
								%label.move
									= recaptcha_tags
							.col-md-4
								%label.move
									%button#form-submit-btn.btn.btn-green{:type => "submit"}
										SEND
				

 