%section.content-faqs
  .container
    .description-faqs
      .col-md-12.content-description
        .row
          / .col-md-4
          /   .menu-left
          /     %ul#getFixed
          /       %a.page-scroll{:href => "/about_us"}
          /         %li.active
          /           About Company
          /       %a.page-scroll{:href => "/about_us"} 
          /         %li
          /           Register
          /       %a.page-scroll{:href => "/about_us"} 
          /         %li
          /           Campaign
          /       %a.page-scroll{:href => "/about_us"}
          /         %li
          /           Payment
          /       %a.page-scroll{:href => "/about_us"} 
          /         %li
          /           Referral
          .col-md-8.col-xs-12.faqs
            .content-faqs
              .count-faq
                %span 1
              .point-faq
                %h3
                  What is CPAGround?
                %p CPAGround is an online marketing company based on affiliate marketingonline, paying in accordance with the results.
            .content-faqs
              .count-faq
                %span 2
              .point-faq
                %h3
                  What is the Offer?
                %p Bidding is a model or type of ad that runs in CPAGround adjusting to the wishes of the Advertiser with the product being run.
            .content-faqs
              .count-faq
                %span 3
              .point-faq
                %h3
                  What Type or Offer Type is in any CPAGround?
                %p Above, CPAGround accepts all types of offers desired by the Advertiser in accordance with the needs of the Advertiser or the company in question, for example in the form of CPA (Cost Per Action), CPI (Cost Per Install), CPD (Cost Per Download) or possibility of offer requested by the Company .
            .content-faqs
              .count-faq
                %span 4
              .point-faq
                %h3
                  What is a CPA?
                %p CPA stands for Cost Per Action, where Advertisers pay only in accordance with the results obtained from the offered offer, this offer is suitable for newly launched products or for branding models of products, products in the form of services, educational products, finance products or products Products that require further followup. CPA is intended to collect data of prospective clients or customers of a company that later can be further followedup by the company concerned to become partners, clients or customers in accordance with the products offered.
            .content-faqs
              .count-faq
                %span 5
              .point-faq
                %h3
                  WHAT is CPI and CPD?
                %p CPI stands for Cost Per Install, where Advertiser pays the fee according to the program, software or application that has been installed by the visitor through tracking CPAGround. While CPD stands for Cost Per Download, so Advertisers pay according to the number of downloads made by visitors. This offer model is suitable for marketing software-shaped products or online applications.
            .content-faqs
              .count-faq
                %span 6
              .point-faq
                %h3
                  WHAT is TRACKING?
                %p Tracking is a unique code provided by the publisher or affiliate who joined the CPAGround to identify where the source of traffic or sales that will serve to calculate the amount of sales that occur. Each publisher or affiliate has its own unique code.
            .content-faqs
              .count-faq
                %span 7
              .point-faq
                %h3
                  How does the Publisher CPAGround flow?
                %p 
                  %ul
                    %li Backend or offer integration process
                    %li The running campaign process that runs publisher CPAGround
                    %li Monitoring during campaign (advertiser party get account log in and dashboard to monitor during campaign running)