.features
	.desktop-features
		.triangle-left
		.container
			.col-md-8.text-description.features-title
				%center
					%br
					%h2.text-green
						FEATURES
						%span.font-bold
							CPAGROUND
					%br
					= image_tag "heading-before-green.png", class: "img-animate"
					%br
					%br
			.wpb_wrapper
				.lx-circle-wrapper.content.fullpage.transition
					.row
						.big-circle-wrap
							.bg-wrap.s-back-switch
								= image_tag "img-home-page.jpg", class: "s-img-switch", style: "display: none;"
						.small-circle-wrap.icon-consultant.modern
							.lx-text-icon.lx_consultant.section_left.consultant_text_icon
								.wrap-icon.border.right.round.solid{:style => "border-style: solid "}
									= image_tag "Real-Time-Reporting.png", class: "icon"
								.wrap-text.text_right.left.text-xs-center
									%h3.title.large Real-Time Reporting
									.desc
										%p You will be able to monitor all full reports in order to optimise the campaign. All the info you need such as: click, Affiliate commissions, the report details, conversion rates, etc.
							.lx-text-icon.lx_consultant.section_right.consultant_text_icon.none
								.wrap-icon.border.left.round.solid{:style => "border-style: solid "}
									= image_tag "Free-Marketing-Tools.png", class: "icon"
								.wrap-text.text_left.right.text-xs-center
									%h3.title.large Friendly Support
									.desc
										%p Our team of customer happiness ensures to keep up solid support system for you and We are available 24/7 on Facebook, Skype or Email and you will get fast respone from us.
							.lx-text-icon.lx_consultant.section_left.consultant_text_icon.none
								.wrap-icon.border.icon_right.right.round.solid{:style => "border-style: solid "}
									= image_tag "Friendly-Support.png", class: "icon"
								.wrap-text.text_right.left.text-xs-center
									%h3.title.large Free Marketing Tools
									.desc
										%p We give great publisher marketing tools including shorten links, cloaking and creative and responsive pages.
							.lx-text-icon.lx_consultant.section_right.consultant_text_icon.none
								.wrap-icon.border.left.round.solid{:style => "border-style: solid "}
									= image_tag "Transparency.png", class: "icon"
								.wrap-text.text_left.right.text-xs-center
									%h3.title.large Transparency
									.desc
										%p You'll know where all sales came from, traffic source, what transactions they were recorded in and etc.
							.lx-text-icon.lx_consultant.section_left.consultant_text_icon.none
								.wrap-icon.border.right.round.solid{:style => "border-style: solid "}
									= image_tag "Full-Control.png", class: "icon"
								.wrap-text.text_right.left.text-xs-center
									%h3.title.large Full Control
									.desc
										%p Our publisher take a full control for their own campaign. Such amount of conversion and how much they earn everyday. Also they will updated in real time.
							.lx-text-icon.lx_consultant.section_right.consultant_text_icon.none
								.wrap-icon.border.icon_right.left.round.solid{:style => "border-style: solid "}
									= image_tag "Weekly-Payment.png", class: "icon"
								.wrap-text.text_left.right.text-xs-center
									%h3.title.large Weekly - Biweekly
									.desc
										%p We will send your commissions directly to your bank account every week. We have never missed a payment of Commission, so rest assured that you will be paid on time.
		.triangle-right
		.triangle-left1
		.bg-list-features
			.list1
			.list2
			.list3

%section.features.Excellence
	.mobile-features
		.container
			.row.text-center
				.col-lg-12
					%h2.text-green
						FEATURES
						%span.font-bold
							CPAGROUND
					= image_tag "heading-before-green.png", class: "img-animate"
			.row
				.col-md-12.features-for-mobile
					.content-features
						.count-features
							= image_tag "Real-Time-Reporting.png", class: "img foo"
						.point-features
							%h3
								Real-Time Reporting
							%p You will be able to monitor all full reports in order to optimise the campaign. All the info you need such as: click, Affiliate commissions, the report details, conversion rates, etc.
					%br
					.content-features
						.count-features
							= image_tag "Free-Marketing-Tools.png", class: "img foo"
						.point-features
							%h3
								Free Marketing Tools
							%p We provide our publisher with powerfull marketing tools include shorten link, cloaking and dozens of creative and responsive landing page.
					%br
					.content-features
						.count-features
							= image_tag "Friendly-Support.png", class: "img foo"
						.point-features
							%h3
								Friendly Support
							%p Our team of customer happiness ensures to keep up solid support system for you and We are available 24/7 on Facebook, Skype or Email and you will get fast respone from us.
					%br
					.content-features
						.count-features
							= image_tag "Transparency.png", class: "img foo"
						.point-features
							%h3
								Transparency
							%p You'll know where all sales came from, traffic source, what transactions they were recorded in and etc
					%br
					.content-features
						.count-features
							= image_tag "Full-Control.png", class: "img foo"
						.point-features
							%h3
								Full Control
							%p Our publisher take a full control for their own campaign. Such amount of conversion and how much they earn everyday. Also they will updated in real time.
					%br
					.content-features
						.count-features
							= image_tag "Weekly-Payment.png", class: "img foo"
						.point-features
							%h3
								Weekly - Biweekly
							%p We will send your commissions directly to your bank account every week. We have never missed a payment of Commission, so rest assured that you will be paid on time.