%section.solicitation.no-margin
  .container
    .row
      .subscraib
        .content-subscraib
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-6.no-space
              / PARAGRAPH
              %p Subscribe to our Newsletter
              / END PARAGRAPH
            .col-xs-12.col-sm-12.col-md-12.col-lg-6.no-space
              / FORM
              = form_for Subscriber.new, url: subscribers_path, method: 'post', html: { multipart:true, id: "myForm", class: "site-form" } do |f|
                %label
                  = f.email_field :email, placeholder: "example@domain.com", required: true
                %input{:type => "submit", :value => "SUBMIT"}/
              / END FORM

      .content
        = image_tag @web_setting.logo.present? ? @web_setting.logo : "logo-cpaground-white.png", class: "logo-cpa", alt: "cpaground"
        .row
          .col-md-6
            .site-copyright
              %p= @web_setting.footer_tags if @web_setting.present?
          .col-md-6
            %ul.footer-menu
              %li
                = link_to 'About Us', about_us_path
              %li
                = link_to 'FAQ', faqs_path
              %li
                = link_to 'Privacy Policy', privacy_policy_path

:javascript
  var hasoffers_domain = "http://fadlys3.go2cloud.org";
%script{:src => "http://media.go2app.org/assets/js/dl.js", :type => "text/javascript"}