%header#page-top.slider{style: "background: url(#{image_path @slider_home}) 50% 0 no-repeat"}
	.container.content-slider
		.heading
			%h1.font-semi-bold
				WELCOME TO CPAGROUND
			%h2
				.line-1.anim-typewriter
					Sign Up Now as Publisher and Earn a Profit
			%br
			= link_to "Sign Up as Publisher", new_user_registration_path, class: "btn btn-white"
