%section.how-it-works
  .container
    .row
      .content-how-it-works.desktop-step
        .list-step
          .col-md-5.col-xs-5
            = image_tag "how_it_works/1.png", class: "img-about"
          .col-md-7.col-xs-7
            %span.number
              01
            %h2
              Register
            %p
              You must register at CPAGround 
              %a{href: "https://www.cpaground.com/users/register", target:"_blank"}
                https://www.cpaground.com/users/register
              To get an account, and fill out the procedures listed on the registration form.
        .list-step
          .col-md-7.col-xs-7.text-right
            %span.number
              02
            %h2
              Receive Confirmation Email
            %p
              Please open your email, you will get an email from our team to confirm your registration email
          .col-md-5.col-xs-5
            = image_tag "how_it_works/2.png", class: "img-about"
        .list-step
          .col-md-5.col-xs-5
            = image_tag "how_it_works/3.png", class: "img-about"
          .col-md-7.col-xs-7
            %span.number
              03
            %h2
              Review of Registration
            %p
              Your account will be reviewed by the account manager to be approved or not approved by us.
        .list-step
          .col-md-7.col-xs-7.text-right
            %span.number
              04
            %h2
              Get Review Results in email
            %p
              You will be granted access rights to enter as a publisher in CPAGround and log into our dashboard and get the account manager.
          .col-md-5.col-xs-5
            = image_tag "how_it_works/4.png", class: "img-about"
        .list-step
          .col-md-5.col-xs-5
            = image_tag "how_it_works/5.png", class: "img-about"
          .col-md-7.col-xs-7
            %span.number
              05
            %h2
              Set Profile and Payment
            %p
              You must fill in your data profile and data to ensure payment of your campaign results.
        .list-step
          .col-md-7.col-xs-7.text-right
            %span.number
              06
            %h2
              Create a Campaign
            %p
              You must request campaign to account manager as CPAGround publisher.
          .col-md-5.col-xs-5
            = image_tag "how_it_works/6.png", class: "img-about"
        .list-step
          .col-md-5.col-xs-5
            = image_tag "how_it_works/7.png", class: "img-about"
          .col-md-7.col-xs-7
            %span.number
              07
            %h2
              Request Landing Page
            %p
              CPAGround have tools landing page, you must request landing page first if you want use this tools.
        / .list-step
        /   .col-md-7.col-xs-7.text-right
        /     %span.number
        /       08
        /     %h2
        /       Wait To Approve a Campaign 1/24 hours
        /     %p
        /       You will be given tracking links and landing pages from the manager account a maximum of waiting for 1/24 hour and provide the tracking via email.
        /   .col-md-5.col-xs-5
        /     = image_tag "how_it_works/8.png", class: "img-about"
        .list-step
          .col-md-7.col-xs-7.text-right
            %span.number
              08
            %h2
              Ready For campaign
            %p
              You are able to campaign in cpaground and can share support to your manager account.
          .col-md-5.col-xs-5
            = image_tag "how_it_works/8.png", class: "img-about"

      .content-how-it-works.mobile-step
        .list-step
          .col-md-5
            %span.number.number-mobile
              01
            = image_tag "how_it_works/1.png", class: "img-about"
          .col-md-7
            %h2
              Register
            %p
              You must register at CPAGround 
              %a{href: "https://www.cpaground.com/users/register", target:"_blank"}
                https://www.cpaground.com/users/register
              To get an account, and fill out the procedures listed on the registration form.
        .list-step
          .col-md-5
            %span.number.number-mobile
              02
            = image_tag "how_it_works/2.png", class: "img-about"
          .col-md-7
            %h2
              Receive Confirmation Email
            %p
              Please open your email, you will get an email from our team to confirm your registration email
        .list-step
          .col-md-5
            %span.number.number-mobile
              03
            = image_tag "how_it_works/3.png", class: "img-about"
          .col-md-7
            %h2
              Review of Registration
            %p
              Your account will be reviewed by the account manager to be approved or not approved by us.
        .list-step
          .col-md-5
            %span.number.number-mobile
              04
            = image_tag "how_it_works/4.png", class: "img-about"
          .col-md-7
            %h2
              Getting Account
            %p
              You will be granted access rights to enter as a publisher in CPAGround and log into our dashboard and get the account manager.
        .list-step
          .col-md-5
            %span.number.number-mobile
              05
            = image_tag "how_it_works/5.png", class: "img-about"
          .col-md-7
            %h2
              Set Profile and Payment
            %p
              You must fill in your data profile and data to ensure payment of your campaign results.
        .list-step
          .col-md-5
            %span.number.number-mobile
              06
            = image_tag "how_it_works/6.png", class: "img-about"
          .col-md-7
            %h2
              Create a Campaign
            %p
              You must request campaign to account manager as CPAGround publisher.
        .list-step
          .col-md-5
            %span.number.number-mobile
              07
            = image_tag "how_it_works/7.png", class: "img-about"
          .col-md-7
            %h2
              Request Landing Page
            %p
              CPAGround have tools landing page, you must request landing page first if you want use this tools.
        / .list-step
        /   .col-md-5
        /     %span.number.number-mobile
        /       08
        /     = image_tag "how_it_works/8.png", class: "img-about"
        /   .col-md-7
        /     %h2
        /       Wait To Approve a Campaign 1/24 hours
        /     %p
        /       You will be given tracking links and landing pages from the manager account a maximum of waiting for 1/24 hour and provide the tracking via email.
        .list-step
          .col-md-5
            %span.number.number-mobile
              08
            = image_tag "how_it_works/8.png", class: "img-about"
          .col-md-7
            %h2
              Ready For campaign
            %p
              You are able to campaign in cpaground and can share support to your manager account.