%section#team.team-aboutus
  .container
    .row.text-center
      .col-lg-12
        %h2.text-green
          OUR
          %span.font-bold
            TEAM
        %p Lorem Ipsum available, but the majority have suffered alteration euismod.
        = image_tag "heading-before-green.png", class: "img-animate"
    .row.m-t-lg.text-center.space
      .col-sm-4
        .team-member
          .img-circle.img-avatar.hover-avatar
            .icon-social-media
              = link_to new_user_registration_path do
                %i.fa.fa-facebook
              = link_to new_user_registration_path do
                %i.fa.fa-instagram
          = image_tag "as.jpg", class: "img-circle img-avatar"
          %h4
            Adam Selamet
            %br
            %span (CEO)
          %p Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
      .col-sm-4
        .team-member
          .img-circle.img-avatar.hover-avatar
            .icon-social-media
              = link_to new_user_registration_path do
                %i.fa.fa-facebook
              = link_to new_user_registration_path do
                %i.fa.fa-instagram
          = image_tag "fadli.jpg", class: "img-circle img-avatar"
          %h4
            Fadly Setiawan
            %br
            %span (CMO)
          %p Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
      .col-sm-4
        .team-member
          .img-circle.img-avatar.hover-avatar
            .icon-social-media
              = link_to new_user_registration_path do
                %i.fa.fa-facebook
              = link_to new_user_registration_path do
                %i.fa.fa-instagram
          = image_tag "alam.jpg", class: "img-circle img-avatar"
          %h4
            Alam Topani
            %br
            %span (CTO)
          %p Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
    .row.m-t-lg.text-center
      .col-sm-2
      .col-sm-4
        .team-member
          .img-circle.img-avatar.hover-avatar
            .icon-social-media
              = link_to new_user_registration_path do
                %i.fa.fa-facebook
              = link_to new_user_registration_path do
                %i.fa.fa-instagram
          = image_tag "yaya.jpg", class: "img-circle img-avatar"
          %h4
            Yaya Sabtian
            %br
            %span (Fullstack Developer)
          %p Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
      .col-sm-4
        .team-member
          .img-circle.img-avatar.hover-avatar
            .icon-social-media
              = link_to new_user_registration_path do
                %i.fa.fa-facebook
              = link_to new_user_registration_path do
                %i.fa.fa-instagram
          = image_tag "am.jpg", class: "img-circle img-avatar"
          %h4
            Adam Muslim
            %br
            %span (Frontend Developer)
          %p Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
      .col-sm-2