= render 'shared/loading'
.box-analytic#box-analytic-daily{style: 'display: block;'}
  .panel-body.no-border
    %h2 
      %center Daily Report 
    %h5
      %center #{get_range_date_chart(@start_date, @end_date)}
    %br
    = render 'shared/analytics/tab_nav'
    %br
    = render "shared/analytics/total_report_campaign", {total_reports: @reports, report_for: report_for}
    .js-report-convertion
      = render 'publishers/reports/cart2'
    - if @daily_reports_collection.present?
      #table-daily-reports
        - if report_for == 'dashboard'
          = render 'admins/dashboards/list_show_reports_collection', {list_reports: @daily_reports_collection, list_report_by: 'day'}
        - elsif report_for == 'campaign'
          = render 'admins/campaigns/list_show_reports_collection', {list_reports: @daily_reports_collection, list_report_by: 'day'}
        - elsif report_for == 'publisher'
          = render 'admins/publishers/list_show_reports_collection', {list_reports: @daily_reports_collection, list_report_by: 'day'}
        - elsif report_for == 'account_manager'
          = render 'admins/account_managers/list_show_reports_collection', {list_reports: @daily_reports_collection, list_report_by: 'day'}

.box-analytic#box-analytic-monthly
  .panel-body.no-border
    %h2 
      %center Monthly Report 
    %h5
      %center #{get_range_date_chart(@start_date, @end_date)}
    %br
    .row
      .col-md-12
        .exTab
          %ul.nav.nav-tabs.js-tab-analytics
            %li
              %a{"data-toggle" => "tab", :href => "#1"} Impressions
            %li
              %a{"data-toggle" => "tab", :href => "#2"} Clicks
            %li
              %a{"data-toggle" => "tab", :href => "#3"} Visitors
            %li
              %a{"data-toggle" => "tab", :href => "#4"} Unique Visitors
            %li
              %a{"data-toggle" => "tab", :href => "#5"} Sales
            %li.active
              %a{"data-toggle" => "tab", :href => "#6"} Revenue
          .tab-content.background-white
            #1.tab-pane
              .ct-chart.monthly-reports.impressions
            #2.tab-pane
              .ct-chart.monthly-reports.clicks
            #3.tab-pane
              .ct-chart.monthly-reports.visitors
            #4.tab-pane
              .ct-chart.monthly-reports.unique-visitors
            #5.tab-pane
              .ct-chart.monthly-reports.sales
            #6.tab-pane.active
              .ct-chart.monthly-reports.revenue
    %br
    = render "shared/analytics/total_report_campaign", {total_reports: @reports, report_for: report_for}

    - if @monthly_reports_collection.present?
      #table-monthly-reports
        - if report_for == 'dashboard'
          = render 'admins/dashboards/list_show_reports_collection', {list_reports: @monthly_reports_collection, list_report_by: 'month'}
        - elsif report_for == 'campaign'
          = render 'admins/campaigns/list_show_reports_collection', {list_reports: @monthly_reports_collection, list_report_by: 'month'}
        - elsif report_for == 'publisher'
          = render 'admins/publishers/list_show_reports_collection', {list_reports: @monthly_reports_collection, list_report_by: 'month'}
        - elsif report_for == 'account_manager'
          = render 'admins/account_managers/list_show_reports_collection', {list_reports: @daily_reports_collection, list_report_by: 'month'}

.box-analytic#box-analytic-yearly
  .panel-body.no-border
    %h2 
      %center Yearly Report 
    %h5
      %center #{get_range_date_chart(@start_date, @end_date)}
    %br
    .row
      .col-md-12
        .exTab
          %ul.nav.nav-tabs.js-tab-analytics
            %li
              %a{"data-toggle" => "tab", :href => "#1"} Impressions
            %li
              %a{"data-toggle" => "tab", :href => "#2"} Clicks
            %li
              %a{"data-toggle" => "tab", :href => "#3"} Visitors
            %li
              %a{"data-toggle" => "tab", :href => "#4"} Unique Visitors
            %li
              %a{"data-toggle" => "tab", :href => "#5"} Sales
            %li.active
              %a{"data-toggle" => "tab", :href => "#6"} Revenue
          .tab-content.background-white
            #1.tab-pane
              .ct-chart.yearly-reports.impressions
            #2.tab-pane
              .ct-chart.yearly-reports.clicks
            #3.tab-pane
              .ct-chart.yearly-reports.visitors
            #4.tab-pane
              .ct-chart.yearly-reports.unique-visitors
            #5.tab-pane
              .ct-chart.yearly-reports.sales
            #6.tab-pane.active
              .ct-chart.yearly-reports.revenue
    %br
    = render "shared/analytics/total_report_campaign", {total_reports: @reports, report_for: report_for}

    - if @yearly_reports_collection.present?
      #table-yearly-reports
        - if report_for == 'dashboard'
          = render 'admins/dashboards/list_show_reports_collection', {list_reports: @yearly_reports_collection, list_report_by: 'year'}
        - elsif report_for == 'campaign'
          = render 'admins/campaigns/list_show_reports_collection', {list_reports: @yearly_reports_collection, list_report_by: 'year'}
        - elsif report_for == 'publisher'
          = render 'admins/publishers/list_show_reports_collection', {list_reports: @yearly_reports_collection, list_report_by: 'year'}
        - elsif report_for == 'account_manager'
          = render 'admins/account_managers/list_show_reports_collection', {list_reports: @daily_reports_collection, list_report_by: 'year'}

= render 'shared/analytics/js_analytic', report_for: report_for