- @cgaward_percent = @cgaward_percent.to_f >= 100 ? 100 : @cgaward_percent.to_f
- if @cgaward.present?
  .col-md-12
    .hpanel.hblue.progress-cga
      .panel-body
        .information-list
          %h3
            - if @cgaward_percent >= 100
              %span
                = "GOAL TARGET <b>$10.000</b>".html_safe
            - else
              %span
                = "#{get_currency_int(@cgaward)}/<b>$10.000</b>".html_safe
            %span.pull-right
              = '#CGAWARDTRIP2018'
          - if @cgaward_percent >= 100
            %span Congratulations on reaching the target, You are have the right to get one ticket #CGAWARDTRIP2018, contact your manager for claims.
          .progress{style: 'margin-top:5px;'}
            .progress-bar.progress-bar-striped.progress-bar-info.active{:role => "progressbar"}
              %span.current-value #{@cgaward_percent}%
          %br
          %small Start From: <b>1 March - 31 December 2018</b>

:javascript
  var progress = #{@cgaward_percent};
  $(".progress-bar").css('width', progress + '%');
  $(".progress-bar").text(progress + '%');