%span.no-border-radius.input-group-addon.fa.fa-calendar
= text_field_tag :start_at, nil, value: params[:start_at].present? ? params[:start_at] : @date, class: 'form-control datepicker', placeholder: 'Start At', required: true
.dash
= text_field_tag :end_at, nil, value: params[:end_at].present? ? params[:end_at] : @date, class: 'form-control datepicker', placeholder: 'End At', required: true
= submit_tag :Search, class: 'btn btn-default btn-submit btn-search-analytic js-submit-search-report'

:javascript
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true
    });
  });