- @label_daily = @daily_reports_group.present? ? @daily_reports_group.keys.map{|w| w.strftime("%d/%m/%y")} : (1..31).map{|n| n}
- @data_daily_reports_group =  @daily_reports_group.values if @reports.present?
- @label_monthly = @monthly_reports_group.present? ? @monthly_reports_group.keys.map{|w| w.split(' ')[0]} : (1..12).map{|n| n}
- @data_monthly_reports_group = @monthly_reports_group.values if @reports.present?
- @label_yearly = @yearly_reports_group.present? ? @yearly_reports_group.keys.map{|w| w.split(' ')[0]} : (1..12).map{|n| n}
- @data_yearly_reports_group = @yearly_reports_group.values if @reports.present?

- if @owner.present?
	- daily_report_revenue = @reports.present? ? @data_daily_reports_group.map{|w| (w.map(&:fee_company).reduce(:+) * @owner.fee) } : []
	- monthly_report_revenue = @reports.present? ? @data_monthly_reports_group.map{|w| (w.map(&:fee_company).reduce(:+) * @owner.fee) } : []
	- yearly_report_revenue = @reports.present? ? @data_yearly_reports_group.map{|w| (w.map(&:fee_company).reduce(:+) * @owner.fee) } : []
- else
	- if report_for == 'dashboard' || report_for == 'campaign'
		- if current_user.is_admin? || current_user.is_owner?
			- daily_report_revenue = @reports.present? ? @data_daily_reports_group.map{|w| w.map(&:revenue).reduce(:+)} : []
			- monthly_report_revenue = @reports.present? ? @data_monthly_reports_group.map{|w| w.map(&:revenue).reduce(:+)} : []
			- yearly_report_revenue = @reports.present? ? @data_yearly_reports_group.map{|w| w.map(&:revenue).reduce(:+)} : []
		- else
			- daily_report_revenue = @reports.present? ? @data_daily_reports_group.map{|w| (w.map(&:fee_publisher).reduce(:+)) } : []
			- monthly_report_revenue = @reports.present? ? @data_monthly_reports_group.map{|w| (w.map(&:fee_publisher).reduce(:+)) } : []
			- yearly_report_revenue = @reports.present? ? @data_yearly_reports_group.map{|w| (w.map(&:fee_publisher).reduce(:+)) } : []
	- elsif report_for == 'account_manager' || report_for == 'dashboard_am'
		- daily_report_revenue = @reports.present? ? @data_daily_reports_group.map{|w| (w.map(&:fee_am).reduce(:+)) } : []
		- monthly_report_revenue = @reports.present? ? @data_monthly_reports_group.map{|w| (w.map(&:fee_am).reduce(:+)) } : []
		- yearly_report_revenue = @reports.present? ? @data_yearly_reports_group.map{|w| (w.map(&:fee_am).reduce(:+)) } : []
	- elsif report_for == 'publisher' || report_for == 'publisher_am'
		- daily_report_revenue = @reports.present? ? @data_daily_reports_group.map{|w| (w.map(&:fee_publisher).reduce(:+)) } : []
		- monthly_report_revenue = @reports.present? ? @data_monthly_reports_group.map{|w| (w.map(&:fee_publisher).reduce(:+)) } : []
		- yearly_report_revenue = @reports.present? ? @data_yearly_reports_group.map{|w| (w.map(&:fee_publisher).reduce(:+)) } : []
		

:javascript
	function loadingPage(){
		var originalText = $(".spinner-load .text").text(),
		i  = 0;
		setInterval(function() {
			$(".spinner-load .text").append(" .");
			i++;
			if(i == 4)
			{
				$(".spinner-load .text").html(originalText);
				i = 0;
			}
		}, 500);
	}
	
	function chartInit(element, label, type, data){
		new Chartist.Line(element, {
			labels: label,
			series: [
				{ "name": type, "data": data}
			]
		}, {
			showArea: true,
			width: '100%',
			height: '300px',
			fullWidth: true,
			chartPadding: {
				right: 40
			},
			plugins: [
				Chartist.plugins.legend({}),
				Chartist.plugins.tooltip()
			]
		});
	}

	function dailyAnalytic(){
		chartInit('.ct-chart.daily-reports.sales', #{raw @label_daily}, "Sales", #{ @reports.present? ? @data_daily_reports_group.map{|w| w.map(&:sales).reduce(:+)} : [] });
		chartInit('.ct-chart.daily-reports.visitors', #{raw @label_daily}, "Visitors", #{ @reports.present? ? @data_daily_reports_group.map{|w| w.map(&:visitors).reduce(:+)} : [] });
		chartInit('.ct-chart.daily-reports.unique-visitors', #{raw @label_daily}, "Unique Visitors", #{ @reports.present? ? @data_daily_reports_group.map{|w| w.map(&:unique_visitors).reduce(:+)} : [] });
		chartInit('.ct-chart.daily-reports.impressions', #{raw @label_daily}, "Impressions", #{ @reports.present? ? @data_daily_reports_group.map{|w| w.map(&:impressions).reduce(:+)} : [] });
		chartInit('.ct-chart.daily-reports.clicks', #{raw @label_daily}, "Clicks", #{ @reports.present? ? @data_daily_reports_group.map{|w| w.map(&:clicks).reduce(:+)} : [] });
		chartInit('.ct-chart.daily-reports.revenue', #{raw @label_daily}, "Revenue", #{ daily_report_revenue });
	}

	function monthlyAnalytic(){
		chartInit('.ct-chart.monthly-reports.sales', #{raw @label_monthly}, "Sales", #{ @reports.present? ? @data_monthly_reports_group.map{|w| w.map(&:sales).reduce(:+)} : [] });
		chartInit('.ct-chart.monthly-reports.visitors', #{raw @label_monthly}, "Visitors", #{ @reports.present? ? @data_monthly_reports_group.map{|w| w.map(&:visitors).reduce(:+)} : [] });
		chartInit('.ct-chart.monthly-reports.unique-visitors', #{raw @label_monthly}, "Unique Visitors", #{ @reports.present? ? @data_monthly_reports_group.map{|w| w.map(&:unique_visitors).reduce(:+)} : [] });
		chartInit('.ct-chart.monthly-reports.impressions', #{raw @label_monthly}, "Impressions", #{ @reports.present? ? @data_monthly_reports_group.map{|w| w.map(&:impressions).reduce(:+)} : [] });
		chartInit('.ct-chart.monthly-reports.clicks', #{raw @label_monthly}, "Clicks", #{ @reports.present? ? @data_monthly_reports_group.map{|w| w.map(&:clicks).reduce(:+)} : [] });
		chartInit('.ct-chart.monthly-reports.revenue', #{raw @label_monthly}, "Revenue", #{ monthly_report_revenue });
	}

	function yearlyAnalytic(){
		chartInit('.ct-chart.yearly-reports.sales', #{raw @label_yearly}, "Sales", #{ @reports.present? ? @data_yearly_reports_group.map{|w| w.map(&:sales).reduce(:+)} : [] });
		chartInit('.ct-chart.yearly-reports.visitors', #{raw @label_yearly}, "Visitors", #{ @reports.present? ? @data_yearly_reports_group.map{|w| w.map(&:visitors).reduce(:+)} : [] });
		chartInit('.ct-chart.yearly-reports.unique-visitors', #{raw @label_yearly}, "Unique Visitors", #{ @reports.present? ? @data_yearly_reports_group.map{|w| w.map(&:unique_visitors).reduce(:+)} : [] });
		chartInit('.ct-chart.yearly-reports.impressions', #{raw @label_yearly}, "Impressions", #{ @reports.present? ? @data_yearly_reports_group.map{|w| w.map(&:impressions).reduce(:+)} : [] });
		chartInit('.ct-chart.yearly-reports.clicks', #{raw @label_yearly}, "Clicks", #{ @reports.present? ? @data_yearly_reports_group.map{|w| w.map(&:clicks).reduce(:+)} : [] });
		chartInit('.ct-chart.yearly-reports.revenue', #{raw @label_yearly}, "Revenue", #{ yearly_report_revenue });
	}

	function jsTabAnalytics(){
		$('.js-tab-analytics a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			$('.exTab .tab-pane').removeClass('active');
			$(this).parents('.exTab').find($(this).attr('href')).addClass('active');
			var range = $('.btn-tab-analytic.active').attr('value');

			if(range == 'last_7_day'){
				dailyAnalytic();
			}else if(range == 'yesterday'){
				dailyAnalytic();
			}else if(range == 'today'){
				dailyAnalytic();
			}else if(range == 'daily'){
				dailyAnalytic();
			}else if(range == 'monthly'){
				monthlyAnalytic();
			}else if(range == 'yearly'){
				yearlyAnalytic();
			}
		});
	}

	$(document).ready(function() {
		loadingPage();
		$('.js-submit-search-report').click(function(){
			$(".spinner-load").show();
		});

		dailyAnalytic();
		jsTabAnalytics();

		$('.btn-tab-analytic').on('click', function () {
			$('.btn-tab-analytic').removeClass('active');
			$(this).addClass('active');
			var range = $(this).attr('value');
			$('.exTab .tab-pane').removeClass('active');

			if(range == 'last_7_day'){
				$('#start_at').val("#{@date - 6.days}");
				$('#end_at').val("#{@date}");
				$('.js-form-submit').trigger('submit.rails');
			}else if(range == 'yesterday'){
				$('#start_at').val("#{@date.yesterday}");
				$('#end_at').val("#{@date.yesterday}");
				$('.js-form-submit').trigger('submit.rails');
			}else if(range == 'today'){
				$('#start_at').val("#{@date}");
				$('#end_at').val("#{@date}");
				$('.js-form-submit').trigger('submit.rails');
			}else if(range == 'daily'){
				jsTabAnalytics();
				$('.box-analytic').hide();
				$('#box-analytic-daily').find('#5').addClass('active');
				$('#box-analytic-daily').show();
				dailyAnalytic();
				$('.total-revenue').html("#{get_currency(@reports_total_revenue)}");
			}else if(range == 'monthly'){
				jsTabAnalytics();
				$('.box-analytic').hide();
				$('#box-analytic-monthly').find('#5').addClass('active');
				$('#box-analytic-monthly').show();
				monthlyAnalytic();
				$('.total-revenue').html("#{get_currency(@reports_total_revenue)}");
			}else if(range == 'yearly'){
				jsTabAnalytics();
				$('.box-analytic').hide();
				$('#box-analytic-yearly').find('#5').addClass('active');
				$('#box-analytic-yearly').show();
				yearlyAnalytic();
				$('.total-revenue').html("#{get_currency(@reports_total_revenue)}");
			}
		});

		$(document).on('change', '.js-onchange-group', function(){
			$(".spinner-load").show();
			$('.js-form-submit').trigger('submit.rails');
		});
	});