.row
  .col-md-12
    .exTab
      %ul.nav.nav-tabs.js-tab-analytics
        %li
          %a{"data-toggle" => "tab", :href => "#1"} Impressions
        %li
          %a{"data-toggle" => "tab", :href => "#2"} Clicks
        %li
          %a{"data-toggle" => "tab", :href => "#3"} Visitors
        %li
          %a{"data-toggle" => "tab", :href => "#4"} Unique Visitors
        %li
          %a{"data-toggle" => "tab", :href => "#5"} Sales
        %li.active
          %a{"data-toggle" => "tab", :href => "#6"} Revenue
      .tab-content.background-white
        #1.tab-pane
          .ct-chart.daily-reports.impressions
        #2.tab-pane
          .ct-chart.daily-reports.clicks
        #3.tab-pane
          .ct-chart.daily-reports.visitors
        #4.tab-pane
          .ct-chart.daily-reports.unique-visitors
        #5.tab-pane
          .ct-chart.daily-reports.sales
        #6.tab-pane.active
          .ct-chart.daily-reports.revenue