%th 
  = button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_impressions', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_impressions'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
  Impressions
%th 
  = button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_clicks', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_clicks'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
  Clicks
%th 
  = button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
  Visitors
%th 
  = button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_unique_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_unique_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
  Unique Visitors
%th 
  = button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_sales', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_sales'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
  Sales
%th 
  = button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_revenue', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_revenue'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
  Revenue