.total-report-campaign-snapshots
  .panel.panel-default.no-border-radius
    .panel-body.no-border.no-border-radius
      .row
        .col-xs-2
          .description-block.border-right
            %h5.description-header #{total_reports.sum(:impressions) rescue 0}
            %span.description-text Impressions
        .col-xs-2
          .description-block.border-right
            %h5.description-header #{total_reports.sum(:clicks) rescue 0}
            %span.description-text Clicks
        .col-xs-2
          .description-block.border-right
            %h5.description-header #{total_reports.sum(:visitors) rescue 0}
            %span.description-text Visitors
        .col-xs-2
          .description-block.border-right
            %h5.description-header #{total_reports.sum(:unique_visitors) rescue 0}
            %span.description-text Unique Visitors
        .col-xs-2
          .description-block.border-right
            %h5.description-header #{total_reports.sum(:sales) rescue 0}
            %span.description-text Sales
        .col-xs-2
          .description-block.border-right
            %h5.description-header 
              - if @owner.present?
                = get_currency(total_reports.sum(:revenue) * @owner.fee) rescue 0
              - else
                - if report_for == 'dashboard' || report_for == 'campaign'
                  - if current_user.is_admin? || current_user.is_owner?
                    = get_currency(total_reports.sum(:revenue)) rescue 0
                  - elsif current_user.is_account_manager? || current_user.is_publisher?
                    = get_currency(total_reports.total(User::PUBLISHER)) rescue 0
                - elsif report_for == 'account_manager' || report_for == 'dashboard_am'
                  = get_currency(total_reports.total(User::ACCOUNTMANAGER)) rescue 0
                - elsif report_for == 'publisher' || report_for == 'publisher_am'
                  = get_currency(total_reports.total(User::PUBLISHER)) rescue 0
            %span.description-text 
              - if report_for == 'dashboard_am'
                = 'Revenue AM'
              - elsif report_for == 'campaign' || report_for == 'publisher_am'
                = current_user.is_account_manager? ? 'Revenue Publisher' : 'Revenue'
              - else
                = 'Revenue'