- path_activities = current_user.is_publisher? ? publishers_activities_path : account_managers_activities_path
#wrapper.content-activities-publisher.content-dashboard.responsive-activities
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b My Activities (<span class='js-total-collection'>#{@activities.total_count}</span>)
				%p List my activities

	.content.animate-panel
		.row
			.col-lg-12.content-campaign.responsive-content-activities
				.hpanel
					.panel-body.responsive-form-search.mobile-publisher
						= form_for :search, url: path_activities, method: 'get', html: {class: 'form-search', remote: true} do
							.col-md-4.no-padding
								= text_field_tag :key, params[:key], class: 'form-control no-border-radius', placeholder: 'Keywords'
							.col-md-4.no-padding
								= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker no-border-radius', placeholder: 'Start At'
							.col-md-4.no-padding
								= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker no-border-radius', placeholder: 'End At'
							.col-md-1.no-padding
								= submit_tag :Search, class: 'btn btn-primary no-border-radius btn-block'
				.row    
					.col-md-4.desktop-publisher
						.search-activities.js-sticky-sidebar
							.well.configurator
								= form_for :search, url: path_activities, method: 'get', html: {class: 'form-search', remote: true} do
									.form-group
										%label{:for => "parentEl"} Keyword
										= text_field_tag :key, params[:key], class: 'form-control', placeholder: 'Keywords', autofocus: true
									.form-group
										%label{:for => "startDate"} Start Date
										#datetimepicker1.input-group.date
											%span.input-group-addon
												%span.fa.fa-calendar
											= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
									.form-group
										%label{:for => "endDate"} End Date
										#datetimepicker1.input-group.date
											%span.input-group-addon
												%span.fa.fa-calendar
											= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
									.form-group
										= submit_tag 'search', class: 'btn btn-primary btn-block'
					.col-md-8
						.hpanel.responsive-panel-activities
							.v-timeline.vertical-container.animate-panel{"data-child" => "vertical-timeline-block", "data-delay" => "1"}
								#list-activities
									= render "publishers/activities/lists"

	= render 'publishers/shared/footer'