- if @activities.present?
	- @activities.each do |resource|
		.vertical-timeline-block
			.vertical-timeline-icon.navy-bg
				%i.fa.fa-calendar
			.vertical-timeline-content.responsive-timeline-content
				.p-sm
					%h2= resource.name
					%p
						= resource.description
				.panel-footer.date-activities
					= get_datetime(resource.created_at)

	= paginate @activities, remote: true
- else
	= render "shared/empty_blank"