$('.js-total-collection').html("<%= @activities.total_count %>");
$('#list-activities').html("<%= escape_javascript render partial: 'publishers/activities/lists', locals: {activities: @activities} %>");