%section.login.no-margin
  .container
    .row
      .overlay-m
      .content-login.bg-login
        .col-md-6
          .row
            .introduce-login
              .introduce
                %h1
                  DIDN'T RECEIVE 
                  %span.text-cpaground.font-bold A CONFIRMATION EMAIL?
              .ask
                Not on CPAGround yet?
                = link_to "Sign Up", new_user_registration_path
                %br/
                Already a member?
                = link_to "Sign In", new_user_session_path
              .overlay
        .col-md-6
          = devise_error_messages!
          .row
            .form-sessions.register-form
              %h2
                RESEND
                %span.font-bold
                  CONFIRMATION
              %p
                Please input your email.
              %br
              = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
                %label
                  = f.email_field :email, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "app-btn value-clear input", autofocus: true, placeholder: "Email", required: true
                %label
                  = f.submit "Resend confirmation instructions", class: "btn btn-login btn-info btn-block"

= render 'shared/footer_small'


