.row
	.col-md-12
		.form-group
			= f.label :title
			= f.text_field :title, placeholder: "Enter title information", class: 'form-control', required: true
	.col-md-12
		.form-group
			= f.label :description
			= f.cktext_area :description, placeholder: "Enter description information", class: 'form-control', required: true
	.col-md-12
		.form-group
			= f.label :status
			= f.select :status, Information::STATUSES, {prompt: 'Select Status'}, class: 'form-control', required: true
	.col-md-12
		= button_tag type: "submit", class: "btn btn-info pull pull-right" do
			%i.fa.fa-send
			&nbsp; Save
