.responsive-tabel
	.responsive-content-tabel
		%table#example1.table.table-bordered.table-striped.tabel-width2
			%thead
				%tr
					%th
						= check_box_tag :check_all
					%th Title
					%th Status
					%th Created At
					%th{width: '105px'} Action
			%tbody
				- if @informations.blank?
					%tr
						%td{ colspan: "5"} 
							= render "shared/empty_blank"
				- else
					- @informations.each_with_index do |resource, index|  
						%tr
							%td
								= check_box_tag 'ids[]', resource.id
							%td
								= resource.title
							%td
								= resource.status?
							%td
								= get_datetime(resource.created_at)
							%td.text-center
								= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_information_path(resource), class: 'btn btn-default btn-xs'
								&nbsp;
								= link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_information_path(resource), class: 'btn btn-default btn-xs'
								&nbsp;
								= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, admins_information_path(resource), method: 'delete', data: {confirm: "Are you sure to delete this information?"}, class: 'btn btn-default btn-xs'
= paginate @informations, remote: true