$('#breadcrumbs').html("<%= escape_javascript render partial: 'shared/admin/breadcrumbs' %>");
$('#table-lists').html("<%= escape_javascript render partial: 'lists', locals: {informations: @informations} %>");