#breadcrumbs
  = render "shared/admin/breadcrumbs"

%section.content.full-page
  .bg-white
    .col-md-12.search
      .row
        = form_for :search, url: admins_informations_path, method: 'get', html: {class: 'form-search', remote: true} do
          .input-group.full
            .col-md-5.no-padding
              = text_field_tag :key, params[:key], class: 'form-control pull-left', placeholder: 'Keywords'
            .col-md-2.no-padding
              = select_tag :status, options_for_select(Information::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control'
            .col-md-2.no-padding
              = text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
            .col-md-2.no-padding
              = text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
            .col-md-1.no-padding
              = submit_tag :search, class: 'btn btn-info radius-right'

  .row
    .col-xs-12.top-plus
      = form_for :multiple, url: multiple_action_admins_informations_path, method: 'get' do
        = submit_tag Information::ACTIVE, value: Information::ACTIVE, class: 'btn btn-sm btn-default no-radius'
        = submit_tag Information::INACTIVE, value: Information::INACTIVE, class: 'btn btn-sm btn-default no-radius'
        = submit_tag Information::PROMOTE, value: Information::PROMOTE, class: 'btn btn-sm btn-default no-radius'
        = link_to new_admins_information_path, class: 'btn btn-info btn-sm pull-right' do
          %i.fa.fa-bars
          &nbsp; New Information
        %br
        %br
        .box.box-m
          .box-body
            #table-lists
              = render 'admins/informations/lists'