= render "shared/admin/breadcrumbs"
	
%section.content.full-page
	.row
		.col-xs-12
			.box.box-m
				.box-header
					%h3.box-title
						Data Information
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_informations_path, class: "btn btn-info btn-xs"
						&nbsp;
						= link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_admins_information_path(@information), class: "btn btn-default btn-xs"
					%hr
				.box-body
					.show-campaign
						.col-md-7.no-padding-m
							.row
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Title
										.col-md-9
											.form-group 
												= @information.title
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Description
										.col-md-9
											.form-group 
												= @information.description.html_safe
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Status
										.col-md-9
											.form-group 
												= @information.status?
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Created
										.col-md-9
											.form-group 
												= get_datetime(@information.created_at)

						.col-md-5.no-padding-m
							.well
								%h4 Edit status information
								= form_for @information, url: change_status_admins_information_path, method: 'put' do |f|
									.form-group 
										= f.label 'Status' 
										= f.select :status, Information::STATUSES, {prompt: 'Select Status'}, class: 'form-control', required: true
									.form-group 
										= submit_tag :change, class: 'btn btn-info'