.row
  / .col-md-6
  /   %h3{align: 'center'} Top Manager By Sales
  /   %br
  /   %table#example1.table.table-bordered.table-striped
  /     %thead
  /       %tr
  /         %th{width: '50px;'} Ranking
  /         %th Full Name
  /     %tbody
  /       - if @ranking_am.blank?
  /         %tr
  /           %td{ colspan: "3"} 
  /             = render "shared/empty_blank"
  /       - else
  /         - @ranking_am.each_with_index do |resource, index|  
  /           %tr
  /             %td
  /               .text-center
  /                 = index+1
  /             %td
  /               = resource[0]
  .col-md-12
    %h3{align: 'center'} Top Manager By Earnings
    %br
    %table#example1.table.table-bordered.table-striped
      %thead
        %tr
          %th{width: '50px;'} Ranking
          %th Full Name
      %tbody
        - if @ranking_am_by_revenue.blank?
          %tr
            %td{ colspan: "3"} 
              = render "shared/empty_blank"
        - else
          - @ranking_am_by_revenue.each_with_index do |resource, index|
            - if index == 0
              - color = '#63d547'
            - elsif index == 1
              - color = '#b4dea9'
            - elsif index == 2
              - color = '#d9e7d6'
            - else
              - color = ''

            %tr{style: "background-color: #{color}"}
              %td
                .text-center
                  = index+1
              %td
                = resource[0]