#wrapper.content-detail-campaign-publisher
  .normalheader.small-header
    .hpanel
      .panel-body.responsive-title-page
        %a.small-header-action{:href => ""}
          .clip-header
            %i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
          %ol.breadcrumb.hbreadcrumb
            = render_breadcrumbs :tag => :li, :separator => ""
        %h2.font-light.m-b-xs
          %b Top Manager By Sales & Revenue
        %p Ranking Manager

  .content.animate-panel.responsive-list-campaign
    .row
      .col-md-12
        .hpanel
          .panel-body
            = form_for :search, url: account_managers_rankings_path, method: 'get', html: {class: 'form-search', remote: true} do
              .col-md-5.no-padding
                .form-group
                  = text_field_tag :campaign_start_at, params[:campaign_start_at].blank? ? @date.beginning_of_month : params[:campaign_start_at], class: 'form-control datepicker campaign_start_at', placeholder: 'Campaign Start At', required: true
              .col-md-5.no-padding
                .form-group
                  = text_field_tag :campaign_end_at, params[:campaign_end_at].blank? ? @date : params[:campaign_end_at], class: 'form-control datepicker campaign_end_at',  placeholder: 'Campaign End At', required: true
              .col-md-2.no-padding
                .form-group
                  = submit_tag :search, class: 'btn btn-info btn-message-box', style: 'width:100%;'
        .hpanel
          .panel-body
            .js-list-table
              %br
              = render 'lists'