#wrapper.content-offer-publisher.content-dashboard
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b Referral Publishers (<span class='js-total-collection'>#{@total_collection}</span>)
				%p All list referral publishers
	.content.animate-panel.offers.responsive-content-offers
		.hpanel.responsive-hpanel
			.panel-body
				%p
					%strong Your Link Referral
				.input-group
					%input.form-control{value: new_user_registration_url(ref: @publisher.referral_token), class: "js-link-target-#{@publisher.id}"}
					%span.input-group-btn
						%button.btn.clipboard-btn.btn-default.btn-secondary{"data-clipboard-target" => ".js-link-target-#{@publisher.id}"}
							%i.fa.fa-copy

		
		= form_for :search, url: publishers_referral_publishers_path, method: 'get', html: {class: 'form-search form-search-referral_publishers', remote: true} do
			.hpanel.responsive-hpanel
				.panel-body
					.row
						.col-md-12
							.col-md-3.no-padding
								.form-group
									= text_field_tag :key, params[:key], class: 'form-control no-border-radius', placeholder: 'Keywords (username publisher)'
							.col-md-2.no-padding
								.form-group
									= select_tag :status, options_for_select(Publisher::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control no-border-radius'
							.col-md-3.no-padding
								.form-group
									= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker no-border-radius', placeholder: 'Start At'
							.col-md-3.no-padding
								.form-group
									= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker no-border-radius', placeholder: 'End At'
							.col-md-1.no-padding
								.form-group
									= submit_tag :Search, class: 'btn btn-primary no-border-radius btn-block'
						%br
						.col-md-12
							#table-lists
								= render 'account_managers/permission_referral_publishers/list_referral_publishers'

	= render 'publishers/shared/footer'