#wrapper.forum-publisher.content-dashboard.group-feed-m
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				- unless current_user.is_admin?
					%a.small-header-action{:href => ""}
						.clip-header
							%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b= @group.name
				%p This group is for fellow users interact with each other!
	.content.animate-panel.detail-publisher.full-page
		- unless current_user.is_admin?
			%a#sidebar.notification-feed.btn-show-feed.mobile{:href => "#"}
				%i.fa.fa-bell.faa-ring.animated
		.row
			%section
				.col-md-8
					.hpanel.group-box
						.panel
							.panel-body
								.group-box__item-header
									- if current_user.is_account_manager? && @group.user_id == current_user.id
										.btn-edit-group
											%button.btn.btn-xs.btn-default.text-left{"data-target" => "#myGroup", "data-toggle" => "modal", :type => "button"} 
												<i class="pe-7s-config"></i> &nbsp; Edit
										.btn-edit-group.btn-delete
											= link_to '<i class="pe-7s-trash" aria-hidden="true"></i> Delete'.html_safe, account_managers_group_path(@group), method: 'delete', data: {confirm: "Are you sure to delete this group?"}, class: 'btn btn-xs btn-default text-right', title: "Delete this group"
									.btn-edit-group.btn-list-members
										- if current_user.is_account_manager? && @group.account_manager == @account_manager || current_user.is_admin?
											%button.btn.btn-xs.btn-default{"data-target" => "#myGroupCoverages", "data-toggle" => "modal", :type => "button"} 
												<i class="pe-7s-users"></i> &nbsp; Show Members
										- elsif current_user.is_publisher?
											- if current_user.not_group_coverage?(@group.id)
												- if @group.is_active?
													= form_for GroupCoverage.new, url: join_publishers_groups_path, method: 'post' do |f| 
														= hidden_field_tag :group_id, @group.id
														= button_tag "<i class='pe-7s-paper-plane'></i> Request To Join".html_safe, type: "sumbit", class: 'btn btn-sm btn-default'
											- elsif current_user.group_coverage(@group.id).is_pending?
												.btn.btn-xs.btn-warning Awaiting approval
											- elsif current_user.group_coverage(@group.id).is_approve?
												.btn.btn-xs.btn-default As member
											- else
												.btn.btn-xs.btn-danger Not member
									.bg-cover
										= image_tag @group.cover.url(:normal), class: "bg-cover-image"
									.item-header-cover
										.table-cell
											.cover-content
												= image_tag @group.account_manager.avatar.url(:thumb), class: "img-circle"
												%h5
													%b= @group.account_manager.username
												.total-created
													Total Members:
													%span.total-members= @group_coverages_approve.count
													%br
													Created at:
													= date_sort_time(@group.created_at)
												- if current_user.is_group_admin?(@group.id)
													.link-group
														%h6
															%strong Share Your Private Group Link
														.input-group
															%input.form-control{value: publishers_group_url(@group), class: "js-link-target-#{@group.id}"}
															%span.input-group-btn
																%button.btn.clipboard-btn.btn-default.btn-secondary{"data-clipboard-target" => ".js-link-target-#{@group.id}"}
																	%i.fa.fa-copy
								.group-box__item-owner
									%h4.group-name
										= @group.name
								= @group.description.html_safe
								
					- if current_user.is_group_admin?(@group.id) || current_user.is_group_coverage?(@group.id) || current_user.is_admin?
						- if @group.is_active?
							- unless current_user.is_admin?
								%button.btn.btn-default.btn-block.btn-lg{"data-target" => "#myFeed", "data-toggle" => "modal", :type => "button"} 
									<i class="pe-7s-pen"></i> &nbsp; Post New Feed
							%br
							%section
								.infinitescroll-page
									.hpanel.forum-box.js-forum-box.responsive-forum-box
										= render partial: 'publishers/forums/list', object: @feeds
								.pagination
									= link_to_next_page(@feeds, 'LOADING MORE FEEDS', remote: true, class: 'btn btn-default btn-more')
						- else
							%center
								.label.label-default Group is inactive...
					- else
						%center
							.panel
								.panel-body
									You can not view posts in this group because you have not registered as a member yet
				.col-md-4.desktop
					= render 'publishers/forums/sidebar'
	= render 'publishers/forums/notification-feed' unless current_user.is_admin?
	= render 'account_managers/groups/modal_group_coverages' if current_user.is_account_manager? || current_user.is_admin?
	= render 'account_managers/groups/modal_group' if current_user.is_account_manager?
	= render 'publishers/forums/modal_feed', post_to: @group.id
	= render 'publishers/shared/footer' unless current_user.is_admin?
