%section.login.no-margin
  .container
    .row
      .content-login.bg-login.content-register
        .col-md-12
          .row
            .form-sessions.register-form
              = devise_error_messages!
              %h2.font-bold
                SIGNUP
                %span
                  PUBLISHER
              %p
                It is expected that the contents of the data below are correct, the account that is registered incorrectly or using false data will not be approved!
              %br
              = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                .row
                  .col-md-6
                    %label Email
                    .form-group
                      = f.email_field :email, class: "app-btn value-clear input", autofocus: true, placeholder: "Your Email", required: true
                  .col-md-6
                    %label Username
                    .form-group
                      = f.text_field :username, class: "app-btn value-clear input", placeholder: "Your Username", required: true
                  .col-md-6
                    %label Password
                    .form-group
                      = f.password_field :password, autocomplete: "off", class: "app-btn value-clear input", placeholder: "Password", required: true
                  .col-md-6
                    %label Password Confirmation
                    .form-group
                      = f.password_field :password_confirmation, autocomplete: "off", class: "app-btn value-clear input", placeholder: "Password Confirmation", required: true
                  .col-md-2
                    %label Country
                    .form-group
                      = f.select :phone_code, get_phone_codes, {prompt: 'Code'}, class: "app-btn value-clear input", required: true
                  .col-md-10
                    %label Phone
                    .form-group
                      = f.text_field :phone, class: "app-btn value-clear input", placeholder: "Phone Number Must Active", required: true
                  .col-md-6
                    %label Your Skype ID
                    .form-group
                      = f.text_field :skype, class: "app-btn value-clear input", placeholder: "Your Skype ID Must Active"
                  .col-md-6
                    %label Your Facebook URL
                    .form-group
                      = f.text_field :facebook_url, class: "app-btn value-clear input", placeholder: "Your Facebook URL Must Valid", required: true
                  .col-md-12
                    %label Number KTP/ID Card
                    .form-group
                      = f.text_field :id_card, class: "app-btn value-clear input", placeholder: "KTP/ID Card Must Valid", required: true
                  .col-md-6
                    .form-group
                      %label Photo KTP/ID Card
                      .photo-profile.card1
                        = image_tag 'ktp.jpg', class: 'img img-thumbnail', style: 'width:100%;'
                        %br
                        = f.file_field :foto_id_card, required: true
                  .col-md-6
                    .form-group
                      %label Selfie With Your KTP/ID Card
                      .photo-profile.card2
                        = image_tag 'selfi_id_card.png', class: 'img img-thumbnail', style: 'width:100%;'
                        %br
                        = f.file_field :selfi_id_card, required: true
                  .col-md-12
                    .form-group
                      = f.submit "REGISTER AS A PUBLISHER", class: "btn btn-login btn-info btn-block"
= render 'shared/footer_small'

- if params[:ref].present?
  - cookies.permanent[:referral] = params[:ref]

:javascript
  $(document).ready(function() {
    var searchParams = new URLSearchParams(window.location.search);
    var ref = searchParams.get("ref");

    if (ref != null) {
      window.location.href="/users/register"
    }

    $('#user_username').on('keypress', function(e) {
      if (e.which == 32)
        return false;
    });

    $(".photo-profile.card1").find("input[type='file']").on('change', function(index){
      if($(this).length){
        previewFile(this, $('.photo-profile.card1 img'));
      }
    });

    $(".photo-profile.card2").find("input[type='file']").on('change', function(index){
      if($(this).length){
        previewFile(this, $('.photo-profile.card2 img'));
      }
    });

    function previewFile(input, imageHeader) {
      var preview = imageHeader[0];
      var file    = input.files[0];
      var reader  = new FileReader();

      reader.onloadend = function () {
        preview.src = reader.result;
      }

      if (file) {
        reader.readAsDataURL(file);
      } else {
        preview.src = "";
      }
    }

  });