<% if @daily_reports_array.present? %>
	<table border="1">
		<% if params[:start_at].present? && params[:end_at] %>
			<caption><h3>Report Campaign <%= date_sort_time(params[:start_at].to_date) %> s/d <%= date_sort_time(params[:end_at].to_date) %></h3></caption>
		<% else %>
			<caption><h3>Report Campaign <%= date_sort_time(@date) %></h3></caption>
		<% end %>
		<tr>
			<th>Publisher</th>
			<th>Impressions</th>
			<th>Clicks</th>
			<th>Visitors</th>
			<th>Unique Visitors</th>
			<th>Sales</th>
			<th>Revenue</th>
		</tr>
		<% @daily_reports_array.each_with_index do |resource, index| %>
			<tr>
				<td><%= link_to Publisher.find_by(id: resource[0]).username, account_managers_publisher_path(resource[0]) %></td>
				<td><%= resource[4] %></td>
				<td><%= resource[5] %></td>
				<td><%= resource[6] %></td>
				<td><%= resource[7] %></td>
				<td><%= resource[8] %></td>
				<td><%= get_currency(resource[9]) %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	Data not found!
<% end %>