$('.js-field-search').html("<%= escape_javascript render 'shared/analytics/field_search' %>");
$('#btn-group-analytic').html("<%= escape_javascript render 'admins/campaigns/btn_group_analytic' %>")
$('#the-report-analytics').html("<%= escape_javascript render 'publishers/shared/analytic', report_for: 'dashboard_am' %>")
$('.total-revenue').html("<%= get_currency(@reports_total_revenue) %>")
$('.js-btn-export-csv').html("<%= escape_javascript render 'publishers/dashboards/btn_export_csv' %>")

$(document).ready(function() {
  $(".spinner-load").fadeOut(1000);
});