#wrapper.content-dashboard-publisher.content-dashboard
	.bg-image.bg-image-bottom.animate-panel
		.bg-primary-dark-op.py-30
			.content.content-full.text-center.welcome-to-cpaground
				.col-lg-12.text-center.m-t-md
					%h2
						WELCOME TO 
						%strong CPAGROUND
					%p
						Hello
						%strong #{current_user.username}
						Here is your dashboard to make it easy to manage your ad reporting
					.row
						.col-md-4.col-md-offset-4
							%p
								%strong Your Link Referral
							.input-group
								%input.form-control{value: new_user_registration_url(ref: @account_manager.username), class: "js-link-target-#{@account_manager.id}"}
								%span.input-group-btn
									%button.btn.clipboard-btn.btn-default.btn-secondary{"data-clipboard-target" => ".js-link-target-#{@account_manager.id}"}
										%i.fa.fa-copy

	.content.animate-panel
		.row
			- if @information.present?
				.col-md-12
					.hpanel
						.panel-body{style: 'background: #aaf3f7;'}
							.information-list
								.h5
									%b= @information.title+" :"
								= @information.description.html_safe if @information.description.present?
								
			.col-md-3.col-xs-6.hpanel-count
				.hpanel
					.panel-body
						.stats-title.pull-left
							%h4 Active Publishers
						.stats-icon.pull-right
							%i.pe-7s-users.fa-4x
						.m-t-xl
							%h1.text-info 
								= @publishers_count
			.col-md-3.col-xs-6.hpanel-count
				.hpanel
					.panel-body
						.stats-title.pull-left
							%h4 Publishers Campaign
						.stats-icon.pull-right
							%i.pe-7s-speaker.fa-4x
						.m-t-xl
							%h1.text-info
								= @publishers_campaign_count
			.col-md-3.col-xs-6.hpanel-count
				.hpanel
					.panel-body
						.stats-title.pull-left
							%h4 Publishers LP
						.stats-icon.pull-right
							%i.pe-7s-display2.fa-4x
						.m-t-xl
							%h1.text-info
								= @publishers_lp
			.col-md-3.col-xs-6.hpanel-count
				.hpanel
					.panel-body
						.stats-title.pull-left
							%h4 Received Payment
						.stats-icon.pull-right
							%i.pe-7s-wallet.fa-4x
						.m-t-xl
							%h1.text-info
								= @have_recieve_payment

			.col-md-6.col-xs-12.responsive-panel-quick-date
				.count-total
					.hpanel.responsive-hpanel
						.panel-body.quick-date
							.row
								.col-xs-12.dashboard-earning
									%h3
										My Estimated Earnings 
								.col-xs-9
									.row
										.col-xs-3
											%h4.text-success
												= get_currency(@earning_today_so_far)
											%small Today so far    
										.col-xs-3
											%h4.text-success
												= get_currency(@earning_yesterday)
											%small Yesterday
										.col-xs-3
											%h4.text-success
												= get_currency(@earning_last_7_month)
											%small Last 7 days
										.col-xs-3
											%h4.text-success
												= get_currency(@earning_this_month)
											%small This month
								.col-xs-3
									.text-right	
										%h4.text-success
											= get_currency(@_last_payment)
										%small Last Payment

			.col-md-6.col-xs-12.responsive-panel-quick-date
				.count-total
					.hpanel.responsive-hpanel
						.panel-body.quick-date
							.row
								.col-xs-12.dashboard-earning
									%h3
										Estimated Earnings My Publishers
											
								.col-xs-9
									.row
										.col-xs-3
											%h4.text-success
												= get_currency(@earning_today_so_far_publisher)
											%small Today so far    
										.col-xs-3
											%h4.text-success
												= get_currency(@earning_yesterday_publisher)
											%small Yesterday
										.col-xs-3
											%h4.text-success
												= get_currency(@earning_last_7_month_publisher)
											%small Last 7 days
										.col-xs-3
											%h4.text-success
												= get_currency(@earning_this_month_publisher)
											%small This month
								.col-xs-3
									.text-right	
										%h4.text-success 
											= get_currency(@_last_payment_publishers)
										%small Last Payment

			.col-md-12.responsive-panel-quick-date
				.hpanel.responsive-hpanel
					.panel-heading.desktop
						.panel-tools
							%a.showhide
								%i.fa.fa-chevron-up
							%a.closebox
								%i.fa.fa-times
						Dashboard information and statistics
					= form_for :select_date, url: account_managers_dashboards_path, method: 'get', remote: true, html: {class: 'js-form-submit'} do
						.panel-body.responsive-panel-analytic.bg-offers
							.row.responsive-row-analytic
								.col-xs-6
									.js-btn-export-csv
										= render 'publishers/dashboards/btn_export_csv'
									.simple-search
										.input-group.js-field-search
											= render 'shared/analytics/field_search'
								.col-xs-6
									#btn-group-analytic
										= render 'admins/campaigns/btn_group_analytic'
								.col-xs-12
									.btn-group.pull-right.btn-chart
										%button.btn.btn-default.btn-total-revenue
											Total Revenue AM :
											%span.total-revenue #{get_currency(@reports_total_revenue)}
								.col-xs-12
									#the-report-analytics
										= render "publishers/shared/analytic", report_for: 'dashboard_am'

	= render 'publishers/shared/footer'