<%= render 'devise/mailer/shared/header' %>
<tr>
  <td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

                    <p style='font-size:12px; color:#777;'>
                      Dear <%= @request_landing_page.publisher.username%>,
                    </p>
                    <p style='font-size:12px; color:#777;'>
                      Your request landing page will soon be already, if it is ready we will notify again.
                    </p>
                    <p>
                      <ul style='font-size:12px; color:#777; padding-left: 25px;'>
                        <li><b>Landing Page Title: </b> <%= @request_landing_page.layout_theme.title %></li>
                        <li><b>Landing Page Status: </b> <span style='color: #D77400; text-transform: capitalize;'><%= @request_landing_page.status %></span></li>
                        <li><b>Category Name: </b> <%= @request_landing_page.category_name%></li>
                        <li><b>Campaign Code: </b> <%= @request_landing_page.campaign.code%></li>
                        <li><b>Campaign Title: </b> <%= @request_landing_page.campaign.title%></li>
                        <li><b>Campaign Status: </b> <span style='color: #D77400; text-transform: capitalize;'><%= @request_landing_page.campaign.status%></span></li>
                      </ul>
                    </p>
                    <p style='font-size:12px; color:#777;'>
                      Thank you!
                      <br><br>
                      Best Regards,<br>
                      CPAGROUND.COM<br>
                    </p>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<%= render 'devise/mailer/shared/footer' %>


