<%= render 'devise/mailer/shared/header' %>
<tr>
  <td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

                    <!-- <h3 align='center' style='font-size:16px;'>Hello! <%= @campaign.publisher.username%></h3> -->
                    <p style='font-size:12px; color:#777;'>
                      Dear <b><%= @campaign.publisher.username%></b>,
                    </p>
                    <p style='font-size:12px; color:#777;'>
                      Your campaign 'got' has been approved and you will begin receiving traffic shortly.
                    </p>
                    <p>
                      <ul style='font-size:12px; color:#777; padding-left: 25px;'>
                        <li><b>Code Campaign: </b> <%= @campaign.code%></li>
                        <li><b>Category Name: </b> <%= @campaign.category_campaign.category_name%></li>
                        <li><b>Offer Name: </b> <%= @campaign.category_campaign.name%></li>
                        <li><b>Offer Action: </b> <%= @campaign.category_campaign.action%></li>
                        <li><b>Offer Detail: </b> 
                          <div class="content-detail">
                            <%= @campaign.category_campaign.detail.present? ? @campaign.category_campaign.detail.html_safe : "-" %>
                          </div>
                        </li>
                        <li><b>Campaign Title: </b> <%= @campaign.title%></li>
                        <li><b>Campaign Link: </b> <a href=<%= @campaign.tracking_code? %> target="_blank"><%= @campaign.tracking_code? %></a></li>
                        <li><b>Campaign Status: </b> <span style='color: #2EC2A3; text-transform: capitalize;'><%= @campaign.status%></span></li>
                      </ul>
                    </p>
                    <p style='font-size:12px; color:#777;'>
                      Thank you!
                      <br><br>
                      Best Regards,<br>
                      CPAGROUND.COM<br>
                    </p>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<%= render 'devise/mailer/shared/footer' %>


