<%= render 'devise/mailer/shared/header' %>
<tr>
  <td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

                    <p style='font-size:12px; color:#777;'>
                      Dear <%= @payment.user.username %>,
                    </p>
                    <p style='font-size:12px; color:#777;'>
                      <%= @payment_type %> of this period we have paid and transfer to your account <%= @payment.to_acc %> as written in your profile, please check.
                    </p>
                    <p>
                      <table style='border: none; font-size:10px; color:#777; padding-left: 25px; width: 100%'>
                        <tbody style="margin: 5px;">
                          <tr style="background-color: #f5f5f5;">
                            <td style="width: 20%; padding: 0 5px;">
                              From:
                            </td>
                            <td style="width: 45%; padding: 0 5px;">
                              To:
                            </td>
                            <td style="width: 35%; padding: 0 5px;">
                              Information:
                            </td>
                          </tr>
                          <tr style="background-color: #fafafa;">
                            <td style="padding: 0 5px;"><b>CPA Ground</b></td>
                            <td style="padding: 0 5px;"><b><%= @payment.user.username%></b></td>
                            <td style="padding: 0 5px;"><b>Period: </b><%= date_sort_time(@payment.payment_at)%> - <%= date_sort_time(@payment.payment_end)%></td>
                          </tr>
                          <tr style="background-color: #fafafa;">
                            <td style="padding: 0 5px;"><%= @payment.from_acc%></td>
                            <td style="padding: 0 5px;">Address: 
                              <% if @payment.user.is_publisher? %>
                                <%= @payment.publisher.profile.place_info%>
                              <% elsif @payment.user.is_account_manager? %>
                                <%= @payment.account_manager.profile_account_manager.place_info%>
                              <% end %>
                            </td>
                            <td style="padding: 0 5px;"><b>Account: </b><%= @payment.to_acc%></td>
                          </tr>
                          <tr style="background-color: #fafafa;">
                            <td style="padding: 0 5px;"></td>
                            <td style="padding: 0 5px;">Phone: <%= @payment.user.phone%></td>
                            <td style="padding: 0 5px;"><b>Earnings: 
                              <% if @payment.user.is_publisher? %>
                                <%= get_currency(@payment.price)%>
                              <% elsif @payment.user.is_account_manager? %>
                                <%= get_currency(@payment.fee_am)%>
                              <% end %>
                            </b></td>
                          </tr>
                          <tr style="background-color: #fafafa;">
                            <td style="padding: 0 5px;"></td>
                            <td style="padding: 0 5px;">Email: <%= @payment.user.email%></td>
                            <td style="padding: 0 5px;"></td>
                          </tr>
                        </tbody>
                      </table>
                    </p>
                    <p style='font-size:12px; color:#777;'>
                      Thank you!
                      <br><br>
                      Best Regards,<br>
                      CPAGROUND.COM<br>
                    </p>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<%= render 'devise/mailer/shared/footer' %>


