<%= render 'devise/mailer/shared/header' %>
<tr>
  <td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

                    <h3 align='center' style='font-size:16px; color: #0915b2;'>STATUS OF YOUR APPLICATION</h3>
                    <h3 align='center' style='font-size:14px; color: #CC0B18;'>NOT APPROVED</h3>
                    <p style='font-size:12px; color:#777;' align="center">
                      Thank you for your interest in CPAGround. Unfortunately, after reviewing your application, we are currently unable to accept you into our Publisher program.
                      <br>
                      We do not approve your application for the reasons listed below.
                      <br>
                      Site not compliant with policy: We are currently unable to approve your Application application because your site does not comply with the CPAGround program policies or complies with the Webmaster Quality guidelines. Our goal is to give our advertisers sites that offer meaningful and rich content, receive organic traffic, and enable us to deliver well-targeted ads to our users. We believe that your site currently does not meet this criteria
                      <br>
                      -- -- -- -- -- -- -- -- -- -- -
                      <br>
                      You can try again to join us with the terms and conditions we specify.
                    </p>
                    <p style='font-size:12px; color:#777;' align="center">
                      <br>
                      Best Regards,<br>
                      CPAGROUND.COM<br>
                    </p>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<%= render 'devise/mailer/shared/footer' %>


