<%= render 'devise/mailer/shared/header' %>
<tr>
	<td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
			<tbody class="mcnTextBlockOuter">
				<tr>
					<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
						<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
							<tbody>
								<tr>
									<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

										<p style='font-size:13px; color:#777; text-align: left;'>
											<b>Dear All Publisher</b>
										</p>
										<p style='font-size:12px; color:#777; text-align: left;'>
											<%= @start_email_content %>
											<br>
											Detail Offer :
										</p>
										<p>
											<ul style='font-size:12px; color:#777; padding-left: 25px;'>
												<li><b>Offer Name: </b> <%= @offer.name%></li>
												<li><b>Offer Category: </b> <%= @offer.category_name%></li>
												<li><b>Offer Action: </b> <%= @offer.action%></li>
												<li><b>Offer Detail: </b> 
													<div class="content-detail">
														<%= @offer.detail.present? ? @offer.detail.html_safe : "-" %>
													</div>
												</li>
												<li><b>Offer Status: </b> <%= @offer.status%></li>
											</ul>
										</p>
										<p style='font-size:12px; color:#777;'>
											<b>Target Countries :</b>
											<br>
											<% @offer.targetings.each do |resource| %>
												<%= resource.country_code+" "+(resource.fee_publisher? > 0 ? get_currency(resource.fee_publisher?) : '') %> 
											<% end %>
										</p>
										<p style='font-size:12px; color:#777; text-align: left;'>
											<%= @end_email_content %>
										</p>
										<br>
										<p style='font-size:12px; color:#777;'>
											Thank you!
											<br><br>
											Best Regards,<br>
											CPAGROUND.COM<br>
										</p>

									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<%= render 'devise/mailer/shared/footer' %>


