.col-md-12
  - unless params[:status] == "visited"
    .row
      / .col-md-3
      /   .panel.panel-default
      /     .panel-heading
      /       .panel-title
      /         %center Fee Publisher: 
      /     .panel-body
      /       .row
      /         .col-md-4
      /           %center
      /             %small Approved
      /             %br
      /             %b= get_currency_full(@fee_publisher_approved)
      /         .col-md-4
      /           %center
      /             %small Pending
      /             %br
      /             %b= get_currency_full(@fee_publisher_pending)
      /         .col-md-4
      /           %center
      /             %small Rejected
      /             %br
      /             %b= get_currency_full(@fee_publisher_reject)
      / .col-md-3
      /   .panel.panel-default
      /     .panel-heading
      /       .panel-title
      /         %center Fee Account Manger: 
      /     .panel-body
      /       .row
      /         .col-md-4
      /           %center
      /             %small Approved
      /             %br
      /             %b= get_currency_full(@fee_am_approved)
      /         .col-md-4
      /           %center
      /             %small Pending
      /             %br
      /             %b= get_currency_full(@fee_am_pending)
      /         .col-md-4
      /           %center
      /             %small Rejected
      /             %br
      /             %b= get_currency_full(@fee_am_reject)
      / .col-md-3
      /   .panel.panel-default
      /     .panel-heading
      /       .panel-title
      /         %center Fee Company: 
      /     .panel-body
      /       .row
      /         .col-md-4
      /           %center
      /             %small Approved
      /             %br
      /             %b= get_currency_full(@fee_company_approved)
      /         .col-md-4
      /           %center
      /             %small Pending
      /             %br
      /             %b= get_currency_full(@fee_company_pending)
      /         .col-md-4
      /           %center
      /             %small Rejected
      /             %br
      /             %b= get_currency_full(@fee_company_reject)
      .col-md-12
        .panel.panel-default
          .panel-heading
            .panel-title
              %center Total Revenue: 
          .panel-body
            .row
              .col-md-4
                %center
                  Approved
                  %br
                  %b= get_currency_full(@total_revenue_approved)
              .col-md-4
                %center
                  Pending
                  %br
                  %b= get_currency_full(@total_revenue_pending)
              .col-md-4
                %center
                  Rejected
                  %br
                  %b= get_currency_full(@total_revenue_reject)