.col-md-12
	.box.box-m
		.box-body
			.responsive-tabel
				.responsive-content-tabel
					%table#example1.table.table-bordered.table-striped.tabel-width2
						%thead
							%tr
								%th
									= subject
								- unless params[:status] == 'convertion'
									%th
										Clicks
										= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_clicks', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_clicks'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
									%th
										Visitors
										= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
									%th
										Unique Visitors
										= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_unique_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_unique_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
								- else
									%th
										Sales
										= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_sales', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_sales'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
									%th 
										Revenue
										= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_revenue', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_revenue'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
						%tbody
							- @convertion_reports.each_with_index do |resource|
								%tr
									%td
										%small
											= resource[0]
									- unless params[:status] == 'convertion'
										%td
											%small
												= resource[1]
										%td
											%small
												= resource[2]
										%td
											%small
												= resource[3]
									- else
										%td
											%small
												= resource[4]
										%td
											%small
												= get_currency(resource[5])