.row
  .col-md-6
    .row
      .col-md-3
        .form-group
          %b Click Id
      .col-md-9
        .form-group 
          = @report.click_id
      .col-md-3
        .form-group
          %b Report Campaign
      .col-md-9
        .form-group 
          = link_to @report.report_campaign_snapshot_id, admins_report_campaign_snapshot_path(@report.report_campaign_snapshot)
      .col-md-3
        .form-group
          %b offer
      .col-md-9
        .form-group 
          = link_to @report.category_campaign.name, admins_category_campaign_path(@report.category_campaign)
      .col-md-3
        .form-group
          %b Campaign Id
      .col-md-9
        .form-group 
          = link_to @report.campaign_id, admins_campaign_path(@report.campaign)
      .col-md-3
        .form-group
          %b Publisher
      .col-md-9
        .form-group 
          = link_to @report.publisher.username, admins_publisher_path(@report.publisher)
      .col-md-3
        .form-group
          %b Account Manager
      .col-md-9
        .form-group 
          = link_to @report.account_manager.username, admins_account_manager_path(@report.account_manager)
      .col-md-3
        .form-group
          %b Admin
      .col-md-9
        .form-group 
          = link_to @report.admin.username, admins_admin_path(@report.admin)
      .col-md-3
        .form-group
          %b Click Date
      .col-md-9
        .form-group 
          = date_sort_time(@report.convertion_date)
      .col-md-3
        .form-group
          %b Time
      .col-md-9
        .form-group 
          = get_time(@report.convertion_time)
      .col-md-3
        .form-group
          %b IP Address
      .col-md-9
        .form-group 
          = @report.ip
      .col-md-3
        .form-group
          %b Country
      .col-md-9
        .form-group 
          = @report.country_code
      .col-md-3
        .form-group
          %b Referrer
      .col-md-9
        .form-group 
          = @report.referrer
      .col-md-3
        .form-group
          %b Device
      .col-md-9
        .form-group 
          = @report.device
      .col-md-3
        .form-group
          %b Browser
      .col-md-9
        .form-group 
          = @report.browser
      .col-md-3
        .form-group
          %b OS
      .col-md-9
        .form-group 
          = @report.os || '--'

  .col-md-6
    .row
      .col-md-3
        .form-group
          %b Sales
      .col-md-9
        .form-group 
          = @report.sales > 0 ? 'Yes' : 'No'
      .col-md-3
        .form-group
          %b Fee Publisher
      .col-md-9
        .form-group 
          = get_currency_full(@report.fee_publisher)
      .col-md-3
        .form-group
          %b Fee AM
      .col-md-9
        .form-group 
          = get_currency_full(@report.fee_am)
      .col-md-3
        .form-group
          %b Fee Company
      .col-md-9
        .form-group 
          = get_currency_full(@report.fee_company)
      .col-md-3
        .form-group
          %b Revenue
      .col-md-9
        .form-group 
          #{@report.status?} #{get_currency_full(@report.revenue)}
      .col-md-3
        .form-group
          %b Status
      .col-md-9
        .form-group 
          = @report.status