.col-md-6
  .row
    .col-md-3
      .form-group
        %b Click Id
    .col-md-9
      .form-group 
        = @report.click_id
    .col-md-3
      .form-group
        %b offer
    .col-md-9
      .form-group 
        = link_to @report.category_campaign.name, admins_category_campaign_path(@report.category_campaign)
    .col-md-3
      .form-group
        %b Campaign Id
    .col-md-9
      .form-group 
        = link_to @report.campaign_id, admins_campaign_path(@report.campaign)
    .col-md-3
      .form-group
        %b Publisher
    .col-md-9
      .form-group 
        = link_to @report.publisher.username, admins_publisher_path(@report.publisher)
    .col-md-3
      .form-group
        %b Status
    .col-md-9
      .form-group 
        = @report.status
.col-md-6
  .row
    .col-md-3
      .form-group
        %b Sales
    .col-md-9
      .form-group 
        = @report.sales > 0 ? 'Yes' : 'No'
    .col-md-3
      .form-group
        %b Fee Publisher
    .col-md-9
      .form-group 
        = get_currency_full(@report.fee_publisher)
    .col-md-3
      .form-group
        %b Fee AM
    .col-md-9
      .form-group 
        = get_currency_full(@report.fee_am)
    .col-md-3
      .form-group
        %b Fee Company
    .col-md-9
      .form-group 
        = get_currency_full(@report.fee_company)
    .col-md-3
      .form-group
        %b Revenue
    .col-md-9
      .form-group 
        #{@report.status?} #{get_currency_full(@report.revenue)}