.responsive-tabel
	%table#example1.table.table-bordered.tabel-width1
		%thead
			%tr
				%th 
					= check_box_tag :check_all
				%th Id
				%th Item
				%th Revenue
				%th Fee Publisher
				%th Fee Am
				%th Fee Company
				%th Status
				%th Created At
				%th Updated At
				- if current_user.is_admin?
					%th Action
		%tbody
			- if @report_items.blank?
				%tr
					%td{ colspan: "11"} 
						= render "shared/empty_blank"
			- else
				- @report_items.each_with_index do |resource, index|  
					%tr
						%td
							= check_box_tag 'ids[]', resource.id
						%td
							= resource.id
						%td
							= resource.name
						%td
							= get_currency_full(resource.revenue)
						%td
							= get_currency_full(resource.fee_publisher)
						%td
							= get_currency_full(resource.fee_am)
						%td
							= get_currency_full(resource.fee_company)
						%td
							= resource.status?
						%td
							= get_datetime(resource.created_at)
						%td
							= get_datetime(resource.updated_at)
						- if current_user.is_admin?
							%td
								= link_to "<i class='fa fa-times'></i>".html_safe, delete_report_item_admins_report_path(report_item_id: resource.id), method: 'delete', data: {confirm: "Are you sure to delete this report item?"}, class: 'btn btn-danger btn-xs'