- if current_user.is_staff?
	= hidden_field_tag :admin_id, current_user.id
= hidden_field_tag :status, params[:status]
.row
	.col-md-12
		.box
			.box-body
				- unless params[:status] == "visited"
					.row
						- ConvertionReport::STATUSES2.each do |c|
							.col-md-3
								.well
									= radio_button_tag :status, c, params[:status] == c ? true : false, style: 'height: auto!important;'
									%b
										= c.titleize
				.col-md-1.no-padding
					.form-group
						= text_field_tag :start_at, nil, value: params[:start_at].present? ? params[:start_at] : @date, class: 'form-control datepicker no-border-radius mobile-margin-bottom-searching', placeholder: 'Start At', required: true
				.col-md-1.no-padding
					.form-group
						= text_field_tag :end_at, nil, value: params[:end_at].present? ? params[:end_at] : @date, class: 'form-control datepicker no-border-radius mobile-margin-bottom-searching', placeholder: 'End At', required: true
				.col-md-10.no-padding
					.form-group
						= select_tag :group_by, options_for_select(['Date','Publisher','Campaign', 'Offer', 'IP Address', 'Country', 'Referrer', 'Device', 'Browser'], params[:group_by]), prompt: 'Group By', class: 'js-onchange-group form-control'
				.col-md-2.no-padding
					= text_field_tag :click_id, params[:click_id], class: 'form-control pull-left no-border-radius mobile-margin-bottom-searching', placeholder: 'Click Id'
				.col-md-2.no-padding
					= text_field_tag :category_campaign_id, params[:category_campaign_id], class: 'form-control pull-left no-border-radius mobile-margin-bottom-searching', placeholder: 'Offer Id'
				.col-md-1.no-padding
					= text_field_tag :campaign_id, params[:campaign_id], class: 'form-control pull-left no-border-radius mobile-margin-bottom-searching', placeholder: 'Campaign Id'
				.col-md-1.no-padding
					= text_field_tag :publisher_username, params[:publisher_username], class: 'form-control pull-left no-border-radius mobile-margin-bottom-searching', placeholder: 'Publisher'
				.col-md-1.no-padding
					= text_field_tag :country, params[:country], class: 'form-control pull-left no-border-radius mobile-margin-bottom-searching', placeholder: 'Country Code'
				.col-md-2.no-padding
					= text_field_tag :referrer, params[:referrer], class: 'form-control pull-left no-border-radius mobile-margin-bottom-searching', placeholder: 'Referrer'
				.col-md-1.no-padding
					= select_tag :device, options_for_select(["desktop", "smartphone", "tablet"], params[:device]), prompt: 'Device', class: 'form-control no-border-radius mobile-margin-bottom-searching'
				.col-md-1.no-padding
					= submit_tag :Search, class: 'btn btn-info btn-block mobile-btn-no-radius js-submit-search-report'
				- if params[:status] == 'convertion'
					.col-md-1.no-padding
						%a{ href: "reports.xls?export=true&#{request.fullpath.split("?")[1]}", class: 'btn btn-success radius-right btn-block mobile-btn-no-radius'}
							%i.fa.fa-file-excel-o
							&nbsp;
							Export
	= render 'shared/loading'
	- if @convertion_reports.present?  
		- if params[:group_by].blank?
			= render 'admins/reports/box_calculation'
			/ - if current_user.is_admin?
			/   .col-md-12
			/     .row
			/       .js-report-convertion
			/         = render 'publishers/reports/cart'
			.col-md-12
				.box.box-m
					.box-body
						.responsive-tabel
							%table#example1.table.table-bordered.table-striped{style: 'width: 2000px;'}
								%thead
									%tr
										%th Click Id
										%th{ width: "100px"} Click Date
										%th Time
										%th Campaign Id
										%th Publisher
										%th Offer
										%th IP Address
										%th Country
										%th Referrer
										%th Device
										%th Browser
										%th OS
										- unless params[:status] == "visited"
											%th{ width: "60px"} Status
											%th{ width: "60px"} Sales
											%th{ width: "100px"} Revenue
											- if current_user.is_admin? || current_user.is_staff?
												%th{ width: "40px"}
								%tbody
									- if @convertion_reports.blank?
										%tr
											%td{ colspan: params[:status] == "visited" ? "16" : "12"} 
												= render "shared/empty_blank"
									- else
										- @convertion_reports.each_with_index do |resource, index|
											%tr
												%td
													/ - if resource.category_campaign.is_cps?
													/ 	= link_to resource.click_id, admins_report_path(resource)
													/ - else
													= resource.click_id
												%td
													= date_sort_time(resource.convertion_date)
												%td
													= get_time(resource.convertion_time)
												%td
													= link_to resource.campaign_id, admins_campaign_path(resource.campaign_id)
												%td
													= link_to resource.publisher_id, admins_publisher_path(resource.publisher_id) rescue "not found"
												%td
													= link_to resource.category_campaign_id, admins_category_campaign_path(resource.category_campaign_id)
												%td
													= resource.ip
												%td
													= resource.country_code
												%td
													= resource.referrer
												%td
													= resource.device
												%td
													= resource.browser
												%td
													= resource.os || '--'
												- unless params[:status] == "visited"
													%td
														= resource.status
													%td
														= resource.sales > 0 ? 'Yes' : 'No'
													%td
														#{resource.status?} #{get_currency(resource.revenue)}
														/ - if resource.category_campaign.is_cps? && params[:status] != "visited"
														/ 	%span.pull-right
														/ 		.fa.fa-list-alt{"data-target" => "#modalReportItem-#{resource.id}", "data-toggle" => "modal", type: "button", style: 'cursor:pointer;', title: "Detail report items"}
														/ 		.modal.fade{:role => "dialog", id: "modalReportItem-#{resource.id}"}
														/ 			= render 'publishers/reports/modal_report_item', resource: resource
													- if current_user.is_admin? || current_user.is_staff?
														%td
															= form_for resource, method: 'put', url: change_convertion_report_admins_report_campaign_snapshot_path(resource) do |f|
																= button_tag '<i class="pe-7s-check" aria-hidden="true"></i>'.html_safe, class: 'btn btn-default btn-xs btn-no-border pull-right-m', title: "Approve this report", name: 'commit', value: 'approve', data: {confirm: "Are you sure to approve this #{resource.click_id} report?"} if resource.status == ConvertionReport::REJECT
																= button_tag '<i class="pe-7s-close-circle" aria-hidden="true"></i>'.html_safe, class: 'btn btn-default btn-xs btn-no-border pull-right-m', title: "Reject this report", name: 'commit', value: 'reject', data: {confirm: "Are you sure to reject this #{resource.click_id} report?"} if resource.status == ConvertionReport::APPROVED

		- else
			- if params[:group_by] == 'Publisher'
				.col-md-12
					.box.box-m
						.box-body
							.responsive-tabel
								.responsive-content-tabel
									%table#example1.table.table-bordered.table-striped.tabel-width1
										%thead
											%tr
												%th Publisher
												- unless params[:status] == 'convertion'
													%th
														Clicks
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_clicks', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_clicks'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
													%th
														Visitors
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
													%th
														Unique Visitors
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_unique_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_unique_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
												- else  
													%th
														Sales
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_sales', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_sales'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
													%th 
														Revenue
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_revenue', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_revenue'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
										%tbody
											- @convertion_reports.each_with_index do |resource|
												- publisher = Publisher.find(resource[0])
												%tr
													%td
														%small
															= publisher.username
													- unless params[:status] == 'convertion'
														%td
															%small
																= resource[1]
														%td
															%small
																= resource[2]
														%td
															%small
																= resource[3]
													- else
														%td
															%small
																= resource[4]
														%td
															%small
																%br
																Total: #{get_currency(resource[5])}
																%br
																Publiher: #{get_currency(resource[6])}
																%br
																AM: #{get_currency(resource[7])}
																%br
																Company: #{get_currency(resource[8])}
			- elsif params[:group_by] == 'Campaign'
				.col-md-12
					.box.box-m
						.box-body
							.responsive-tabel
								.responsive-content-tabel
									%table#example1.table.table-bordered.table-striped.tabel-width1
										%thead
											%tr
												%th Campaign
												%th Offer
												- unless params[:status] == 'convertion'
													%th
														Clicks
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_clicks', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_clicks'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
													%th
														Visitors
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
													%th
														Unique Visitors
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_unique_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_unique_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
												- else
													%th
														Sales
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_sales', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_sales'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
													%th 
														Revenue
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_revenue', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_revenue'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
										%tbody
											- @convertion_reports.each_with_index do |resource|
												- campaign = Campaign.find(resource[0])
												- if current_user.is_admin?
													- link_path = admins_campaign_path(campaign)
												- elsif current_user.is_account_manager?
													- link_path = account_managers_campaign_path(campaign)
												%tr
													%td
														%small
															= link_to campaign.title, link_path
													%td
														%small
															= campaign.category_campaign.name
													- unless params[:status] == 'convertion'
														%td
															%small
																= resource[1]
														%td
															%small
																= resource[2]
														%td
															%small
																= resource[3]
													- else
														%td
															%small
																= resource[4]
														%td
															%small
																= get_currency(resource[5])

			- elsif params[:group_by] == 'Offer'
				.col-md-12
					.box.box-m
						.box-body
							.responsive-tabel
								.responsive-content-tabel
									%table#example1.table.table-bordered.table-striped.tabel-width1
										%thead
											%tr
												%th Offer
												- unless params[:status] == 'convertion'
													%th
														Clicks
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_clicks', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_clicks'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
													%th
														Visitors
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
													%th
														Unique Visitors
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_unique_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_unique_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
												- else  
													%th
														Sales
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_sales', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_sales'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
													%th 
														Revenue
														= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_revenue', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_revenue'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
										%tbody
											- @convertion_reports.each_with_index do |resource|
												- category_campaign = CategoryCampaign.find(resource[0])
												%tr
													%td
														%small
															= category_campaign.name
													- unless params[:status] == 'convertion'
														%td
															%small
																= resource[1]
														%td
															%small
																= resource[2]
														%td
															%small
																= resource[3]
													- else
														%td
															%small
																= resource[4]
														%td
															%small
																= get_currency(resource[5])

			- elsif params[:group_by] == 'IP Address'
				= render "admins/reports/convertion_reports", subject: "IP Address"

			- elsif params[:group_by] == 'Country'
				= render "admins/reports/convertion_reports", subject: "Country"

			- elsif params[:group_by] == 'Referrer'
				= render "admins/reports/convertion_reports", subject: "Referrer"

			- elsif params[:group_by] == 'Date'
				= render "admins/reports/convertion_reports", subject: "Click Date"

			- elsif params[:group_by] == 'Device'
				= render "admins/reports/convertion_reports", subject: "Device"

			- elsif params[:group_by] == 'Browser'
				= render "admins/reports/convertion_reports", subject: "Browser"
													
		= paginate @convertion_reports, remote: true, param_name: "page_report_convertion"
	- else
		= render "shared/empty_blank"

:javascript
	$('.datepicker').datepicker({
		format: "yyyy-mm-dd",
		autoclose: true
	});

	$(document).on('click', '.js-submit-search-report', function(){
		$(".spinner-load").show();
	});

	$('.responsive-tabel').doubleScroll();
