.col-md-12.nested-fields
	.section-pic
		.row
			= f.hidden_field :convertion_report_id, value: @report.id
			= f.hidden_field :report_campaign_snapshot_id, value: @report.report_campaign_snapshot_id
			= f.hidden_field :category_campaign_id, value: @report.category_campaign_id
			= f.hidden_field :campaign_id, value: @report.campaign_id
			= f.hidden_field :publisher_id, value: @report.publisher_id
			= f.hidden_field :account_manager_id, value: @report.account_manager_id
			= f.hidden_field :admin_id, value: @report.admin_id
			.col-md-5
				%h6 Revenue
				= f.text_field :revenue, class: 'form-control', placeholder: 'Revenue'
			.col-md-5
				%h6 Status
				= f.select :status, ReportItem::STATUSES, {prompt: 'Select Status'}, class: 'form-control', required: true
			.col-md-2
				%h6 Action
				= link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'btn btn-danger btn-xs'