= f.fields_for :report_items do |g|
	= render 'report_item_fields', f: g

.col-md-12
	%br
	= link_to_add_association f, :report_items, partial: 'report_item_fields', class: "btn btn-success btn-sm" do
		%span Add Report Item