= render "shared/admin/breadcrumbs"

%section.content.full-page
	.row
		.col-md-12
			.box.box-m
				.box-header
					%h3.box-title
						Convertion Report
					%hr
				.box-body
					= render "detail_report2"
		.col-md-12
			.box.box-m
				.box-header
					%h3.box-title
						Report Items
					%hr
				.box-body
					= form_for @report, url: admins_report_path, method: 'put', html: { multipart:true } do |f|
						= render partial: 'report_item_form', locals: {f: f}
						.col-md-12
							%br
							= submit_tag "Update", class: "btn btn-info"
				.content-footer