$('#breadcrumbs').html("<%= escape_javascript render partial: 'shared/admin/breadcrumbs' %>");
$('#table-lists').html("<%= escape_javascript render partial: 'admins/reports/lists', locals: {convertion_reports: @convertion_reports} %>");
$('.js-report-convertion').html("<%= escape_javascript render partial: 'publishers/reports/cart' %>");

$(document).ready(function() {
  $(".spinner-load").fadeOut(1000);
});