<% unless params[:status] == "visited" %>
  <% caption = "Convertion Reports" %>
<% else %>
  <% caption = "Performance Reports" %>
<% end %>

<table border="1">
  <caption><%= caption %> <%= "Group By #{params[:group_by]}" if params[:group_by].present? %></caption>
  <% if params[:group_by].blank? %>
    <thead>
      <tr>
        <th>No</th>
        <th>Click Id</th>
        <th>Click Date</th>
        <th>Time</th>
        <th>Campaign Id</th>
        <th>Publisher</th>
        <th>Offer</th>
        <th>IP Address</th>
        <th>Country</th>
        <th>Referrer</th>
        <th>Device</th>
        <th>Browser</th>
        <th>OS</th>
        <% unless params[:status] == "visited" %>
          <th>Status</th>
          <th>Sales</th>
          <th>Revenue</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if @total_convertion_reports.blank? %>
        <tr>
          <td colspan="#{params[:status] == 'visited' ? '16' : '13'}">
            <%= "Data not Found" %>
          </td>
        </tr>
      <% else %>
        <% @total_convertion_reports.each_with_index do |resource, index| %>
          <tr>
            <td>
              <%= index+1 %>
            </td>
            <td>
              <%= resource.click_id %>
            </td>
            <td>
              <%= date_sort_time(resource.convertion_date) %>
            </td>
            <td>
              <%= get_time(resource.convertion_time) %>
            </td>
            <td>
              <%= resource.campaign_id %>
            </td>
            <td>
              <%= resource.publisher_id rescue "not found" %>
            </td>
            <td>
              <%= resource.category_campaign.name %>
            </td>
            <td>
              <%= resource.ip %>
            </td>
            <td>
              <%= resource.country_code %>
            </td>
            <td>
              <%= resource.referrer %>
            </td>
            <td>
              <%= resource.device %>
            </td>
            <td>
              <%= resource.browser %>
            </td>
            <td>
              <%= resource.os || '--' %>
            </td>
            <% unless params[:status] == "visited" %>
              <td>
                <%= resource.status %>
              </td>
              <td>
                <%= resource.sales > 0 ? 'Yes' : 'No' %>
              </td>
              <td>
                <%= "#{resource.status} #{get_currency(resource.revenue)}" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  <% else %>
    <% if params[:group_by] == 'Publisher' %>
      <thead>
        <tr>
          <th>Publisher</th>
          <th>Sales</th>
          <th>Revenue</th>
        </tr>
      </thead>
      <tbody>
        <% @convertion_report_group_by.each_with_index do |resource| %>
          <% publisher = Publisher.find(resource[0]) %>
          <tr>
            <td>
              <small>
                <%= publisher.username %>
              </small>
            </td>
            <td>
              <small>
                <%= resource[4] %>
              </small>
            </td>
            <td>
              <small>
                Total: <%= get_currency(resource[5]) %>
                <br/>
                Publiher: <%= get_currency(resource[6]) %>
                <br/>
                AM: <%= get_currency(resource[7]) %>
                <br/>
                Company: <%= get_currency(resource[8]) %>
              </small>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% elsif params[:group_by] == 'Campaign' %>
      <thead>
        <tr>
          <th>Campaign</th>
          <th>Offer</th>
          <th>Sales</th>
          <th>Revenue</th>
        </tr>
      </thead>
      <tbody>
        <% @convertion_report_group_by.each_with_index do |resource| %>
          <% campaign = Campaign.find(resource[0]) %>
          <tr>
            <td>
              <small>
                <%= campaign.title %>
              </small>
            </td>
            <td>
              <small>
                <%= campaign.category_campaign.name %>
              </small>
            </td>
            <td>
              <small>
                <%= resource[4] %>
              </small>
            </td>
            <td>
              <small>
                <%= get_currency(resource[5]) %>
              </small>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% elsif params[:group_by] == 'Offer' %>
      <thead>
        <tr>
          <th>Offer</th>
          <th>Sales</th>
          <th>Revenue</th>
        </tr>
      </thead>
      <tbody>
        <% @convertion_report_group_by.each_with_index do |resource| %>
          <% category_campaign = CategoryCampaign.find(resource[0]) %>
          <tr>
            <td>
              <small>
                <%= category_campaign.name %>
              </small>
            </td>
            <td>
              <small>
                <%= resource[4] %>
              </small>
            </td>
            <td>
              <small>
                <%= get_currency(resource[5]) %>
              </small>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% else %>
      <% if params[:group_by] == 'IP Address' %>
        <% subject = "IP Address" %>
      <% elsif params[:group_by] == 'Country' %>
        <% subject = "Country" %>
      <% elsif params[:group_by] == 'Referrer' %>
        <% subject = "Referrer" %>
      <% elsif params[:group_by] == 'Date' %>
        <% subject = "Click Date" %>
      <% elsif params[:group_by] == 'Device' %>
        <% subject = "Device" %>
      <% elsif params[:group_by] == 'Browser' %>
        <% subject = "Browser" %>
      <% end %>
      <thead>
        <tr>
          <th><%= subject %></th>
          <th>Sales</th>
          <th>Revenue</th>
        </tr>
      </thead>
      <tbody>
        <% @convertion_report_group_by.each_with_index do |resource| %>
          <tr>
            <td>
              <small>
                <%= resource[0] %>
              </small>
            </td>
            <td>
              <small>
                <%= resource[4] %>
              </small>
            </td>
            <td>
              <small>
                <%= get_currency(resource[5]) %>
              </small>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  <% end %>
</table>