#breadcrumbs
	= render "shared/admin/breadcrumbs"

%section.content.full-page
	.row
		.col-md-12.js-convertion-box-add-report{style: "display: block;"}
			.box
				.box-body
					.col-md-12
						.box-title Add Revenue Convertion report
						%hr
					= form_for ConvertionReport.new, url: '', method: 'post', html: { class: 'new-convertion-report-on-list', data: {url: admins_report_campaign_snapshots_path}} do |f|
						.col-xs-12.col-md-2.no-right
							= f.label 'Enter Click Id'
							.input-group
								%span.input-group-addon.js-click-convertion-report
									<i class="fa fa-search" aria-hidden="true"></i>
								= f.text_field :click_id, placeholder: "Check Click Id", class: 'form-control js-click-id-convertion-value', required: true
						.col-xs-12.col-md-10.js-box-campaign-form
							= render 'admins/campaigns/box_change_report', f: f
			%br
			%br
			.js-box-campaign-form-change
			%br

:javascript
	$(document).ready(function() {
		$(document).on('click', '.js-onclick-add', function(){
			$('.js-form-submit').trigger('submit.rails');
		});
		$(document).on('change', '.js-onchange-group', function(){
			$('.js-form-submit').trigger('submit.rails');
			$(".spinner-load").show();
		});
	});