= render "shared/admin/breadcrumbs"
	
%section.content.full-page
	.row
		.col-xs-12
			.box.box-m
				.box-header
					%h3.box-title
						Data Convertion Report
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_reports_path, class: "btn btn-info btn-xs"
					%hr
				.box-body
					= render "detail_report"

		.col-xs-12
			.exTab
				%ul.nav.nav-tabs
					%li.active
						%a{"data-toggle" => "tab", :href => "#1"} Report Items
					%li
						%a{"data-toggle" => "tab", :href => "#2"} Activities
				.tab-content.background-white
					#1.tab-pane.active
						= form_for :multiple, url: multiple_action_admins_reports_path, method: 'get' do
							= link_to edit_admins_report_path(@report), class: 'btn btn-info btn-sm pull-right' do
								%i.fa.fa-wrench
								&nbsp; Edit Report Item
							= submit_tag ReportItem::APPROVED, value: ReportItem::APPROVED, class: 'btn btn-sm btn-default no-radius no-border-right'
							= submit_tag ReportItem::PENDING, value: ReportItem::PENDING, class: 'btn btn-sm btn-default no-radius no-border-right'
							= submit_tag ReportItem::REJECT, value: ReportItem::REJECT, class: 'btn btn-sm btn-default no-radius'
							#table-list-report-items
								= render 'admins/reports/list_report_items'
					#2.tab-pane
						#table-list-activities
							= render 'admins/reports/list_activities'

:javascript
	$('.responsive-tabel').doubleScroll();