$('#table-list-report-itemss').html("<%= escape_javascript render partial: 'list_report_items' %>");

<% if @activities.present? %>
  $('#table-list-activities').html("<%= escape_javascript render partial: 'list_activities', locals: {activities: @activities} %>");
<% end %>

$(document).ready(function() {
  $(".spinner-load").fadeOut(1000);
});
