#ModalNewReportCampaignSnapshot.modal.fade{:role => "dialog"}
	.modal-dialog.form-modal
		.modal-content
			.modal-header
				%button.close{"data-dismiss" => "modal", :type => "button"} ×
				%h4.modal-title New Report Campaign Snapshot
			.modal-body
				= form_for @report_campaign_snapshot, url: admins_report_campaign_snapshots_path, method: 'post', html: { multipart:true } do |f|
					= f.hidden_field :campaign_id, value: params[:id]
					.row
						.col-md-12
							.form-group
								= f.label :campaign_date
								= f.text_field :campaign_date, placeholder: "Select campaign date", class: 'form-control datepicker campaign_date_select', 'data-node' => "#{params[:id]}", required: true
						.col-md-4
							.form-group
								= f.label :impressions
								= f.text_field :impressions, placeholder: "Enter impressions", class: 'form-control', required: true
						.col-md-4
							.form-group
								= f.label :clicks
								= f.text_field :clicks, placeholder: "Enter clicks", class: 'form-control', required: true
						.col-md-4
							.form-group
								= f.label :visitors
								= f.text_field :visitors, placeholder: "Enter visitors", class: 'form-control', required: true
						.col-md-4
							.form-group
								= f.label :unique_visitors
								= f.text_field :unique_visitors, placeholder: "Enter unique visitors", class: 'form-control', required: true
						.col-md-4
							.form-group
								= f.label :sales
								= f.text_field :sales, placeholder: "Enter sales", class: 'form-control', required: true
						.col-md-4
							.form-group
								= f.label 'revenue ($)'
								= f.text_field :revenue, placeholder: "Enter revenue", class: 'form-control', required: true
					= submit_tag "Create", class: "btn btn-info"
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close