- if @_last_payment.present?
  .panel.panel-default.panel-next-payment
    .panel-heading
      .panel-title
        LAST PAYMENT
    .panel-body
      .panel-next-payment__title Payment Period
      .panel-next-payment__line
        %hr.margin-top
      .panel-next-payment__body
        .row
          .col-md-8
            Payment start at
          .col-md-4
            = date_sort_time(@_last_payment_start_at)
          .col-md-8
            Payment end at
          .col-md-4
            = date_sort_time(@_last_payment_end_at)
      %br
      .panel-next-payment__title Payment
      .panel-next-payment__line
        %hr.margin-top
      .panel-next-payment__body
        .row
          .col-md-8
            Earnings Publisher
          .col-md-4
            %b= get_currency(@_last_payment_pub)
          .col-md-8
            Fee AM
          .col-md-4
            %b= get_currency(@_last_payment_am)
          .col-md-8
            Fee Company
          .col-md-4
            %b= get_currency(@_last_payment_admin)
        %hr
        .row
          .col-md-8
            %b Total
          .col-md-4
            %b= get_currency(@_last_payment_all)

- if @_next_payment.present?
  .panel.panel-default.panel-next-payment
    .panel-heading
      .panel-title
        ONGOING PAYMENT
    .panel-body
      .panel-next-payment__title Payment Period
      .panel-next-payment__line
        %hr.margin-top
      .panel-next-payment__body
        .row
          .col-md-8
            Payment start at
          .col-md-4
            = date_sort_time(@_start_date_payment)
          .col-md-8
            Payment end at
          .col-md-4
            = date_sort_time(@date)
      %br
      .panel-next-payment__title Payment
      .panel-next-payment__line
        %hr.margin-top
      .panel-next-payment__body
        .row
          .col-md-8
            Earnings Publisher
          .col-md-4
            %b= get_currency(@_next_payment_pub)
          .col-md-8
            Fee AM
          .col-md-4
            %b= get_currency(@_next_payment_am)
          .col-md-8
            Fee Company
          .col-md-4
            %b= get_currency(@_next_payment_admin)
        %hr
        .row
          .col-md-8
            %b Total
          .col-md-4
            %b= get_currency(@_next_payment_all)