- if @last_payment_commision.present?
	.panel.panel-info.panel-next-payment
		.panel-heading
			.panel-title
				LAST PAYMENT COMMISION
		.panel-body
			.panel-next-payment__title Payment Commision Period
			.panel-next-payment__line
				%hr.margin-top
			.panel-next-payment__body
				.row
					.col-md-8
						Payment Commision start at
					.col-md-4
						= date_sort_time(@last_payment_commision_start_at)
					.col-md-8
						Payment Commision end at
					.col-md-4
						= date_sort_time(@last_payment_commision_end_at)
			%br
			.panel-next-payment__title Payment Commision
			.panel-next-payment__line
				%hr.margin-top
			.panel-next-payment__body
				.row
					.col-md-8
						Commisions Publisher
					.col-md-4
						%b= get_currency(@last_payment_commision)
					.col-md-8
						Fee AM
					.col-md-4
						%b= get_currency(@last_payment_commision_am)
				%hr
				.row
					.col-md-8
						%b Total
					.col-md-4
						%b= get_currency(@last_payment_commision_all)

- if @next_payment_commision.present?
	.panel.panel-info.panel-next-payment
		.panel-heading
			.panel-title
				ONGOING PAYMENT COMMISION
		.panel-body
			.panel-next-payment__title Payment Commision Period
			.panel-next-payment__line
				%hr.margin-top
			.panel-next-payment__body
				.row
					.col-md-8
						Payment Commision start at
					.col-md-4
						= date_sort_time(@start_date_payment_commision)
					.col-md-8
						Payment Commision end at
					.col-md-4
						= date_sort_time(@date)
			%br
			.panel-next-payment__title Payment Commision
			.panel-next-payment__line
				%hr.margin-top
			.panel-next-payment__body
				.row
					.col-md-8
						Commisions Publisher
					.col-md-4
						%b= get_currency(@next_payment_commision)
					.col-md-8
						Fee AM
					.col-md-4
						%b= get_currency(@next_payment_commision_am)
				%hr
				.row
					.col-md-8
						%b Total
					.col-md-4
						%b= get_currency(@next_payment_commision_all)