- if publishers.present?
	- publishers.each do |resource|
		.col-md-4.list-publisher{ id: "#{resource.id}" }
			.hpanel.hgreen.contact-panel
				.panel-body
					.row
						.col-md-12
							= image_tag resource.avatar, class: "img-circle m-b pull-left"
							= image_tag 'veryfied.png', class: "veryfied"
							%span.pull-left
								%h5.text-capital
									= resource.the_name?
									%br
									%small
										= resource.email
									%br
									.status-box
										%span.status
											= resource.status?

						.col-md-12
							.row
								.col-xs-12
									%p.text-capital
										%span Username :
										= resource.username
									%p.text-capital
										%span Address :
										= resource.profile.sort_place_info rescue '--'
									%p.text-capital
										%span Skype :
										= resource.skype
									%p.text-capital
										%span No Handphone :
										= resource.get_phone_number rescue '--'
									%p.text-capital
										%span No KTP :
										= resource.id_card rescue '--'
									%br
									= link_to "#{resource.foto_id_card}", target: "_blank", class: "lightboxgallery-gallery-item" do
										= image_tag resource.foto_id_card.url(:normal), class: "img-card-am m-b pull-left"
									= link_to "#{resource.selfi_id_card}", target: "_blank", class: "lightboxgallery-gallery-item" do
										= image_tag resource.selfi_id_card.url(:normal), class: "img-card-am m-b pull-left"
									%p
								.col-xs-12
									.join.pull-left Joined since 
									.pull-right 
										%small= get_datetime(resource.created_at)
									%br
									.join.pull-left Last sign in  
									.pull-right
										%small= resource.current_sign_in_at ? get_datetime(resource.current_sign_in_at) : get_datetime(resource.created_at)
						.col-md-12.button-link
							.col-xs-12
								.row
									- if resource.facebook_url.present?
										= link_to "<i class='fa fa-facebook'></i> &nbsp;<b>#{truncate(resource.facebook_url.split('.com/')[1], length: 50)}</b>".html_safe, resource.facebook_url, target: "_blank", class: "btn btn-primary btn-sm btn-block"
									- else
										.btn.btn-default.btn-sm.btn-block 
											%span{style: "color: #FF4D4D;"} Not yet fill the Facebook Url
							.col-xs-6
								.row
									= link_to "<i class='pe-7s-comment'></i> Message".html_safe, account_managers_publisher_path(resource), class: "btn btn-default btn-sm btn-block"
							.col-xs-6
								.row
									= link_to "<i class='pe-7s-graph2'></i> Reports".html_safe, detail_report_account_managers_publisher_path(resource), class: "btn btn-default btn-sm btn-block"
							.col-xs-6
								.row
									= link_to "Veryfied", account_managers_publisher_path(resource), class: "btn btn-default btn-sm btn-block"
							.col-xs-6
								.row.form-action
									.button-action
										- unless resource.suspended?
											%button.btn.btn-default.btn-sm.btn-block{"data-target" => "#mySuspendedForm-#{resource.id}", "data-toggle" => "modal", :type => "button"} 
												<b><i class='pe-7s-attention'></i> Suspend This Publisher</b>
										- else
											= form_for resource, url: '', method: 'put', html: { class: 'suspended-publisher', data: {url: suspended_account_managers_publisher_path(resource.id)}} do |f|
												= f.hidden_field :suspended, value: false
												= button_tag "<b><i class='fa fa-check'></i> Reactivate</b>".html_safe, type: "sumbit", class: 'btn btn-sm btn-default btn-block'

				.panel-footer.contact-footer
					.row
						.col-xs-6.border-right
							.contact-stat
								%span Campaigns:
								%strong= resource.campaigns.count
						.col-xs-6
							.contact-stat
								%span Payments:
								%strong= resource.payment_snapshots.count

				= render "account_managers/publishers/modal_form_suspended", resource: resource

	.col-md-12
		= paginate publishers, remote: true, param_name: 'publishers_list'
		%br
- else
	.col-md-12
		.hpanel
			.panel-body
				= render "shared/empty_blank"
