- if @publishers_waiting.present?
	.list-group-coverages
		.pull-right
			= form_for :search, url: account_managers_publishers_path, method: 'get', html: {class: 'form-search', remote: true} do
				.input-group.list-group-coverages__searching-publisher
					.col-md-6.no-padding.mobile-searching
						= select_tag :verify_email, options_for_select(Publisher::VERIFY_EMAIL, params[:verify_email]), prompt: 'Select email status', class: 'form-control'
					.col-md-6.no-padding.mobile-searching
						= text_field_tag :key2, params[:key2], class: 'form-control radius-left', placeholder: 'Keywords'
					%span.input-group-btn.mobile-searching
						= submit_tag :Search, class: 'btn btn-primary'
			%br
			%br
		%ul.nav.nav-tabs
			%li.active
				%a{"data-toggle" => "tab", :href => "#tab-1"} Waiting to Approve (<span class='total-publishers-waiting'>#{@publishers_waiting_all.count}</span>)
		.tab-content.background-white
			#tab-1.tab-pane.active
				.hpanel
					.panel-body
						#lists-publishers-waiting
							= render 'account_managers/publishers/row_publisher_referral', publishers_waiting: @publishers_waiting
- else
	.hpanel
		.panel-body
			= render "shared/empty_blank"