.modal.fade.modal-forum{:role => "dialog", id: "mySuspendedForm-#{resource.id}"}
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				%button.close{"data-dismiss" => "modal", :type => "button"} ×
				%h4.modal-title Form Suspended #{resource.username}
			.modal-body
				.hpanel
					.form-suspended-box
						= form_for resource, url: '', method: 'put', html: { class: 'suspended-publisher', data: {url: suspended_account_managers_publisher_path(resource.id)}} do |f|
							= f.text_area :suspended_message, placeholder: "Suspended Message", size: "10x4", class: "form-control", autofocus: true, required: true
							%br
							= f.hidden_field :suspended, value: true
							= button_tag "<i class='pe-7s-attention'></i> Suspend This Publisher".html_safe, type: "sumbit", class: 'btn btn-sm btn-danger btn-block'