.modal.fade.modal-forum{:role => "dialog", id: "myReferrals"}
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				%button.close{"data-dismiss" => "modal", :type => "button"} ×
				%h4.modal-title List Publishers Waiting to Approve
			.modal-body
				.hpanel
					= render "account_managers/publishers/lists_publishers_referral"
					