- if publishers_waiting.present?
  .row
    - publishers_waiting.each do |resource|
      .col-md-12
        .list-group-coverages__info
          .avatar
            = image_tag resource.avatar.url(:thumb)
          .detail
            .user-entity
              = "<b>#{resource.username.titleize}</b>".html_safe
              %br
              %small
                = link_to resource.email, account_managers_publisher_path(resource)
              %br
              %small
                = "Joined since : #{get_datetime(resource.created_at)}"
                %br
              %small
                = "No KTP : #{resource.id_card}"
              %br
              .image-card-request
                = link_to "#{resource.foto_id_card}", target: "_blank", class: "lightboxgallery-gallery-item" do
                  = image_tag resource.foto_id_card.url(:normal), class: "img-card-am m-b pull-left"
                = link_to "#{resource.selfi_id_card}", target: "_blank", class: "lightboxgallery-gallery-item" do
                  = image_tag resource.selfi_id_card.url(:normal), class: "img-card-am m-b pull-left"
              %small
                - if resource.facebook_url.present?
                  = link_to "<i class='fa fa-facebook-official text-primary' aria-hidden='true'></i> &nbsp; #{truncate(resource.facebook_url.split('.com/')[1], length: 50)}".html_safe, resource.facebook_url, target: "_blank"
                - else
                  Not yet fill the Facebook Url
                &nbsp; | &nbsp;
                %i.fa.fa-skype.text-primary &nbsp;
                = resource.skype
                &nbsp; | &nbsp; 
                %i.fa.fa-phone.text-primary &nbsp;
                = resource.phone
            .status-section
              .status= resource.status?

          .action
            - if resource.waiting_to_active?
              = form_for resource, url: '', method: 'put', html: { class: 'change-status-publisher', data: {url: change_status_account_managers_publisher_path(resource.id)}} do |f|
                = button_tag "<i class='fa fa-check'></i> Active".html_safe, type: "sumbit", class: 'btn btn-xs btn-primary'
        %hr
    .col-md-12
      = paginate publishers_waiting, remote: true, param_name: 'publishers_waiting'
- else
  = render "shared/empty_blank"