/ Main Wrapper
#wrapper.content-detail-campaign-publisher.content-dashboard
  .normalheader.small-header
    .hpanel
      .panel-body.responsive-title-page
        %a.small-header-action{:href => ""}
          .clip-header
            %i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
          %ol.breadcrumb.hbreadcrumb
            = render_breadcrumbs :tag => :li, :separator => ""
        %h2.font-light.m-b-xs
          %b #{@publisher.username.titleize} Report Campaigns
        %p This report is all #{@publisher.username.titleize}'s belongs
  %br
  .content.animate-panel
    .row
      = render 'shared/analytics/cgaward'
      .col-md-6.col-xs-12.responsive-panel-quick-date
        .count-total.responsive-panel
          .hpanel.responsive-hpanel
            .panel-body.quick-date
              .row
                .col-xs-12.dashboard-earning
                  %h3
                    My Estimated Earnings 
                .col-xs-9
                  .row
                    .col-xs-3
                      %h4.text-success
                        = get_currency(@earning_today_so_far_am)
                      %small Today so far    
                    .col-xs-3
                      %h4.text-success
                        = get_currency(@earning_yesterday_am)
                      %small Yesterday
                    .col-xs-3
                      %h4.text-success
                        = get_currency(@earning_last_7_month_am)
                      %small Last 7 days
                    .col-xs-3
                      %h4.text-success
                        = get_currency(@earning_this_month_am)
                      %small This month
                .col-xs-3
                  .text-right 
                    %h4.text-success
                      = get_currency(@_last_payment_am)
                    %small Last Payment

      .col-md-6.col-xs-12.responsive-panel-quick-date
        .count-total.responsive-panel
          .hpanel.responsive-hpanel
            .panel-body.quick-date
              .row
                .col-xs-12.dashboard-earning
                  %h3
                    Estimated Earnings My Publishers
                .col-xs-9
                  .row
                    .col-xs-3
                      %h4.text-success
                        = get_currency(@earning_today_so_far)
                      %small Today so far    
                    .col-xs-3
                      %h4.text-success
                        = get_currency(@earning_yesterday)
                      %small Yesterday
                    .col-xs-3
                      %h4.text-success
                        = get_currency(@earning_last_7_month)
                      %small Last 7 days
                    .col-xs-3
                      %h4.text-success
                        = get_currency(@earning_this_month)
                      %small This month
                .col-xs-3
                  .text-right 
                    %h4.text-success 
                      = get_currency(@_last_payment)
                    %small Last Payment

      .col-md-12.m-t-md.content-campaign.responsive-panel-full       
        .hpanel
          %ul.nav.nav-tabs
            %li
              %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab-1"} 
                %i.fa.fa-table
                &nbsp; Reports Convertion
            %li.active
              %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab-2"} 
                %i.fa.fa-line-chart
                &nbsp; Analytic Campaign

          = form_for :select_date, url: detail_report_account_managers_publisher_path(@publisher), method: 'get', remote: true, html: {class: 'js-form-submit'} do
            .tab-content
              #tab-1.tab-pane
                .panel-body
                  #table-list-report_campaign_snapshots
                    = render 'publishers/campaigns/am_list_report_campaign_snapshots', report_campaign_snapshots: @report_campaign_snapshots, report_for: 'publisher'

              #tab-2.tab-pane.active
                .panel-body.responsive-panel-analytic.bg-offers
                  .row.responsive-row-analytic
                    .col-xs-6
                      .btn-group.pull-left.btn-chart.real-time-publisher
                        %label.btn.no-border-radius.btn-default.real-time{"data-toggle": "tooltip", "data-placement": "top", title: "On/Off Real-Time Report"}
                          %input.real-time-on{:autocomplete => "on", :checked => "checked", :type => "checkbox"}/
                          %i.fa.fa-circle.text-red
                          &nbsp; Real-Time
                      .simple-search
                        .input-group.js-field-search
                          = render 'shared/analytics/field_search'
                    .col-xs-6
                      #btn-group-analytic
                        = render 'admins/campaigns/btn_group_analytic'
                    .col-xs-12
                      .btn-group.pull-right.btn-chart
                        %button.btn.btn-default.btn-total-revenue
                          Total Revenue Publisher :
                          %span.total-revenue #{get_currency(@reports_total_revenue)}
                    .col-xs-12
                      #the-report-analytics
                        = render "publishers/shared/analytic", report_for: 'publisher_am'
                      
  = render 'publishers/shared/footer'