$('.js-total-collection').html("<%= @publishers.total_count %>");
$('.total-publishers-waiting').html("<%= @publishers_waiting_all.count %>");
$('#table-lists').html("<%= escape_javascript render partial: 'lists', locals: {publishers: @publishers} %>");
$('#lists-publishers-waiting').html("<%= escape_javascript render partial: 'account_managers/publishers/row_publisher_referral', locals: {publishers_waiting: @publishers_waiting} %>");
$('.js-button-export').html("<%= escape_javascript render partial: 'shared/admin/button_export' %>");