/ Main Wrapper
#wrapper.edit-profile-publisher.content-dashboard
	.normalheader.small-header
		.hpanel
			.panel-body
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b My Publishers (<span class='js-total-collection'>#{@publishers.total_count}</span>)
				%p You can communicate with your publishers!

	.content
		.row
			= form_for :search, url: account_managers_publishers_path, method: 'get', html: {class: 'form-search', remote: true} do
				.col-xs-12
					.row
						.col-md-2
							.form-group
								%button.btn.btn-default.btn-block{"data-target" => "#myReferrals", "data-toggle" => "modal", :type => "button"} 
									<i class="pe-7s-users"></i> &nbsp; REQUESTS (#{@publishers_waiting_all.count})
						.col-md-7
							.form-group
								= text_field_tag :key, params[:key], class: 'form-control', placeholder: 'Keywords (username or email)'
						.col-md-3
							.form-group
								= select_tag :search_order, options_for_select(Publisher::SEARCH_ORDER, params[:search_order]), prompt: 'Select Search Order', class: 'form-control'
						.col-md-2
							.form-group
								= select_tag :suspended, options_for_select(Publisher::STATUS_SUSPENDED, params[:suspended]), prompt: 'Select Status', class: 'form-control'
						.col-md-2
							.form-group
								= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
						.col-md-2
							.form-group
								= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
						.col-md-2
							.form-group
								%span.input-group-btn
								= submit_tag :Search, class: 'btn btn-primary'
						.col-md-2
							.form-group
								.js-button-export
									= render "shared/admin/button_export"
						.col-md-2
							.form-group
								%button.btn.btn-primary.btn-block.pull-right.btn-message-box{"data-target" => "#blast-message", "data-toggle" => "modal", :type => "button"} 
									<i class="pe-7s-paper-plane"></i> &nbsp; Send Message
			.col-xs-12
				.row
					#table-lists
						= render 'account_managers/publishers/lists', publishers: @publishers

	.content-footer
	= render 'publishers/shared/footer'
	= render 'account_managers/publishers/modal_blast_message'
	= render "account_managers/publishers/modal_publishers_referral"