<table border="1">
  <caption>LIST PUBLISHERS</caption>
  <tr>
    <th>No</th>
    <th>Username</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Skype</th>
    <th>Address</th>
    <th>Status</th>
    <th>Payment Method</th>
    <th>Payment ACC</th>
    <th>Created at</th>
    <th>Campaigns</th>
    <th>Payments</th>
  </tr>
  <% @total_publishers.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:username) %></td>
    <td><%= resource.try(:email) %></td>
    <td><%= resource.try(:phone) %></td>
    <td><%= resource.try(:skype) %></td>
    <td><%= resource.try(:profile).place_info %></td>
    <td><%= resource.status? %></td>
    <td><%= resource.profile.get_payment_type %></td>
    <td><%= resource.profile.payment_acc %></td>
    <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
    <td><%= resource.campaigns.count %></td>
    <td><%= resource.payment_snapshots.count %></td>
  </tr>
  <% end %>
</table>