/ Main Wrapper
#wrapper.edit-profile-publisher.content-dashboard
	.normalheader.small-header
		.hpanel
			.panel-body
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b Message Your Publisher
				%p You can communicate with your publisher #{@publisher.email}

	.content.responsive-panel-full
		.row
			.col-md-4
				.hpanel.hgreen
					.panel-body
						.row
							.user-bg
								= image_tag "11.png", width: "100%"
								.user-content
									= image_tag @publisher.avatar, class: "thumb-lg img-circle"
									%h5.text-white.text-uppercase
										= @publisher.profile.full_name  rescue @publisher.username
									%h6.text-white 
										= @publisher.email
								.overlay-box
							
							.col-md-12
								%address
									- if @publisher.profile.full_name.present?
										Fullname :
										%br
										%strong
											= @publisher.profile.full_name
										%br
										%br
									Email :
									%br
									%strong
										= @publisher.email || '--'
									%br
									%br
									Mobile Phone :
									%br
									%strong
										= @publisher.phone || '--'
								%address
									- if @publisher.skype.present?
										Skype :
										%br
										%strong
											= @publisher.skype || '--'
										%br
										%br
									- if @publisher.facebook_url.present?
										Facebook Url :
										%br
										%strong
											= link_to @publisher.facebook_url, @publisher.facebook_url, target: "_blank" 
										%br
										%br
									- if @profile.place_info.present?
										Address :
										%br
										%strong
										= @profile.place_info rescue '--'
							
					.panel-footer.contact-footer
						.row
							.col-xs-6.border-right
								.contact-stat
									%span Campaigns:
									%strong #{@publisher.campaigns.count}
							.col-xs-6
								.contact-stat
									%span Payments:
									%strong #{@publisher.payment_snapshots.count}
			.col-md-8
				.hpanel.chat
					.panel-heading.hbuilt
						Message Your Publisher <b>#{@publisher.username}</b>
					.panel-body.no-padding.body-chat
						.row
							.col-md-12
								.chat-discussion
									= render 'account_managers/shared/chat', messages: @publisher_messages
					.panel-footer.borders
						= form_for :message, url: account_managers_messages_path, method: 'post', remote: true do |f|
							- if @group_message.present?
								= hidden_field_tag :group_message_id, @group_message.id 
								= hidden_field_tag :send_to, @publisher.id 
							.input-group
								= text_field_tag :message, nil, class: 'form-control input-chat', placeholder: 'write your message here ...', required: true, autocomplete: 'off', autofocus: true
								%span.input-group-btn
									= submit_tag :send, class: 'btn btn-success'

	.content-footer
	= render 'publishers/shared/footer'