#page-top.slider-aboutus
  .container.content-slider
    .heading
      %h1.text-center.tittle-aboutus
        %span Hello. &nbsp;
        | &nbsp;
        You Want To Know
        %span.text-greenlow How It Works?
%br
= render 'home/shareds/how_it_works'
= render 'home/shareds/footer'