- path_messages = current_user.is_publisher? ? publishers_messages_path : account_managers_messages_path
#wrapper.load-more-scroll.content-dashboard.responsive-activities
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b History Messages (<span class='js-total-collection'>#{@total_collection}</span>)
				%p List history messages

	.content.animate-panel
		.row
			.col-lg-12.content-campaign.responsive-content-activities
				.hpanel
					/ .panel-body.responsive-form-search
					/   = form_for :search, url: path_messages, method: 'get', html: {class: 'form-search', remote: true} do
					/     .col-md-4.no-padding
					/       = text_field_tag :key, params[:key], class: 'form-control no-border-radius', placeholder: 'Keywords'
					/     .col-md-3.no-padding
					/       = text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker no-border-radius', placeholder: 'Start At'
					/     .col-md-3.no-padding
					/       = text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker no-border-radius', placeholder: 'End At'
					/     .col-md-2.no-padding
					/       = submit_tag :Search, class: 'btn btn-primary no-border-radius btn-block'
					.col-md-6.col-md-offset-3
						- if current_user.is_account_manager?
							%button.btn.btn-primary.pull-right{"data-target" => "#blast-message", "data-toggle" => "modal", :type => "button"} 
								<i class="pe-7s-pen"></i> &nbsp; Send Message
						.hpanel.responsive-panel-activities
							= link_to '+ Send New Message'.html_safe, publishers_managers_path, class: 'btn btn-primary' if current_user.is_publisher?
							.v-timeline.vertical-container.animate-panel{"data-child" => "vertical-timeline-block", "data-delay" => "1"}
								%section
									.infinitescroll-page
										.hpanel.forum-box.js-forum-box.responsive-forum-box
											- if current_user.is_publisher?
												= render partial: "publishers/messages/lists", object: @messages
											- else
												= render partial: "account_managers/messages/lists", object: @messages
									.pagination
										= link_to_next_page(@messages, 'LOADING MORE', remote: true, class: 'btn btn-default btn-more') unless current_user.is_admin?

	= render 'publishers/shared/footer'