- if @messages.present?
	- @messages.each do |resource|
		- link_path = current_user.is_publisher? ? publishers_managers_path : click_message_account_managers_publisher_path(resource.user.id, message_id: resource.id)
		.vertical-timeline-block
			= link_to link_path do
				.vertical-timeline-icon.navy-bg
					= image_tag resource.user.avatar, class: "img-circle", width: "40", height: "40"
				.vertical-timeline-content.responsive-timeline-content
					.p-sm
						= message_status(resource.status)
						= resource.message
					.panel-footer.date-messages
						.row
							.col-md-12
								%small.pull-left
									%b
										= resource.user.username.titleize
								%small.pull-right
									= get_datetime(resource.created_at)

	= paginate @messages, remote: true if current_user.is_admin?
- else
	= render "shared/empty_blank"