$('.chat-discussion').html("<%= escape_javascript render partial: 'publishers/shared/chat', locals: {messages: @messages} %>");
$('.input-chat').val('');
var charFromBottom = $('.chat-discussion');
charFromBottom[0].scrollTop = charFromBottom[0].scrollHeight;