#page-top.slider-aboutus
  .container.content-slider
    .heading
      %h1.text-center.tittle-aboutus
        %span Hello. &nbsp;
        | &nbsp;
        You want to know
        %span.text-greenlow about us?
%br
%section.about-us
  .triangle-left
  .triangle-left1
  .container
    .description-aboutus
      .col-md-12.content-description
        .row
          .col-md-5
            .about-title1
              %br
              %h2.text-green
                About
                %br
                %span.font-bold
                  CPAGROUND
            .line-image
            .line-image-jpg
              = image_tag "aboutus-img1.jpg", class: "img-about-us"
          .col-md-7
            .about-title
              %br
              %h2.text-green
                About
                %br
                %span.font-bold
                  CPAGROUND
            .description
              %p
                %span.text-semi-bold CPAGROUND
                is place of association of performance digital marketing, and have extensive experience with advertising and product development. CPAGround is owned by Ultiface Selamet Nugraha.
              %p
                CPAGround offers unlimited earnings potential to affiliates with tools and resources that allow them to turn traffic into more revenue.
              %p
                Affiliates can sign in to their accounts from desktop or mobile and get instant access to live statistics, or breakdown by keyword, campaign, country, and more. 
              %p
                A self-serve ad exchange that provides solutions for advertisers to buy traffic and for publishers to generate revenue. We provide a platform that helps advertisers enhance their reach and create highly effective, targeted campaigns on global traffic sources.
              %p
                Publishers enjoy the simplicity of a code that they place on their site in order to generate revenue from creating content.
          
      .col-md-12.offer-aboutus 

        %h2.text-semi-bold.text-green Specializing in the full spectrum of offers:
        %p
          Cost-Per-Acquisition, App Installs, Trial campaigns. Our artistry with consistency, creativity, innovation has allowed us to grow globally.
        .bg-aboutus
          / .col-md-6
          /   .photo-about
          /     = image_tag "aboutus-img.jpg", class: "img-about"
          /     .title-about
          /       %h2.text-green
          /         ABOUT
          /         %span.font-bold
          /           CPAGROUND
          /         / %span - Our Story
          / .col-md-6
            
          /   %p
          /     %span.text-semi-bold CPAGROUND
          /     is place of association of performance digital marketing, and have extensive experience with advertising and product development. 
          /     %br
          /     %br
              
          /     CPAGround offers unlimited earnings potential to affiliates with tools and resources that allow them to turn traffic into more revenue.
          /     %br
          /     %br
          /     Affiliates can sign in to their accounts from desktop or mobile and get instant access to live statistics, or breakdown by keyword, campaign, country, and more.
          /     %br
          /     %br
          /     A self-serve ad exchange that provides solutions for advertisers to buy traffic and for publishers to generate revenue. We provide a platform that helps advertisers enhance their reach and create highly effective, targeted campaigns on global traffic sources. Publishers enjoy the simplicity of a code that they place on their site in order to generate revenue from creating content.
          /     %br
          /     %br
          /     %span.text-semi-bold Specializing in the full spectrum of offers:
          /     Cost-Per-Acquisition, App Installs, Trial campaigns. Our artistry with consistency, creativity, innovation has allowed us to grow globally.
          /     / Join the first CPA Affiliate Network
          /     / Find local and International deals.
      .col-md-12.what-is-publisher
        .row
          .col-md-7.description-publisher
            = image_tag "publisher-img.png", class: "img-publisher img-publisher-mobile"
            %h2 
              What Is 
              %b Publisher
            %p A publisher is a person who is willing to promote a product or service from a product owner who has worked with an online service called Advertiser. Publisher and Advertiser both use online media that is website.
            %p Publisher is you who have a blog / website and willing to advertise. These ads come from advertisers already available, the form of advertising can be a banner, text links or custom links.
            %p Publisher is entitled to a commission of transactions that occur through their affiliate link in accordance with the agreed upon. Publisher in this case can be individual (individual) or company.
          .col-md-5
            = image_tag "publisher-img.png", class: "img-publisher img-publisher-desktop"
      / .col-md-12.content-description
      /   .row
      /     .col-md-4
      /       %h3
      /         Who We Are
      /       %p A small team of a very talented people with digital marketing roots as far back as the 90's. Individually good and collectively great!
      /     .col-md-4
      /       %h3
      /         What We Do
      /       %p Produce a quality marketing application to make it easier for agencies to run their business and provide reports to their clients.
      /     .col-md-4
      /       %h3
      /         Why We Do It
      /       %p Passion and love for developing. We are obsess over every detail. From making the user interface easy to providing the latest marketing data.
  .triangle-right
.aboutus-page
  .user
    .user-aboutus
      .container.content-slider
        .heading
          %h1.text-center.tittle-aboutus
            Join the first CPA Affiliate Network
            %br
            %small.text-white
              Find local and International deals.
          %br
          = link_to "SIGN UP AS PUBLISHER", new_user_registration_path, class: "btn btn-border"
%br
%br
/ = render 'home/shareds/team'
= render 'home/shareds/footer'