%section.invoice
	.row
		.col-md-12
			%h2.page-header
				%i.fa.fa-globe
				= @payment.code
				%small.date-invoice.pull-right Date: #{get_datetime(@payment.created_at)}
	.row.invoice-info
		.col-md-4.invoice-col
			From
			%address
				%strong CPAGROUND
				%br
				%b= @payment.from_acc.present? ? @payment.from_acc : "-"
		.col-md-4.invoice-col
			To
			%address
				%strong= @payment.account_manager.username
				%br
				Email: #{@payment.account_manager.email}
				%br
				Phone: #{@payment.account_manager.phone}
		.col-md-4.invoice-col
			Address
			%br
			= @payment.account_manager.profile_account_manager.place_info
	.row
		.col-md-12
			%table.table.table-striped.table-bordered
				%thead
					%tr
						%th Description
						%th Payment To
						%th Status
						%th Amount
				%tbody
					%tr
						%td 
							Payment for period #{date_sort_time(@payment.payment_at)} - #{date_sort_time(@payment.payment_end)}
						%td 
							= @payment.to_acc.present? ? @payment.to_acc : '-'
						%td{width: '20%'}
							= @payment.status?
						%td{width: '20%'}
							= get_currency_full(@payment.fee_am)