%a.dropdown-toggle.label-menu-corner.menu-icon{"data-toggle" => "dropdown", :href => "#"}
	%i.pe-7s-chat
	%span.label.label-success #{@latest_messages.unread.count}
%ul.dropdown-menu.hdropdown.animated.responsive-dropdown-menu-icon.flipInX
	- @latest_messages.limit(5).each do |m|
		= m.has_readed?
		= link_to publishers_managers_path do
			%b
				= m.user.username.titleize
			%small 
				<i class="pe-7s-timer"></i> sent #{time_to_ago(m.created_at)}
			%p
				= truncate(m.message, :length => 40)
	%li.summary
		%span{ style: "color: #9d9fa2"}
			/ Messages (#{@latest_messages.count})
			/ %br
			= link_to "See history messages (#{@latest_messages.unread.count})", publishers_messages_path