#right-sidebar.animated.fadeInRight.responsive-right-sidebar
  .p-m
    %button#sidebar-close.right-sidebar-toggle.sidebar-button.btn.btn-default.m-b-md
      %i.pe.pe-7s-close

  - if @invoice_payments.present?
    .p-m.bg-light.border-bottom.border-top
      %span.font-bold.no-margins Latest Payment Invoice
      %br
    .p-m
      - @invoice_payments.each do |p|
        %span.font-bold.no-margins  ##{p.code} #{p.status?}
        .m-t-xs
          .row
            .col-xs-12
              %h4.m-t-xs
                = get_currency(p.price)
                %i.fa.fa-level-up.text-success
              %small For #{date_sort_time(p.payment_at)} - #{date_sort_time(p.payment_end)} 
        %hr


