%aside#menu.menu-publisher
	#navigation
		.profile-picture
			= link_to edit_publishers_profile_path(current_user) do
				= image_tag current_user.avatar, class: "img-circle m-b"
			.stats-label.text-color
				%span.font-extra-bold.font-uppercase
					= @publisher.profile.first_name ? "#{@publisher.profile.first_name} #{@publisher.profile.last_name}" : current_user.username
				.dropdown
					%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
						%small.text-muted
							Settings
							%b.caret
					%ul.dropdown-menu.animated.flipInX.m-t-xs
						%li
							= link_to 'Dashboard', publishers_dashboards_path
						%li
							= link_to 'Setting Profile', edit_publishers_profile_path(current_user)
						- unless current_user.is_subscriber?
							%li
								= link_to 'Subscribe', subscribe_subscribers_path(email: current_user.email)
						- else
							%li
								= link_to 'Unsubscribe', unsubscribe_subscribers_path(email: current_user.email)
						%li.divider
						%li
							= link_to 'Logout', destroy_user_session_path, method: :delete
				%div
					%h4.font-extra-bold.m-b-xs
						= "#{get_currency(get_payment('ongoing_payment', current_user))}"
					%small.text-muted Ongoing Payment
		%ul#side-menu.nav.ul-menu
			%li{class: "#{active_sidebar?(:dashboards, :index)}"}
				= link_to publishers_dashboards_path do
					%i.pe-7s-global
					&nbsp;
					%span.nav-label Dashboard
			%li{class: "#{active_sidebar?(:reports, :all)}"}
				%a{href: "#"}
					%span.nav-label <i class="pe-7s-menu"></i> &nbsp; Reports
					%span.fa.arrow
				%ul.nav.nav-second-level
					- link_performance_reports = publishers_reports_path(status: "visited")
					- link_convertion_reports = publishers_reports_path(status: "convertion")
					%li{class: "#{active_sidebar_params?(link_performance_reports, :all)}"}
						= link_to link_performance_reports do
							%i.pe-7s-way
							&nbsp;
							%span.nav-label Performance Reports
					%li{class: "#{active_sidebar_params?(link_convertion_reports, :all)}"}
						= link_to link_convertion_reports do
							%i.pe-7s-way
							&nbsp;
							%span.nav-label Convertion Reports
			- if @publisher.have_link_referral?
				%li{class: "#{active_sidebar?(:referral_publishers, :all)} #{active_sidebar?(:commisions, :all)} #{active_sidebar?(:payment_commisions, :all)} #{active_sidebar?(:offer_commisions, :all)}"}
					%a{href: "#"}
						%span.nav-label <i class="pe-7s-share"></i> &nbsp; Referrals
						%span.fa.arrow
					%ul.nav.nav-second-level
						%li{class: "#{active_sidebar?(:referral_publishers, :all)}"}
							= link_to publishers_referral_publishers_path do
								%i.pe-7s-users
								&nbsp;
								%span.nav-label List Referrals
						%li{class: "#{active_sidebar?(:offer_commisions, :all)}"}
							= link_to publishers_offer_commisions_path do
								%i.pe-7s-note2
								&nbsp;
								%span.nav-label Offer Commisions
						%li{class: "#{active_sidebar?(:commisions, :all)}"}
							= link_to publishers_commisions_path do
								%i.pe-7s-way
								&nbsp;
								%span.nav-label Commisions
						%li{class: "#{active_sidebar?(:payment_commisions, :all)}"}
							= link_to publishers_payment_commisions_path do
								%i.pe-7s-cash
								&nbsp;
								%span.nav-label Payment Commisions
			%li{class: "#{active_sidebar?(:offers, :all)}"}
				%a{href: "#"}
					%span.nav-label <i class="pe-7s-portfolio"></i> &nbsp; Offers
					%span.fa.arrow
				%ul.nav.nav-second-level
					- link_offer_cpa = publishers_offers_path(action_offer: "CPA")
					- link_offer_cpi = publishers_offers_path(action_offer: "CPI")
					- link_offer_cps = publishers_offers_path(action_offer: "CPS")
					%li{class: "#{active_sidebar_params?(link_offer_cpa, :all)}"}
						= link_to link_offer_cpa do
							%i.pe-7s-way
							&nbsp;
							%span.nav-label Offers CPA
					%li{class: "#{active_sidebar_params?(link_offer_cpi, :all)}"}
						= link_to link_offer_cpi do
							%i.pe-7s-way
							&nbsp;
							%span.nav-label Offers CPI
					%li{class: "#{active_sidebar_params?(link_offer_cps, :all)}"}
						= link_to link_offer_cps do
							%i.pe-7s-way
							&nbsp;
							%span.nav-label Offers CPS
			%li{class: "#{active_sidebar?(:campaigns, :all)}"}
				%a{href: "#"}
					%span.nav-label <i class="pe-7s-speaker"></i> &nbsp; Campaigns
					%span.fa.arrow
				%ul.nav.nav-second-level
					- link_campaign_cpa = publishers_campaigns_path(action_offer: "CPA")
					- link_campaign_cpi = publishers_campaigns_path(action_offer: "CPI")
					- link_campaign_cps = publishers_campaigns_path(action_offer: "CPS")
					%li{class: "#{active_sidebar_params?(link_campaign_cpa, :all)}"}
						= link_to link_campaign_cpa do
							%i.pe-7s-speaker
							&nbsp;
							%span.nav-label Campaigns CPA
					%li{class: "#{active_sidebar_params?(link_campaign_cpi, :all)}"}
						= link_to link_campaign_cpi do
							%i.pe-7s-speaker
							&nbsp;
							%span.nav-label Campaigns CPI
					%li{class: "#{active_sidebar_params?(link_campaign_cps, :all)}"}
						= link_to link_campaign_cps do
							%i.pe-7s-speaker
							&nbsp;
							%span.nav-label Campaigns CPS
			%li{class: "#{active_sidebar?(:request_landing_pages, :all)}"}
				%a{href: "#"}
					%span.nav-label <i class="pe-7s-tools"></i> &nbsp; Tools
					%span.fa.arrow
				%ul.nav.nav-second-level
					%li{class: "#{active_sidebar?(:request_landing_pages, :download_lp)}"}
						= link_to download_lp_publishers_request_landing_pages_path do
							%i.pe-7s-airplay
							&nbsp;
							%span.nav-label Download LP FREE
					- unless @publisher.request_landing_pages.blank?				
						%li{class: "#{active_sidebar?(:request_landing_pages, :index)} || #{active_sidebar?(:request_landing_pages, :show)}"}
							= link_to publishers_request_landing_pages_path do
								%i.pe-7s-airplay
								&nbsp;
								%span.nav-label Landing Page
			%li{class: "#{active_sidebar?(:managers, :index)}"}
				= link_to publishers_managers_path do
					%i.pe-7s-id
					&nbsp;
					%span.nav-label Manager
			%li{class: "#{active_sidebar?(:forums, :all)} #{active_sidebar?(:groups, :all)}"}
				= link_to 'https://www.facebook.com/groups/cpaground/', target: '_blank' do
					%i.pe-7s-comment
					&nbsp;
					%span.nav-label Forum
			%li{class: "#{active_sidebar?(:blogs, :all)}"}
				= link_to publishers_blogs_path do
					%i.pe-7s-video
					&nbsp;
					%span.nav-label Blogs
			%li{class: "#{active_sidebar?(:payments, :all)}"}
				= link_to publishers_payments_path do
					%i.pe-7s-cash
					&nbsp;
					%span.nav-label Payments
			%li{class: "#{active_sidebar?(:activities, :all)}"}
				= link_to publishers_activities_path do
					%i.pe-7s-timer
					&nbsp;
					%span.nav-label Activities
			%li{class: "#{active_sidebar?(:activities, :all)}"}
				= link_to edit_publishers_profile_path(current_user) do
					%i.pe-7s-user
					&nbsp;
					%span.nav-label Setting Profile
			%li.last-menu
				= button_to destroy_user_session_path, method: :delete do
					%i.pe-7s-back
					&nbsp;
					%span.nav-label Sign Out