$('.js-total-collection').html("<%= @total_collection %>");
$("<%=j render(partial: 'publishers/notifications/lists', object: @notifications) %>").appendTo($(".infinitescroll-page .js-forum-box"));
$('.pagination').html("<%=j link_to_next_page(@notifications, 'LOADING MORE', remote: true, class: 'btn btn-default btn-more') %>");