.normalheader.small-header
  .hpanel
    .panel-body.responsive-title-page
      %a.small-header-action{:href => ""}
        .clip-header
          %i.fa.fa-arrow-up
      #hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
        %ol.breadcrumb.hbreadcrumb
          = render_breadcrumbs :tag => :li, :separator => ""
      %h2.font-light.m-b-xs
        %b Payments (<span class='js-total-collection'>#{@payments.total_count}</span>)
      %p All incoming payment 
