- path_search = current_user.is_publisher? ? publishers_payments_path : account_managers_payments_path
.hpanel.mobile-publisher
  .panel-body.responsive-form-search
    = form_for :search, url: path_search, method: 'get', html: {class: 'form-search', remote: true} do
      .col-md-4.no-padding
        = text_field_tag :key, params[:key], class: 'form-control no-border-radius', placeholder: 'Keywords'
      .col-md-4.no-padding
        = select_tag :status, options_for_select(PaymentSnapshot::STATUSES, params[:status]), prompt: 'All Status', class: 'form-control'
      .col-md-4.no-padding
        = text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker no-border-radius', placeholder: 'Start At'
      .col-md-4.no-padding
        = text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker no-border-radius', placeholder: 'End At'
      .col-md-1.no-padding
        = submit_tag :Search, class: 'btn btn-primary no-border-radius btn-block'