- user = current_user.is_publisher? ? @payment.publisher : @payment.account_manager
- profile = current_user.is_publisher? ? user.profile : user.profile_account_manager
#wrapper.content-detail-campaign-publisher.content-dashboard
  .normalheader
    .hpanel
      .panel-body
        %a.small-header-action{:href => ""}
          .clip-header
            %i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital
          %ol.breadcrumb.hbreadcrumb
            = render_breadcrumbs :tag => :li, :separator => ""
        %h2.font-light.m-b-xs
          %b (#{@payment.code})
        %p Your Invoice Payment
  .content.animate-panel
    %section.invoice
      .hpanel
        .panel-body
          .row
            .col-md-12
              %h2.page-header
                %i.fa.fa-globe
                = @payment.code
                %small.date-invoice.pull-right #{get_datetime(@payment.created_at)}
          .row.invoice-info
            .col-md-4.invoice-col
              From
              %address
                %strong CPAGROUND
                %br
                %b= @payment.from_acc.present? ? @payment.from_acc : "-"
            .col-md-4.invoice-col
              To
              %address
                %strong= user.username
                %br
                Email: #{user.email}
                %br
                Phone: #{user.phone}
            .col-md-4.invoice-col
              Address
              %br
              = profile.place_info
              %br
              %br
          .row
            .col-md-12
              .desktop
                %table.table.table-striped.table-bordered
                  %thead
                    %tr
                      %th Payment for period
                      %th Payment To
                      %th Status
                      %th Amount
                  %tbody
                    %tr
                      %td 
                        Payment for period #{date_sort_time(@payment.payment_at)} - #{date_sort_time(@payment.payment_end)}
                      %td 
                        = @payment.to_acc.present? ? @payment.to_acc : '-'
                      %td{width: '20%'}
                        = @payment.status?
                      %td{width: '20%'}
                        = get_currency_full(@payment.price)
              .mobile
                %table.table.table-striped
                  %tbody
                    %tr
                      %th Status
                    %tr
                      %td
                        = @payment.status?
                    %tr
                      %th Payment for period
                    %tr
                      %td 
                        #{date_sort_time(@payment.payment_at)} - #{date_sort_time(@payment.payment_end)}
                    %tr
                      %th Payment To
                    %tr
                      %td 
                        = @payment.to_acc.present? ? @payment.to_acc : '-'
                    %tr
                      %th Amount
                    %tr
                      %td
                        %b
                          = get_currency_full(@payment.price)