#wrapper.content-offer-publisher.content-dashboard
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b #{@collection_name} (<span class='js-total-collection'>#{@total_collection}</span>)
				%p All list #{@collection_name.downcase}

	.content.animate-panel.offers.responsive-content-offers
		.hpanel.responsive-hpanel
			.panel-body
				.row
					.col-md-12
						#table-lists
							= render 'account_managers/permission_referral_publishers/list_offers_fee_referral_publisher'

	= render 'publishers/shared/footer'