

/*=======================================
  Activities Publisher
  =======================================*/
.content-activities-publisher {
  top: 56px!important;
  .not-found {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0;
    i {
      font-size: 55px;
    }
  }
  .search-activities {
    width: 300px;
  }
  .js-sticky-sidebar.fixed {
    position: fixed;
    top: 80px;
  }
  .v-timeline {
    margin-top: 0px!important;
  }
}
.information-step {
  padding: 15px;
  height: 150px;
  .text-information {
    font-size: 11px;
    margin-top: 7px;
    color: #34495e;
  }
}
.number-step {
  width: 25px;
  position: absolute;
  height: 25px;
  background: #3498db;
  right: 20px;
  top: 5px;
  text-align: center;
  z-index: 1;
  border-radius: 5px 0px;
  color: white;
  font-weight: 600;
  padding-top: 3px;
}
.desktop-publisher {
  visibility: visible;
  display: block;
}
.mobile-publisher {
  visibility: hidden;
  display: none;
}
.step-payment{
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .desktop-publisher {
    visibility: hidden!important;
    display: none!important;
  }
  .mobile-publisher {
    visibility: visible;
    display: block;
  }
}