.blog-publisher {
  top: 56px !important;
  .blogs {
    .img-responsive {
      width: 100%;
    }
    h5 {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 1.3em;
    }
    .description {
      p {
        font-size: 14px;
        line-height: 1.8em;
      }
    }
  }
  .js-sticky-sidebar.fixed {
    position: fixed;
    top: 80px;
    width: 357px;
  }
}
.blog-comments {
  p {
    margin-top: 5px;
    line-height: 1.5em;
  }
  hr {
    margin-top: 0px!important;
  }
  .avatar-comments {
    width: 40px!important;
    height: 40px!important;
  }
}
.latest-blogs {
  border: 1px solid #e4e5e7;
  border-bottom: 0px!important;
  display: inline-block;
  .list-blog {
    margin-bottom: 10px;
    .description-list-blog {
      padding: 5px 10px 5px 0px;
      h5 {
        font-size: 12px!important;
        font-weight: 600;
      }
    }
  }
}
.latest-blogs:hover {
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.06);
-moz-box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.06);
box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.06);
  h5 {
    color: #549bc7;
  }
}