/*   color   */
$green : #014c35;
$silverlow : #7b7b7b;
$silverlight : #dedede;


/*=======================================
  Campaign Publisher
=======================================*/
.list-lp-campaign {
      border-top:1px solid #e4e5e7!important;
    }
.content-campaign-publisher {
  top: 56px!important;
/*.hgreen {
  .panel-body:hover {
    border-top: 2px solid $green;
  }
  }*/
  .breadcrumb-capital {
    text-transform: capitalize;
  }
  .detail-campaign {
    width: 150px !important;
    height: 37px;
    float: right;
    position: relative;
    padding-top: 11px;
    font-size: 12px;
    margin-right: -15px;
    z-index: 1;
    margin-top: -11px;
    border-radius: 0px !important;
  }
  .data-campaign {
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    animation-delay: 2s;

  }
  .status-detail-campaign {
    text-align: right;
  }
  .data-campaign:hover .detail-campaign {
    display: block;
  }
  .detail-campaign-manager {
    display: none;
    width: 150px !important;
    height: 42px;
    padding-top:10px;
    float: right;
    position: relative;
    margin-right: -15px;
    z-index: 1;
    margin-top: -32px;
    border-radius: 0px !important;
  }
  .data-campaign:hover .detail-campaign-manager {
    display: block;
  }
  .content-campaign {
    margin-top: -8px;
    .data-campaign:hover {
      -webkit-box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.12);
      -moz-box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.12);
      box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.12);
    }
    .not-found {
      text-align: center;
      margin-top: 250px;
      i {
        font-size: 55px;
      }
    }
    h4 {
      margin-top: 0px;
      text-transform: capitalize;
    }
    .revenue {
      cursor: default!important;
    }
    .m-t-md {
      margin-top: 0px;
      margin-right: 15px;
    }
    .graph-total-campaign {
      margin-top: 15px;
    }
    .nomor {
      background: $green;
      width: 41px;
      text-align: center;
      height: 41px;
      padding-top: 9px;
      font-size: 14px;
      position: relative;
      font-weight: bold;
      margin-right: -15px;
      z-index: 2;
      margin-top: -31px;
      color: white;
    }
    .status {
      margin-right: 15px;
      label {
        text-align: right;
      }
    }
    .btn-request-campaign {
      margin-bottom: 20px;
      border-radius: 0px!important;
    }
  }
}
.link-campaign {
  width: 100%;
  margin-top: 15px;
  .link-input {
    min-height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccc;
    border-radius: 0px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    width: 60%;
  }
  .clipboard-btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 0px!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
  }
}

