.chat {
  .body-chat {
    min-height: 435px;
    .not-found {
      text-align: center;
      margin-top: 150px;
      i {
        font-size: 55px;
      }
    }
  }
  .message {
    background: #f1f3f6;
    .read {
      margin-right: -10px;
      margin-left: 10px;
    }
    .message-author {
      font-weight: bold;
    }
  }
  .file {
    position: absolute;
    z-index: 10;
    right: 63px;
    top: 5px;
    .select-wrapper {
      display: block;
      position: relative;
      width: 33px;
      height: 26px;
      font-size: 16px;
    }
    .select-wrapper:before {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      left: 7px;
    }
  }
}





@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 350px) {
}