/*   color   */
$green : #014c35;
$silverlow : #7b7b7b;
$silverlight : #dedede;
.no-border-radius {
  border-radius: 0px!important;
}
.btn-green {
  background: $green;
  color: white!important;
}
.text-green {
  color: $green;
}
.text-grey {
  color: #4a4a4a;
}
.img-empty {
  width: 100px;
  margin: auto;
}
/*=======================================
  Dashboard Publisher
=======================================*/
.content-dashboard-publisher {
  top:56px!important;
  margin: 0 0 0 220px;
  .quick-date {
    h3 {
      margin-top: 0px;
    }
  }

  .bg-image-bottom {
    background: asset-url('bg-dashboard.jpg') 50% 0 no-repeat;
    background-size: cover;
  }
  .content {
    overflow: hidden!important;
  }
  .shadow:hover {
    -webkit-box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.12);
    -moz-box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.12);
    box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.12);
  }
/*  .shadow:hover i {
    color: $green;
    text-shadow: 0px 0px 20px $green;
  }*/
  .total-revenue {
    margin-bottom: 20px;
  }
  .bg-primary-dark-op {
    background-color: rgba(241, 243, 246, 0.7) !important;
    .welcome-to-cpaground {
      padding: 84px 40px 90px 40px!important;
      color: white!important;
      h2 {
        color: #464646;
      }
      p {
        color:#5f5f5f;
      }
    }
  }
  .btn-chart {
    z-index: 1;
    .btn:active, .btn.active {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    }
    analytic.hover, .btn-tab-analytic:focus, .btn-tab-analytic:hover, .btn-tab-analytic:active {
      color: #333;
      background-color: #e6e6e6;
      border-color: transparent!important;
      outline: 0 !important;
    }
    .btn-tab-analytic.active, .btn-tab-analytic.hover, .btn-tab-analytic:focus, .btn-tab-analytic:hover, .btn-tab-analytic:active {
      color: #333;
      background-color: #e6e6e6;
      border-color: transparent;
      outline: 0 !important;
    }
  }
  .count-total {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    h4{
      font-weight: normal;
    }
  }
  .real-time-publisher {
    margin-right: 10px;
    :checked + i{
      color: #55f707 !important;
      -webkit-animation: burst 0.9s infinite cubic-bezier(0.62, 0.56, 0.96, 0.39);
      animation: burst 0.9s infinite cubic-bezier(0.62, 0.56, 0.96, 0.39);
    }
    .real-time-on {
      visibility: hidden;
      display: none;
    }
    .real-time:hover, .active{
      background-color: white!important;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0)!important;
    }
    .text-red{
      color: red;

    }
    .graph-by {
      left: 160px!important;
      padding-top: 0px;
      padding-bottom: 0px;
      .report-by {
        width: 100%;
        text-align: left;
        padding-left: 10px;
        border: none;
        padding-bottom: 8px;
        padding-top: 8px;
        border-bottom: solid 1px #eee;
        background: white;
      }
      .report-by:hover {
        background-color: #eee;
      }
    }
  }
  .real-time-publisher:hover {
    padding: 0px!important;
  }
  .chart-dashboard {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
}

.alert-publisher {
  text-align: center;
  margin: auto;
  position: fixed;
  max-width: 600px;
  left: 15px;
  right: 15px;
  z-index: 10;
  top: 70px;
  -webkit-box-shadow: 3px 3px 21px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 21px 0px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 21px 0px rgba(0,0,0,0.2);
  h4 {
    font-weight: bold;
    .count-error {
      font-weight: normal;
      font-size: 14px;
      line-height: 2.5em;
      color:#ce650c;
    }
  }
  li {
    list-style: decimal;
    margin-left: -10px;
  }
}
.offers {
  .not-found {
    text-align: center;
    margin-top: 75px;
    i {
      font-size: 55px;
    }
  }
  .bg-offers {
    min-height: 340px;
    h3 {
      margin-top: -2px;
      margin-bottom: 18px;
    }
    .filter-item {
      border-bottom: solid 1px #e4e5e7;
    }
    .offers-content {
      h5 {
        margin-bottom: 0px;
        margin-top: 5px;
        color: #777;
      }
      .btn-green {
        visibility: hidden;
        display: none;
      }
      .list-offers {
        padding: 10px;
        overflow: hidden;
        border-bottom: none;
      }
    }
    .offers-content:hover {
      cursor: pointer;
      .btn-green {
        visibility: visible;
        display: block; 
        margin-top: -15px;
        z-index: 3;
        position: absolute;
        right: 30px;
      }
      .list-offers {
        background: #f7f7f7;
      }
    }
  }
}

.dashboard-earning {
  margin-top: -8px;
  margin-bottom: 10px;
}