/*   color   */
$green : #014c35;
$silverlow : #7b7b7b;
$silverlight : #dedede;


/*=======================================
  Detail Campaign
=======================================*/
.content-detail-campaign-publisher {
  top: 56px!important;
  .breadcrumb-capital {
    text-transform: capitalize;
  }
  .content-campaign {
    margin-top: -8px;
    .btn-detail-analytic {
      width: 100%!important;
      display: table!important;
    }
    .data-campaign{
      .last-updated{
        float: right;
      }
      .status-detail-campaign {
        text-align: right;
      }
    }
    .data-campaign:hover {
      -webkit-box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.12);
      -moz-box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.12);
      box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.12);
    }
    h4 {
      margin-top: 0px;
      text-transform: capitalize;
    }
    .m-t-md {
      margin-top: 0px;
      margin-right: 15px;
      float: right;
    }
    .nomor {
      background: $green;
      width: 36px;
      text-align: center;
      height: 36px;
      padding-top: 9px;
      font-size: 14px;
      font-weight: bold;
      margin-right: -15px;
      margin-top: -10px;
      color: white;
    }
    .status {
      margin-top: 15px;
      float: right;
      margin-right: 15px;
      label {
        text-align: right;
      }
    }
    .btn-request-campaign {
      margin-bottom: 20px;
      border-radius: 0px!important;
    }
    .link-campaign {
      width: 100%;
      margin-top: 15px;
      .link-input, .link-input-sub {
        min-height: 34px;
        padding: 7px 8px;
        font-size: 13px;
        color: #333;
        vertical-align: middle;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: right 8px center;
        border: 1px solid #ccc;
        border-radius: 0px;
        outline: none;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
        width: 80%;
      }
      .clipboard-btn {
        position: relative;
        display: inline-block;
        padding: 6px 12px;
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;
        color: #333;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        background-color: #eee;
        background-image: linear-gradient(#fcfcfc,#eee);
        border: 1px solid #d5d5d5;
        border-radius: 0px!important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-appearance: none;
      }
    }
  }
  .content {
    overflow: hidden!important;
  }
  .btn-chart {
    z-index: 1;
    .btn:active, .btn.active {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    }
    analytic.hover, .btn-tab-analytic:focus, .btn-tab-analytic:hover, .btn-tab-analytic:active {
      color: #333;
      background-color: #e6e6e6;
      border-color: transparent!important;
      outline: 0 !important;
    }
    .btn-tab-analytic.active, .btn-tab-analytic.hover, .btn-tab-analytic:focus, .btn-tab-analytic:hover, .btn-tab-analytic:active {
      color: #333;
      background-color: #e6e6e6;
      border-color: transparent;
      outline: 0 !important;
    }
  }
  .real-time-publisher {
    margin-right:10px;
    :checked + i{
      color: #55f707 !important;
      -webkit-animation: burst 0.9s infinite cubic-bezier(0.62, 0.56, 0.96, 0.39);
      animation: burst 0.9s infinite cubic-bezier(0.62, 0.56, 0.96, 0.39);
    }
    .real-time-on {
      visibility: hidden;
      display: none;
    }
    .real-time:hover, .active{
      background-color: white!important;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0)!important;
    }
    .text-red{
      color: red;

    }
    .graph-by {
      left: 160px!important;
      padding-top: 0px;
      padding-bottom: 0px;
      .report-by {
        width: 100%;
        text-align: left;
        padding-left: 10px;
        border: none;
        padding-bottom: 8px;
        padding-top: 8px;
        border-bottom: solid 1px #eee;
        background: white;
      }
      .report-by:hover {
        background-color: #eee;
      }
    }
  }
  .real-time-publisher:hover {
    padding: 0px!important;
  }
  .chart-dashboard {
    width: 100%;
    height: auto;
  }
}

.generate-link-section{
  margin-top:20px;
}