body.modal-open, body.sidebar-open {
  overflow: visible;
}
html {
  font-size: 100%; 
  overflow-y: scroll; 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
}
.forum-publisher {
  top: 56px !important;
  .not-found {
    text-align: center;
    margin-top: 250px;
    i {
      font-size: 72px;
    }
  }
  .comment-feed {
    border-bottom: solid 1px #ececec;
    padding-bottom: 5px;
    .list-comment {
      small{
        font-size: 10px;
        i {
          font-size: 9px;
          font-weight: 600;
        }
      }
    }
  }
  .form-action {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .form-label {
    margin-bottom: 5px!important;
  }
  .list-forum {
    width: 100%;
    display: inline-block;
    border: solid 1px #e4e5e7;
    .panel-body{
      border: 0;
    }
    .like-feed {
      float: right;
      margin-top: 7px;
      i {
        font-size: 25px;
        color:#dedede;
      }
      i:hover {
        color:#3498db;
      }
      .liked{
        color:#3498db;
      }
    }
    .name-profile {
      text-align: left;
      font-size: 12px;
      margin-left: 85px;
      margin-bottom: 10px;
      b {
        text-transform: capitalize!important;
      }
      .date-feed {
        margin-top: 5px;
        i {
          font-size: 12px;
          font-weight: bold;
        }
        span {
          font-size: 12px;
          margin-left: 4px;
        }
      }
    }
    .description-feed {
      padding-left: 15px;
      a {
        border-bottom: dotted 1px #ccc;
      }
      .zoom-picture,.close {
        border:none;
      }
    }
    .feed-content {
      padding-bottom: 0px;
      .total-like {
        width: 100%;
        padding: 5px;
        border-top: solid 1px #eee;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    .avatar{
      width: 70px;
      height: 70px;
      overflow: hidden;
      position: relative;
      border-radius: 50%;
      margin: auto;
      margin-bottom: 10px;
      img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin-top: 0;
      }
    }
    .js-show-feed{
      color: #3498db!important;
      cursor: pointer;
    }
    .js-hide-feed {
      padding: 7px 20px 7px 20px;
      position: relative;
      background: #f3f3f3;
      text-align: center;
      color: #555;
      border: solid 1px #ddd;
      margin-top: 10px;
      cursor: pointer;
    }
    .js-hide-feed:hover {
      padding: 7px 20px 7px 20px;
      position: relative;
      background: #ddd;
      text-align: center;
      color: #555;
      border: solid 1px #ddd;
    }
    .js-completed-feed{
      display: none;
    }
    .cover-photo-feed:hover{
      position: relative;
      .hover-image-feed {
        background: rgba(0, 0, 0, 0.45);
        position: absolute;
        z-index: 5;
        top: 0px;
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
        .long-text-feed {
          display: none;
        }
        .small-text-feed {
          position: absolute;
          color: rgba(255, 255, 255, 0.64);
          display: block;
          left: 40%;
          top: 45%;
          transform: translateY(-50%);
        }
      }
    }
    .cover-photo-feed{
      margin-top: 10px;
      position: relative;
      width: 100%;
      height: 200px;
      .zoom-picture {
        position: absolute;
        z-index: 7;
        right: 10px;
        top: 10px;
        padding: 7px 8px 5px 8px!important;
        background: rgba(0, 0, 0, 0.61);
        i{
          color: #fff;
          font-size: 20px;
        }
      }
      .hover-image-feed {
        display: none;
        h4 {
          display: none;
        }
      }
      .image-feed {
        margin-top: 0px!important;
        margin-bottom: 0px!important;
        width: 100%;
        height: auto;
        border-radius: 0;
        
      }
    }
    .image-feed {
      width: 100%!important;
      border-radius: 0px!important;
    }
    .skinny {
      width: 100%;
      height: 100%!important;
      overflow: hidden!important;
      .image-feed {
        width: 100%;
        height: 100%;
        border-radius: 0px;
      }
    }
    .skinny:hover{
      position: relative;
      .hover-image-feed {
        background: transparent;
        cursor:default;
        .small-text-feed {
          display: none!important;
        }
        .long-text-feed {
          display: none;
        }
      }
    }
  }
  .btn-more{
    padding: 10px 80px;
    border-radius: 20px;
    margin: auto;
    display: table;
    text-transform: uppercase;
    color: #777;
    margin-bottom: 20px;
  }
  .cover-photo-feed-show{
    img{
      width: 100%;
      margin-top: 10px;
    }
  }
}

.blueimp-gallery {
  .slide {
    img {
      border-radius:0px!important;
    }
  }
}
.notif-forum.active, .notif-forum:hover {
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.06);
  -moz-box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.06);
  box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.06);
  border-color: #eee;
  background: #f9f9f9;
}
.group-name-list.active, .group-name-list:hover {
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.06);
  -moz-box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.06);
  box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.06);
  border-color: #eee;
  background: #f9f9f9;
  border-bottom: solid 2px #3498db;
}
.modal-forum {
  .user-forum {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    img {
      margin: auto;
      display: table;
      width: 100px;
      height: 100px;
    }
    h5 {
      margin-top: 15px;
      font-weight: bold;
    }
  }
  .textarea-forum {
    height: 200px;
  }
}

.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;    
  color: #333;
  background-color: #fff;
  border-color: #ccc;    
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}

.image-preview2-input {
  position: relative;
  overflow: hidden;
  margin: 0px;    
  color: #333;
  background-color: #fff;
  border-color: #ccc;    
}
.image-preview2-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview2-input-title {
  margin-left:2px;
}

.modal-body-like {
  overflow-y: scroll;
  height: 400px; 
  width: 100%;
  .list-like-modal {
    border-bottom: solid 1px #eee;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-top: 0;
      margin-bottom: 10px;
    }
    .name-liked {
      padding-top: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .cover-photo-feed:hover{
    position: relative;
    .hover-image-feed {
      background: rgba(0, 0, 0, 0.45);
      position: absolute;
      z-index: 5;
      top: 0px;
      width: 100%;
      height: 100%;
      display: block;
      .long-text-feed {
        display: none;
      }
      .small-text-feed {
        position: absolute;
        color: rgba(255, 255, 255, 0.64);
        display: block;
        left: 40%;
        top: 45%;
        transform: translateY(-50%);
      }
    }
  }
  .cover-photo-feed{
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 100px;
    .zoom-picture {
      position: absolute;
      z-index: 7;
      right: 10px;
      top: 10px;
      padding: 7px 8px 5px 8px!important;
      background: rgba(0, 0, 0, 0.61);
      i{
        color: #fff;
        font-size: 20px;
      }
    }
    .hover-image-feed {
      display: none;
      h4 {
        display: none;
      }
    }
    .image-feed {
      margin-top: 0px!important;
      margin-bottom: 0px!important;
      width: 100%;
      height: auto;
      border-radius: 0;
    }
  }
  .image-feed {
    width: 100%!important;
    border-radius: 0px!important;
  }
  .skinny {
    width: 100%;
    height: 100%!important;
    overflow: hidden!important;
    .image-feed {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
  }
  .skinny:hover{
    position: relative;
    .hover-image-feed {
      background: rgba(0, 0, 0, 0.45);
      position: absolute;
      z-index: 5;
      top: 0px;
      width: 100%;
      height: 100%;
      display: block;
      .small-text-feed {
        display: none!important;
      }
      .long-text-feed {
        position: absolute;
        color: rgba(255, 255, 255, 0.64);
        display: block!important;
        left: 40%;
        top: 45%;
        transform: translateY(-50%);
        display: block;
      }
    }
  }
}