/*   color   */
$green : #014c35;
$silverlow : #7b7b7b;
$silverlight : #dedede;

/*=======================================
  Menu Left Publisher
=======================================*/
.menu-publisher {
  width: 220px!important;
  top: 56px!important;
  background-color: #f1f3f6 !important;
  .text-muted {
    color:#777!important;
  }
  img {
    width: 100px;
    height: 100px;
  }
  .stats-label {
    color: #777!important;
    h4 {
      color: #014c35;
    }
  }
  .ul-menu {
    background-color: white!important;
    height: 100vh;
    span {
      font-weight: 600!important;
    }
    li{
      border-bottom: 1px solid #f1f3f6 !important;
      a{
        color:#777!important;
      }
      a:hover,a:focus{
        color:#777!important;
        background-color: #f1f3f6 !important;
      }
      ul {
        background-color: #ffffff !important;
        li{
          border-bottom: 1px solid #f1f3f6 !important;
        }
        li:first-child {
          border-top: 1px solid #f1f3f6 !important;
        }
      }
      button {
          text-transform: uppercase;
          font-weight: 700;
          padding: 15px 20px;
          color: #777777;
          background-color: transparent;
          width: 100%;
          border: 0px;
          text-align: left;
        }
        button:hover, button:focus {
          color:#777!important;
          background-color:#f1f3f6 !important;
        }
    }
    .last-menu {
      margin-bottom: 100px;
    }
    li:first-child {
      border-top: 1px solid #e4e5e7 !important;
    }

    .active{
      background-color: #f1f3f6 !important;
      border-top: 0px!important;
      a {
        color: #353535 !important;
      }
    }
  }
}