%section.login.no-margin
  .container
    .row
      .content-login
        .col-md-6
          .row
            .introduce-login
              .introduce
                %h1
                  WHETHER YOUR ACCOUNT
                  %span.text-cpaground.font-bold IS LOCKED?
              .ask
                Not on CPAGround yet?
                = link_to "Sign Up", new_user_registration_path
                %br/
                Already a member?
                = link_to "Sign In", new_user_session_path
               
              .overlay
        .col-md-6
          = devise_error_messages!
          .row
            .form-sessions.register-form
              %h2
                RESEND
                %span.font-bold
                  UNLOCK ACCOUNT
              %p
                Silahkan masukan email anda.
              %br
              = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
                %label
                  = f.email_field :email, class: "app-btn value-clear input", autofocus: true, placeholder: "Email", required: true
                %label
                  = f.submit "Resend unlock instructions", class: "btn btn-rlogin btn-info btn-block"

= render 'shared/footer_small'

