<script async="" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOrG1wZ-smqjoHJCX2V2RLRgwMEbZrXI8&libraries=places&callback=initMap" ></script>

<script type="text/javascript">
	function initMap() {
		var myLatLng = {lat: <%= @account_manager.get_address_lat %>, lng:  <%= @account_manager.get_address_long %>};

		var map = new google.maps.Map(document.getElementById('mapprofile'), {
			zoom: 12,
			center: myLatLng
		});

		var input = document.getElementById('pac-input');

		var autocomplete = new google.maps.places.Autocomplete(input, {placeIdOnly: true});
		autocomplete.bindTo('bounds', map);

		map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

		var infowindow = new google.maps.InfoWindow();
		var infowindowContent = document.getElementById('infowindow-content');
		infowindow.setContent(infowindowContent);
		var geocoder = new google.maps.Geocoder;
		var marker = new google.maps.Marker({
			map: map,
			position: myLatLng
		});

		marker.addListener('click', function() {
			infowindow.open(map, marker);
		});

		google.maps.event.addListener(map, 'click', function(event) {
			marker.setPosition(event.latLng);
			var latLong = event.latLng;
			latitude = $('.latitude').val(latLong.lat());
			longitude = $('.longitude').val(latLong.lng());
		});

		autocomplete.addListener('place_changed', function() {
			infowindow.close();
			var place = autocomplete.getPlace();

			if (!place.place_id) {
				return;
			}
			geocoder.geocode({'placeId': place.place_id}, function(results, status) {
				if (status !== 'OK') {
					window.alert('Geocoder failed due to: ' + status);
					return;
				}
				map.setZoom(13);
				map.setCenter(results[0].geometry.location);

				// Set the position of the marker using the place ID and location.
				// marker.setPlace({
				//   placeId: place.place_id,
				//   location: results[0].geometry.location
				// });

				// marker.setVisible(true);
				// infowindowContent.children['place-name'].textContent = place.name;
				// infowindowContent.children['place-id'].textContent = place.place_id;
				// infowindowContent.children['place-address'].textContent = results[0].formatted_address;
				// infowindow.open(map, marker);

				google.maps.event.addListener(map, 'click', function(event) {
					marker.setPosition(event.latLng);
					var latLong = event.latLng;
					latitude = $('.latitude').val(latLong.lat());
					longitude = $('.longitude').val(latLong.lng());
				});
			});
		});


		var uluru = {lat: -25.363, lng: 131.044};
		var map1 = new google.maps.Map(document.getElementById('map'), {
		  zoom: 12,
		  center: myLatLng
		});
		var marker1 = new google.maps.Marker({
		  position: myLatLng,
		  map: map1
		});
	}
</script>