/ Main Wrapper
#wrapper.edit-profile-publisher.content-dashboard
	.normalheader.small-header
		.hpanel
			.panel-body
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b Edit Profile
				%p Setting and complete your profile!

	.content
		.row
			.col-md-4
				.hpanel.hgreen
					.panel-body
						.row
							.user-bg
								= image_tag "11.png", width: "100%"
								.user-content
									= image_tag @account_manager.avatar, class: "thumb-lg img-circle"
									%h5.text-white.text-uppercase
										= @account_manager.profile_account_manager.full_name  rescue @account_manager.username
									%h6.text-white 
										= @account_manager.email
								.overlay-box
							
							.col-md-12
								%address
									Fullname :
									%br
									%span.text-600
										= @account_manager.profile_account_manager.full_name  rescue @account_manager.username
									%br
									%br
									Email :
									%br
									%span.text-600
										= @account_manager.email || '--'
									%br
									%br
									Mobile Phone :
									%br
									%span.text-600
										= @account_manager.get_phone_number || '--'
								%address
									Skype :
									%br
									%span.text-600
										= @account_manager.skype || '--'
									%br
									%br
									Address :
									%br
									%span.text-600
										= @profile_account_manager.place_info rescue '--'
				.hpanel.hgreen
					.panel-body
						.row
							.col-md-12
								%address
									%h5 PAYMENT METHODS

								= @profile_account_manager.get_payment_type+" :"
								%br
								%span.text-600
									= @profile_account_manager.present? ? @profile_account_manager.payment_acc : "-"
							
					.panel-footer.contact-footer
						.row
							.col-xs-6.border-right
								.contact-stat
									%span Publishers:
									%strong #{@account_manager.publishers.count}
							.col-xs-6
								.contact-stat
									%span Payments:
									%strong #{@account_manager.payment_snapshots.count}
			.col-md-8
				= form_for @account_manager, url: account_managers_profile_path, method: 'put', html: { multipart:true } do |f|
					= f.fields_for :profile_account_manager do |p|
						.hpanel.hgreen
							.panel-body
								.col-md-12
									%h4 ACCOUNT
									%hr
								.col-md-12.photo-profil-head
									.photo-profile
										= f.file_field :avatar, onchange: "previewFile()"
										= f.hidden_field :avatar_cache
										= image_tag @account_manager.avatar, class: "img-thumbnail img-circle img-responsive change-profile"
										%i.fa.fa-upload.fa-5x
								.col-md-6
									.form-group
										= f.label :username
										= f.text_field :username, placeholder: "Enter username", class: 'form-control', required: true
								.col-md-6
									.form-group
										= f.label :email
										= f.email_field :email, placeholder: "Enter email", class: 'form-control', required: true
								.col-md-6
									.form-group
										= f.label :phone
										.row
											.col-xs-4
												= f.select :phone_code, get_phone_codes, {prompt: 'Code'}, class: 'form-control', required: true
											.col-xs-8
												= f.text_field :phone, placeholder: "Phone Number", class: 'form-control', required: true
								.col-md-6
									.form-group
										= f.label :skype
										= f.text_field :skype, placeholder: "Enter skype", class: 'form-control', required: true
								.col-md-6
									.form-group
										= f.label :password
										= f.password_field :password, placeholder: "Enter password", class: 'form-control'
								.col-md-6
									.form-group
										= f.label :password_confirmation
										= f.password_field :password_confirmation, placeholder: "Enter password confirmation", class: 'form-control'

						.hpanel.hgreen
							.panel-body
								.col-md-12
									%h4 PAYMENT METHOD
									%hr
								.col-md-6
									.form-group
										= p.label :choice_payment_type
										= p.select :choice_payment_type, options_for_select(ProfileAccountManager::CHOICE_PAYMENT_TYPE, p.object.choice_payment_type), {prompt: 'Select choice payment type'}, class: 'form-control choice_payment_type_select', required: true
								.field-acc-payment
									.col-md-6.acc-paypal
										.form-group
											= p.label :acc_paypal
											= p.text_field :acc_paypal, placeholder: "Enter Account Paypal", class: "form-control", required: true
									.col-md-6.acc-payoneer
										.form-group
											= p.label :acc_payoneer
											= p.text_field :acc_payoneer, placeholder: "Enter Account Payoneer", class: "form-control", required: true
									.acc-bank
										.col-md-6
											.form-group
												= label_tag "Bank Name (ex. BCA)"
												= p.select :bank_name, options_for_select(ProfileAccountManager::CHOICE_BANK_NAME, p.object.bank_name), {prompt: 'Select bank name'}, class: 'form-control', required: true
										.col-md-6
											.form-group
												= label_tag "Account Number (ex. 123456)"
												= p.text_field :acc_bank, placeholder: "ex.Account Number", class: "form-control", required: true
										.col-md-6
											.form-group
												= label_tag "Account Name (ex. cpaground)"
												= p.text_field :acc_name, placeholder: "ex.Account Name", class: "form-control", required: true
						.hpanel.hgreen
							.panel-body
								.col-md-12
									%h4 PROFILE
									%hr
								.col-md-6
									.form-group
										= p.label :first_name
										= p.text_field :first_name, placeholder: "Enter First Name", class: "form-control", required: true
								.col-md-6
									.form-group
										= p.label :last_name
										= p.text_field :last_name, placeholder: "Enter Last Name", class: "form-control", required: true
								.col-md-6
									.form-group
										= p.label :country
										= p.country_select :country, ["Indonesia"], options = {prompt: 'Select Country'}, html_options = {class: "form-control", required: true}
								.col-md-6
									.form-group
										= p.label :city
										= p.text_field :city, class: 'form-control', placeholder: 'Your City', required: true
								.col-md-12
									.form-group
										= p.label :address
										= p.text_field :address, placeholder: "Enter Address", class: "form-control", required: true
								.col-md-12
									.form-group
										= p.label :zip_code
										= p.text_field :zip_code, placeholder: "Enter Zip Code", class: "form-control", required: true
								.col-md-12
									= p.hidden_field :latitude, class: 'latitude'
									= p.hidden_field :longitude, class: 'longitude'
									%input.form-control#pac-input.controls{placeholder: "Tentukan Lokasi Persis Anda", type: "text"}
									#mapprofile
									#infowindow-content
										%span#place-name.title
										%br
										Place ID
										%span#place-id
										%br
										%span#place-address
								.col-md-12
									= submit_tag "Update", class: "btn btn-primary pull-left"
	.content-footer
							
	= render 'publishers/shared/footer'

= render 'account_managers/profiles/js_set_geo_map'

:javascript
	function checkAccPayment(){
		choice_payment_type = document.getElementById("account_manager_profile_account_manager_attributes_choice_payment_type").value;

		if(choice_payment_type == '1'){
			$('.field-acc-payment .acc-payoneer').appendTo('.content-footer');
			$('.acc-payoneer').hide();
			$('.field-acc-payment .acc-bank').appendTo('.content-footer');
			$('.acc-bank').hide();
			$('.acc-paypal').appendTo('.field-acc-payment');
			$('.acc-paypal').show();
		}else if(choice_payment_type == '2'){
			$('.field-acc-payment .acc-paypal').appendTo('.content-footer');
			$('.acc-paypal').hide();
			$('.field-acc-payment .acc-bank').appendTo('.content-footer');
			$('.acc-bank').hide();
			$('.acc-payoneer').appendTo('.field-acc-payment');
			$('.acc-payoneer').show();
		}else if(choice_payment_type == '3'){
			$('.field-acc-payment .acc-paypal').appendTo('.content-footer');
			$('.acc-paypal').hide();
			$('.field-acc-payment .acc-payoneer').appendTo('.content-footer');
			$('.acc-payoneer').hide();
			$('.acc-bank').appendTo('.field-acc-payment');
			$('.acc-bank').show();
		}else{
			$('.field-acc-payment .acc-paypal').appendTo('.content-footer');
			$('.acc-paypal').hide();
			$('.field-acc-payment .acc-payoneer').appendTo('.content-footer');
			$('.acc-payoneer').hide();
			$('.field-acc-payment .acc-bank').appendTo('.content-footer');
			$('.acc-bank').hide();
		}
	}

	$(document).ready(function() {
		checkAccPayment();

		$(document).on('change', '.choice_payment_type_select', function() {
			checkAccPayment();
		});
	});