.hpanel.chat
  .panel-heading.hbuilt
    Message Your Manager <b>#{@manager.profile_account_manager.full_name  rescue @manager.username}</b>
  .panel-body.no-padding.body-chat.responsive-no-border
    .row
      .col-md-12
        .chat-discussion
          = render 'publishers/shared/chat'
  .panel-footer.borders.responsive-form-chate.responsive-no-border
    = form_for :message, url: publishers_messages_path, method: 'post', remote: true do |f|
      - if @group_message.present?
        = hidden_field_tag :group_message_id, @group_message.id 
      .input-group
        = text_field_tag :message, nil,autocomplete: 'off', class: 'form-control input-chat', placeholder: 'write your message here ...', required: true, autofocus: true
        %span.input-group-btn
          = submit_tag :send, class: 'btn btn-primary'