.hpanel.hgreen.responsive-about-am
  .panel-body
    .row
      .user-bg
        = image_tag "11.png", width: "100%"
        .user-content
          = image_tag @manager.avatar, class: "thumb-lg img-circle"
          %h5.text-white.text-uppercase
            = @manager.profile_account_manager.full_name  rescue @manager.username
          %h6.text-white 
            = @manager.email
        .overlay-box
      
      .col-md-12
        %address
          Fullname :
          %br
          %span.text-600
            = @manager.profile_account_manager.full_name
          %br
          %br
          Email :
          %br
          %span.text-600
            = @manager.email || '--'
        %address
          Skype :
          %br
          %span.text-600
            = @manager.skype || '--'
        %address
          No Handphone :
          %br
          %span.text-600
            = @manager.get_phone_number rescue '--'

                    