/ Main Wrapper
#wrapper.edit-profile-publisher.content-dashboard.responsive-manager
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b Message Your Manager #{@manager.email}
				%p You can communicate with your manager account!

	.content.content-chat
		.row
			.col-md-4.desktop
				= render 'publishers/managers/manager'
			.col-md-8
				= render 'publishers/managers/chat'
	.content-footer
	= render 'publishers/shared/footer'