.row
  .col-md-3
    .form-group
      .photo-profile
        = f.file_field :attachment, onchange: "previewFile()"
        = f.hidden_field :attachment_cache
        = image_tag @invoice.attachment, class: "img-thumbnail img-responsive change-profile"
        %i.fa.fa-upload.fa-5x
  .col-md-9
    .col-md-12
      .form-group
        = f.label :title
        = f.text_field :title, placeholder: "Enter title invoice", class: 'form-control', required: true
    .col-md-12
      .form-group
        = f.label :description
        = f.cktext_area :description, placeholder: "Enter description invoice", class: 'form-control', required: true
    .col-md-6
      .form-group
        = f.label "Price (Rp)"
        = f.number_field :price, placeholder: "Enter price invoice", class: 'form-control',  min: 0, required: true
    .col-md-6
      .form-group
        = f.label :transaction_date
        = f.text_field :transaction_date, placeholder: "Select transaction date", class: 'form-control datepicker', required: true
    .col-md-6
      .form-group
        = f.label :from_acc
        = f.text_field :from_acc, placeholder: "Enter From Acc", class: 'form-control', required: true
    .col-md-6
      .form-group
        = f.label :to_acc
        = f.text_field :to_acc, placeholder: "Enter To Acc", class: 'form-control', required: true
    .col-md-6
      .form-group
        = f.label :status
        = f.select :status, Invoice::STATUSES, {prompt: 'Select Status'}, class: 'form-control', required: true
    .col-md-6
      .form-group
        = f.label :category
        = f.select :category, Invoice::CATEGORIES, {prompt: 'Select Category'}, class: 'form-control', required: true
    .col-md-12
      = button_tag type: "submit", class: "btn btn-info pull pull-right" do
        %i.fa.fa-send
        &nbsp; Save
