= link_to new_admins_invoice_path, class: 'btn btn-info btn-sm pull-left' do
  %i.fa.fa-bars
  &nbsp; New Invoice
%br
%br

.row
  .col-md-3
    .panel.panel-default
      .panel-heading
        .panel-title
          %center Total Invoice Pending: 
      .panel-body
        %center
          %b= get_currency_rp(@invoice_pending)
  .col-md-3
    .panel.panel-default
      .panel-heading
        .panel-title
          %center Total Invoice Process: 
      .panel-body
        %center 
          %b= get_currency_rp(@invoice_process)
  .col-md-3
    .panel.panel-default
      .panel-heading
        .panel-title
          %center Total Invoice Paid:
      .panel-body
        %center 
          %b= get_currency_rp(@invoice_paid)
  .col-md-3
    .panel.panel-default
      .panel-heading
        .panel-title
          %center Total Invoice Reject:
      .panel-body
        %center 
          %b= get_currency_rp(@invoice_reject)

.responsive-tabel
  %table#example1.table.table-bordered.table-striped.tabel-width2
    %thead
      %tr
        %th Transaction Date
        %th Code
        %th Title
        %th Category
        %th Price
        %th Status
        %th Created At
        %th{width: '105px'} Action
    %tbody
      - if @invoices.blank?
        %tr
          %td{ colspan: "8"} 
            = render "shared/empty_blank"
      - else
        - @invoices.each_with_index do |resource, index|  
          %tr
            %td
              = date_sort_time(resource.transaction_date)
            %td
              = resource.code
            %td
              = resource.title
            %td
              = resource.category
            %td
              = get_currency_rp(resource.price)
            %td
              = resource.status?
            %td
              = get_datetime(resource.created_at)
            %td.text-center
              = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_invoice_path(resource), class: 'btn btn-default btn-xs'
              &nbsp;
              = link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_invoice_path(resource), class: 'btn btn-default btn-xs'
              &nbsp;
              = link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, admins_invoice_path(resource), method: 'delete', data: {confirm: "Are you sure to delete this invoice?"}, class: 'btn btn-default btn-xs'
= paginate @invoices, remote: true

:javascript
  $('.responsive-tabel').doubleScroll();