#breadcrumbs
	= render "shared/admin/breadcrumbs"

%section.content.full-page
	.bg-white
		.col-md-10.search
			.row
				= form_for :search, url: admins_invoices_path, method: 'get', html: {class: 'form-search', remote: true} do
					.input-group.full
						.col-md-3.no-padding
							= text_field_tag :key, params[:key], class: 'form-control pull-left', placeholder: 'Keywords'
						.col-md-2.no-padding
							= select_tag :status, options_for_select(Invoice::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control'
						.col-md-2.no-padding
							= select_tag :category, options_for_select(Invoice::CATEGORIES, params[:category]), prompt: 'Select Category', class: 'form-control'
						.col-md-2.no-padding
							= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
						.col-md-2.no-padding
							= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
						.col-md-1.no-padding
							= submit_tag :search, class: 'btn btn-info radius-right'
		.col-md-2
			.btn-search-admin.js-button-export
				= render 'shared/admin/button_export'
	.row
		.col-xs-12.top-plus
			.box.box-m
				.box-body
					#table-lists
						= render 'admins/invoices/lists'