.responsive-tabel
  .responsive-content-tabel
    %table#example1.table.table-bordered.table-striped.tabel-width2
      %thead
        %tr
          %th
            = check_box_tag :check_all
          %th Name
          %th Status
          %th Created by
          %th Members
          %th Created at
          %th{width: '80px'} Action
      %tbody
        - if @groups.blank?
          %tr
            %td{ colspan: "7"} 
              = render "shared/empty_blank"
        - else
          - @groups.each_with_index do |resource, index|  
            %tr
              %td
                = check_box_tag 'ids[]', resource.id
              %td
                = resource.name
              %td
                = resource.status?
              %td
                = link_to resource.account_manager.username, admins_account_manager_path(resource.account_manager)
              %td
                = resource.group_coverages.approve.count
              %td
                = get_datetime(resource.created_at)
              %td
                = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_group_path(resource), class: 'btn btn-default btn-xs'
                &nbsp;
                = link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, admins_group_path(resource), method: 'delete', data: {confirm: "Are you sure to delete this group?"}, class: 'btn btn-default btn-xs'
= paginate @groups, remote: true