$('#breadcrumbs').html("<%= escape_javascript render partial: 'shared/admin/breadcrumbs' %>");
$('#js-lists-group').html("<%= escape_javascript render partial: 'admins/groups/lists', object: @groups %>");