$("<%=j render(partial: 'publishers/forums/list', object: @feeds) %>").appendTo($(".infinitescroll-page .js-forum-box"));
$('.pagination').html("<%=j link_to_next_page(@feeds, 'LOADING MORE FEEDS', remote: true, class: 'btn btn-default btn-more') %>");
$(".total-group-coverages-approve").html("<%= @group_coverages_approve_all.count %>");
$(".total-group-coverages-waiting").html("<%= @group_coverages_waiting_all.count %>");
$('#lists-group-coverages-approve').html("<%= escape_javascript render partial: 'account_managers/groups/lists_group_coverages', locals: {group_coverages: @group_coverages_approve, param_page: 'group_coverages_approve'} %>");
$('#lists-group-coverages-waiting').html("<%= escape_javascript render partial: 'account_managers/groups/lists_group_coverages', locals: {group_coverages: @group_coverages_waiting, param_page: 'group_coverages_waiting'} %>");