.row
	.col-md-6
		.form-group
			= f.label :category_name
			= f.select :category_id, CategoryCampaign::CATEGORY_NAMES, {prompt: "Select Category Name"}, class: 'form-control', readonly: true
	.col-md-6
		.form-group
			= f.label :campaign
			= f.text_field :campaign_id, placeholder: "Enter Campaign Title", class: 'form-control', readonly: true
	.col-md-6
		.form-group
			= f.label :publisher
			= f.text_field :publisher_id, placeholder: "Enter Publisher Username", class: 'form-control', readonly: true
	.col-md-6
		.form-group
			= f.label :layout_theme
			= f.text_field :layout_theme_id, placeholder: "Enter Layout Theme", class: 'form-control', readonly: true
	.col-md-6
		.form-group
			= f.label :domain
			= f.text_field :domain, placeholder: 'Example: http://domain.com', class: 'form-control', required: true
	.col-md-6
		.form-group
			= f.label :status
			= f.select :status, RequestLandingPage::STATUSES, {prompt: 'Select Status'}, class: 'form-control', required: true
	.col-md-12
		.form-group
			= f.label :track_script
			= f.text_area :track_script, placeholder: "Enter Track Script", class: 'form-control', required: true