- if @activities.blank?
  = render "shared/empty_blank"
- else
  #wallmessages.qa-message-list
    - @activities.each do |resource|
      .message-item
        .message-inner
          .message-head.clearfix
            .avatar.pull-left
              - direct_link = resource.admin ? admins_admin_path(resource.admin) : admins_publisher_path(resource.publisher)
              = link_to direct_link do
                .avatar-timeline
                  = image_tag resource.admin ? resource.admin.avatar : resource.publisher.avatar
            .user-detail.timeline-m
              %h5.handle
                = resource.name
              .post-meta
                .asker-meta.text-left-m
                  %span.qa-message-what
                  %span.qa-message-when
                    %span.qa-message-when-data= get_datetime(resource.created_at)
                  %br.mobile
                  %span.qa-message-who
                    %span.qa-message-who-pad by
                    %span.qa-message-who-data
                      = link_to resource.admin ? resource.admin.username : resource.publisher.username, direct_link
          .qa-message-content
            = resource.description
  = paginate @activities, remote: true