= render "shared/admin/breadcrumbs"

%section.content
  .row
    .col-md-12
      .box
        .box-header
          %h3.box-title
            = @collection_name
          = link_to 'Back To List', admins_request_landing_pages_path, class: 'btn btn-info btn-xs pull-right'
          %hr
        .box-body
          = form_for @request_landing_page, url: admins_request_landing_page_path, method: 'put', html: { multipart:true } do |f|
            = render 'form', f: f
            = submit_tag "Update", class: "btn btn-info"