$('#breadcrumbs').html("<%= escape_javascript render partial: 'shared/admin/breadcrumbs' %>");
$('.js-button-export').html("<%= escape_javascript render partial: 'shared/admin/button_export' %>");
$('#table-lists').html("<%= escape_javascript render partial: 'lists', locals: {request_landing_pages: @request_landing_pages} %>");