<table border="1">
  <caption>LIST REQUEST LANDING PAGES</caption>
  <tr>
    <th>No</th>
    <th>Code</th>
    <th>Category Name</th>
    <th>Campaign</th>
    <th>Publisher</th>
    <th>Layout theme</th>
    <th>Domain</th>
    <th>Track Script</th>
    <th>Status</th>
    <th>Created at</th>
  </tr>
  <% @request_landing_pages_size.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:code) %></td>
    <td><%= resource.category[:name] %></td>
    <td><%= resource.campaign.title %></td>
    <td><%= resource.publisher.username %></td>
    <td><%= resource.layout_theme.title %></td>
    <td><%= resource.try(:domain) %></td>
    <td><%= resource.try(:track_script) %></td>
    <td><%= resource.try(:status) %></td>
    <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
  </tr>
  <% end %>
</table>