$('#table-list-campaigns').html("<%= escape_javascript render partial: 'list_campaigns', locals: {campaigns: @campaigns} %>");
$('#table-list-activities').html("<%= escape_javascript render partial: 'list_activities', locals: {activities: @activities} %>");