= render "shared/admin/breadcrumbs"
	
%section.content.full-page
	.row
		.col-xs-12
			.box.box-m
				.box-header
					%h3.box-title
						Data Request Landing Page
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_request_landing_pages_path, class: "btn btn-info btn-xs"
					%hr
				.box-body
					.show-campaign
						.col-md-6.no-padding-m
							.row
								.col-md-3
									.form-group
										%b Code LP
								.col-md-9
									.form-group 
										= @request_landing_page.try(:code)
								.col-md-3
									.form-group
										%b Layout Theme
								.col-md-9
									.form-group 
										= @request_landing_page.try(:layout_theme).try(:title)
								.col-md-3
									.form-group
										%b Category Name
								.col-md-9
									.form-group 
										= @request_landing_page.category[:name]
								.col-md-3
									.form-group
										%b Campaign
								.col-md-9
									.form-group 
										= link_to @request_landing_page.campaign.title, admins_campaign_path(@request_landing_page.campaign) if @request_landing_page.campaign.present?
								- if @request_landing_page.domain.present?
									.col-md-3
										.form-group
											%b Link LP
									.col-md-9
										.form-group 
											= link_to @request_landing_page.domain, @request_landing_page.domain
								.col-md-3
									.form-group
										%b Link Campaign
								.col-md-9
									.form-group 
										= link_to @request_landing_page.link_campaign, @request_landing_page.link_campaign if @request_landing_page.link_campaign.present?
								
								.col-md-3
									.form-group
										%b Publisher
								.col-md-9
									.form-group 
										= link_to @request_landing_page.publisher.username, admins_publisher_path(@request_landing_page.publisher) if @request_landing_page.publisher.present?
								.col-md-3
									.form-group
										%b Track Script
								.col-md-9
									.form-group 
										= @request_landing_page.track_script.present? ? @request_landing_page.track_script : '--'
								.col-md-3
									.form-group
										%b Status
								.col-md-9
									.form-group 
										= @request_landing_page.status?
								.col-md-3
									.form-group
										%b Created
								.col-md-9
									.form-group 
										= get_datetime(@request_landing_page.created_at)
						.col-md-6.no-padding-m
							.well
								- flag = @request_landing_page.is_inactive? ? false : true
								%h4 Edit status Layout theme
								= form_for @request_landing_page, url: change_status_admins_request_landing_page_path, method: 'put' do |f|
									.form-group 
										= f.label 'Link Landing Page' 
										= f.text_field :domain, placeholder: 'Example: http://domain.com', class: 'form-control', required: true
									.form-group 
										= f.label 'Track Script' 
										= f.text_area :track_script, placeholder: 'Enter Track Script', class: 'form-control'
									.form-group 
										= f.label 'Status' 
										= f.select :status, options_for_select(RequestLandingPage::STATUSES, @request_landing_page.status), {prompt: 'Select Status'}, class: 'form-control', required: true
									.form-group 
										= submit_tag :change, class: 'btn btn-info'

			.col-md-12
				.row
					.exTab
						%ul.nav.nav-tabs
							%li.active
								%a{"data-toggle" => "tab", :href => "#1"} Activities
						.tab-content.background-white
							#1.tab-pane.active
								%h2{align: 'center'} Activities
								%br
								#table-list-activities
									= render 'admins/request_landing_pages/list_activities'