- delete_comment_url = current_user.is_account_manager? ? delete_comment_account_managers_forum_path(comment) : delete_comment_admins_forum_path(comment)
.media.comment-feed.responsive-media-comments
  %a.pull-left
    = image_tag comment.user.avatar.url(:thumb)
  .media-body
    %small
      %b #{comment.user.username.titleize} 
      = "- #{comment.user.type.titleize}"
      = link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, delete_comment_url, method: 'delete', data: {confirm: "Are you sure to delete this comment?"}, class: 'btn btn-default btn-xs btn-no-border pull-right-m btn-trash', title: "Delete this comment" if current_user.comment_in_your_group(comment) || current_user.is_admin?
    .list-comment.pull-right
      %small.text-muted
        %i.pe-7s-timer
        = time_to_ago(comment.created_at)
    .social-content
      %small
        = comment.message