/ - profile = feed.user.is_publisher? ? Publisher.find(feed.user_id).profile : AccountManager.find(feed.user_id).profile_account_manager
- url_submit = current_user.is_publisher? ? comment_create_publishers_feeds_path : comment_create_account_managers_feeds_path
- url_submit_like = current_user.is_publisher? ? like_create_publishers_feeds_path : like_create_account_managers_feeds_path
- delete_feed_url = current_user.is_account_manager? ? account_managers_forum_path(feed) : admins_forum_path(feed)
.panel.list-forum.responsive-no-border
	.panel-body.responsive-border-top.feed-content
		.media
			= render "publishers/forums/form_like", {url_submit_like: url_submit_like, feed: feed} unless current_user.is_admin?
			.media-image
				.avatar.avatar-feed.pull-left
					= image_tag feed.user.avatar.url(:thumb)
				.name-profile
					%b.uppercase
						= feed.try(:user).try(:username).titleize
					= ' - ' + feed.try(:user).try(:type).titleize
					- unless current_page?(admins_forums_path)
						= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, delete_feed_url, method: 'delete', data: {confirm: "Are you sure to delete this feed?"}, class: 'pull-right-m btn btn-default btn-xs btn-no-border', title: "Delete this feed" if current_user.feed_in_your_group(feed) || current_user.is_admin?
					- if current_user.is_admin? && current_page?(admins_forums_path) 
						&nbsp;
						.checkbox-feed
							.feed-status
								= feed.status?
							&nbsp;
							= check_box_tag 'ids[]', feed.id
							&nbsp;
					%br
					.date-feed
						%i.pe-7s-clock
						%span
							= "#{time_to_ago(feed.created_at)}".html_safe
						- if feed.group.present?
							= '&nbsp;&nbsp;'.html_safe
							%i.pe-7s-portfolio
							%span
								= "share on #{feed.group.name}".html_safe
			.media-body.description-feed
				- if feed.message.present?
					.responsive-description
						- message = feed.message
						- youtube_format = "https://www.youtube.com/watch?v="
						- if message.include? youtube_format
							- youtube = strip_tags(message).split(youtube_format)[1].split(" ")[0]
							- youtube_link = "https://www.youtube.com/embed/"+youtube
							- message.slice! youtube_format+youtube
							= message.html_safe
							.videoWrapper
								%iframe{:allowfullscreen => "", :frameborder => "0", :height => "500", :class => "iframe-youtube", :src => youtube_link, :width => "100%"}
						- else
							= message.html_safe
				- if feed.attachment_image.present?
					.cover-photo-feed
						= link_to feed.attachment_image.url, class: "zoom-picture", :title => "Image from #{feed.try(:user).try(:username).titleize}", "data-gallery": "" do
							%i.pe-7s-expand1
						.js-image-feed.hover-image-feed
							%h4.small-text-feed.desktop
								LARGE PICTURE
						= image_tag feed.attachment_image.url(:big), class: "image-feed",id: "image-feed"
					#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls{:style => "display: none;"}
						.slides{:style => "width: 21540px;"}
						%h3.title
							Image from
							= feed.try(:user).try(:username).titleize
						%a.close ×
		.total-like
			.span.pull-left
				%i.fa.fa-commenting-o
				%span.num.js-num
					#{feed.feed_comments.count} 
				Comments
			%a{"data-target" => "#like-feed-#{feed.id}", "data-toggle" => "modal"} 
				.span.pull-right
					%i.fa.fa-thumbs-o-up
					%span.num.js-num-like
						#{feed.likes.count} 
					Like
	- if current_user.is_admin? && current_page?(admins_forums_path)
		.panel-footer.responsive-panel-footer.responsive-border-top-bottom
			.forum-comments.responsive-feed-comments
				.row
					.pull-left
						= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_forum_path(feed), class: 'btn btn-default btn-xs'
						&nbsp;
						= link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_forum_path(feed), class: 'btn btn-default btn-xs'
						&nbsp;
						= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, admins_forum_path(feed), method: 'delete', data: {confirm: "Are you sure to delete this forum?"}, class: 'btn btn-default btn-xs'
					.pull-right
						%h6
							Total Comments 
							%b (#{feed.feed_comments.count})
	- else
		= render 'publishers/forums/form_comment', {url_submit: url_submit, feed: feed}

= render 'publishers/forums/modal_like_feed', feed: feed