.forum-like
	- if current_user.like_feed(feed.id)
		.like-feed
			%i.fa.fa-thumbs-up.liked
	- else
		= form_for Like.new, url: '', method: 'post', html: { class: 'like-feed', data: {url: url_submit_like}} do |f|
			= hidden_field_tag :feed_id, feed.id
			= button_tag type: "submit", class: "js-button-like" do
				%i.fa.fa-thumbs-up