.panel-footer.responsive-panel-footer.responsive-border-top-bottom
  .forum-comments.no-padding-m.responsive-feed-comments
    .media-all
      - if feed.feed_comments.present?
        - comment_count = feed.feed_comments.count
        - if current_user.is_account_manager?
          - current_page = account_managers_forum_path(feed)
        - elsif current_user.is_publisher?
          - current_page =  publishers_forum_path(feed)
        - else
          - current_page = admins_forum_path(feed)
        - unless current_page?(current_page)
          .limit-comments
            - if comment_count > 4
              .js-more-comments <div class="btn btn-block btn-view-more no-border-radius btn-sm"><i class="pe-7s-comment"></i> &nbsp;view more comments (#{comment_count - 4})</div>
            - feed.feed_comments.limit(4).latest.reverse.each do |comment|
              = render 'publishers/forums/comment', comment: comment
          .all-comments
            - feed.feed_comments.oldest.each do |comment|
              = render 'publishers/forums/comment', comment: comment
        - else
          .all-comments{style: params[:action] == 'show' ? 'display:block' : ''}
            - feed.feed_comments.oldest.each do |comment|
              = render 'publishers/forums/comment', comment: comment

    - unless current_user.is_admin?
      = form_for FeedComment.new, url: '', method: 'post', html: { class: 'new-comment-feed', data: {url: url_submit}} do |f|
        .input-group
          = hidden_field_tag :feedable_id, feed.id
          = hidden_field_tag :feedable_type, FeedComment::FEED
          = text_field_tag :message, nil, placeholder: 'write your comments', class: 'form-control comment-input', required: true, autocomplete: 'off'
          %span.input-group-btn
            = button_tag type: "submit", class: "btn btn-primary" do
              %i.fa.fa-send