#wrapper.forum-publisher.content-dashboard.responsive-forum
	= render 'publishers/forums/header' unless current_user.is_admin?
	%a#sidebar.notification-feed.btn-show-feed.mobile{:href => "#"}
		%i.fa.fa-bell.faa-ring.animated
	.content.animate-panel.responsive-panel-full
		.row
			.col-md-8.no-padding-m
				= render 'publishers/forums/sort' unless current_user.is_admin?
				%section
					.infinitescroll-page
						.hpanel.forum-box.js-forum-box.responsive-forum-box
							= render partial: 'publishers/forums/list', object: @feeds
					.pagination
						= link_to_next_page(@feeds, 'LOADING MORE FEEDS', remote: true, class: 'btn btn-default btn-more') unless current_user.is_admin?
			.col-md-4.desktop
				= render 'publishers/forums/sidebar'

	= render 'publishers/forums/modal_feed'
	= render 'publishers/forums/notification-feed'
	= render 'account_managers/groups/modal_group' if current_user.is_account_manager?
	= render 'publishers/shared/footer' unless current_user.is_admin?


