- if defined? post_to
  - link_path = current_user.is_publisher? ? publishers_feeds_path(group_id: post_to) : account_managers_feeds_path(group_id: post_to)
- else
  - link_path = current_user.is_publisher? ? publishers_feeds_path : account_managers_feeds_path
.modal.fade.modal-forum{:role => "dialog", id: "myFeed"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title New Feed
      .modal-body
        .user-forum
          .user-content
            = image_tag current_user.avatar, class: "thumb-lg img-circle"
            %center
              %h5.text-uppercase
                = current_user.username

          .overlay-box
        .row.form-horizontal
          = form_for Feed.new, url: link_path, method: 'post' do |f|
            .form-group
              .col-xs-12
                = f.text_area :message, placeholder: "Enter the word you want to discuss", id: "editor1", class: 'textarea-forum margin-bottom form-control ckeditor', required: true, autofocus: true
            - if @groups.present?
              - unless defined? post_to
                .form-group
                  .col-xs-12
                    = select_tag :group_id, options_for_select(@groups.active.map{|g| [g.name, g.id]}), prompt: 'Select group to post on group', class: 'form-control select2'
            .form-group
              .col-xs-12
                .input-group.image-preview
                  %input.form-control.image-preview-filename{:disabled => "disabled", :type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-default.image-preview-clear{:style => "display:none;", :type => "button"}
                      %span.fa.fa-trash
                      Clear
                    .btn.btn-default.image-preview-input.margin-right
                      %span.fa.fa-camera
                      %span.image-preview-input-title Browse
                      = f.file_field :attachment_image, accept: "image/png, image/jpeg, image/gif", type: "file"
                  = button_tag class: "btn btn-primary pull-right btn-block", type: "submit" do
                    %i.fa.fa-send
                    &nbsp;
                    Send

