.modal.fade.modal-forum{:role => "dialog", id: "like-feed-#{feed.id}"}
	.modal-dialog
		.modal-content.no-border-radius
			.modal-header
				%span.pull-left
					%i.fa.fa-thumbs-o-up
					&nbsp; #{feed.likes.count} people like this
				%button.text-white.close{"data-dismiss" => "modal", :type => "button"} ×
			.modal-body.modal-body-like
				- if feed.likes.present?
					- feed.likes.each do |like|
						.media.list-like-modal
							.pull-left
								= image_tag like.user.avatar
							.media-body.name-liked
								%b= like.user.username 
								= "- #{like.user.type}"
				- else
					= render "shared/empty_blank"
				