#right-sidebar.animated.target-notification.fadeInRight.mobile
  %button#sidebar-close.sidebar-button.notification-feed.btn-close-feed.btn.btn-default.m-b-md
    %i.pe.pe-7s-close
  .side-all-comments
    - @comment_activities.each do |comment|
      - unless comment.check_feed.present?
        - comment.destroy
      - else 
        - if current_user.is_publisher?
          - link_path = publishers_forum_path(comment.feedable)
        - elsif current_user.is_account_manager?
          - link_path = account_managers_forum_path(comment.feedable)
        - else
          - link_path = admins_forum_path(comment.feedable)
        = link_to link_path do
          .media.panel-body.margin-bottom-5.notif-forum
            .pull-left
              = image_tag comment.user.avatar.url(:thumb)
            .media-body
              %span.font-bold
                = comment.user.username
              %small.text-muted
                %i.pe-7s-timer
                = time_to_ago(comment.created_at)
              .social-content
                %small
                  %b comment
                  #{comment.message}
                  %b on feed
                  #{comment.user.username}
