/ - profile = @feed.user.is_publisher? ? Publisher.find(@feed.user_id).profile : AccountManager.find(@feed.user_id).profile_account_manager
- url_submit = current_user.is_publisher? ? comment_create_publishers_feeds_path : comment_create_account_managers_feeds_path
#wrapper.forum-publisher.content-dashboard.responsive-forum
	.content.animate-panel.responsive-panel-full
		%a#sidebar.notification-feed.btn-show-feed.mobile{:href => "#"}
			%i.fa.fa-bell.faa-ring.animated
		.row
			%section
				.col-md-12.desktop
					= link_to '<i class="pe-7s-back"></i> &nbsp; Back To Discussion'.html_safe, current_user.is_publisher? ? publishers_forums_path : account_managers_forums_path, class: 'btn btn-info'
					%br
					%br
				.col-md-8
					= link_to current_user.is_publisher? ? publishers_forums_path : account_managers_forums_path, class: "mobile back-to-discussion" do
						%i.pe-7s-back
						&nbsp; Back To Discussion
					.hpanel.forum-box.js-forum-box.responsive-forum-box
						- if @feed.group.present? && (current_user.is_group_admin?(@feed.group.id) || current_user.is_group_coverage?(@feed.group.id))
							= render 'publishers/forums/feed', feed: @feed
						- elsif @feed.group.blank?
							= render 'publishers/forums/feed', feed: @feed
						- else
							%center
								.panel
									.panel-body
										You can not view posts in this group because you have not registered as a member yet
				.col-md-4.desktop
					= render 'publishers/forums/sidebar'
	= render 'publishers/forums/notification-feed'
	= render 'publishers/shared/footer'
