#sidebar-wrapper.side-all-comments.js-sticky-sidebar.hpanel
	- unless current_user.is_admin?
		- if @groups.present?
			- groups = current_user.is_publisher? ? @groups.active : @groups
			- groups.each do |group|
				- if current_user.is_publisher?
					- link_path = publishers_group_path(group)
				- elsif current_user.is_account_manager?
					- link_path = account_managers_group_path(group)
				- else
					- link_path = admins_group_path(group)
				= link_to link_path do
					.media.panel-body.margin-bottom-5.notif-forum.group-name-list{class: params[:id].present? && params[:id] == group.id.to_s ? 'active' : '' }
						.pull-left
							= image_tag group.icon.url(:thumb)
						.media-body
							.font-bold.group-name
								= group.name
		
	- @comment_activities.each do |comment|
		- unless comment.check_feed.present?
			- comment.destroy
		- else 
			- if current_user.is_publisher?
				- link_path = publishers_forum_path(comment.feedable)
			- elsif current_user.is_account_manager?
				- link_path = account_managers_forum_path(comment.feedable)
			- else
				- link_path = admins_forum_path(comment.feedable)
			= link_to link_path do
				.media.panel-body.margin-bottom-5.notif-forum
					.pull-left
						= image_tag comment.user.avatar.url(:thumb)
					.media-body
						%span.font-bold
							= comment.user.username
						%small.text-muted
							%i.pe-7s-timer
							= time_to_ago(comment.created_at)
						.social-content
							%small
								%b comment
								#{comment.message}
								%b on feed
								#{comment.feedable.user.username}

