- only_path = current_user.is_publisher? ? publishers_forums_path(user: current_user.slug) : account_managers_forums_path(user: current_user.slug)
- all_path = current_user.is_publisher? ? publishers_forums_path : account_managers_forums_path
.row.btn-action-forum
	.col-md-6.col-xs-6
		%button.btn.btn-default.pull-left.dropdown-toggle.btn-sort{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
			<i class="fa fa-sort-amount-asc"></i> Sort Feed By
			%span.caret
		%ul.dropdown-menu
			%li
				= link_to 'Only My Feeds', only_path
			%li
				= link_to 'All Feeds', all_path
	.col-xs-6
		%button.btn.btn-primary.pull-right{"data-target" => "#myFeed", "data-toggle" => "modal", :type => "button"} 
			<i class="pe-7s-pen"></i> &nbsp; Post New Feed
		- if current_user.is_account_manager?
			%button.btn.btn-default.pull-right{"data-target" => "#myGroup", "data-toggle" => "modal", :type => "button", style: "margin-right: 10px;"} 
				<i class="pe-7s-pen"></i> &nbsp; Create New Group
%br