.row
	.col-md-3
		.form-group
			.photo-profile
				= f.file_field :attachment, onchange: "previewFile()"
				= f.hidden_field :attachment_cache
				= image_tag @invoice.attachment, class: "img-thumbnail img-responsive change-profile"
				%i.fa.fa-upload.fa-5x
	.col-md-9
		.col-md-12
			.form-group
				= label_tag "Owner"
				= f.select :owner_id, options_for_select(get_owners.map{|p| [p.username, p.id]}, @invoice.owner_id), {prompt: 'Select Owner'}, class: 'form-control select2', required: true
		.col-md-12
			.form-group
				= f.label :title
				= f.text_field :title, placeholder: "Enter title invoice", class: 'form-control', required: true
		.col-md-12
			.form-group
				= f.label :description
				= f.cktext_area :description, placeholder: "Enter description invoice", class: 'form-control', required: true
		.col-md-6
			.form-group
				= f.label :payment_at
				= f.text_field :payment_at, placeholder: "Enter payment at", class: 'form-control datepicker', required: true
		.col-md-6
			.form-group
				= f.label :payment_end
				= f.text_field :payment_end, placeholder: "Enter payment end", class: 'form-control datepicker invoice_owners_payment', required: true
		.price-container
			.col-md-6
				.form-group
					= f.label "Price ($)"
					= f.number_field :price, placeholder: "Enter price invoice", class: 'form-control',  min: 0, disabled: true
		.col-md-6
			.form-group
				= f.label :transaction_date
				= f.text_field :transaction_date, placeholder: "Select transaction date", class: 'form-control datepicker', required: true
		.col-md-6
			.form-group
				= f.label :from_acc
				= f.text_field :from_acc, placeholder: "Enter From Acc", class: 'form-control', required: true
		.col-md-6
			.form-group
				= f.label :to_acc
				= f.text_field :to_acc, placeholder: "Enter To Acc", class: 'form-control', required: true
		.col-md-12
			.form-group
				= f.label :status
				= f.select :status, Invoice::STATUSES, {prompt: 'Select Status'}, class: 'form-control', required: true
		.col-md-12
			= button_tag type: "submit", class: "btn btn-info pull pull-right" do
				%i.fa.fa-send
				&nbsp; Save
