- unless current_user.is_owner?
	= link_to new_admins_invoice_owner_path, class: 'btn btn-info btn-sm pull-left' do
		%i.fa.fa-bars
		&nbsp; New Invoice
	%a{ href: "invoice_owners.xls?export=true&#{request.fullpath.split("?")[1]}", class: 'btn btn-success btn-sm pull-right'}
		%i.fa.fa-file-excel-o
		&nbsp;
		Export to excel
	%br
	%br
	
.row
	.col-md-3
		.panel.panel-default
			.panel-heading
				.panel-title
					%center Total Invoice Pending: 
			.panel-body
				%center
					%b= get_currency_full(@invoice_pending)
	.col-md-3
		.panel.panel-default
			.panel-heading
				.panel-title
					%center Total Invoice Process: 
			.panel-body
				%center 
					%b= get_currency_full(@invoice_process)
	.col-md-3
		.panel.panel-default
			.panel-heading
				.panel-title
					%center Total Invoice Paid:
			.panel-body
				%center 
					%b= get_currency_full(@invoice_paid)
	.col-md-3
		.panel.panel-default
			.panel-heading
				.panel-title
					%center Total Invoice Reject:
			.panel-body
				%center 
					%b= get_currency_full(@invoice_reject)

.responsive-tabel
	.responsive-content-tabel
		%table#example1.table.table-bordered.table-striped.tabel-width2
			%thead
				%tr
					%th Transaction Date
					%th Code
					%th Owner
					%th Title
					%th Price
					%th Payment For
					%th Status
					%th Created At
					%th{width: '105px'} Action
			%tbody
				- if @invoices.blank?
					%tr
						%td{ colspan: "9"} 
							= render "shared/empty_blank"
				- else
					- @invoices.each_with_index do |resource, index|  
						%tr
							%td
								= date_sort_time(resource.transaction_date)
							%td
								= resource.code
							%td
								= resource.try(:owner).try(:username)
							%td
								= resource.title
							%td
								= get_currency_full(resource.price)
							%td
								#{date_sort_time(resource.payment_at)} - #{date_sort_time(resource.payment_end)}
							%td
								= resource.status?
							%td
								= get_datetime(resource.created_at)
							%td.text-center
								= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_invoice_owner_path(resource), class: 'btn btn-default btn-xs'
								&nbsp;
								- unless current_user.is_owner?
									= link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_invoice_owner_path(resource), class: 'btn btn-default btn-xs'
									&nbsp;
									= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, admins_invoice_owner_path(resource), method: 'delete', data: {confirm: "Are you sure to delete this invoice?"}, class: 'btn btn-default btn-xs'
= paginate @invoices, remote: true