<table border="1">
  <caption>LIST INVOICE OWNERS</caption>
  <tr>
    <th>No</th>
    <th>Transaction Date</th>
    <th>Code</th>
    <th>Owner</th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Payment For</th>
    <th>From Acc</th>
    <th>To Acc</th>
    <th>Status</th>
    <th>Created at</th>
  </tr>
  <% @total_invoices.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= date_sort_time(resource.transaction_date) %></td>
    <td><%= resource.try(:owner).try(:username) %></td>
    <td><%= resource.try(:code) %></td>
    <td><%= resource.try(:title) %></td>
    <td><%= resource.try(:description).html_safe %></td>
    <td><%= get_currency_full(resource.try(:price)) %></td>
    <td><%= date_sort_time(resource.payment_at) %> - <%= date_sort_time(resource.payment_end) %></td>
    <td><%= resource.from_acc %></td>
    <td><%= resource.to_acc %></td>
    <td><%= resource.status %></td>
    <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
  </tr>
  <% end %>
</table>