= render "shared/admin/breadcrumbs"
	
%section.content.full-page
	.row
		.col-xs-12
			.box.box-m
				.box-header
					%h3.box-title
						Data invoice
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_invoice_owners_path, class: "btn btn-info btn-xs"
						&nbsp;
						- unless current_user.is_owner?
							= link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_admins_invoice_owner_path(@invoice), class: "btn btn-default btn-xs"
					%hr
				.box-body.payment-m
					.show-invoice
						.show-invoice__content
							%section.invoice
								.row
									.col-md-12
										%h2.page-header
											%i.fa.fa-globe
											= @invoice.code
											%small.pull-right Date: #{get_datetime(@invoice.created_at)}
								.row.invoice-info
									.col-md-4.invoice-col
										From
										%address
											%strong CPA Ground
											%br
											%b= @invoice.from_acc.present? ? @invoice.from_acc : "-"
									.col-md-4.invoice-col
										To
										%address
											%strong
												= @invoice.to_acc
									.col-md-4.invoice-col
										Information
										%br
										%b Transaction Date:
										= "#{date_sort_time(@invoice.transaction_date)}"
								.row
									.col-md-12.table-responsive.top-plus
										%table.table.table-striped
											%thead
												%tr
													%th Title
													%th Payment From
													%th Price
											%tbody
												%tr
													%td
														= @invoice.title
													%td
														#{date_sort_time(@invoice.payment_at)} - #{date_sort_time(@invoice.payment_end)}
													%td
														= get_currency_full(@invoice.price)
								.row.no-point
									.col-md-12
										= link_to "<i class='fa fa-download'></i> Generate PDF".html_safe, admins_invoice_owner_path(@invoice, format: 'pdf'), class: "btn btn-default pull-left btn-full-m"
										- unless current_user.is_owner?
											.text-status.mobile
												%center
													%b Change Status:
											- unless @invoice.is_paid? || @invoice.is_reject?
												= form_for @invoice, url: change_status_admins_invoice_owner_path, method: 'put' do |f| 
													- if @invoice.is_pending?
														= button_tag "<i class='fa fa-close'></i> Reject Payment".html_safe, type: "sumbit", value: Invoice::REJECT, class: 'btn btn-danger pull-right btn-2'
														= button_tag "<i class='fa fa-credit-card'></i> Process Payment".html_safe, type: "sumbit", value: Invoice::PROCESS, class: 'btn btn-info pull-right btn-2', style: "margin-right: 5px;"
													- elsif @invoice.is_process?
														= button_tag "<i class='fa fa-close'></i> Reject Payment".html_safe, type: "sumbit", value: Invoice::REJECT, class: 'btn btn-danger pull-right btn-2'
														= button_tag "<i class='fa fa-check-square'></i> Paid Payment".html_safe, type: "sumbit", value: Invoice::PAID, class: 'btn btn-success pull-right btn-2', style: "margin-right: 5px;"
													.pull-right.desktop{style: "margin: 7px 10px 0 0;"}
														%b Change Status:
												
							%section.invoice
								.row.top-plus
									.col-md-3
										.form-group
											%b Attachment
									.col-md-9
										.form-group 
											= image_tag @invoice.attachment, class: "btn-full-m"
									.col-md-3
										.form-group
											%b Description
									.col-md-9
										.form-group 
											= @invoice.description ? @invoice.description.html_safe : "---"
									.col-md-3
										.form-group
											%b Status
									.col-md-9
										.form-group 
											= @invoice.status?
