.show-payment_snapshot
	.show-payment_snapshot__content
		%section.invoice
			.row
				.col-md-12
					%h2.page-header
						%i.fa.fa-globe
						= @invoice.code
						%small.date-invoice.pull-right Date: #{get_datetime(@invoice.created_at)}
			.row.invoice-info
				.col-md-4.invoice-col
					From
					%address
						%strong CPA Ground
						%br
						%b= @invoice.from_acc.present? ? @invoice.from_acc : "-"
				.col-md-4.invoice-col
					To
					%address
						%strong
							= @invoice.to_acc.present? ? @invoice.to_acc : "-"
				.col-md-4.invoice-col
					Information
					%br
					%b Transaction Date:
					= "#{date_sort_time(@invoice.transaction_date)}"
			.row
				.col-md-12
					%table.table.table-striped.table-bordered
						%thead
							%tr
								%th Title
								%th Payment For
								%th Price
						%tbody
							%tr
								%td
									= @invoice.title
								%td
									#{date_sort_time(@invoice.payment_at)} - #{date_sort_time(@invoice.payment_end)}
								%td
									= get_currency_full(@invoice.price)
			.row
				.col-md-2
					%b Attachment
				.col-md-10 
					= wicked_pdf_image_tag @invoice.attachment
				.col-md-2
					%b Description
				.col-md-10 
					= @invoice.description ? @invoice.description.html_safe : "---"
				.col-md-2
					%b Status
				.col-md-10 
					= @invoice.status?
