.form-horizontal
  .form-group
    .col-sm-3.control-label First Name
    .col-sm-9
      = f.text_field :first_name, class: "form-control", placeholder: "Masukkan Nama Depan", required: true
  .form-group
    .col-sm-3.control-label Last Name
    .col-sm-9
      = f.text_field :last_name, class: "form-control", placeholder: "Masukkan Nama Belakang", required: true
  .form-group
    .col-sm-3.control-label Country
    .col-sm-9
      = f.text_field :country, class: "form-control", placeholder: "Enter Your Country", id: "country", required: true
  .form-group
    .col-sm-3.control-label Province
    .col-sm-9
      = f.text_field :province, class: "form-control", placeholder: "Enter Province", id: "province", required: true
  .form-group
    .col-sm-3.control-label City
    .col-sm-9
      = f.text_field :city, class: "form-control", placeholder: "Enter City", id: "city", required: true
  .form-group
    .col-sm-3.control-label Address
    .col-sm-9
      = f.text_area :address, class: "form-control", placeholder: "Enter your Address", id: "address", required: true
  .form-group
    .col-sm-3.control-label Account Paypal
    .col-sm-9
      = f.text_field :acc_paypal, class: "form-control", placeholder: "Enter Account Paypal"
  .form-group
    .col-sm-3.control-label Account Payoneer
    .col-sm-9
      = f.text_field :acc_payoneer, class: "form-control", placeholder: "Enter Account Payoneer"
  .form-group
    .col-sm-3.control-label Account Bank
    .col-sm-9
      = f.text_field :acc_bank, class: "form-control", placeholder: "Enter Account Bank"
  .form-group
    .col-sm-3.control-label Longitude
    .col-sm-9
      = f.text_field :longitude, class: "form-control", placeholder: "Enter Longitude"
  .form-group
    .col-sm-3.control-label Latitude
    .col-sm-9
      = f.text_field :latitude, class: "form-control", placeholder: "Enter Latitude"