/ Main Wrapper
#wrapper.edit-profile-publisher.content-dashboard
  .normalheader.small-header
    .hpanel
      .panel-body
        %a.small-header-action{:href => ""}
          .clip-header
            %i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital
          %ol.breadcrumb.hbreadcrumb
            = render_breadcrumbs :tag => :li, :separator => ""
        %h2.font-light.m-b-xs
          %b Edit Profile
        %p Setting and complete your profile!

  .content
    .row
      .col-md-4
        .hpanel.hgreen
          .panel-body
            .row
              .user-bg
                = image_tag "11.png", width: "100%"
                .user-content
                  = image_tag @publisher.avatar, class: "thumb-lg img-circle"
                  %h5.text-white.text-uppercase
                    = @publisher.profile.full_name  rescue @publisher.username
                  %h6.text-white 
                    = @publisher.email
                .overlay-box
              
              .col-xs-12
                %address
                  Fullname :
                  %br
                  %span.text-600
                    = @publisher.profile.full_name  rescue @publisher.username
                  %br
                  %br
                  Email :
                  %br
                  %span.text-600
                    = @publisher.email || '--'
                  %br
                  %br
                  Mobile Phone :
                  %br
                  %span.text-600
                    = @publisher.get_phone_number || '--'
                %address
                  Skype :
                  %br
                  %span.text-600
                    = @publisher.skype || '--'
                  %br
                  %br
                  Facebook Url :
                  %br
                  %span.text-600
                    - if @publisher.facebook_url.present?
                      = link_to @publisher.facebook_url, @publisher.facebook_url, target: "_blank" 
                    - else
                      ='--'
                  %br
                  %br
                  Address :
                  %br
                  %span.text-600
                    = @profile.place_info rescue '--'
        .hpanel.hgreen
          .panel-body
            .row
              .col-xs-12
                %address
                  %h5 PAYMENT METHODS

                = @profile.get_payment_type+" :"
                %br
                %span.text-600
                  = @profile.present? ? @profile.payment_acc : "-"
              
          .panel-footer.contact-footer
            .row
              .col-xs-4.border-right
                .contact-stat
                  %span Campaigns:
                  %strong #{@publisher.campaigns.count}
              .col-xs-4.border-right
                .contact-stat
                  %span Landing Pages:
                  %strong #{@publisher.request_landing_pages.count}
              .col-xs-4
                .contact-stat
                  %span Payments:
                  %strong #{@publisher.payment_snapshots.count}
      .col-md-8
        = form_for @publisher, url: publishers_profile_path, method: 'put', html: { multipart:true } do |f|
          = f.fields_for :profile do |p|
            .hpanel.hgreen
              .panel-body
                .row
                  .col-md-12
                    %h4 ACCOUNT
                    %hr
                  .col-md-12.photo-profil-head
                    .photo-profile
                      = f.file_field :avatar, onchange: "previewFile()"
                      = f.hidden_field :avatar_cache
                      = image_tag @publisher.avatar, class: "img-thumbnail img-circle img-responsive change-profile"
                      %i.fa.fa-upload.fa-5x
                  .col-md-6
                    .form-group
                      = f.label :username
                      = f.text_field :username, placeholder: "Enter username", class: 'form-control', readonly: true
                  .col-md-6
                    .form-group
                      = f.label :email
                      = f.email_field :email, placeholder: "Enter email", class: 'form-control', readonly: true
                  .col-md-6
                    .form-group
                      = f.label :password
                      = f.password_field :password, placeholder: "Enter password", class: 'form-control'
                  .col-md-6
                    .form-group
                      = f.label :password_confirmation
                      = f.password_field :password_confirmation, placeholder: "Enter password confirmation", class: 'form-control'
                  .col-md-6
                    .form-group
                      = f.label :phone
                      .row
                        .col-xs-4
                          = f.select :phone_code, get_phone_codes, {prompt: 'Code'}, class: 'form-control', required: true
                        .col-xs-8
                          = f.text_field :phone, placeholder: "Phone Number", class: 'form-control', required: true
                  .col-md-6
                    .form-group
                      = f.label :skype
                      = f.text_field :skype, placeholder: "Enter Skype ID", class: 'form-control'
                  .col-md-12
                    .form-group
                      = f.label :facebook_url
                      = f.text_field :facebook_url, placeholder: "Enter Facebook URL", class: 'form-control', required: true
                  .col-md-12
                    %label Number KTP/ID Card
                    .form-group
                      = f.text_field :id_card, class: "form-control app-btn value-clear input", placeholder: "KTP/ID Card Must Valid", required: true
                  .col-md-6
                    .form-group
                      %label Photo KTP/ID Card
                      .card1
                        = image_tag @publisher.foto_id_card.url, class: 'img img-thumbnail', style: 'width:100%;'
                        %br
                        = f.file_field :foto_id_card
                  .col-md-6
                    .form-group
                      %label Selfie With Your KTP/ID Card
                      .card2
                        = image_tag @publisher.selfi_id_card.url, class: 'img img-thumbnail', style: 'width:100%;'
                        %br
                        = f.file_field :selfi_id_card
                  

            .hpanel.hgreen
              .panel-body
                .row
                  .col-md-12
                    %h4 PAYMENT METHOD
                    - disabled = @publisher.acc_bank_present? ? true : false
                    %hr
                    - if @publisher.profile.choice_payment_type.present?
                      .alert.alert-warning
                        %small The payment method now can not be changed again when it has been filled by you, If you want to change the payment method please contact your manager first and mention the reason why want to change, and your manager will change it for you. #{link_to 'Chat My Manager Now', publishers_managers_path}
                      %br
                    - else
                      .alert.alert-warning
                        %small Make sure you fill out this payment method correctly, because you can not change back if it's been filled in, except through your manager's approval. #{link_to 'Chat My Manager Now', publishers_managers_path}
                      %br
                  .col-md-6
                    .form-group
                      = p.label :choice_payment_type
                      - if @publisher.profile.choice_payment_type.present?
                        %br
                        %b
                        = @publisher.profile.get_payment_type
                        = p.hidden_field :choice_payment_type
                      - else
                        = p.select :choice_payment_type, options_for_select([['Acc Bank', '3']], p.object.choice_payment_type), {prompt: 'Select choice payment type'}, class: 'form-control choice_payment_type_select', required: true, disabled: disabled
                  .field-acc-payment
                    - if @publisher.profile.choice_payment_type == '3' || @publisher.profile.choice_payment_type.blank?
                      .acc-bank
                        .col-md-6
                          .form-group
                            = label_tag "Bank Name (ex. BCA)"
                            - if disabled == true
                              %br
                              %b
                              = @publisher.profile.bank_name
                              = p.hidden_field :bank_name
                            - else
                              = p.select :bank_name, options_for_select(Profile::CHOICE_BANK_NAME, p.object.bank_name), {prompt: 'Select bank name'}, class: 'form-control', required: true, disabled: disabled
                        .col-md-6
                          .form-group
                            = label_tag "Account Number (ex. 123456)"
                            - if disabled == true
                              %br
                              %b
                              = @publisher.profile.acc_bank
                              = p.hidden_field :acc_bank
                            - else
                              = p.text_field :acc_bank, placeholder: "ex.Account Number", class: "form-control", required: true, disabled: disabled
                        .col-md-6
                          .form-group
                            = label_tag "Account Name (ex. cpaground)"
                            - if disabled == true
                              %br
                              %b
                              = @publisher.profile.acc_name
                              = p.hidden_field :acc_name
                            - else
                              = p.text_field :acc_name, placeholder: "ex.Account Name", class: "form-control", required: true, disabled: disabled
                    - elsif @publisher.profile.choice_payment_type == '1'
                      .col-md-6.acc-paypal
                        .form-group
                          = p.label :acc_paypal
                          - if @publisher.profile.acc_paypal.present?
                            %br
                            %b
                            = @publisher.profile.acc_paypal
                            = p.hidden_field :acc_paypal
                          - else
                            = p.text_field :acc_paypal, placeholder: "Enter Account Paypal", class: "form-control", required: true
                    - elsif @publisher.profile.choice_payment_type == '2'
                      .col-md-6.acc-payoneer
                        .form-group
                          = p.label :acc_payoneer
                          - if @publisher.profile.acc_payoneer.present?
                            %br
                            %b
                            = @publisher.profile.acc_payoneer
                            = p.hidden_field :acc_payoneer
                          - else
                            = p.text_field :acc_payoneer, placeholder: "Enter Account Payoneer", class: "form-control", required: true
            .hpanel.hgreen
              .panel-body
                .row
                  .col-md-12
                    %h4 PROFILE
                    %hr
                  .col-md-6
                    .form-group
                      = p.label :first_name
                      = p.text_field :first_name, placeholder: "Enter First Name", class: "form-control", required: true
                  .col-md-6
                    .form-group
                      = p.label :last_name
                      = p.text_field :last_name, placeholder: "Enter Last Name", class: "form-control", required: true
                  .col-md-6
                    .form-group
                      = p.label :country
                      = p.country_select :country, ["Indonesia"], options = {prompt: 'Select Country'}, html_options = {class: "form-control", required: true}
                  .col-md-6
                    .form-group
                      = p.label :city
                      = p.text_field :city, class: 'form-control', placeholder: 'Your City', required: true
                  .col-md-12
                    .form-group
                      = p.label :address
                      = p.text_field :address, placeholder: "Enter Address", class: "form-control", required: true
                  .col-md-12
                    .form-group
                      = p.label :zip_code
                      = p.text_field :zip_code, placeholder: "Enter Zip Code", class: "form-control", required: true
                  .col-md-12
                    = p.hidden_field :latitude, class: 'latitude'
                    = p.hidden_field :longitude, class: 'longitude'
                    %input.form-control#pac-input.controls{placeholder: "Tentukan Lokasi Persis Anda", type: "text"}
                    #mapprofile
                    #infowindow-content
                      %span#place-name.title
                      %br
                      Place ID
                      %span#place-id
                      %br
                      %span#place-address
                  .col-md-12
                    = submit_tag "Update", class: "btn btn-primary pull-right"
  .content-footer
              
  = render 'publishers/shared/footer'

= render 'publishers/profiles/js_set_geo_map'

:javascript
  function checkAccPayment(){
    choice_payment_type = document.getElementById("publisher_profile_attributes_choice_payment_type").value;

    if(choice_payment_type == '1'){
      $('.field-acc-payment .acc-payoneer').appendTo('.content-footer');
      $('.acc-payoneer').hide();
      $('.field-acc-payment .acc-bank').appendTo('.content-footer');
      $('.acc-bank').hide();
      $('.acc-paypal').appendTo('.field-acc-payment');
      $('.acc-paypal').show();
    }else if(choice_payment_type == '2'){
      $('.field-acc-payment .acc-paypal').appendTo('.content-footer');
      $('.acc-paypal').hide();
      $('.field-acc-payment .acc-bank').appendTo('.content-footer');
      $('.acc-bank').hide();
      $('.acc-payoneer').appendTo('.field-acc-payment');
      $('.acc-payoneer').show();
    }else if(choice_payment_type == '3'){
      $('.field-acc-payment .acc-paypal').appendTo('.content-footer');
      $('.acc-paypal').hide();
      $('.field-acc-payment .acc-payoneer').appendTo('.content-footer');
      $('.acc-payoneer').hide();
      $('.acc-bank').appendTo('.field-acc-payment');
      $('.acc-bank').show();
    }else{
      $('.field-acc-payment .acc-paypal').appendTo('.content-footer');
      $('.acc-paypal').hide();
      $('.field-acc-payment .acc-payoneer').appendTo('.content-footer');
      $('.acc-payoneer').hide();
      $('.field-acc-payment .acc-bank').appendTo('.content-footer');
      $('.acc-bank').hide();
    }
  }
  $(".card1").find("input[type='file']").on('change', function(index){
    if($(this).length){
      previewFile(this, $('.card1 img'));
    }
  });

  $(".card2").find("input[type='file']").on('change', function(index){
    if($(this).length){
      previewFile(this, $('.card2 img'));
    }
  });
  function previewFile(input, imageHeader) {
    var preview = imageHeader[0];
    var file    = input.files[0];
    var reader  = new FileReader();

    reader.onloadend = function () {
      preview.src = reader.result;
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.src = "";
    }
  }

  $(document).ready(function() {
    checkAccPayment();

    $(document).on('change', '.choice_payment_type_select', function() {
      checkAccPayment();
    });
  });