= f.fields_for :galleries do |g|
  = render 'gallery_fields', f: g

.col-md-12
  %br
  = link_to_add_association f, :galleries, partial: 'gallery_fields', class: "btn btn-success btn-sm" do
    %i.fa.fa-picture-o
    %span Add Image
