= render "shared/admin/breadcrumbs"

%section.content.full-page
  .row
    .col-xs-12
      .box.box-m
        .box-body
          .responsive-tabel
            .responsive-content-tabel
              %table#example1.table.table-bordered.table-striped.tabel-width2
                %thead
                  %tr
                    %th Title
                    %th Created At
                    %th{width: '40px'} Action
                %tbody
                  - if @web_settings.blank?
                    %tr
                      %td{ colspan: "5"} 
                        %center Data not found.
                  - else
                    - @web_settings.each_with_index do |resource, index|  
                      %tr
                        %td
                          = resource.title
                        %td
                          = get_datetime(resource.created_at)
                        %td
                          = link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_web_setting_path(resource), class: 'btn btn-default btn-xs'