- if group_coverages.present?
	.row
		- group_coverages.each do |resource|
			.col-md-12
				.list-group-coverages__info
					.avatar
						= image_tag resource.user.avatar.url(:thumb)
					.detail
						.user-entity
							= "<b>#{resource.user.username.titleize}</b> - <span class='type'>AM is #{resource.user.account_manager.username.titleize}</span>".html_safe
							%br
							%small
								= link_to resource.user.email, account_managers_publisher_path(resource.user)
							%br
							%small
								= resource.user.profile.city
						.status-section
							.status= resource.status_available?
					.action
						- if current_user.is_account_manager? && @group.user_id == current_user.id
							= form_for resource, url: '', method: 'put', html: { class: 'change-status-group-coverage', data: {url: change_status_group_coverage_account_managers_group_path(resource)}} do |f|
								- if resource.is_pending?
									= button_tag "<i class='fa fa-check'></i> Approve".html_safe, type: "sumbit", value: GroupCoverage::APPROVE, name: "status",class: 'btn btn-xs btn-primary', style: "margin-right: 5px;"
									= button_tag "<i class='fa fa-close'></i> Reject".html_safe, type: "sumbit", value: GroupCoverage::REJECT, name: "status",class: 'btn btn-xs btn-default'
								- elsif resource.is_approve?
									= button_tag "<i class='fa fa-close'></i> Reject".html_safe, type: "sumbit", value: GroupCoverage::REJECT, name: "status", class: 'btn btn-xs btn-default'
								- else
									/ = hidden_field_tag :status, GroupCoverage::APPROVE
									= button_tag "<i class='fa fa-check'></i> Approve".html_safe, type: "sumbit", value: GroupCoverage::APPROVE, name: "status", class: 'btn btn-xs btn-primary'
				%hr
		.col-md-12
			= paginate group_coverages, remote: true, param_name: param_page
- else
	= render "shared/empty_blank"