- url_search = current_user.is_account_manager? ? account_managers_group_path(params[:id]) : admins_group_path(params[:id])
= form_for :search, url: url_search, method: 'get', html: {class: 'form-search', remote: true} do
	.input-group.list-group-coverages__searching-publisher
		= text_field_tag :key, params[:key], class: 'form-control radius-left', placeholder: 'Keywords'
		%span.input-group-btn
			= submit_tag :Search, class: 'btn btn-primary'
.list-group-coverages
	%ul.nav.nav-tabs
		%li.active
			%a{"data-toggle" => "tab", :href => "#tab-1"} Active Members (<span class='total-group-coverages-approve'>#{@group_coverages_approve_all.count}</span>)
		%li
			%a{"data-toggle" => "tab", :href => "#tab-2"} Request To Join (<span class='total-group-coverages-waiting'>#{@group_coverages_waiting_all.count}</span>)

	.tab-content.background-white.no-padding-m
		#tab-1.tab-pane.active
			.hpanel
				.panel-body
					#lists-group-coverages-approve
						= render 'account_managers/groups/lists_group_coverages', group_coverages: @group_coverages_approve, param_page: "group_coverages_approve"
		#tab-2.tab-pane
			.hpanel
				.panel-body
					#lists-group-coverages-waiting
						= render "account_managers/groups/lists_group_coverages", group_coverages: @group_coverages_waiting, param_page: "group_coverages_waiting"


:javascript
	$(document).ready(function() {
		$(document).on('click', '.btn', function() {
			$(this).parents('.change-status-group-coverage').find('.btn').removeClass('clicked');
			$(this).addClass('clicked');
		});
	});