.modal.fade.modal-forum{:role => "dialog", id: "myGroupCoverages"}
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				%button.close{"data-dismiss" => "modal", :type => "button"} ×
				%h4.modal-title List Members Group
			.modal-body
				.hpanel
					= render "account_managers/groups/modal_lists_group_coverages"
					