- if action_name == "index"
	- group = Group.new
	- link_path = account_managers_groups_path
	- method_path = 'post'
	- btn_name = 'CREATE'
- else
	- group = @group
	- link_path = account_managers_group_path
	- method_path = 'put'
	- btn_name = 'UPDATE'

.modal.fade.modal-forum{:role => "dialog", id: "myGroup"}
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				%button.close{"data-dismiss" => "modal", :type => "button"} ×
				%h4.modal-title #{btn_name} Group
			.modal-body
				.user-forum
					.user-content
						= image_tag current_user.avatar, class: "thumb-lg img-circle"
						%center
							%h5.text-uppercase
								= current_user.username

					.overlay-box
				.row.form-horizontal
					= form_for group, url: link_path, method: method_path do |f|
						.form-group
							.col-xs-12
								= f.text_field :name, placeholder: "Enter name of the group", id: "editor1", class: 'form-control', required: true, autofocus: true
								%br
							.col-xs-12
								= f.text_area :description, placeholder: "Enter description of the group", id: "editor1", class: 'textarea-forum margin-bottom form-control ckeditor', required: true
								%br
							.col-xs-12
								.input-group.image-preview
									.input-group-addon Cover
									%input.form-control.image-preview-filename{:disabled => "disabled", :type => "text"}/
									/ don't give a name === doesn't send on POST/GET
									%span.input-group-btn
										/ image-preview-clear button
										%button.btn.btn-default.image-preview-clear{:style => "display:none;", :type => "button"}
											%span.fa.fa-trash
											Clear
										/ image-preview-input
										.btn.btn-default.image-preview-input.margin-right
											%span.fa.fa-camera
											%span.image-preview-input-title Browse
											= f.file_field :cover, accept: "image/png, image/jpeg, image/gif", type: "file"
								%br
							.col-xs-12
								.input-group.image-preview2
									.input-group-addon Icon &nbsp;
									%input.form-control.image-preview2-filename{:disabled => "disabled", :type => "text"}/
									/ don't give a name === doesn't send on POST/GET
									%span.input-group-btn
										/ image-preview2-clear button
										%button.btn.btn-default.image-preview2-clear{:style => "display:none;", :type => "button"}
											%span.fa.fa-trash
											Clear
										/ image-preview2-input
										.btn.btn-default.image-preview2-input.margin-right
											%span.fa.fa-camera
											%span.image-preview2-input-title Browse
											= f.file_field :icon, accept: "image/png, image/jpeg, image/gif", type: "file"
								%br
							.col-xs-12
								= f.select :status, Group::STATUSES, {prompt: 'Select status'}, class: 'form-control', required: true
								%br
							.col-xs-12
								.input-group.pull-right
									= button_tag class: "btn btn-primary", type: "submit" do
										= btn_name