- if list_reports.present?
	%table#example1.table.table-bordered.table-striped
		%thead
			%tr
			%th Campaign Title
			= render 'shared/analytics/thead_table_analytic'
		%tbody
			- list_reports.each_with_index do |resource, index|
				%tr
					%td
						= link_to Campaign.find_by(id: resource[0]).title, publishers_campaign_path(resource[0])
					%td
						= resource[4]
					%td
						= resource[5]
					%td
						= resource[6]
					%td
						= resource[7]
					%td
						= resource[8]
					%td
						= get_currency(resource[9])
	= paginate list_reports, remote: true, param_name: "#{list_report_by}"
- else
	= render "shared/empty_blank"