/ Main Wrapper
#wrapper.content-dashboard-publisher.content-dashboard
  .bg-image.bg-image-bottom.animate-panel
    .bg-primary-dark-op.py-30
      .content.content-full.text-center.welcome-to-cpaground
        .col-lg-12.text-center.m-t-md
          %h2
            WELCOME TO 
            %strong CPAGROUND
          %p
            Hello
            %strong #{current_user.username}
            Here is your dashboard to make it easy to manage your ad reporting
          - if @publisher.have_link_referral?
            .row
              .col-md-4.col-md-offset-4
                %p
                  %strong Your Link Referral
                .input-group
                  %input.form-control{value: new_user_registration_url(ref: @publisher.referral_token), class: "js-link-target-#{@publisher.id}"}
                  %span.input-group-btn
                    %button.btn.clipboard-btn.btn-default.btn-secondary{"data-clipboard-target" => ".js-link-target-#{@publisher.id}"}
                      %i.fa.fa-copy

  .content.animate-panel
    .row
      .col-md-12
        = link_to lombok_path, target: "_blank" do
          = image_tag 'DONASI GEMPA LOMBOK.jpg', style: 'width:100%; margin-bottom:10px;'
      - if @information.present?
        .col-md-12
          .hpanel
            .panel-body{style: 'background: #aaf3f7;'}
              .information-list
                .h5
                  %b= @information.title+" :"
                = @information.description.html_safe if @information.description.present?

      = render 'shared/analytics/cgaward'
              
      .col-md-3.col-xs-6.hpanel-count
        .hpanel
          .panel-body
            .stats-title.pull-left
              %h4 My Manager
              %p
                = @publisher.account_manager.username
            .stats-icon.pull-right
              %i.pe-7s-id.fa-4x
            .m-t-xl
              = link_to '+ Send Message'.html_safe, publishers_managers_path, class: 'btn btn-default pull-left btn-send-message'
      .col-md-3.col-xs-6.hpanel-count
        .hpanel
          .panel-body
            .stats-title.pull-left
              %h4 My Campaigns
            .stats-icon.pull-right
              %i.pe-7s-speaker.fa-4x
            .m-t-xl
              %h1.text-info
                = @publishers_campaign_count
      .col-md-3.col-xs-6.hpanel-count
        .hpanel
          .panel-body
            .stats-title.pull-left
              %h4 My Landing Page
            .stats-icon.pull-right
              %i.pe-7s-display2.fa-4x
            .m-t-xl
              %h1.text-info
                = @publishers_lp
      .col-md-3.col-xs-6.hpanel-count
        .hpanel
          .panel-body
            .stats-title.pull-left
              %h4 Received Payment
            .stats-icon.pull-right
              %i.pe-7s-wallet.fa-4x
            .m-t-xl
              %h1.text-info
                = @have_recieve_payment
      
      .col-md-12
        .row
          .col-md-4.responsive-panel-quick-date
            .hpanel.hblue.offers.responsive-hpanel
              .panel-body.bg-offers
                .row
                  .col-md-12
                    %h3.text-grey.title-list-offers
                      New Offers
                  .col-md-12
                    - if @new_offers.present?
                      - @new_offers.each do |offer|
                        - unless offer.banned_applied?(current_user.id)
                          - button_name = offer.auto_approvement? ? 'Get' : 'Request'
                          - data_target_value = "#newOfferModal-#{offer.id}"
                          - data_toggle_value = "modal"
                          - label_style = "info"
                          - if offer.approval?
                            - button_name = 'Apply'
                          - if offer.has_applied?(current_user.id)
                            - if offer.checked_applied?(current_user.id)
                              - button_name = 'Get'
                            - else
                              - button_name = 'Waiting Approval'
                              - label_style = "warning"
                              - data_target_value = "#"
                              - data_toggle_value = "#"
                          .filter-item
                            .offers-content{:href => "#", "data-target" => data_target_value, "data-toggle" => data_toggle_value, :type => "button"} 
                              .list-offers.responsive-list-offer
                                %small.pull-left
                                  = offer.category_name
                                %br
                                %h5.m-b-xs.pull-left
                                  = offer.name
                                %label.label{class: "label-#{label_style} pull-right"}
                                  #{button_name}
                          .modal.fade{:role => "dialog", id: "newOfferModal-#{offer.id}"}
                            = render 'publishers/offers/modal_apply', resource: offer, button_name: button_name
                    - else
                      = render "shared/empty_blank"
          .col-md-4.responsive-panel-quick-date
            .hpanel.hblue.offers.responsive-hpanel
              .panel-body.bg-offers
                .row
                  .col-md-12
                    %h3.text-grey.title-list-offers
                      Top Offers
                  .col-md-12
                    - if @top_offers.present?
                      - @top_offers.each do |offer|
                        - unless offer.banned_applied?(current_user.id)
                          - button_name = offer.auto_approvement? ? 'Get' : 'Request'
                          - data_target_value = "#newTopModal-#{offer.id}"
                          - data_toggle_value = "modal"
                          - label_style = "info"
                          - if offer.approval?
                            - button_name = 'Apply'
                          - if offer.has_applied?(current_user.id)
                            - if offer.checked_applied?(current_user.id)
                              - button_name = 'Get'
                            - else
                              - button_name = 'Waiting Approval'
                              - label_style = "warning"
                              - data_target_value = "#"
                              - data_toggle_value = "#"
                          .filter-item
                            .offers-content{:href => "#", "data-target" => data_target_value, "data-toggle" => data_toggle_value, :type => "button"} 
                              .list-offers.responsive-list-offer
                                %small.pull-left
                                  = offer.category_name
                                %br
                                %h5.m-b-xs.pull-left
                                  = offer.name
                                %label.label{class: "label-#{label_style} pull-right"}
                                  #{button_name}
                          .modal.fade{:role => "dialog", id: "newTopModal-#{offer.id}"}
                            = render 'publishers/offers/modal_apply', resource: offer, button_name: button_name
                    - else
                      = render "shared/empty_blank"
          .col-md-4.responsive-panel-quick-date
            .hpanel.hblue.offers.responsive-hpanel
              .panel-body.bg-offers
                .row
                  .col-md-12
                    %h3.text-grey.title-list-offers
                      Promo Offers
                  .col-md-12
                    - if @promo_offers.present?
                      - @promo_offers.each do |offer|
                        - unless offer.banned_applied?(current_user.id)
                          - button_name = offer.auto_approvement? ? 'Get' : 'Request'
                          - data_target_value = "#newPromoModal-#{offer.id}"
                          - data_toggle_value = "modal"
                          - label_style = "info"
                          - if offer.approval?
                            - button_name = 'Apply'
                          - if offer.has_applied?(current_user.id)
                            - if offer.checked_applied?(current_user.id)
                              - button_name = 'Get'
                            - else
                              - button_name = 'Waiting Approval'
                              - label_style = "warning"
                              - data_target_value = "#"
                              - data_toggle_value = "#"
                          .filter-item
                            .offers-content{:href => "#", "data-target" => data_target_value, "data-toggle" => data_toggle_value, :type => "button"} 
                              .list-offers.responsive-list-offer
                                %small.pull-left
                                  = offer.category_name
                                %br
                                %h5.m-b-xs.pull-left
                                  = offer.name
                                %label.label{class: "label-#{label_style} pull-right"}
                                  #{button_name}
                          .modal.fade{:role => "dialog", id: "newPromoModal-#{offer.id}"}
                            = render 'publishers/offers/modal_apply', resource: offer, button_name: button_name
                    - else
                      = render "shared/empty_blank"

      .count-total.responsive-panel
        .col-md-9.responsive-panel-quick-date
          .hpanel.responsive-hpanel
            .panel-body.quick-date
              .row
                .col-md-12
                  %h3 Estimated Earnings
                .col-md-3.col-xs-3
                  %h3.text-success
                    = get_currency(@earning_today_so_far)
                  %small Today so far
                .col-md-3.col-xs-3
                  %h3.text-success
                    = get_currency(@earning_yesterday)
                  %small Yesterday
                .col-md-3.col-xs-3
                  %h3.text-success
                    = get_currency(@earning_last_7_month)
                  %small Last 7 days
                .col-md-3.col-xs-3
                  %h3.text-success
                    = get_currency(@earning_this_month)
                  %small This month
                
        .col-md-3.responsive-panel-quick-date
          .hpanel.responsive-hpanel
            .panel-body.quick-date
              .row
                .col-md-12
                  %h3 Balance
                .col-md-12
                  %h3.text-success 
                    = get_currency(@_last_payment)
                  %small Last Payment
      
      .col-lg-12.responsive-panel-quick-date
        .hpanel.responsive-hpanel
          .panel-heading.desktop
            .panel-tools
              %a.showhide
                %i.fa.fa-chevron-up
              %a.closebox
                %i.fa.fa-times
            Dashboard information and statistic
          = form_for :select_date, url: publishers_dashboards_path, method: 'get', remote: true, html: {class: 'js-form-submit'} do
            .panel-body.responsive-panel-analytic.bg-offers
              .row.responsive-row-analytic
                .col-xs-6
                  .js-btn-export-csv
                    = render 'publishers/dashboards/btn_export_csv'
                  .simple-search
                    .input-group.js-field-search
                      = render 'shared/analytics/field_search'
                .col-xs-6
                  #btn-group-analytic
                    = render 'admins/campaigns/btn_group_analytic'
                .col-xs-12
                  .btn-group.pull-right.btn-chart
                    %button.btn.btn-default.btn-total-revenue
                      Total Revenue :
                      %span.total-revenue #{get_currency(@reports_total_revenue)}
                .col-xs-12
                  #the-report-analytics
                    = render "publishers/shared/analytic", report_for: 'dashboard'

    = render 'publishers/shared/footer'
