%section.login.no-margin
  .container
    .row
      .overlay-m
      .content-login.bg-login
        .col-md-6
          .row
            .introduce-login
              .introduce
                %h1
                  LET'S FIX
                  %span.text-cpaground.font-bold YOUR PASSWORD NOW
                
              .ask
                Not on CPAGround yet?
                = link_to "Sign Up", new_user_registration_path
                %br/
                Already a member?
                = link_to "Sign In", new_user_session_path
              .overlay
        .col-md-6
          = devise_error_messages!
          .row
            .form-sessions.register-form
              %h2.font-bold
                CHANGE
                %span
                  PASSWORD
              %p
                Please input your new password.
              %br
              = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
                = f.hidden_field :reset_password_token
                %label
                  = f.password_field :password, autocomplete: "off", class: "app-btn value-clear input", autofocus: true, placeholder: "New Password", required: true
                %label
                  = f.password_field :password_confirmation, autocomplete: "off", class: "app-btn value-clear input", autofocus: true, placeholder: "Repeat New Password", required: true
                %label
                  = f.submit "Change my password", class: "btn btn-info btn-login btn-block"

= render 'shared/footer_small'
