%section.login.no-margin
  .container
    .row
      .overlay-m
      .content-login.bg-login
        .col-md-6
          .row
            .introduce-login
              .introduce
                %h1
                  DID
                  %span.text-cpaground YOU FORGOT
                  %span.font-bold THE PASSWORD?
                
              .ask
                Not on CPAGround yet?
                = link_to "Sign Up", new_user_registration_path
                %br/
                Already a member?
                = link_to "Sign In", new_user_session_path
              .overlay
        .col-md-6
          = devise_error_messages!
          .row
            .form-sessions.register-form
              %h2
                FORGOT
                %span.font-bold
                  PASSWORD
              %p
                Please input your email.
              %br
              = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
                %label
                  = f.email_field :email, class: "app-btn value-clear input", autofocus: true, placeholder: "Email", required: true
                %label
                = f.submit "Send me reset password instructions", class: "btn btn-login btn-block btn-info"

= render 'shared/footer_small'
