- if current_page?(publishers_campaigns_url) or current_page?(account_managers_campaigns_url)
	.not-found
		%i.pe-7s-speaker
		%br
		Campaign Not Found
- elsif current_page?(publishers_managers_url)
	.not-found
		%i.pe-7s-chat
		%br
		Blank Message
- elsif current_page?(account_managers_publishers_url)
	.not-found
		%i.pe-7s-users
		%br
		Users Not Found
- elsif current_page?(account_managers_payments_url)
	.not-found
		%i.pe-7s-cash
		%br
		Payments Not Found
- else
	.not-found
		%i.pe-7s-file
		%br
		Data Not Found