%section.fotter-login.no-margin
  .container
    .row
      / .col-md-6.col-sm-6
      /   .site-social-icons
      /     %span.follow-us
      /       Follow Us : 
      /     %a{:href => "#"}
      /       %i.fa.fa-facebook
      /     %a{:href => "#"}
      /       %i.fa.fa-twitter
      /     %a{:href => "#"}
      /       %i.fa.fa-google-plus
      /     %a{:href => "#"}
      /       %i.fa.fa-instagram
      /     %a{:href => "#"}
      /       %i.fa.fa-youtube
      .col-md-6.col-sm-6
        %span.copyright-login.text-left
          = @web_setting.footer_tags if @web_setting.present?