%nav.navbar.menu.navbar-default.navbar-fixed-top.navbar-base{class: "#{'navbar-transparant js-navbar-base' unless params[:controller] == 'registrations' || params[:controller] == 'sessions' || params[:controller].include?('devise') || params[:controller] == 'confirmations'}"}
	.container
		.navbar-header
			%button.btn-menu-header.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.page-scroll{href: root_path}
				- if params[:controller] == 'registrations' || params[:controller] == 'sessions' || params[:controller].include?('devise') || params[:controller] == 'confirmations'
					= image_tag "logo-cpaground-black.png", alt: "cpaground", class: "logo pull-left"
				- else
					= image_tag "logo-cpaground-white.png", alt: "cpaground", class: "logo-color logo pull-left"
					= image_tag "logo-cpaground-black.png", alt: "cpaground", class: "logo-transparant logo pull-left"

			- if user_signed_in?
				%button.btn-profile-mobile.navbar-toggle.collapsed.pull-right{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#dropdown-profile", "data-toggle" => "collapse", :type => "button"}
					%span.nav-cell.p-r-10
						= image_tag current_user.avatar, class: "img-circle", height: "32", width: "32"

		#navbar.navbar-responsive.navbar-collapse.collapse
			%ul.nav.navbar-nav.navbar-right.menu-responsive.menu-left.pull-left
				/ %li{class: "#{'active' if current_page?(root_url)}"}
				/   %a.page-scroll{href: root_path} Home
				%li{class: "#{'active' if current_page?(about_us_url)}"}
					= link_to "about us", about_us_path, class: "page-scroll"
				%li{class: "#{'active' if current_page?(features_url)}"}
					= link_to "Features", features_path, class: "page-scroll"
				%li{class: "#{'active' if current_page?(how_it_works_url)}"}
					= link_to "how it works", how_it_works_path, class: "page-scroll"
				%li{class: "#{'active' if current_page?(faqs_url)}"}
					= link_to "faqs", faqs_path, class: "page-scroll"
				%li{class: "#{'active' if current_page?(contacts_url)}"}
					= link_to "Contact", contacts_path, class: "page-scroll"
				
			%ul.ul-menu.nav.navbar-nav.navbar-right.menu-responsive.pull-right
				- unless user_signed_in?
					%li{class: "#{'active' if current_page?(contact_url)}"}
						= link_to "Sign In", new_user_session_path, class: "pull-left #{active_sidebar?(:sessions, :all)}"
						.slash.pull-left &#47;
						= link_to "Sign Up", new_user_registration_path, class: "pull-right #{active_sidebar?(:registrations, :all)}"
					
				- else
					- if current_user.is_publisher?
						- dashboard_link = publishers_dashboards_path
						- edit_profile_link = edit_publishers_profile_path(current_user)
					- elsif current_user.is_account_manager?
						- dashboard_link = account_managers_dashboards_path
						- edit_profile_link = edit_account_managers_profile_path(current_user)
					- else
						- dashboard_link = admins_dashboards_path
						- edit_profile_link = edit_admins_admin_path(current_user)
					%li.desktop.desktop-menu-profile.nav-table.dropdown.hidden-sm-down
						%a.dropdown-toggle.login-scroll{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
							%span.nav-cell.p-r-10
								= image_tag current_user.avatar, class: "img-circle", height: "32", width: "32"
							%span.nav-cell
								= current_user.username
								%span.caret
						%ul.dropdown-menu.menu-profile
							%li
								= link_to dashboard_link do
									%i.fa.fa-globe
									&nbsp; 
									Dashboard
							%li
								= link_to edit_profile_link do
									%i.fa.fa-user
									&nbsp; 
									Profile
							%li
								= button_to destroy_user_session_path, method: :delete, class: 'btn btn-default btn-logout' do
									%i.fa.fa-sign-out
									&nbsp; SignOut

	- if user_signed_in?
		- if current_user.is_publisher?
			- dashboard_link = publishers_dashboards_path
			- edit_profile_link = edit_publishers_profile_path(current_user)
		- elsif current_user.is_account_manager?
			- dashboard_link = account_managers_dashboards_path
			- edit_profile_link = edit_account_managers_profile_path(current_user)
		- else
			- dashboard_link = admins_dashboards_path
			- edit_profile_link = edit_admins_admin_path(current_user)
		.mobile-menu-profile
			#dropdown-profile.navbar-responsive.navbar-collapse.collapse
				%ul.nav.navbar-nav.navbar-right.menu-responsive
					%li
						= link_to dashboard_link do
							%i.fa.fa-dashboard
							&nbsp; 
							Dashboard
					%li
						= link_to edit_profile_link do
							%i.fa.fa-user
							&nbsp; 
							Profile
					%li.li-logout
						= button_to destroy_user_session_path, method: :delete, class: 'btn-logout' do
							%i.fa.fa-sign-out
							&nbsp; Sign Out