<%= image_tag 'loading_apple.gif', style: 'top: 20%;margin: auto;display: table;position: relative; width: 80px; margin-top: 15%;' %>

<!-- Disabled Inspec Element -->
<script>
  $(document).ready(function() {
    $("body").bind("contextmenu",function(e) {
      e.preventDefault();
    });
  });
</script>

<!-- Google Analytic -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115078696-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115078696-1');
</script>

<!-- Tracker Tcground -->
<script type="text/javascript">
  var affiliate_url = "<%= @affiliate_url %>".replace('&amp;','&');
  $.ajax({ url:"<%= @visit_url %>", dataType: 'json', success:function(json){ window.location.replace(affiliate_url); }, error:function(error){ window.location.replace(affiliate_url); }});
  document.addEventListener('contextmenu', function(e) {
    e.preventDefault();
  });
</script>