= favicon_link_tag @web_setting.favicon.url if @web_setting.present?
%title
  = @web_setting.present? ? @web_setting.title : "Cpaground | Affiliate Network"
%meta{'http-equiv'=>"X-UA-Compatible", 'content'=>"IE=edge"}
%meta{'content'=>"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", 'name'=>"viewport"}
%meta{'name'=>"google-site-verification", 'content'=>"CqjMpY0WTabqcGNZEnziFWbvi61DVJ6Dttu0Z8K5AwA"}

- if ENV['RAILS_ENV'] == 'production'
  %meta{'name'=>"author",'content'=>"#{@web_setting.author if @web_setting.present?}"}
  %meta{'name'=>'keywords','content'=>"#{@web_setting.keywords if @web_setting.present?}"}
  %meta{'name'=>"description", 'content'=>"#{strip_tags(@web_setting.description) if @web_setting.present?}"}
  %meta{'property'=>"og:title", 'content'=>"#{@web_setting.title if @web_setting.present?}"}
  %meta{'property'=>"og:type", 'content'=>"website"}
  %meta{'property'=>"og:site_name", 'content'=>"#{Rails.application.secrets.host}"}
  %meta{'property'=>"og:url", 'content'=>"#{Rails.application.secrets.host}"}
  %meta{'property'=>"og:image", 'content'=>"https://s3-ap-southeast-1.amazonaws.com/cpaground/images/banner/cover-share-fb.jpg"}
  %meta{'property'=>"og:description", 'content'=>"#{strip_tags(@web_setting.description) if @web_setting.present?}"}
  %meta{'property'=>"article:publisher", 'content'=>"#{@web_setting.facebook}"}
  %meta{'name'=>"twitter:card", 'content'=>"summary"}
  %meta{'name'=>"twitter:url", 'content'=>"#{Rails.application.secrets.host}"}
  %meta{'name'=>"twitter:title", 'content'=>"#{@web_setting.title if @web_setting.present?}"}
  %meta{'name'=>"twitter:description", 'content'=>"#{strip_tags(@web_setting.description) if @web_setting.present?}"}
  %meta{'name'=>"twitter:creator", 'content'=>"@cpaground"}
  %meta{'name'=>"twitter:image:src", 'content'=>"https://s3-ap-southeast-1.amazonaws.com/cpaground/images/banner/cover-share-fb.jpg"}
  %meta{ 'content'=>'true', 'name'=>'MSSmartTagsPreventParsing'}
  %meta{ 'content'=>'text/html; charset=UTF-8', 'http-equiv'=>'Content-Type'}
  %meta{ 'content'=>'index, follow', 'name'=>'googlebot'}
  %meta{ 'content'=>'follow, all', 'name'=>'Googlebot-Image'}
  %meta{ 'content'=>'follow, all', 'name'=>'msnbot'}
  %meta{ 'content'=>'follow, all', 'name'=>'Slurp'}
  %meta{ 'content'=>'follow, all', 'name'=>'ZyBorg'}
  %meta{ 'content'=>'follow, all', 'name'=>'Scooter'}
  %meta{ 'content'=>'all', 'name'=>'spiders'}
  %meta{ 'content'=>'all', 'name'=>'WEBCRAWLERS'}
  %meta{ 'content'=>'noodp', 'name'=>'robots'}
  %meta{ 'content'=>'noydir', 'name'=>'robots'}
  %meta{ 'content'=>"#{@web_setting.keywords if @web_setting.present?}", 'name'=>'search engines'}
  = render 'shared/mailchimb_script'
  = render 'shared/ga'