= favicon_link_tag web_setting.favicon.url if web_setting.present?
%title
  Donasi Untuk Korban Gempa Di Lombok Melalui CPAGROUND
%meta{'http-equiv'=>"X-UA-Compatible", 'content'=>"IE=edge"}
%meta{'content'=>"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", 'name'=>"viewport"}
%meta{'name'=>"google-site-verification", 'content'=>"CqjMpY0WTabqcGNZEnziFWbvi61DVJ6Dttu0Z8K5AwA"}

- if ENV['RAILS_ENV'] == 'production'
  %meta{'name'=>"author",'content'=>"CPAGROUND"}
  %meta{'name'=>'keywords','content'=>"lombok, donasi lombok, peduli lombok, pray for lombok, cpaground, cpaground peduli lombok, donasi, gempa lombok, 2018, donasi 2018, prayforlombok"}
  %meta{'name'=>"description", 'content'=>"381 orang meninggal, ratusan ribu mengungsi dan ribuan rumah rusak parah akibat gempa Lombok. Para pengungsi membutuhkan bantuan yang sangat mendesak berupa air, tenaga medis dan makanan untuk makan sehari-hari."}
  %meta{'property'=>"og:title", 'content'=>"Donasi Untuk Korban Gempa Di Lombok Melalui CPAGROUND"}
  %meta{'property'=>"og:type", 'content'=>"website"}
  %meta{'property'=>"og:site_name", 'content'=>"Donasi Untuk Lombok Melalui CPAGROUND"}
  %meta{'property'=>"og:url", 'content'=>"https://www.cpaground.com/lombok"}
  %meta{'property'=>"og:image", 'content'=>"https://www.lombok.gq/image/fb.jpg"}
  %meta{'property'=>"og:description", 'content'=>"381 orang meninggal, ratusan ribu mengungsi dan ribuan rumah rusak parah akibat gempa Lombok. Para pengungsi membutuhkan bantuan yang sangat mendesak berupa air, tenaga medis dan makanan untuk makan sehari-hari."}
  %meta{'property'=>"article:publisher", 'content'=>"#{web_setting.facebook}"}
  %meta{'name'=>"twitter:card", 'content'=>"summary"}
  %meta{'name'=>"twitter:url", 'content'=>"https://www.cpaground.com/lombok"}
  %meta{'name'=>"twitter:title", 'content'=>"Donasi Untuk Korban Gempa Di Lombok Melalui CPAGROUND"}
  %meta{'name'=>"twitter:description", 'content'=>"381 orang meninggal, ratusan ribu mengungsi dan ribuan rumah rusak parah akibat gempa Lombok. Para pengungsi membutuhkan bantuan yang sangat mendesak berupa air, tenaga medis dan makanan untuk makan sehari-hari."}
  %meta{'name'=>"twitter:creator", 'content'=>"@cpaground"}
  %meta{'name'=>"twitter:image:src", 'content'=>"https://www.lombok.gq/image/fb.jpg"}
