<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCFhJcI01_ancMOyt9ZoTXA96gFkoYfCRk"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var map;
    map = new GMaps({
      div: '#map',
      
      scrollwheel: false,
      lat: -6.8980327,
      lng: 106.8945456

    });

    map.addMarker({
      lat: -6.8980327,
      lng: 106.8945456,
      title: '<b>ULTIFACE.inc</b>',
      infoWindow: {
        content: '<br><p>CPAGROUND Head Office</p>'
      }
    });
  });
</script>