= render 'home/shareds/header'
= render 'home/shareds/feature'
= render 'home/shareds/about'
.user
  .user-aboutus
    .container.content-slider
      .heading
        %h1.text-center.tittle-aboutus
          Join the first CPA Affiliate Network
          %br
          %small.text-white
            Find local and International deals.
        %br
        = link_to "SIGN UP AS PUBLISHER", new_user_registration_path, class: "btn btn-border"


/ = render 'home/shareds/team'
= render 'home/shareds/contact'
= render 'home/shareds/footer'