<!DOCTYPE html>
<html>
<head>
  <title>404 NOT FOUND</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="https://s3-ap-southeast-1.amazonaws.com/cpaground/images/icon.png" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style type="">
    .img-main {
      width: 40%;
      margin: auto;
      display: table;
      margin-top: 10%;
    }
    p {
      font-size: 18px;
    }
    .des {
      margin: auto;
      display: table;
      float: inherit;
    }
    h2 {
      color: #252525;
      font-weight: bold;
    }
    
    @media only screen and (max-width: 1024px) {
      .img-main {
        width: 100%;
        margin: auto;
        display: table;
        margin-top: 30px;
      }
      h2 {
        font-size: 45px;
        font-weight: bold;
      }
      p {
        font-size: 35px;
      }
      .des {
        width: 100%;
      }
    }
    @media only screen and (max-width: 768px) {
      .img-main {
        width: 100%;
        margin: auto;
        display: table;
        margin-top: 30px;
      }
      h2 {
        font-size: 35px;
        font-weight: bold;
      }
      p {
        font-size: 25px;
      }
    }
    @media only screen and (max-width: 500px) {
      .img-main {
        width: 100%;
        margin: auto;
        display: table;
        margin-top: 30px;
      }
      h2 {
        font-size: 25px;
        font-weight: bold;
      }
      p {
        font-size: 16px;
      }
    }
    @media only screen and (max-width: 375px) {
      .img-main {
        width: 100%;
        margin: auto;
        display: table;
        margin-top: 30px;
      }
      h2 {
        font-size: 22px;
        font-weight: bold;
      }
      p {
        font-size: 16px;
      }
    }
    @media only screen and (max-width: 320px) {
      .img-main {
        width: 100%;
        margin: auto;
        display: table;
        margin-top: 30px;
      }
      h2 {
        font-size: 18px;
        font-weight: bold;
      }
      p {
        font-size: 14px;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="col-md-12">
      <%= image_tag 'not_found.png', class: 'img-main' %>
      <center>
        <div class="col-md-8 des">
          <p>
            We are sorry the page you are looking for does not exist.
          </p>
        </div>
      </center>
    </div>
  </div>
</body>
</html>