%section#thank-you
  .content-thank-you
    .container
      .icon-thank-you
        %i.fa.fa-check-circle
      .title-thank-you
        Thank you for your interest in publishing with CPAGround!
      .body-content-thank-you
        .confirm
          Confirm your application
        Within a few minutes, you will receive an e-mail from noreply@cpaground.com. This e-mail will contain
        %br
        a link that you must click to confirm that you have applied for an account with Cpaground. If you do not
        %br
        receive this e-mail, please check your Junk/Spam folder.

= render 'home/shareds/footer'

- if params[:id].present?
  :javascript
    fbq('track', 'Lead', {
      content_name: 'Register Publisher #{params[:id]}'
    });
