%section#thank-you
	.content-thank-you
		.container
			.icon-thank-you
				%i.fa.fa-check-circle
			.title-thank-you
				.your-confirmation
					Thank You For Your Confirmation
				%b WAIT! 
				There are steps left to the application process:
			.body-content-thank-you
				.confirm
					Application review:
				Your application will be reviewed by our compliance and affiliate management teams. Once your
				%br
				application has been reviewed, You will get an EMAIL from us, in the form of acceptance or
				%br
				unacceptance of joining us.
				%br
				%br
				Thank you.

= render 'home/shareds/footer'