.row
	.col-md-5
		.form-group
			= label_tag "Publisher"
			= f.select :user_id, options_for_select(get_publisher_commisions.no_suspended.map{|p| [p.username, p.id]}, @payment_commision.user_id), {prompt: 'Select Publisher'}, class: 'form-control select2','data-node' => "publisher", required: true
	.col-md-2
		.form-group
			= f.label :payment_at
			= f.text_field :payment_at, placeholder: "Enter payment at", class: 'form-control datepicker', required: true
	.col-md-2
		.form-group
			= f.label :payment_end
			= f.text_field :payment_end, placeholder: "Enter payment end", class: 'form-control datepicker payment_date_select', required: true
	.balance-container
		.col-md-3
			.form-group
				= f.label :total
				= f.text_field :total, placeholder: "Enter total", class: 'form-control', disabled: true
	.col-md-12
		.form-group
			= f.label :message
			= f.text_area :message, placeholder: "Enter message", class: 'form-control', required: true

:javascript
	function get_revenues(){
		$(document).on('change', '.payment_date_select', function() {
			$user_id = document.getElementById("payment_commision_user_id").value;
			$payment_at = document.getElementById("payment_commision_payment_at").value;
			$node = $user_id+"+"+$payment_at;
			if($(this).val() != '' && $(this).val() != 'undefined'){
				$.get('/xhrs/get_commisions?id='+$(this).val()+'&node='+$node, function(result){
					$('.balance-container').html(result);
				})
			}
		});
	}

	$(document).ready(function() {
		get_revenues();
	});