.pull-left
	= link_to new_admins_payment_commision_path, class: 'btn btn-info btn-sm' do
		%i.fa.fa-credit-card-alt
		&nbsp; New Payment Commision
.btn-search-admin.pull-right
	%a{ href: "payment_commisions.xls?export=true&#{request.fullpath.split("?")[1]}", class: 'btn btn-sm btn-success'}
		%i.fa.fa-file-excel-o
		&nbsp;
		Export to excel
%br
%br
%br
.row
	.col-md-3
		.panel.panel-default
			.panel-heading
				.panel-title
					%center Total Payment Pending: 
			.panel-body
				%center
					%b= get_currency_full(@payment_pending)
	.col-md-3
		.panel.panel-default
			.panel-heading
				.panel-title
					%center Total Payment Process: 
			.panel-body
				%center 
					%b= get_currency_full(@payment_process)
	.col-md-3
		.panel.panel-default
			.panel-heading
				.panel-title
					%center Total Payment Paid:
			.panel-body
				%center 
					%b= get_currency_full(@payment_paid)
	.col-md-3
		.panel.panel-default
			.panel-heading
				.panel-title
					%center Total Payment Reject:
			.panel-body
				%center 
					%b= get_currency_full(@payment_reject)
					
.responsive-tabel
	%table#example1.table.table-bordered.table-striped.tabel-width1
		%thead
			%tr
				%th Invoice
				%th Username
				%th AM
				%th ADM
				%th Revenue
				%th Status
				%th Payment Period
				%th Created At
				%th Action
		%tbody
			- if @payment_commisions.blank?
				%tr
					%td{ colspan: "15"} 
						= render "shared/empty_blank"
			- else
				- @payment_commisions.each_with_index do |resource, index|  
					%tr
						%td
							= resource.code
						%td
							- publisher = Publisher.find(resource.user)
							= link_to resource.publisher.username, detail_report_admins_publisher_path(resource.publisher)
						%td
							= link_to publisher.account_manager.username, admins_account_manager_path(publisher.account_manager)
						%td
							= link_to resource.admin.username, admins_admin_path(resource.admin) if resource.admin.present?
						%td
							= get_currency_full(resource.price)
						%td
							= resource.status?
						%td
							= "#{date_sort_time(resource.payment_at)} - #{date_sort_time(resource.payment_end)}"
						%td
							= get_datetime(resource.created_at)
						%td
							= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_payment_commision_path(resource), class: 'btn btn-default btn-xs'
							&nbsp;
							= link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_payment_commision_path(resource), class: 'btn btn-default btn-xs' if current_user.is_admin? unless resource.is_paid?

= paginate @payment_commisions, remote: true

:javascript
	$('.responsive-tabel').doubleScroll();