#breadcrumbs
	= render "shared/admin/breadcrumbs"

%section.content.full-page
	.bg-white
		.col-md-12.search
			.row
				= form_for :search, url: admins_payment_commisions_path, method: 'get', html: {class: 'form-search', remote: true} do
					.input-group.full
						.col-md-3.no-padding
							= text_field_tag :key, params[:key], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
						.col-md-2.no-padding
							= select_tag :status, options_for_select(PaymentCommision::STATUSES, params[:status]), prompt: 'All Status', class: 'form-control'
						.col-md-3.no-padding
							= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
						.col-md-3.no-padding
							= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
						.col-md-1.no-padding
							= submit_tag :Search, class: 'btn btn-info radius-right'
	.row
		.col-xs-12.top-plus
			.box.box-m
				.box-body
					#table-lists
						= render 'admins/payment_commisions/lists'