= render "shared/admin/breadcrumbs"

%section.content.full-page
  .row  
    .col-md-12
      .box.box-m
        .box-header
          %b
            = @collection_name
            = link_to 'Back To List', admins_payment_commisions_path, class: 'btn btn-info btn-xs pull-right'
          %hr
        .box-body
          = form_for @payment_commision, url: admins_payment_commisions_path, method: 'post', html: { multipart:true } do |f|
            = render 'form', f: f
            = submit_tag "Create", class: "btn btn-info"
        .content-footer