.show-payment_commision
	.show-payment_commision__content
		%section.invoice
			.row
				.col-md-12
					%h2.page-header
						%i.fa.fa-globe
						= @payment_commision.code
						%small.date-invoice.pull-right Date: #{get_datetime(@payment_commision.created_at)}
			.row.invoice-info
				.col-md-4.invoice-col
					From
					%address
						%strong CPA Ground
						%br
						%b= @payment_commision.from_acc.present? ? @payment_commision.from_acc : "-"
				.col-md-4.invoice-col
					To
					%address
						%strong
							#{link_to @payment_commision.user.username, admins_publisher_path(@payment_commision.user)} (#{@payment_commision.user.type.titleize})
						%br
						Address: #{@payment_commision.publisher.profile.place_info}
						%br
						Phone: #{@payment_commision.user.phone}
						%br
						Email: #{@payment_commision.user.email}
				.col-md-4.invoice-col
					Information
					%br
					%b Period Payment:
					= "#{date_sort_time(@payment_commision.payment_at)} - #{date_sort_time(@payment_commision.payment_end)}"
					%br
					%b Account: #{@payment_commision.to_acc.present? ? @payment_commision.to_acc : '-'}
			.row
				.col-md-12
					%table.table.table-striped.table-bordered
						%thead
							%tr
								%th Fee Publisher
								%th Fee AM
								%th Total
								%th Earnings
						%tbody
							%tr
								%td
									= get_currency_full(@payment_commision.fee_publisher)
								%td
									= get_currency_full(@payment_commision.fee_am)
								%td
									= get_currency_full(@payment_commision.total)
								%td
									= get_currency_full(@payment_commision.price)