= render "shared/admin/breadcrumbs"
	
%section.content.full-page
	.row
		.col-xs-12
			.box.box-m
				.box-header
					%h3.box-title
						Data payment commision
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_payment_commisions_path, class: "btn btn-info btn-xs"
						&nbsp;
						= link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_admins_payment_commision_path(@payment_commision), class: "btn btn-default btn-xs" if current_user.is_admin? unless @payment_commision.is_paid?
					%hr
				.box-body.payment-m
					.show-payment_commision
						.show-payment_commision__content
							%section.invoice
								.row
									.col-md-12
										%h2.page-header
											%i.fa.fa-globe
											= @payment_commision.code
											%small.pull-right Date: #{get_datetime(@payment_commision.created_at)}
								.row.invoice-info
									.col-md-4.invoice-col
										From
										%address
											%strong CPA Ground
											%br
											%b= @payment_commision.from_acc.present? ? @payment_commision.from_acc : "-"
									.col-md-4.invoice-col
										To
										%address
											%strong
												#{link_to @payment_commision.user.username, admins_publisher_path(@payment_commision.user)} (#{@payment_commision.user.type.titleize})
											%br
											Address: #{@payment_commision.publisher.profile.place_info}
											%br
											Phone: #{@payment_commision.user.phone}
											%br
											Email: #{@payment_commision.user.email}
									.col-md-4.invoice-col
										Information
										%br
										%b Period Payment:
										= "#{date_sort_time(@payment_commision.payment_at)} - #{date_sort_time(@payment_commision.payment_end)}"
										%br
										%b Account: #{@payment_commision.to_acc.present? ? @payment_commision.to_acc : '-'}
								.row
									.col-md-12.table-responsive.top-plus
										%table.table.table-striped
											%thead
												%tr
													%th Fee Publisher
													%th Fee AM
													%th Total
													%th Earnings
											%tbody
												%tr
													%td
														= get_currency_full(@payment_commision.fee_publisher)
													%td
														= get_currency_full(@payment_commision.fee_am)
													%td
														= get_currency_full(@payment_commision.total)
													%td
														= get_currency_full(@payment_commision.price)
								.row.no-point
									.col-md-12
										= link_to "<i class='fa fa-download'></i> Generate PDF".html_safe, admins_payment_commision_path(@payment_commision, format: 'pdf'), class: "btn btn-default pull-left btn-full-m"
										.text-status.mobile
											%center
												%b Change Status:
										- unless @payment_commision.is_paid? || @payment_commision.is_reject?
											= form_for @payment_commision, url: change_status_admins_payment_commision_path, method: 'put' do |f| 
												- if @payment_commision.is_pending?
													= button_tag "<i class='fa fa-close'></i> Reject Payment".html_safe, type: "sumbit", value: PaymentSnapshot::REJECT, class: 'btn btn-danger pull-right btn-2'
													= button_tag "<i class='fa fa-credit-card'></i> Process Payment".html_safe, type: "sumbit", value: PaymentSnapshot::PROCESS, class: 'btn btn-info pull-right btn-2', style: "margin-right: 5px;"
												- elsif @payment_commision.is_process?
													= button_tag "<i class='fa fa-close'></i> Reject Payment".html_safe, type: "sumbit", value: PaymentSnapshot::REJECT, class: 'btn btn-danger pull-right btn-2'
													= button_tag "<i class='fa fa-check-square'></i> Paid Payment".html_safe, type: "sumbit", value: PaymentSnapshot::PAID, class: 'btn btn-success pull-right btn-2', style: "margin-right: 5px;"
												.pull-right.desktop{style: "margin: 7px 10px 0 0;"}
													%b Change Status:
												
							%section.invoice
								.row.top-plus
									.col-md-2
										.form-group
											%b Admin
									.col-md-10
										.form-group 
											= link_to @payment_commision.admin.username, admins_admin_path(@payment_commision.admin) if @payment_commision.admin.present?
									.col-md-2
										.form-group
											%b Message
									.col-md-10
										.form-group 
											= @payment_commision.message ? @payment_commision.message : "---"
									.col-md-2
										.form-group
											%b Status
									.col-md-10
										.form-group 
											= @payment_commision.status?

						.col-md-12.no-padding-m
							.exTab
								%ul.nav.nav-tabs
									%li.active
										%a{"data-toggle" => "tab", :href => "#1"} Activities
								.tab-content.no-padding-m.no-border
									#1.tab-pane.active
										%h2{align: 'center'} Activities
										%br
										#table-list-activities
											= render 'admins/payment_commisions/list_activities'
