$('.js-field-search').html("<%= escape_javascript render 'shared/analytics/field_search' %>");
$('#btn-group-analytic').html("<%= escape_javascript render 'admins/campaigns/btn_group_analytic' %>")
$('#the-report-analytics').html("<%= escape_javascript render 'publishers/shared/analytic', report_for: 'campaign' %>")
$('.total-revenue').html("<%= get_currency(@reports_total_revenue) %>")

<% if @report_campaign_snapshots.present? %>
  $('#table-list-report_campaign_snapshots').html("<%= escape_javascript render partial: 'publishers/campaigns/list_report_campaign_snapshots', locals: {report_campaign_snapshots: @report_campaign_snapshots} %>");
<% end %>

$(document).ready(function() {
  $(".spinner-load").fadeOut(1000);
});