- if @messages.present?
	- @messages.each do |resource|
		- user = User.find_by(id: resource[1])
		.vertical-timeline-block
			= link_to click_message_account_managers_publisher_path(user.id, message_id: resource[0]) do
				.vertical-timeline-icon.navy-bg
					= image_tag user.avatar, class: "img-circle", width: "40", height: "40"
				.vertical-timeline-content.responsive-timeline-content
					.p-sm
						= message_status(resource[3])
						= resource[2]
					.panel-footer.date-messages
						.row
							.col-md-12
								%small.pull-left
									%b
										= user.username.titleize
								%small.pull-right
									= get_datetime(resource[4])

	= paginate @messages, remote: true if current_user.is_admin?
- else
	= render "shared/empty_blank"