$('.chat-discussion').html("<%= escape_javascript render partial: 'account_managers/shared/chat', locals: {messages: @publisher_messages} %>");
$('.input-chat').val('');
var charFromBottom = $('.chat-discussion');
charFromBottom[0].scrollTop = charFromBottom[0].scrollHeight;