$('.js-total-collection').html("<%= @total_collection %>");
$("<%=j render(partial: 'account_managers/messages/lists', object: @messages) %>").appendTo($(".infinitescroll-page .js-forum-box"));
$('.pagination').html("<%=j link_to_next_page(@messages, 'LOADING MORE', remote: true, class: 'btn btn-default btn-more') %>");