.panel-body.responsive-panel-analytic.bg-offers
	.row.responsive-row-analytic
		.col-xs-12
			= render "publishers/commisions/commision_analytics" unless current_user.is_admin?
%br

.responsive-tabel
	%table#example1.table.table-bordered.table-striped.tabel-width3
		%thead
			%tr
				%th Publisher
				%th Revenue AM
				%th Publisher Commisions
				%th Revenue
				%th Status
				%th.th-report Click Date
				%th Time
				%th Campaign
				%th Offer
				%th Referrer
				%th Country
				%th Device
				%th Browser
				%th OS
				%th Source
				%th Sub1
				%th Sub2
				%th Created At
				%th Updated At
		%tbody
			- if @commisions.blank?
				%tr
					%td{ colspan: "19"} 
						= render "shared/empty_blank"
			- else
				- @commisions.each do |resource|
					%tr
						%td
							%small
								= link_to resource.publisher.username, account_managers_publisher_path(resource.publisher)
						%td
							%small
								= get_currency(resource.fee_am)
						%td
							%small
								= get_currency(resource.fee_publisher)
						%td
							%small
								= get_currency(resource.revenue)
						%td
							%small
								= resource.status?
						%td
							%small
								= date_sort_time(resource.convertion_report.convertion_date)
						%td
							%small
								= get_time(resource.convertion_report.convertion_time)
						%td
							%small
								= resource.convertion_report.campaign.title
						%td
							%small
								= resource.convertion_report.category_campaign.name
						%td
							%small
								= resource.convertion_report.referrer
						%td
							%small
								= resource.convertion_report.country_code
						%td
							%small
								= resource.convertion_report.device
						%td
							%small
								= resource.convertion_report.browser
						%td
							%small
								= resource.convertion_report.os || '--'
						%td
							%small
								= resource.convertion_report.source || '--'
						%td
							%small
								= resource.convertion_report.sub1 || '--'
						%td
							%small
								= resource.convertion_report.sub2 || '--'
						%td
							%small
								= get_datetime(resource.created_at)
						%td
							%small
								= get_datetime(resource.updated_at)

= paginate @commisions, remote: true, param_name: "page_commisions" if @commisions.present?