- if @activities.blank?
  = render "shared/empty_blank"
- else
  #wallmessages.qa-message-list
    - @activities.each do |resource|
      .message-item
        .message-inner
          .message-head.clearfix
            .avatar.pull-left
              - if resource.publisher
                - direct_link = admins_publisher_path(resource.publisher)
              - elsif resource.account_manager
                - direct_link = admins_account_manager_path(resource.account_manager)
              - elsif resource.admin
                - direct_link = admins_admin_path(resource.admin)
              - else
                - direct_link = admins_subscriber_path(resource.activitiable_id)
              = link_to direct_link do
                .avatar-timeline
                  = image_tag resource.user ? resource.user.avatar : ""
            .user-detail.timeline-m
              %h5.handle
                = resource.name
              .post-meta
                .asker-meta.text-left-m
                  %span.qa-message-what
                  %span.qa-message-when
                    %span.qa-message-when-data= get_datetime(resource.created_at)
                  %br.mobile
                  %span.qa-message-who
                    %span.qa-message-who-pad by
                    &nbsp;
                    %span.qa-message-who-data
                      = link_to resource.user ? resource.user.username : resource.subscriber.email, direct_link
          .qa-message-content
            = resource.description
  = paginate @activities, remote: true