.responsive-tabel
  %table#example1.table.table-bordered.table-striped.tabel-width2
    %thead
      %tr
        %th Email
        %th Type
        %th Status
        %th Created At
        %th{width: '20px'} Action
    %tbody
      - if @subscribers.blank?
        %tr
          %td{ colspan: "5"} 
            = render "shared/empty_blank"
      - else
        - @subscribers.each_with_index do |resource, index|  
          %tr
            - if resource.is_publisher?
              - direct_link =  admins_publisher_path(resource.user_id)
            - elsif resource.is_account_manager?
              - direct_link =  admins_account_manager_path(resource.user_id)
            - elsif resource.is_admin?
              - direct_link =  admins_admin_path(resource.user_id)
            - else
              - direct_link =  admins_subscriber_path(resource.id)
            %td
              = link_to resource.email, direct_link
            %td
              = resource.subscriber_type
            %td
              = resource.status?
            %td
              = get_datetime(resource.created_at)
            %td
              = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_subscriber_path(resource), class: 'btn btn-default btn-xs'
= paginate @subscribers, remote: true

:javascript
  $('.responsive-tabel').doubleScroll();