<table border="1">
  <tr>
    <th>No</th>
    <th>Email</th>
    <th>Type</th>
    <th>Status</th>
    <th>Created at</th>
  </tr>
  <% @subscribers_size.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:email) %></td>
    <td><%= resource.try(:subscriber_type) %></td>
    <td><%= resource.try(:status) %></td>
    <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
  </tr>
  <% end %>
</table>