= render "shared/admin/breadcrumbs"
	
%section.content.full-page
	.row
		.col-xs-12
			.box.box-m
				.box-header
					%h3.box-title
						Data Subscriber
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_subscribers_path, class: "btn btn-info btn-xs"
					%hr
				.box-body
					.show-campaign
						.col-md-6.no-padding-m
							.row
								.col-md-3
									.form-group
										%b Email
								.col-md-9
									.form-group
										- if @subscriber.is_publisher?
											- direct_link =  admins_publisher_path(@subscriber.user_id)
										- elsif @subscriber.is_account_manager?
											- direct_link =  admins_account_manager_path(@subscriber.user_id)
										- elsif @subscriber.is_admin?
											- direct_link =  admins_admin_path(@subscriber.user_id)
										- else
											- direct_link =  admins_subscriber_path(@subscriber.id) 
										= link_to @subscriber.email, direct_link
								.col-md-3
									.form-group
										%b Type
								.col-md-9
									.form-group 
										= @subscriber.subscriber_type || '--'
								.col-md-3
									.form-group
										%b Status
								.col-md-9
									.form-group 
										= @subscriber.status?
								.col-md-3
									.form-group
										%b Created
								.col-md-9
									.form-group 
										= get_datetime(@subscriber.created_at)
						.col-md-6.no-padding-m
							.well
								%h4 Edit status subscriber
								= form_for @subscriber, url: change_status_admins_subscriber_path, method: 'put' do |f|
									.form-group 
										= f.label 'Status' 
										= f.select :status, options_for_select(Subscriber::STATUSES, @subscriber.status), {prompt: 'Select Status'}, class: 'form-control', required: true
									.form-group 
										= submit_tag :change, class: 'btn btn-info'

			.col-md-12
				.row
					.exTab
						%ul.nav.nav-tabs
							%li.active
								%a{"data-toggle" => "tab", :href => "#1"} Activities
						.tab-content.background-white
							#1.tab-pane.active
								%h2{align: 'center'} Activities
								%br
								#table-list-activities
									= render 'admins/subscribers/list_activities'