#page-top.slider-aboutus
  .container.content-slider
    .heading
      %h1.text-center.tittle-aboutus
        %span Hello. &nbsp;
        | &nbsp;
        You want to know
        %span.text-greenlow about us?
%br
= render 'home/shareds/contact'
= render 'home/shareds/footer'