.responsive-tabel
  %table#example1.table.table-bordered.table-striped.tabel-width1
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
        %th{width: '20%'} Website
        %th{width: '20%'} Message
        %th Status
        %th{width: '150px'} Created At
        %th.th-report{width: '75px'} Action
    %tbody
      - if @contacts.blank?
        %tr
          %td{ colspan: "9"} 
            = render "shared/empty_blank"
      - else
        - @contacts.each_with_index do |resource, index|  
          %tr
            %td
              = resource.name
            %td
              = resource.email
            %td
              = resource.get_phone_number
            %td
              = resource.website
            %td
              = resource.message
            %td
              = resource.status?
            %td
              = get_datetime(resource.created_at)
            %td
              = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_contact_path(resource), class: 'btn btn-default btn-xs'
              &nbsp;
              = link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, admins_contact_path(resource), method: 'delete', data: {confirm: "Are you sure to delete contact #{resource.name} ?"}, class: 'btn btn-default btn-xs'
= paginate @contacts, remote: true

:javascript
  $('.responsive-tabel').doubleScroll();