<table border="1">
  <caption>LIST CONTACTS</caption>
  <tr>
    <th>No</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Website</th>
    <th>Message</th>
    <th>Status</th>
    <th>Created at</th>
  </tr>
  <% @total_contacts.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:name) %></td>
    <td><%= resource.try(:email) %></td>
    <td><%= resource.try(:phone) %></td>
    <td><%= resource.try(:website) %></td>
    <td><%= resource.try(:message) %></td>
    <td><%= resource.try(:status) %></td>
    <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
  </tr>
  <% end %>
</table>