= render "shared/admin/breadcrumbs"
	
%section.content.full-page
	.row
		.col-xs-12
			.box.box-m
				.box-header
					%h3.box-title
						Data Contact
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_contacts_path, class: "btn btn-info btn-xs"
						&nbsp;
						= link_to '<i class="fa fa-trash" aria-hidden="true"></i> Delete'.html_safe, admins_contact_path(@contact), method: 'delete', data: {confirm: "Are you sure to delete contact #{@contact.name} ?"}, class: "btn btn-default btn-xs"
					%hr
				.box-body
					.col-md-12.no-padding-m
						.row
							.col-md-3
								.form-group
									%b Name
							.col-md-9
								.form-group 
									= @contact.name
							.col-md-3
								.form-group
									%b Email
							.col-md-9
								.form-group 
									= @contact.email
							.col-md-3
								.form-group
									%b Phone
							.col-md-9
								.form-group 
									= @contact.phone
							.col-md-3
								.form-group
									%b Website
							.col-md-9
								.form-group 
									= @contact.website
							.col-md-3
								.form-group
									%b Message
							.col-md-9
								.form-group 
									= @contact.message
							.col-md-3
								.form-group
									%b Status
							.col-md-9
								.form-group 
									= @contact.status?
							.col-md-3
								.form-group
									%b Created at
							.col-md-9
								.form-group 
									= get_datetime(@contact.created_at)
						
					.col-md-12.no-padding-m
						.exTab
							%ul.nav.nav-tabs
								%li.active
									%a{"data-toggle" => "tab", :href => "#1"} Activities
							.tab-content
								#1.tab-pane.active
									%h2{align: 'center'} Activities
									%br
									#table-list-activities
										= render 'admins/contacts/list_activities'
						