- if @payment_commisions.blank?
	= render "shared/empty_blank"
- else
	- @payment_commisions.each do |resource|
		.vertical-timeline-block
			.vertical-timeline-icon.navy-bg
				%i.fa.fa-calendar
			.vertical-timeline-content
				.p-sm
					%section.invoice
						.row
							.col-md-12
								%h2.page-header
									%i.fa.fa-globe
									#{resource.code}
									%small.pull-right #{get_datetime(resource.created_at)}
						.row.invoice-info
							.col-md-6.invoice-col
								From
								%address
									%strong CPAGROUND
									%br
									%b= resource.from_acc.present? ? resource.from_acc : "-"
							.col-md-6.invoice-col
								To
								%address
									%strong= resource.publisher.username
									%br
									Email: #{resource.publisher.email}
						.row
							.col-md-12
								.desktop
									%table.table.table-striped
										%thead
											%tr
												%th Payment commisions for period
												%th Status
												%th Payment To
												%th Amount
										%tbody
											%tr
												%td 
													#{date_sort_time(resource.payment_at)} - #{date_sort_time(resource.payment_end)}
												%td 
													= resource.status?
												%td 
													= resource.to_acc.present? ? resource.to_acc : '-'
												%td
													%b
														= get_currency_full(resource.price)

								.mobile
									%table.table.table-striped
										%tbody
											%tr
												%th Status
											%tr
												%td
													= resource.status?
											%tr
												%th Payment commisions for period
											%tr
												%td 
													#{date_sort_time(resource.payment_at)} - #{date_sort_time(resource.payment_end)}
											%tr
												%th Payment To
											%tr
												%td 
													= resource.to_acc.present? ? resource.to_acc : '-'
											%tr
												%th Amount
											%tr
												%td
													%b
														= get_currency_full(resource.price)
				.panel-footer
					= link_to "<i class='fa fa-eye'></i> Show Invoice".html_safe, publishers_payment_commision_path(resource), class: "btn btn-info btn-sm no-float"
					= link_to "<i class='fa fa-download'></i> Generate PDF".html_safe, publishers_payment_commision_path(resource, format: 'pdf'), class: "btn btn-default btn-sm no-float"

	= paginate @payment_commisions, remote: true