.search-activities.js-sticky-sidebar
  .well.configurator
    = form_for :search, url: publishers_payment_commisions_path, method: 'get', html: {class: 'form-search', remote: true} do
      .form-group
        %label{:for => "parentEl"} Keyword
        = text_field_tag :key, params[:key], class: 'form-control', placeholder: 'Keywords', autofocus: true
      .form-group
        %label{:for => "status"} Status
        = select_tag :status, options_for_select(PaymentCommision::STATUSES, params[:status]), prompt: 'All Status', class: 'form-control'
      .form-group
        %label{:for => "startDate"} Start Date
        #datetimepicker1.input-group.date
          %span.input-group-addon
            %span.fa.fa-calendar
          = text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
      .form-group
        %label{:for => "endDate"} End Date
        #datetimepicker1.input-group.date
          %span.input-group-addon
            %span.fa.fa-calendar
          = text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
      .form-group
        = submit_tag 'search', class: 'btn btn-primary btn-block'