/ Main Wrapper
#wrapper.content-activities-publisher.content-dashboard.responsive-payment
  = render 'publishers/payment_commisions/header'
  .content.animate-panel
    .row
      .col-lg-12.content-campaign
        = render 'publishers/payment_commisions/search_mobile'
        .row
          .col-md-12
            .row
              .col-md-12.mobile
                %button.navbar-toggle.btn-step.btn-info.btn-block{"data-target" => "#step-payment", "data-toggle" => "collapse", :type => "button"}
                  View Step Payment
              #step-payment.collapse.navbar-collapse.step-payment
                .row
                  .col-md-5ths.col-xs-12.hpanel-count
                    .hpanel
                      .number-step
                        1
                      .panel-body.information-step
                        .stats-icon.text-info
                          %i.pe-7s-date.fa-4x
                        %p.text-information
                          Payment period is Beweekly, example: <br>the 1st - 15th. and 16th - end of month.
                  .col-md-5ths.col-xs-12.hpanel-count
                    .hpanel
                      .number-step
                        2
                      .panel-body.information-step
                        .stats-icon.text-info
                          %i.pe-7s-id.fa-4x
                        %p.text-information
                          Finance approve your payout and marketd as "Processing"
                  .col-md-5ths.col-xs-12.hpanel-count
                    .hpanel
                      .number-step
                        3
                      .panel-body.information-step
                        .stats-icon.text-info
                          %i.pe-7s-cash.fa-4x
                        %p.text-information
                          We send your payment out by your preferred method
                  .col-md-5ths.col-xs-12.hpanel-count
                    .hpanel
                      .number-step
                        4
                      .panel-body.information-step
                        .stats-icon.text-info
                          %i.pe-7s-clock.fa-4x
                        %p.text-information
                          Payment can take between 7 to 10 days to complete.
                  .col-md-5ths.col-xs-12.hpanel-count
                    .hpanel
                      .number-step
                        5
                      .panel-body.information-step
                        .stats-icon.text-info
                          %i.pe-7s-ribbon.fa-4x
                        %p.text-information
                          Your payment status is updated and marketd as "Paid"

          .col-md-4.desktop-publisher
            = render 'publishers/payment_commisions/search_dekstop'
          .col-md-8
            .hpanel
              .v-timeline.vertical-container.animate-panel{"data-child" => "vertical-timeline-block", "data-delay" => "1"}
                #list-payment-commisions
                  = render "publishers/payment_commisions/lists"

  = render 'publishers/shared/footer'
