$('.js-total-collection').html("<%= @total_collection %>");
$('#list-payment-commisions').html("<%= escape_javascript render partial: 'publishers/payment_commisions/lists', locals: {payment_commisions: @payment_commisions} %>");