%section.invoice
	.row
		.col-md-12
			%h2.page-header
				%i.fa.fa-globe
				= @payment_commision.code
				%small.date-invoice.pull-right Date: #{get_datetime(@payment_commision.created_at)}
	.row.invoice-info
		.col-md-4.invoice-col
			From
			%address
				%strong CPAGROUND
				%br
				%b= @payment_commision.from_acc.present? ? @payment_commision.from_acc : "-"
		.col-md-4.invoice-col
			To
			%address
				%strong= @payment_commision.publisher.username
				%br
				Email: #{@payment_commision.publisher.email}
				%br
				Phone: #{@payment_commision.publisher.phone}
		.col-md-4.invoice-col
			Address
			%br
			= @payment_commision.publisher.profile.place_info
	.row
		.col-md-12
			%table.table.table-striped.table-bordered
				%thead
					%tr
						%th Description
						%th Payment To
						%th Status
						%th Amount
				%tbody
					%tr
						%td 
							Payment commisions for period #{date_sort_time(@payment_commision.payment_at)} - #{date_sort_time(@payment_commision.payment_end)}
						%td 
							= @payment_commision.to_acc.present? ? @payment_commision.to_acc : '-'
						%td{width: '20%'}
							= @payment_commision.status?
						%td{width: '20%'}
							= get_currency_full(@payment_commision.price)