.mobile {
	display: none;
}
.desktop {
	display: block;
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1024px) {
	
}
@media screen and (max-width: 991px) {
	.navbar-custom-menu > .navbar-nav > li > .dropdown-menu{
		right: 0;
	}
	.mobile-margin-bottom-searching{
		margin-bottom: 10px!important;
	}
	.mobile-btn-no-radius{
		border-radius: 0px!important;
	}
}
@media screen and (max-width: 850px) {
}
@media screen and (max-width: 768px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.table-total-report {
		width: 1379px!important;
	}
	.tabel-width {
		width: 1024px!important;
	}
	.tabel-width1 {
		width: 1400px;
	}
  .tabel-width2 {
    width: 1200px;
  }
	.tabel-width3 {
		width: 2000px;
	}

	/*---------------------------*/
	/*         component         */
	/*---------------------------*/
	.full-page {
		padding: 0px!important;
		margin-top: 20px;
		font-size: 12px!important;
	}
	input, select, .btn-m {
		height: 32px!important;
	}
	input, select,button, p, textarea, .btn {
		font-size: 12px!important;
	}
	.no-right {
		margin-right: -15px;
	}
	.no-padding-m {
		padding: 0px!important;
	}
	.group-btn-m {
		margin-right: -15px;
		padding-right: 0px;
	} 
	.box-m {
		margin-bottom: 10px;
		border-top: 1px solid #eee;
		overflow: hidden;
	}
	.btn-full-m {
		width: 100%!important;
	}
	.btn-2 {
		width: 49%!important;
	}
	hr {
		margin-top: 10px!important;
		margin-bottom: 10px!important;
	}
	.show-pulishers, .tab-pane {
		h2 {
			font-size: 16px;
			font-weight: 600;
		}
	}
	
	.breadcrumb-capital {
		font-size: 12px;
		width: 100%;
	}
	.text-status {
		padding-top: 40px;
		padding-bottom: 5px;
	}
	.right-left-min {
		margin-left: -15px;
		margin-right: -15px;
	}
	.top-min {
		margin-top: -10px;
	}
	.no-border-m {
		border: none!important;
	}
	.top-plus {
		margin-top: 15px!important;
	}
	.bg-white {
		background: white;
		padding: 10px;
		overflow: hidden;
	}
	.box-header {
		h3 {
			font-size: 12px!important;
			font-weight: 600;
		}
	}
	.pull-right-m {
		float: right!important;
	}
	.pull-left-m {
		float: left!important;
	}
	.float-none {
		float: inherit!important;
	}

	/*---------------------------*/
	/*        Landing-page       */
	/*---------------------------*/
	.list-landing-page {
		h4 {
			font-size: 14px;
			margin-top: 20px;
			font-weight: 600;
		}
		.pull-left-m {
			float: left!important;
			text-align: left;
		}
		.full-btn-m {
			width: 100%;
			padding: 3px;
			font-size: 12px;
			margin-top: 10px;
		}
	}
	/*---------------------------*/
	/*          Payment          */
	/*---------------------------*/
	.payment-m {
		.invoice {
			position: relative;
			background: #fff;
			border: none!important;
			padding: 0px!important;
			margin: 0px!important;
		}
		.page-header {
			font-size: 14px;
			font-weight: 600;
		}
	}

	/*---------------------------*/
	/*           forum           */
	/*---------------------------*/
	.writer {
		overflow:hidden;
	}
	.form-active-m {
		width: 100%;
		float: inherit;
	}

	/*---------------------------*/
	/*            blog           */
	/*---------------------------*/
	.blog-m {
		h1 {
			font-size: 16px;
			font-weight: 600;
			margin-top: 0px;
		}
	}

	/*---------------------------*/
	/*       Link Campaign       */
	/*---------------------------*/
	.link-campaign {
		margin-bottom: 10px;
		margin-top: 10px !important;
		.no-border-right {
			border-right: none!important;
		}
		button, a {
			font-size: 10px!important;
		}
		.link-input {
			width: 70% !important;
			font-size: 12px!important;
		}	
	}
	/*---------------------------*/
	/*    Timeline activitis     */
	/*---------------------------*/
	.timeline-m {
		.text-left-m {
			text-align: left!important;
			line-height: 1.3em!important;
			margin-top: 3px;
		}
		h5 {
			font-size: 12px!important;
			font-weight: 600!important;
		}
	}

	/*---------------------------*/
	/*         breadcrumb        */
	/*---------------------------*/
	.content-header > .breadcrumb {
		position: relative;
		margin-top: 5px;
		top: 0;
		right: 0;
		float: none;
		background: #f5f5f5;
		padding-left: 10px;
	}
	
	/*---------------------------*/
	/*         top-header        */
	/*---------------------------*/
	.top-header-m {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		background: white!important;
		h1 {
			font-size: 14px;
			font-weight: 600;
			small {
				font-size: 11px;
				padding-left: 0px!important;
			}
		}
		p, small {
			font-size: 10px;
		}
	}

	.info-box {
		display: block;
		min-height: 90px;
		background: #fff;
		width: 100%;
		border: solid 1px #eee;
		box-shadow: none!important;
		border-radius: 2px;
		margin-bottom: 15px;
	}

	/*---------------------------*/
	/*       Total-report        */
	/*---------------------------*/
	.total-report {
		.description-block {
			margin-bottom: 10px;
			h5 {
				font-size: 12px;
				font-weight: 600;
			}
			span {
				font-size: 10px;
			}
		}
	}

	/*---------------------------*/
	/*       detail-report       */
	/*---------------------------*/
	.detail-report {
		.top-header {
			h2 {
				font-size: 14px;
			}
			p {
				font-size: 10px;
			}
		}
		
		.estimate-earnings {
			h3 {
				font-size: 14px;
			}
			small {
				font-size: 10px;
			}
		}
		.total-report {
			.description-block {
				margin-bottom: 10px;
				h5 {
					font-size: 12px;
					font-weight: 600;
				}
				span {
					font-size: 10px;
				}
			}
		}
		.nav-tabs {
			font-size: 11px;
		}
	}
	.select2-container {
		width: 100%!important;
	}

	/*---------------------------*/
	/*         Campaign          */
	/*---------------------------*/
	.campaign-m {
		.box-info-campaign {
			h2 {
				font-size: 16px;
				font-weight: 600;
				margin-bottom: 2px;
			}
			h5 {
				font-size: 12px;
				font-weight: 600;
			}
			span {
				font-size: 10px;
			}
		}
	}

	/*---------------------------*/
	/*            Tab            */
	/*---------------------------*/
	.tab-responsive {
		padding: 0px;
		.tab-content {
			padding: 0px!important;
			border:none;
			.responsive-content-tabel {
				padding: 0px;
			}
		}
	}
	.scroll-tab {
		overflow-x: scroll;
		ul {
			width: 650px;
		}
	}
	/*---------------------------*/
	/*      Dashboard Admin      */
	/*---------------------------*/
	.dashboard-admin {
		h2 {
			font-size: 20px;
			margin-top: 0px!important;
			margin-bottom: 0px!important;
		}
	}

	.group-feed-m {
		.bg-cover-image {
			width: inherit!important;
			height: 100%;
		}
		.responsive-description {
			p {
				text-align: justify;
			}
		}
		h5 {
			text-transform: uppercase;
		}
		.btn-trash {
			margin-left: 10px;
		}
		.group-name {
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
		}
		.status-section {
			padding-left: 55px!important;
		}
		.list-group-coverages__info {
			overflow-y: hidden;
		}
		.description-feed {
			padding-left: 0px!important;
		}
		.name-profile {
			margin-left: 45px!important;
		}
		.avatar-feed {
			width: 35px!important;
			height: 35px!important;
		}
		.user-entity {
			margin-left: 55px;
			width: 115%;
			line-height: 1em;
			
			b {
				font-size: 10px;
				font-weight: 600;
			}
			span, small {
				font-size: 11px!important;
				a {
					font-size: 11px!important;
				}
			}
		}
	}

	/*---------------------------*/
	/*        Page Forum         */
	/*---------------------------*/
	.forum-publisher {
		a {
			font-size: 12px;
		}
		.feed-content {
			padding-bottom: 0px;
			.total-like {
				margin-bottom: 16px!important;
				font-size: 10px;
				a {
					font-size: 10px;
				}
			}
		}
	}
	.blog-body .show-blog .writer img {
		width: 50px;
		height: 50px;
		float: left;
		margin: 5px;
	}
	.writer-by {
		margin-top: 11px!important;
		b {
			text-transform: capitalize;
		}
	}
	.check-all-box {
		float: right;
		.check-all {
			margin-top: 1px;
			float: left;
			margin-right: 2px;
		}
		input {
			margin-top: -5px;
		}
	}
	.responsive-forum {
		border: none!important;
		.responsive-btn {
			font-size: 12px;
			width: 100%;
			border-radius: 0px;
		}
		.checkbox-feed {
			position: absolute;
			right: 12px;
			margin-top: -20px;
			.feed-status {
				float: left;
				margin-top: 2px;
			}
			input {
				margin-top: -5px;
			}
		}
		.back-to-discussion {
			width: 100%;
			padding: 10px;
			border-top: 1px solid #e4e5e7;
			background: white;
		}
		.responsive-forum-box {
			.media-image {
				overflow: hidden;
				margin-right: 0px;
				.avatar {
					width: 50px;
					height: 40px;
					img {
						width: 40px;
						height: 40px;
						border-radius: 50%;
					}
				}
			}
			.cover-photo-feed {
				height: 150px;
			}
			.like-feed {
				float: right;
				margin-top: 5px;
				i {
					font-size: 20px;
					color:#dedede;
				}
				i:hover {
					color: #3498db;
				}
			}
			.name-profile {
				text-align: left;
				font-size: 10px;
				margin-left: -20px;
				margin-top: 4px;
				b {
					text-transform: capitalize!important;
				}
				.date-feed {
					margin-top: 5px;
					i {
						font-size: 9px;
						font-weight: bold;
					}
					span {
						font-size: 10px;
						margin-left: 4px;
					}
				}
			}
			.description-feed {
				padding-left: 0px;
			}
			.responsive-description {
				font-size: 12px;
				text-align: justify;
				li {
					text-align: left;
				}
			}
			.forum-comments {
				border-left: none;
				border-right: none;
				padding: 0px;
			}
		}
		.responsive-panel-footer {
			padding: 10px 25px 10px 25px!important;
			.responsive-feed-comments {
				.btn-view-more {
					margin-top: 15px!important;
				}
				input {
					font-size: 12px;
				}
				i {
					font-size: 12px;
				}
				.responsive-media-comments {
					margin-top: 10px;
					.media-body {
						b {
							font-size: 10px;
							text-transform: capitalize;
						}
						i {
							font-size: 10px;
							margin-left: 5px;
							margin-right: 1px;
						}
					}
				}
				.social-content {
					font-size: 11px;
				}
			}
		}
	}

	/*---------------------------*/
	/*         Modal-like        */
	/*---------------------------*/
	.modal-body-like {
		overflow-y: scroll;
		height: 400px; 
		padding: 10px;
		.list-like-modal {
			border-bottom: solid 1px #eee;
			margin-top: 10px;
			img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				margin-top: 0;
				margin-bottom: 10px;
			}
			.name-liked {
				padding-top: 10px;
				font-size: 10px;
			}
		}
	}
	/*---------------------------*/
	/*     Search Responsive     */
	/*---------------------------*/
	.search {
		.radius-left, .radius-right {
			border-radius: 0px!important;
		}
		input, select {
			margin-bottom: 5px!important;
			border: solid 1px #ddd!important;
		}
		.btn-full {
			width: 100%;
		}
	}
	.btn-search-admin {
		padding-right: 0px;
		padding-left: 0px;
		margin-bottom: 20px;
		overflow: hidden;
	}
	/*---------------------------*/
	/*      Table Responsive     */
	/*---------------------------*/
	.responsive-tabel {
		overflow-x: scroll;
		.responsive-content-tabel {
			width: 950px;
			font-size: 12px;
		}
	}
	/*---------------------------*/
	/*    Responsive Analytic    */
	/*---------------------------*/
	.responsive-panel-analytic {
		margin: auto;
		display: block;
		width: 100%;
		overflow-y: hidden;
		overflow-x: auto;
		margin-bottom: 20px;
		font-size: 12px;
		.responsive-row-analytic {
			width: 1024px;
			.btn-total-revenue, a, select, .total-revenue,
			.btn-tab-analytic, input, .real-time {
				font-size: 12px!important;
			}
			.btn-search-analytic {
				font-size: 12px!important;
			}
			.btn-export-csv {
				height: 34px;
				padding-top: 7px;
			}
			.btn-total-revenue {
				margin-top: 5px;
			}
			.btn-search-dashboard, .real-time {
				padding-top: 7.5px;
				padding-bottom: 7.5px;
				margin-left: 0px;
			}
			h2 {
				font-size: 20px;
			}
			.btn-search-analytic {
				padding-top: 7.5px;
				padding-bottom: 7.5px;
			}
		}
	}
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 550px) {
}
@media screen and (max-width: 460px) {
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 375px) {
	.iframe-youtube {
		height: 200px;
	}
}