/*=======================================
	Color
=======================================*/
$green : #014c35!important;
$oldgreen : #003324!important;
$silverlow : #7b7b7b!important;
$silverlight : #dedede!important;

.text-normal {
	text-transform: lowercase;
}
.text-capital {
	text-transform: capitalize;
}
.text-uppercase {
	text-transform: uppercase;
}
.no-radius {
	border-radius:0px!important;
}
#btn-group-analytic{
  button{
    font-size: 13px;
    padding-bottom: 7px;
    padding-top: 8px;
  }
}
.btn-up-arrow{
	border: 0;
  background: none;
  float: right;
  color: #ccc;
  &.active{
  	color: #3c8dbc;
  }
}
.btn-chart-ex {
  border-radius: 0px;
  margin-right: 10px;
}
.btn-search-admin {
	padding-right :0px;
}
.btn-viewmore {
	background-color: white;
}
.btn-viewmore:hover {
	background-color: #f7f7f7;
}
.radius-left {
	border-radius: 5px 0px 0px 5px!important;
}
.radius-right {
	border-radius: 0px 5px 5px 0px!important;
}
.full {
	width: 100%;
}
.no-border-right {
	border-right:none!important;
}
.background-white {
	background-color: white;
}
.margin-bottom {
	margin-bottom: 10px;
}
.not-found {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	i {
		font-size: 40px;
	}
}
.ct-chart {
	.ct-legend {
		li {
			margin-right: 30px!important;
			text-transform: capitalize;
		}
		li:hover {
			color: #3366cc;
		}
		li.inactive:before {
		background: transparent !important;
		border: 1px solid #ccc;
}
		li:nth-child(1)::before,
		li:nth-child(2)::before,
		li:nth-child(3)::before,
		li:nth-child(4)::before,
		li:nth-child(5)::before {
			margin-top: 4px;
		}
	}
}
.js-click-convertion{
  cursor: pointer;
}
.js-click-convertion-report{
	cursor: pointer;
}
@font-face {
	font-family: "Pe-icon-7-stroke";
	font-style: normal;
	font-weight: normal;
	src: font-url("Pe-icon-7-stroke") format("truetype");
}
.label-targeting{
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
}

.simple-search-report{
  display: table;
  margin: auto;
  margin-bottom: 20px;
  .form-control{
    width: 100px!important;
    float: left;
  }
  .input-group-addon{
    float: left;
    height: 34px;
    width: 36px;
    line-height: 20px;
    background: #f4f4f4;
  }
  .dash{
    float: left;
    width: 5px;
    height: 1px;
    border: solid 1px #ccc;
    margin: 15px 5px;
  }
  .btn-submit{
    margin-left: 5px;
    border-radius: 0;
  }
}

.radio-report{
  padding: 6px;
  border: solid 1px;
  border-color: #e4e5e7 !important;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 10px;
}

/*=======================================
	co-md-5
=======================================*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.col-5 {
	width: 20%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.col-5 {
	width: 20%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}


/*=======================================
  Tabel
=======================================*/
.th-report {
  display: inline-block;
  border: 0px!important;
}

rect[Attributes Style] {
  fill: transparent;
}
.table-total-report {
  min-width: 1379px;
}
.tabel-width {
  min-width: 1024px;
}
.tabel-width1 {
  min-width: 1400px;
}
.tabel-width2 {
  min-width: 1200px;
}
.tabel-width3 {
  width: 2000px;
}
.responsive-tabel {
  overflow-x: scroll;
  width: 100%;
  label {
    font-size: 10px;
  }
}
.responsive-panel-analytic {
  .btn, input {
    font-size: 12px;
    height: inherit;
  }
  .input-group-addon {
    padding: 4.5px 12px;
    height: inherit!important;
    font-size: 12px;
  }
  .user-detail {
    h5 {
      font-weight: 600!important;
    }
  }
}
.table {
  font-size: 12px;
}
table {
  min-width: 100%;
}

/*=======================================
	Analytic Custom
=======================================*/
.btn-tab-analytic.active,
.btn-tab-analytic.hover,
.btn-tab-analytic:focus,
.btn-tab-analytic:hover,
.btn-tab-analytic:active{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
	outline: 0!important;
}

.box-analytic{
	display: none;
}

.box-active{
	display: block;
}
.btn-total-revenue{
	min-width: 220px;
	margin-top: 20px;
	background-color: white!important;
}
.total-revenue{
	font-weight: bold;
	font-size: 18px;
}

/*=======================================
	Costumize Custom
=======================================*/
.main-header{
	z-index: 9;
	.logo{
		a{
			color: white;
		}
	}
  .logo-cpaground{
    width: auto;
    height: 25px;
  }
}

.main-sidebar{
	z-index: 5;
}

.modal{
	z-index: 9;
}

.ct-legend{
	z-index: 8!important;
}

.datepicker{
	z-index: 8;
}
/*=======================================
	Form Search Custom
=======================================*/
.form-search{
	display: inline-block;
  width: 100%;
  margin-bottom: 10px;
	.form-control {
		border-right: 0px;
	}
  .btn{
    width: 100%;
  }
  .btn-no-width{
    width: auto;
  }
  .campaign_start_at, .campaign_end_at{
    border-right: 1px solid #d2d6de;
  }
}

.form-search2{
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  .form-control {
    border-right: 0px;
  }
  .btn{
    width: 100%;
  }
  .btn-no-width{
    width: auto;
  }
  .campaign_start_at, .campaign_end_at{
    border-right: 1px solid #d2d6de;
  }
}

.simple-search{
	.form-control{
		width: 30%;
		float: left;
		z-index: 2;
	}
	.input-group-addon{
		float: left;
		height: 34px;
		width: 36px;
		line-height: 20px;
		background: #f4f4f4;
	}
	.dash{
		float: left;
		width: 5px;
		height: 1px;
		border: solid 1px #ccc;
		margin: 15px 5px;
	}
	.btn-submit{
		margin-left: 5px;
		border-radius: 0;
	}
}

#ui-datepicker-div{
	z-index: 10!important;
}

/*=======================================
	Table Custom
=======================================*/
.table{
	margin-top: 10px;
}


/*=======================================
	Alert Custom
=======================================*/
.section-alert{
	padding-top: 10px;
	.alert{
		margin-bottom: 10px;
	}
}

.pagination{
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	display: table;

	span a, .current{
		margin: 1px;
		border-radius: 4px;
		padding: 3px 8px;
		background: #f5f5f5;
		text-align: center;
		color: #444;
	}

	.current{
		background: #605ca8;
		color: white;
	}
}

/*=====================
 Photo-profile
=====================*/
.photo-profile{
	img{
		height: 150px;
		width: 150px;
	}
}

.status-suspended{
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  display: table;
  .label{
    position: absolute;
    width: 100%;
  }
} 

/*=====================
 Panel
=====================*/
.panel{
  display: inline-block;
  width: 100%;
}

/*=======================
	Tabs
=======================*/
.exTab{
	margin-top: 20px;
	margin-bottom: 20px;
}
.tab-content{
	border: solid 1px #ddd;
	border-top: 0;
	padding: 20px;
}

/*========================
	Modal
========================*/

.form-modal{
	z-index: 9999!important;
}


/*=======================================
	Map Custom
=======================================*/
#map {
	height: 400px;
	width: 100%;
	margin-bottom: 8px;
	position: relative;
	overflow: hidden;
	border: solid 3px #ccc;
	background: #ccc;
}
.controls {
	background-color: white!important;
	border-radius: 2px!important;
	border: 1px solid transparent!important;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)!important;
	box-sizing: border-box;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 17px;
	margin-top: 10px!important;
	outline: none!important;
	padding: 0 11px 0 13px!important;
	text-overflow: ellipsis;
	width: 100%!important;
	height: 29px!important;
}
.controls:focus {
	border-color: #4d90fe;
}
#infowindow-content {
	display: none;
}
#map #infowindow-content {
	display: inline;
}

/*=======================================
	Latest Direct Box Custom
=======================================*/
.direct-chat-contacts-box{
	height: 390px;
	width: 100%;
	color:#555;
	overflow-y: auto;
	.not-found {
		text-align: center;
		margin-top: 150px;
		i {
			font-size: 55px;
		}
	}
	.contacts-list-img{
		text-align: center;
		i{
			font-size: 30px;
			color: #ccc;
		}
	}
}

.direct-campaigns-box{
	height: 390px;
	width: 100%;
	overflow-y: auto;
	.not-found {
		text-align: center;
		margin-top: 150px;
		i {
			font-size: 55px;
		}
	}
	.contacts-list-img{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		overflow: hidden;
		img{
			height: 100%;
		}
	}
}

.users-list{
	min-height: 390px;
  li{
    img{
      max-width: 70px;
    }
  }
	.not-found {
		text-align: center;
		margin-top: 150px;
		i {
			font-size: 55px;
		}
	}
	.avatar{
		height: 73px;
		width: 73px;
		border-radius: 50%;
		overflow: hidden;
		img{
			border-radius: 0;
			height: 100%;
			max-width: 70px;
			margin: auto;
		}
	}
}


/*==========================
 cart-legent (chartist)
==========================*/
.ct-chart { 
	.ct-label{
		fill: rgba(0,0,0,.4);
		color: #444444;
		font-size: 13px;
		line-height: 1;
	}
	.ct-grid {
		stroke: #f5f5f5;
		stroke-width: 1px;
		stroke-dasharray: 0;
	}
	.ct-line {
		stroke-width: 2px;
	}
	.ct-point {
		stroke-width: 6px;
	}
	.ct-legend {      
		position: relative;
		z-index: 10;
		list-style: none;
		text-align: center;

		li {
			position: relative;
			padding-left: 23px;
			margin-right: 10px;
			margin-bottom: 3px;
			cursor: pointer;
			display: inline-block;

			&:before {
				width: 12px;
				height: 12px;
				position: absolute;
				left: 0;
				content: '';
				border: 3px solid transparent;
				border-radius: 2px;
			}
			&:nth-child(1)::before{
				background-color: #3366cc;
			}    
	
			&:nth-child(2)::before{
				background-color: #a013a0;
			}
	
			&:nth-child(3)::before{
				background-color: #ff9900;
			}
	
			&:nth-child(4)::before{
				background-color: #dc3912;
			}

			&:nth-child(5)::before{
				background-color: #109618;
			}
		}

		li.inactive:before {
			background: transparent!important;
			border: 2px solid #ccc;
		}

		.ct-legend-inside {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	g:not(.ct-grids):not(.ct-labels) g {
		&:nth-child(1){
			.ct-point,.ct-line {
				stroke: #3366cc;        
			}
		}
		&:nth-child(2){
			.ct-point,.ct-line {
				stroke: #a013a0;      
			}
		}
		&:nth-child(3){
			.ct-point,.ct-line {
				stroke: #ff9900;       
			}
		}
		&:nth-child(4){
			.ct-point,.ct-line {
				stroke: #dc3912;       
			}
		}
		&:nth-child(5){
			.ct-point,.ct-line {
				stroke: #109618;       
			}
		}
	}
}

/*==========================
	Header Admin
==========================*/
.logo-admin {
	background-color: white;
}
.header-admin {
	.show-menu {
		color: #fff;
		width: 50px;
		text-align: center;
	}
	.show-menu:hover {
		background-color: #002319!important;
	}
	.user-header {
		padding: 0px!important;
		.user-bg {
			margin-top: -1px !important;
			height: 175px;
			margin-right: -1px;
			overflow: hidden;
			position: relative;
			margin-bottom: 20px;
			.dropdown-profile {
				font-size: 16px;
				line-height: 1.3em;
				color: white;
				font-weight: 600;
			}
			.user-content {
				padding: 15px;
				color: white;
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				height: 100%;
				text-align: center;
				z-index: 1;
				small{
					color: white;
				}
				.thumb-lg {
					height: 88px;
					width: 88px;
				}
			}
			.overlay-box {
				background: #367fa9;
				opacity: 0.9;
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				height: 100%;
				text-align: center;
			}
		}
	}
}
// .sidebar-admin {
// 	background: #013c2a!important;
// 	overflow-y: scroll;
//   height: 100vh;
//   &::-webkit-scrollbar {
//     width: 0 !important;
//   }
// 	.list-categori-menu {
// 		background-color: #003324!important;
// 		color: #14ad7e!important;
// 		font-weight: bold;
// 	}
// 	ul{
// 		a {
// 			color:#c7ffee!important;
// 		}
// 		.active a, {
// 			color: #ffffff!important;
// 			background: #002319!important;
// 			border-left-color: #0aa17e !important;
// 		}
// 		.active:hover a, {
// 			color: #ffffff!important;
// 			background: #002319!important;
// 			border-left-color: #0aa17e !important;
// 		}
// 		a:hover, a:after {
// 			color: #ffffff!important;
// 			background: #002319!important;
// 			border-left-color: #002319!important;
// 		}
// 	}
// }
.sidebar-collapse{
	.logo-mini{
		display: block!important;
	}
	.logo-lg{
		display: none;
	}
}
.photo-profile {
	img {
		width: 100%!important;
		height: inherit!important;
		margin-bottom: 20px;
	}
}
/*==========================
	Dashboard Admin
==========================*/
.dashboard-admin {
	.total-admin{
		margin-bottom: 20px;
		.total-title {
			background-color: #ffffff;
			border-color: #e7eaec;
			border-image: none;
			border-style: solid solid none;
			border-width: 2px 0 0;
			color: inherit;
			margin-bottom: 0;
			padding: 15px 15px 7px;
			min-height: 48px;
		}
		.total-content {
			background-color: #ffffff;
			color: inherit;
			padding: 15px 20px 20px 20px;
			border-color: #e7eaec;
			border-image: none;
			border-style: solid solid none;
			border-width: 1px 0;
			.total-rating {
				width: 100%;
				overflow: hidden;
				margin-top: 5px;
				.total-count {
					font-weight: lighter;
				}
			}
		}
	}
	.notificatin-new-campaign {
		.list-campaigns {
			width: 100%;
			display: table;
			overflow: hidden;
			li {
				overflow: hidden;
				padding: 10px;
				border-bottom: 1px solid #eee;
			}
			li:hover {
				background-color: #f7f7f7;
			}
			li .category-campaign {
				display: none;
			}
			li:hover .category-campaign{
				display: block!important;
				right: 10px;
			}
			.overlay-category {
				height: 20px;
				width: 50px;
				float: right;
				background: -webkit-linear-gradient(left, rgba(255,0,0,0), #f7f7f7); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(right, rgba(255,0,0,0), #f7f7f7); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(right, rgba(255,0,0,0), #f7f7f7); /* For Firefox 3.6 to 15 */
				background: linear-gradient(to right, rgba(255, 0, 0, 0), #f7f7f7); /* Standard syntax (must be last) */
			}
			.product-username {
				color: #989898;
			}
			.product-title {
				color: #555;
			}
			.username-campaign {
				overflow: hidden;
				margin-bottom: 5px;
			}
			.title-campaign {
				width: 100%;
			}
		}

	}
	.box-contact {
		.contacts-list-name {
			color: #555;
		}
		.contact-content {
			margin-left: 0px;
		}

		.contact-list:hover {
			background-color: #eee;
		}
		.text-orange {
			color:#ccc;
			font-weight: 400;
		}
		.contact-hr li {
			border-bottom: 1px solid rgb(236, 240, 245);
		}
		.contacts-list-msg {
			margin-top: 8px;
		}
	}
}
.btn-chart {
	z-index: 1;
	.btn:active, .btn.active {
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
	}
	analytic.hover, .btn-tab-analytic:focus, .btn-tab-analytic:hover, .btn-tab-analytic:active {
		color: #333;
		background-color: #e6e6e6;
		border-color: transparent!important;
		outline: 0 !important;
	}
	.btn-tab-analytic.active, .btn-tab-analytic.hover, .btn-tab-analytic:focus, .btn-tab-analytic:hover, .btn-tab-analytic:active {
		color: #333;
		background-color: #e6e6e6;
		border-color: transparent;
		outline: 0 !important;
	}
}

.layout-body {
  padding-bottom: 30px;
  .show-campaign {
    .img-layout {
      width: 100%;
    }
    .well {
      margin-bottom: 20px;
      overflow: hidden;
      h4 {
        font-weight: 600;
        margin-top: 0px;
      }
      hr {
        margin-top: 15px;
      }
    }
  }
}

/*==========================
  Add Campaign
==========================*/
.photo-profile {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
  display: table;
  i {
    position: absolute;
    top: 50%;
    left: 49.5%;
    font-size: 30px;
    transform: translate(-45%, -45%);
    display: none;
  }

  .change-profile {
    width: 200px;
    height: 200px;
  }
  .icon-upload-profile {
    display: block;
    position: absolute;
    top: -100%;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
  }
  input[type="file"] {
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1024;
  }
}
.photo-profile:hover img{
  opacity: 0.5;
}
.photo-profile:hover i{
  display: block;
  z-index: 500;
}
.btn-save {
  margin-top: 25px;
} 



/*==========================
	Box add report in list
==========================*/
.js-to-box-add-report{
	cursor: pointer;
	&:hover{
		background: #fffaf2!important;
	}
}
.js-box-add-report, .js-convertion-box-add-report{
	display: none;
	.box{
		width: 100%;
		display: inline-block;
		border: solid 1px #ccc;
		background: #bbecdd;
		padding: 15px 0;
		margin-bottom: 0;
		label{
			font-size: 10px;
			font-weight: normal;
		}
		.btn{
			margin-top: 24px;
		}
    .box-title{
      font-size: 16px;
      font-weight: 600;
    }
    hr{
      margin: 10px 0px;
    }
	}
}
.box-info-campaign {
  min-height: 220px;
}
.bg-link {
  background:#eee;
  line-height: 3em;
  padding-left: 10px;
}
.text-orangered{
  color: orangered;
}
/*==========================
	Grid 5 column
==========================*/

.col-5 {
	width: 20%;
	float: left;
	position: relative;
	min-height: 1px;
}

/*==========================
	panel-next-payment
==========================*/
.panel-next-payment{
	&__title{
		font-weight: bold;
	}
	&__line{
		hr.margin-top {
			margin-top: 5px !important;
		}
	}
	&__body{
		margin-bottom: 5px;
		.col-md-8, .col-md-4{
			padding-top: 5px;
		}
	}

}


/*=======================
	link-campaign geo
=======================*/
.link-campaign{
	width: 100%;
}
.link-campaign {
  width: 100%;
  .link-input {
    min-height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccc;
    border-radius: 0px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  }
  .border-right {
    border-right: 0px!important;
  }
  .clipboard-btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 0px!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
  }
}

.icon-flag {
	font-size: 20px;
	padding-bottom: 3px;
	margin-top: 5px;
}


/*==========================
  Image Scroll
==========================*/

.scroll {
  background-size: 100%;
  cursor: pointer;
  z-index: 2;
  min-height: 100%;
  -webkit-transition: background-position 3s ease-in-out;
  -moz-transition: background-position 3s ease-in-out;
  -ms-transition: background-position 3s ease-in-out;
  -o-transition: background-position 3s ease-in-out;
  transition: background-position 3s ease-in-out;
}
.scroll:hover {
  background-position:0px 100%;

}
.line-image {
  width: 100%;
  height: 300px;
  margin-bottom: -4px;
}
.line-image-list {
  width: 100%;
  height: 200px;
  margin-bottom: -4px;
}
.line-image-table {
  width: 100%;
  height: 70px;
  margin-bottom: -4px;
}


/*==========================
  Blogs
==========================*/
.blog-body {
  padding-bottom: 30px;
  .show-blog {
    .img-blog {
      width: 100%;
    }
    .well {
      margin-bottom: 20px;
      overflow: hidden;
      h4 {
        font-weight: 600;
        margin-top: 0px;
      }
      hr {
        margin-top: 15px;
      }
    }
    .writer{
      font-size: 12px;
      img{
        width: 50px;
        float: left;
        margin: 5px;
      }
      .writer-by{
        float: left;
        margin: 5px;
      }
    }
    .float-block{
      clear: both;
    }
    .form-label{
      padding: 3px;
      font-weight: bold;
    }
  }
}

/*=================================
  campaign .list-landing-page
=================================*/
.list-landing-page{
  .link-campaign{
    .link-input{
      width: 300px;
    }
  }
}

.description-block{
  margin: 0;
}

/*=====================================
    FORUM COMMENTS
=====================================*/
.social-profile img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}
.social-board .social-profile h5 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.forum-box{
  a{
    cursor: pointer;
  }
  .forum-comments {
    border-left: none;
    border-right: none;
    padding: 0px 15px;
    h6{
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
  .forum-comments .media img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .forum-comments form {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .forum-box .forum-info {
    text-align: left;
  }
}

.social-talk .social-profile img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.social-talk .text-muted {
  color: #aaacae;
}
.social-talk {
  margin-bottom: 10px;
}
.social-talk .social-content {
  margin-top: 2px;
}

/*==========================
  Side Comment Publisher
==========================*/
.side-all-comments{
  overflow-y: scroll;
  height: 100vh;
  width: 350px;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  &.fixed{
    top: 70px;
    position: fixed;
  }
  .media{
    background: white;
    margin-bottom: 5px;
    img{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-top: 0;
      margin-bottom: 10px;
    }
    .group-name{
      padding-top: 6px;
      font-weight: bold;
      color: #3b4d35;
    }
  }
}

/*==========================
  Spinner Load
==========================*/
.spinner-load{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255,255,255,0.8);
  z-index: 9;
  color: #777;
  text-align: center;
  font-size: 20px;
  padding-top: 15%;
  display: none;
  img{
    width: 100px;
    margin-bottom: 20px;
  }
}

.loading-data{
  padding-top: 10px;
  text-align: center;
}

/*==========================
  Tab Analytics
==========================*/
.js-tab-analytics{
  li{
    width: 16.6%;
    float: right;
    a{
      text-align: center;
      font-weight: 600;
    }
    &.active, &:hover, &:focus{
      a{
        border-radius: 0;
        border: 0!important;
        border-bottom: solid 2px #3498db!important;
      }
    }
  }
}
.box-analytic{
  .tab-content{
    min-height: 370px;
  }
}

/*==========================
  Modal Costumize
==========================*/
.modal-header{
  border-bottom-color: #f4f4f4;
  display: inline-block;
  width: 100%;
}

/*=======================
  GROUP FORUM
=======================*/
.group-box{
  .panel{
    margin-bottom: 0;
  }
  &__item-header{
    height: 320px;
    position: relative;
    .btn-edit-group{
      display: block;
      background: 0 0!important;
      color: transparent;
      border: none;
      line-height: 22px;
      cursor: pointer;
      text-shadow: none;
      padding: 0;
      width: auto;
      min-width: 0;
      text-align: center;
      font-size: 12px;
      letter-spacing: 1.2px;
      margin-top: 16px;
      margin-left: 20px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      position: absolute;
      z-index: 9!important;
      font-weight: 400;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: 0;
    }
    .btn-list-members{
      right: 20px;
      bottom: 16px;
      z-index: 8 !important;
    }
    .bg-cover{
      width: 100%;
      background-color: #3c7a90;
      height: 320px;
      position: absolute;
      overflow: hidden;
      .bg-cover-image{
        width: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .item-header-cover{
      width: 100%;
      position: absolute;
      z-index: 2;
      .table-cell{
        height: 265px;
        .cover-content{
          height: 320px;
          color: white;
          margin: auto;
          display: table;
          margin-top: 14%;
          text-align: center;
          font-size: 16px;
          img{
            width: 80px;
            height: 80px;
          }
          .total-created{
            font-size: 11px;
          }
        }
      }
    }
    .no-border{
      background: none;
      border: none;
    }
  }
  &__item-owner{
    .group-name{
      color: #3b4d35;
      font-weight: 600;
    }
  }
}

.list-group-coverages{
  &__info{
    width: 100%;
    .avatar{
      width: 10%;
      float: left;
      img{
        width: 75px;
        height: 75px;
      }
    }
    .detail{
      width: 60%;
      float: left;
      padding-left: 5px;
      .user-entity{
        .type{
          font-size: 11px;
          color: #808080;
        }
      }
    }
    .action{
      width: 30%;
      float: left;
      .change-status-group-coverage{
        padding-top: 25px;
        float: right;
        .btn{
          width: 80px;
        }
      }
    }
  }
  hr{
    margin-top: 90px;
    clear: both;
  }
  
}

/*==========================
  All feeds & comments
==========================*/
.all-comments{
  display: none;
}
.blog-body .show-blog .writer img {
  width: 50px;
  height: 50px;
  float: left;
  margin: 5px;
}
.js-more-comments{
  cursor: pointer;
  color: #3498db;
  font-size: 11px;
  .btn-view-more {
    margin-top: -7px;
    margin-bottom: 20px;
    background: #e4e5e7;
    color: #555;
    border: solid 1px #dadada;
  }
  .btn-view-more:hover {
    margin-top: -7px;
    margin-bottom: 20px;
    background: #dadada;
    color: #555;
    border: solid 1px #dadada;
  }
}



/*========================
  FORUM PUBLISHER
========================*/
.forum-publisher{
  .normalheader{
    background: white;
  }
}

/*=======================
  select2
=======================*/
.select2-tag{
  .select2{
    width: 100% !important;
    .select2-selection{
      border-color: #e4e5e7 !important;
    }
  }
}


/*=======================
  card ktp
=======================*/
.card1, .card2{
  width: 100%;
  img{
    width: 100%;
  }
}

