.col-md-12.nested-fields
	.section-pic
		.row
			.col-md-5
				%h6 #{link_to "Preview Image".html_safe, "#{f.object.name.url}", target: "_blank"}
				= f.file_field :name, class: 'form-control', placeholder: 'Name'
				= f.hidden_field :name_cache
			.col-md-5
				%h6 Description
				= f.text_field :description, class: 'form-control', placeholder: 'Description'
			.col-md-2
				%h6 Action
				= link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'btn btn-danger btn-xs'

