= f.fields_for :banner_images do |g|
	= render 'banner_image_fields', f: g

.col-md-12{ style: "margin-bottom: 20px;" }
	%br
	= link_to_add_association f, :banner_images, partial: 'banner_image_fields', class: "btn btn-success btn-sm" do
		%span Add Banner Image
	%hr