.row
	.col-md-3
		.form-group
			= f.label :category_name
			= f.select :category_id, CategoryCampaign::CATEGORY_NAMES, {prompt: "Select Category Name"}, class: 'form-control', required: true
	.col-md-3
		.form-group
			= f.label 'Offer Name'
			= f.text_field :name, placeholder: "Enter name offer", class: 'form-control', required: true
	.col-md-2
		.form-group
			= f.label :action
			= f.select :action, CategoryCampaign::ACTIONS, {prompt: "Select Action"}, class: 'form-control choice_action_offer_select', required: true
	.col-md-2
		.form-group
			= f.label "Need Approval"
			= f.select :need_approval, CategoryCampaign::NEED_APPROVAL, {prompt: "Select Need Approval"}, class: 'form-control', required: true
	.col-md-2
		.form-group
			= f.label :status
			= f.select :status, CategoryCampaign::STATUSES, {prompt: 'Select Status'}, class: 'form-control', required: true
	.col-md-6
		.form-group
			= f.label "Link Offer Advertiser"
			= f.text_field :link_offer, placeholder: "example: http://acceed-tranner.com/8305d9c9-42f3-466d-b369-7cf9424f54fd", class: 'form-control', required: true
	- if params[:action] == 'edit'
		.col-md-6
			.form-group
				= f.label "Link Tracker Cpaground"
				= f.text_field :link, placeholder: "Link Offer", class: 'form-control', required: true
	.col-md-12
		.form-group
			= f.label :detail
			= f.cktext_area :detail, placeholder: "Enter detail offer", class: 'form-control', required: true
	.form-add-cps
		.add-cps
			.col-md-12
				.form-group
					= f.label :expires
					= f.text_field :expires, placeholder: "Enter expires offer", class: "form-control datepicker", required: true
	.col-md-12
		.form-group
			.photo-profile{ style: "float: left;" }
				= f.label :cover
				%img.img-thumbnail{ src: asset_path(@category_campaign.cover) }
				%br
				= f.file_field :cover, style: "z-index: 800;"
				= f.hidden_field :cover_cache
	.col-md-12
		%h4 Banner Images
		%hr
	.setup-content
		= render partial: 'banner_image_form', locals: {f: f}

.row
	.col-md-12
		%h4 Targetings
		%hr
	.setup-content
		= render partial: 'targeting_form', locals: {f: f}
%br

:javascript
	function checkActionOffer(){
		choice_action_offer = document.getElementById("category_campaign_action").value;

		if(choice_action_offer == 'CPS'){
			$('.add-cps').appendTo('.form-add-cps');
			$('.add-cps').show();
		}else{
			$('.form-add-cps .add-cps').appendTo('.content-footer');
			$('.add-cps').hide();
		}
	}

	$(document).ready(function() {
		checkActionOffer();

		$(document).on('change', '.choice_action_offer_select', function() {
			checkActionOffer();
		});
	});