.responsive-tabel
	.responsive-content-tabel
		%table#example1.table.table-bordered.table-striped.tabel-width2
			%thead
				%tr
					%th
						= check_box_tag :check_all2
					%th Preview
					%th Name
					%th Description
					%th Created At
					%th Updated At
					%th Action
			%tbody 
				- if @banner_images.blank?
					%tr
						%td{ colspan: "7"} 
							= render "shared/empty_blank"
				- else
					- @banner_images.each_with_index do |resource, index|  
						%tr
							%td.tab2
								= check_box_tag 'banner_image_ids[]', resource.id
							%td
								= image_tag resource.name, style: " width: 200px; "
							%td
								= resource.filename
							%td
								= resource.description
							%td
								= get_datetime(resource.created_at)
							%td
								= get_datetime(resource.updated_at)
							%td
								= link_to "<i class='fa fa-times'></i>".html_safe, delete_banner_image_admins_category_campaign_path(resource), method: 'delete', data: {confirm: "Are you sure to delete banner images?"}, class: 'btn btn-danger btn-xs'

= paginate @banner_images, remote: true, param_name: "page_banner_images"