- if @activities.blank?
	= render "shared/empty_blank"
- else
	#wallmessages.qa-message-list
		- @activities.each do |resource|
			- if resource.admin.present?
				- link_path = admins_admin_path(resource.admin)
				- user = resource.admin
			- elsif resource.account_manager.present?
				- link_path = admins_account_manager_path(resource.account_manager)
				- user = resource.account_manager
			- else
				- link_path = admins_publisher_path(resource.publisher)
				- user = resource.publisher
			.message-item
				.message-inner
					.message-head.clearfix
						.avatar.pull-left
							= link_to link_path do
								.avatar-timeline
									= image_tag user.avatar
						.user-detail.timeline-m
							%h5.handle
								= resource.name
							.post-meta
								.asker-meta.text-left-m
									%span.qa-message-what
									%span.qa-message-when
										%span.qa-message-when-data= get_datetime(resource.created_at)
									%br.mobile
									%span.qa-message-who
										%span.qa-message-who-pad by &nbsp;
										%span.qa-message-who-data
											= link_to "#{user.username}", link_path
					.qa-message-content
						= resource.description
	= paginate @activities, remote: true, param_name: "page_activities"