.responsive-tabel
	.responsive-content-tabel
		%table#example1.table.table-bordered.table-striped.tabel-width2
			%thead
				%tr
					%th
						= check_box_tag :check_all1
					%th Country Code
					%th Payout Price
					%th Fee Publisher (%)
					%th Fee Am (%)
					%th Fee Company (%)
					%th Created At
					%th Updated At
					%th Action
			%tbody 
				- if @targetings.blank?
					%tr
						%td{ colspan: "9"} 
							= render "shared/empty_blank"
				- else
					- @targetings.each_with_index do |resource, index|  
						%tr
							%td.tab1
								= check_box_tag 'ids[]', resource.id
							%td
								= resource.country_code
							%td
								= get_currency(resource.payout_price)
							%td
								= resource.fee_publisher
							%td
								= resource.fee_am
							%td
								= resource.fee_company
							%td
								= get_datetime(resource.created_at)
							%td
								= get_datetime(resource.updated_at)
							%td
								= link_to "<i class='fa fa-times'></i>".html_safe, delete_targeting_admins_category_campaign_path(resource), method: 'delete', data: {confirm: "Are you sure to delete this targeting?"}, class: 'btn btn-danger btn-xs'
= paginate @targetings, remote: true, param_name: "page_targetings"