.responsive-tabel
	.responsive-content-tabel
		%table#example1.table.table-bordered.table-striped.tabel-width2
			%thead
				%tr
					%th No
					%th Preview
					%th Name
					%th Description
			%tbody 
				- if BannerImage::CPA_IMAGES.blank?
					%tr
						%td{ colspan: "4"} 
							= render "shared/empty_blank"
				- else
					- BannerImage::CPA_IMAGES.each_with_index do |resource, index|  
						%tr
							%td
								= index+1
							%td
								= image_tag resource[0], style: " width: 200px; "
							%td
								= resource[1]
							%td
								= resource[2]