.responsive-tabel
  .responsive-content-tabel
    %table#example1.table.table-bordered.table-striped.tabel-width2
      %thead
        %tr
          %th No
          %th Publisher
          %th AM
          %th Checked
          %th Status
          %th Created At
          %th Updated At
      %tbody
        - if @access_offers.blank?
          %tr
            %td{ colspan: "7"} 
              = render "shared/empty_blank"
        - else
          - @access_offers.each_with_index do |resource, index|
            %tr
              %td
                = index+1
              %td
                = link_to resource.publisher.username, admins_publisher_path(resource.publisher)
              %td
                = link_to resource.account_manager.username, admins_account_manager_path(resource.account_manager)
              %td
                = resource.label_checked?
              %td
                = resource.status?
              %td
                = get_datetime(resource.created_at)
              %td
                = get_datetime(resource.updated_at)

= paginate @access_offers, remote: true, param_name: "page_access_offers"