.responsive-tabel
	%table#example1.table.table-bordered.table-striped.tabel-width1{style: 'width:2000px;'}
		%thead
			%tr
				%th
					= check_box_tag :check_all
				%th Id
				%th Code
				%th Category
				%th{width: '300px'} Name
				%th Action
				%th Link Tracking
				%th Link Offer
				%th Targetings
				%th Campaigns
				%th Sales
				%th Approval
				%th Status
				%th Expires
				%th{width: '150px'} Created At
				%th{width: '80px'} Action
		%tbody
			- if @category_campaigns.blank?
				%tr
					%td{ colspan: "16"} 
						= render "shared/empty_blank"
			- else
				- @category_campaigns.each_with_index do |resource, index|  
					%tr
						%td
							= check_box_tag 'ids[]', resource.id
						%td
							= resource.id
						%td
							= resource.code
						%td
							= resource.category_name
						%td
							= resource.name
						%td
							= resource.action
						%td
							= resource.link
						%td
							= resource.link_offer.present? ? resource.link_offer : "--"
						%td
							= resource.targetings.count
						%td
							= resource.campaigns.count
						%td
							= resource.sales?
						%td
							= resource.need_approval?
						%td
							- if resource.featured?
								= resource.featured?
							- else
								= resource.status?
						%td
							= resource.expires.present? ? date_sort_time(resource.expires) : "--"
						%td
							= get_datetime(resource.created_at)
						%td.text-center
							= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_category_campaign_path(resource), class: 'btn btn-default btn-xs'
							&nbsp;
							= link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_category_campaign_path(resource), class: 'btn btn-default btn-xs'
= paginate @category_campaigns, remote: true

:javascript
	$('.responsive-tabel').doubleScroll();