= f.fields_for :targetings do |g|
	= render 'targeting_fields', f: g

.col-md-12
	%br
	= link_to_add_association f, :targetings, partial: 'targeting_fields', class: "btn btn-success btn-sm" do
		%span Add Targeting