.col-md-12.nested-fields
	.section-pic
		.row
			.col-md-2
				%h6 Country Code
				= f.text_field :country_code, class: 'form-control', placeholder: 'Country Code'
			.col-md-2
				%h6 Payout Price
				= f.text_field :payout_price, class: 'form-control', placeholder: 'Payout Price'
			.col-md-2
				%h6 Fee Publisher (%)
				= f.text_field :fee_publisher, class: 'form-control', placeholder: 'Fee Publisher (%)'
			.col-md-2
				%h6 Fee Am (%)
				= f.text_field :fee_am, class: 'form-control', placeholder: 'Fee Am (%)'
			.col-md-2
				%h6 Fee Company (%)
				= f.text_field :fee_company, class: 'form-control', placeholder: 'Fee Company (%)'
			.col-md-2
				%h6 Action
				= link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'btn btn-danger btn-xs'

