= render "shared/admin/breadcrumbs"

%section.content.full-page
	.row
		.col-md-12
			.box.box-m
				.box-header
					%h3.box-title
						= @collection_name
					= link_to 'Back To List', admins_category_campaigns_path, class: 'btn btn-info btn-xs pull-right'
					%hr
				.box-body
					= form_for @category_campaign, url: admins_category_campaign_path, method: 'put', html: { multipart:true } do |f|
						= render 'form', f: f
						= submit_tag "Update", class: "btn btn-info"
				.content-footer