$('#breadcrumbs').html("<%= escape_javascript render partial: 'shared/admin/breadcrumbs' %>");
$('#table-lists').html("<%= escape_javascript render partial: 'lists', locals: {category_campaigns: @category_campaigns} %>");
$('.js-btn-export').html("<%= escape_javascript render partial: 'admins/category_campaigns/btn_export' %>");