#breadcrumbs
	= render "shared/admin/breadcrumbs"

%section.content.full-page
	.bg-white
		.col-md-10.search
			.row
				= form_for :search, url: admins_category_campaigns_path, method: 'get', html: {class: 'form-search', remote: true} do
					.input-group.full
						.col-md-2.no-padding
							= text_field_tag :key, params[:key], class: 'form-control pull-left', placeholder: 'Keywords'
						.col-md-2.no-padding
							= select_tag :status, options_for_select(CategoryCampaign::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control'
						.col-md-2.no-padding
							= select_tag :category_offer, options_for_select(CategoryCampaign::CATEGORY_NAMES, params[:category_offer]), prompt: 'Select Category', class: 'form-control no-border-radius'
						.col-md-1.no-padding
							= select_tag :action_offer, options_for_select(CategoryCampaign::ACTIONS, params[:action_offer]), prompt: 'Select Action', class: 'form-control no-border-radius'
						.col-md-2.no-padding
							= select_tag :shorter, options_for_select(CategoryCampaign::SHORTERS, params[:shorter]), prompt: 'Sort by', class: 'form-control no-border-radius'
						.col-md-1.no-padding
							= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
						.col-md-1.no-padding
							= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
						.col-md-1.no-padding
							= submit_tag :search, class: 'btn btn-info radius-right'
	.col-md-2.btn-search-admin.js-btn-export
		= render "admins/category_campaigns/btn_export"
	
	.row
		.col-xs-12.top-plus
			.box.box-m
				.box-body
					= form_tag import_admins_category_campaigns_path, multipart: true do
						.row
							.col-md-3
								= file_field_tag :file, class: 'pull-left form-control'
							.col-md-7
								= submit_tag "Import", class: 'btn btn-info pull-left btn-full'
			.box.box-m
				.box-body
					= form_for :multiple, url: multiple_action_admins_category_campaigns_path, method: 'get' do
						= link_to new_admins_category_campaign_path, class: 'btn btn-info btn-sm pull-right' do
							%i.fa.fa-bars
							&nbsp; New Offer
						= submit_tag CategoryCampaign::ACTIVE, value: CategoryCampaign::ACTIVE, class: 'btn btn-sm btn-default no-radius no-border-right'
						= submit_tag CategoryCampaign::INACTIVE, value: CategoryCampaign::INACTIVE, class: 'btn btn-sm btn-default no-radius no-border-right'
						= submit_tag "featured", value: "featured", class: 'btn btn-sm btn-default no-radius no-border-right'
						= submit_tag "unfeatured", value: "unfeatured", class: 'btn btn-sm btn-default no-radius'
						= submit_tag "promoted", value: "promoted", class: 'btn btn-sm btn-default no-radius'

						#table-lists
							= render 'admins/category_campaigns/lists'