<table border="1">
  <caption>LIST OFFERS</caption>
  <tr>
    <th>No</th>
    <th>Id</th>
    <th>Code</th>
    <th>Category</th>
    <th>Name</th>
    <th>Action</th>
    <th>Link Tracking</th>
    <th>Link Offer</th>
    <th>Targetings</th>
    <th>Campaigns</th>
    <th>Sales</th>
    <th>Approval</th>
    <th>Status</th>
    <th>Expires</th>
    <th>Created At</th>
  </tr>
  <% @total_category_campaigns.each_with_index do |resource, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td>
        <%= resource.id %>
      </td>
      <td>
        <%= resource.code %>
      </td>
      <td>
        <%= resource.category_name %>
      </td>
      <td>
        <%= resource.name %>
      </td>
      <td>
        <%= resource.action %>
      </td>
      <td>
        <%= resource.link %>
      </td>
      <td>
        <%= resource.link_offer.present? ? resource.link_offer : "--" %>
      </td>
      <td>
        <%= resource.targetings.count %>
      </td>
      <td>
        <%= resource.campaigns.count %>
      </td>
      <td>
        <%= resource.sales? %>
      </td>
      <td>
        <%= resource.need_approval? %>
      </td>
      <td>
        <% if resource.featured? %>
          <%= resource.featured? %>
        <% else %>
          <%= resource.status? %>
        <% end %>
      </td>
      <td>
        <%= resource.expires.present? ? date_sort_time(resource.expires) : "--" %>
      </td>
      <td>
        <%= get_datetime(resource.created_at) %>
      </td>
    </tr>
  <% end %>
</table>