<table border="1">
  <caption>DETAIL OFFER</caption>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Action</th>
    <th>Status</th>
    <th>Created at</th>
  </tr>
  <tr>
    <td><%= @category_campaign.try(:name) %></td>
    <td><%= @category_campaign.try(:category_name) %></td>
    <td><%= @category_campaign.try(:action) %></td>
    <td><%= @category_campaign.try(:status) %></td>
    <td><%= @category_campaign.created_at.strftime("%I:%M %B, %d, %Y") %></td>
  </tr>
</table>

<br>

<table border="1">
  <caption>TARGETINGS</caption>
  <tr>
    <th>No</th>
    <th>Country Code</th>
    <th>Payout Price</th>
    <th>Fee Publisher (%)</th>
    <th>Fee Am (%)</th>
    <th>Fee Company (%)</th>
    <th>Created at</th>
  </tr>
  <% @targetings_all.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:country_code) %></td>
    <td><%= get_currency(resource.try(:payout_price)) %></td>
    <td><%= resource.try(:fee_publisher) %></td>
    <td><%= resource.try(:fee_am) %></td>
    <td><%= resource.try(:fee_company) %></td>
    <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
  </tr>
  <% end %>
</table>