$('#table-list-campaigns').html("<%= escape_javascript render partial: 'list_campaigns', locals: {campaigns: @campaigns} %>");
$('#table-list-activities').html("<%= escape_javascript render partial: 'list_activities', locals: {activities: @activities} %>");
$('#table-list-access-offers').html("<%= escape_javascript render partial: 'list_access_offers', locals: {access_offers: @access_offers} %>");
$('#table-list-targetings').html("<%= escape_javascript render partial: 'list_targetings', locals: {targetings: @targetings} %>");
$('#table-list-banner-images').html("<%= escape_javascript render partial: 'list_banner_images', locals: {banner_images: @banner_images} %>");