= render "shared/admin/breadcrumbs"
	
%section.content.full-page
	.row
		.col-xs-12
			.box.box-m
				.box-header
					%h3.box-title
						Data category campaign
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_category_campaigns_path, class: "btn btn-info btn-xs"
						&nbsp;
						= link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_admins_category_campaign_path(@category_campaign), class: "btn btn-default btn-xs"
					%hr
				.box-body
					.show-campaign
						.col-md-7.no-padding-m
							.row
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Category Name
										.col-md-9
											.form-group 
												= @category_campaign.category_name
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Name
										.col-md-9
											.form-group 
												= @category_campaign.name
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Link Tracking
										.col-md-9
											.form-group 
												= @category_campaign.link
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Link Offer
										.col-md-9
											.form-group 
												= @category_campaign.link_offer.present? ? @category_campaign.link_offer : "--"
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Action
										.col-md-9
											.form-group 
												= @category_campaign.action
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Need Approval
										.col-md-9
											.form-group 
												= @category_campaign.need_approval?
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Approvement
										.col-md-9
											.form-group 
												= @category_campaign.approvement?
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Status
										.col-md-9
											.form-group 
												= @category_campaign.status?
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Detail
										.col-md-9
											.form-group 
												= @category_campaign.detail.present? ? @category_campaign.detail.html_safe : "-"
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Total Targetings
										.col-md-9
											.form-group 
												= @category_campaign.targetings.count
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Created
										.col-md-9
											.form-group 
												= get_datetime(@category_campaign.created_at)
								- if @category_campaign.approval?
									.col-md-12
										.row
											.col-md-3
												.form-group
													%b Total Access Offers Approved
											.col-md-9
												.form-group 
													= @category_campaign.access_offers.approved.count
									.col-md-12
										.row
											.col-md-3
												.form-group
													%b Total Access Offers Banned
											.col-md-9
												.form-group 
													= @category_campaign.access_offers.banned.count
								- if @category_campaign.is_cps?
									.col-md-12
										.row
											.col-md-3
												.form-group
													%b Expires
											.col-md-9
												.form-group 
													= date_sort_time(@category_campaign.expires)
									.col-md-12
										.row
											.col-md-3
												.form-group
													%b Cover
											.col-md-9
												.form-group 
													= image_tag @category_campaign.cover
						.col-md-5.no-padding-m
							.well
								%h4 Edit status category campaign
								= form_for @category_campaign, url: change_status_admins_category_campaign_path, method: 'put' do |f|
									.form-group 
										= f.label 'Status' 
										= f.select :status, CategoryCampaign::STATUSES, {prompt: 'Select Status'}, class: 'form-control', required: true
									.form-group 
										= submit_tag :change, class: 'btn btn-info'

			.col-md-12
				.row
					.exTab
						%ul.nav.nav-tabs
							%li.active
								%a{"data-toggle" => "tab", :href => "#1"} Campaigns
							%li
								%a{"data-toggle" => "tab", :href => "#2"} Activities
							- if @category_campaign.approval?
								%li
									%a{"data-toggle" => "tab", :href => "#3"} Access Offers
							%li
								%a{"data-toggle" => "tab", :href => "#4"} Targetings
							%li
								%a{"data-toggle" => "tab", :href => "#5"} Banner Images
						.tab-content.background-white
							#1.tab-pane.active
								.show-campaigns
									%h2{align: 'center'} Report campaigns
									%br
									
									#table-list-campaigns
										= render 'admins/category_campaigns/list_campaigns'
							#2.tab-pane
								%h2{align: 'center'} Activities
								%br
								#table-list-activities
									= render 'admins/category_campaigns/list_activities'
							- if @category_campaign.approval?
								#3.tab-pane
									%h2{align: 'center'} Access Offers
									%br
									#table-list-access-offers
										= render 'admins/category_campaigns/list_access_offers'
							#4.tab-pane
								%h2{align: 'center'} Targetings
								= form_tag import_per_offer_admins_category_campaigns_path(offer_id: @category_campaign.id), multipart: true do
									.row
										.col-xs-3
											= file_field_tag :file, class: 'form-control'
										.col-xs-9
											= submit_tag "Import", class: 'btn btn-info btn-full'
								%br
								= form_for :multiple, url: multiple_action_targeting_admins_category_campaigns_path, method: 'get' do
									= submit_tag "deleted", value: "deleted", class: 'btn btn-sm btn-danger no-radius pull-left', data: {confirm: "Are you sure to delete targetings?"}
									%a.btn.btn-info.btn-sm.pull-right.btn-chart-ex{ href: "#{@category_campaign.id}.xls?"}
										%i.fa.fa-file-excel-o
										&nbsp;
										Export to excel
									#table-list-targetings
										= render 'admins/category_campaigns/list_targetings'
							#5.tab-pane
								%h2{align: 'center'} Banner Images
								- if @banner_images.present?
									= form_for :multiple, url: multiple_action_banner_image_admins_category_campaigns_path, method: 'get' do
										= submit_tag "deleted", value: "deleted", class: 'btn btn-sm btn-danger no-radius', data: {confirm: "Are you sure to delete banner images?"}
										#table-list-banner-images
											= render 'admins/category_campaigns/list_banner_images'
								- else
									= render 'admins/category_campaigns/list_banner_default'
