<style>
  body{
    font-family: sans-serif;
    background: #f1f3f6;
  }
  header {
    min-height: 52px;
    margin-bottom: 10px;
    background: #fff;
    padding: 15px;
    padding-bottom: 15px;
    padding-bottom: 0;
    border: solid 1px #e3e3e3;
    margin-bottom: 20px;
    margin-top: -31px;
  }
  header h1, header h2 {
    color: #6a6c6f;
    text-align: right;
    margin-bottom: 15px;
  }
  header .info{
    margin-top: 20px;
  }
  header .info ul{
    font-size: 12px;
  } 
  #logo {
    float: left;
  }
  a:hover{
    text-decoration: none!important;
  }
  .sidebar-utilities a, .sidebar-utilities a:link, .sidebar-utilities a:hover, .sidebar-utilities a:active, .sidebar-utilities a:visited {
    color: #6a6c6f;
  }
  header #logo img{
    max-height:40px;
  }
  .dashboard #content, .dashboard .quickstats, .dashboard .dashboardWarningPanel, .dashboard #performance,
  .mobileApp #content, .offerDetails #content, .adgroupdetails #content, .dashboard #content {
    max-width: 100%;
  }
  .sparkline .status {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
  .sidebar{
    border-right: solid 1px #e3e3e3!important;
    box-shadow: none!important;
  }
  .sidebar-main-group li > a, [class*="sidebar-main-group--"] li > a, .sidebar-main-group--manager li > a {
    font-weight: 400;
    font-size: 12px;
    line-height: inherit;
    color: #6a6c6f;
  }
  .sidebar-main-group li.active > a, [class*="sidebar-main-group--"] li.active > a, .sidebar-main-group--manager li.active > a {
    color: #3498db!important;
    font-weight: 400!important;
  }
  .sidebar-main-group--dashboard li > a{
    text-transform: uppercase;
  }
  .sidebar-main-group-header {
    font-weight: 400!important;
    box-shadow: none!important;
  }
  .quickstats p{
    color: #3498db;
  }
  /*.ng-binding.ng-scope{
    margin: 10px;
    max-width: 800px;
    margin: auto!important;
    background: #fff;
    padding: 20px;
    margin-top: 20px!important;
    font-size: 12px;
    border: solid 1px #e3e3e3;
  }*/
  p{
    font-size: 12px;
  }
  .sidebar-utilities{
    box-shadow: none;
    background-color: #f5f5f5;
  }
  .quickstats{
    border: 0;
  }
  .quickstats h2{
    padding: 0;
    margin-bottom: 20px;
    border-bottom: solid 1px #e3e3e3!important;
    background: none!important;
  }
  .quickstats h3{
    font-size: 12px;
  }
  .dashboard .module h2{
    border-bottom: solid 1px #e3e3e3!important;
  }
  .dashboard #featured-offers{
    border-bottom: solid 1px #e3e3e3!important;
  }
  .dashboard .performance-chart-widget{
    border: 1px solid #e3e3e3;
  }
  p.no-data-available{
    border-bottom: solid 1px #e3e3e3!important;
  }
  .quickstats{
    background: none!important;
  }
  .quickstats.quickstats5 > div, .quickstats.quickstats4 > div{
    text-align: center;
    border: solid 1px #e3e3e3;
    background: #fff;
    padding-top: 20px;
  }
  .quickstats .sparkline .status{
    text-align: center;
    font-size: 12px;
    line-height: 15px;
  }
  .dashboard #featured-offers #scroll-left{
    background: none!important;
  }
  .dashboard #featured-offers #scroll-right{
    background: none!important;
  }
  .table thead tr {
    background: #fff;
  }
  .panel-container{
    background: #f5f5f5;
  }
  .taskbar {
    background: #fff;
    padding: 10px;
    font-size: 14px;
  }
  #content{
    background: #f1f3f6;
  }
  .no-data-available h4{
    font-size: 18px;
  }
  .no-data-available em{
    font-size: 14px;
  }
  .table, .table th{
    font-size: 12px;
  }

  @media screen and (max-width: 991px) {
    header{
      margin-top: 0
    }
  }
</style>




