%a.dropdown-toggle.menu-icon{"data-toggle" => "dropdown", :href => "#"}
  %i.pe-7s-keypad
.dropdown-menu.hdropdown.bigmenu.animated.responsive-dropdown-menu-icon.flipInX
  %table
    %tbody
      %tr
        %td
          %a{:href => edit_account_managers_profile_path(current_user)}
            %i.pe.pe-7s-user.text-warning
            %h5 Settings <br> Acccount
        %td
          %a{:href => account_managers_activities_path}
            %i.pe.pe-7s-timer.text-success
            %h5 My <br>Activities
        %td
          %a{:href => account_managers_payments_path}
            %i.fa.fa-money.text-danger
            %h5 My <br> Payments
      %tr
        %td
          %a{:href => account_managers_publishers_path}
            %i.pe.pe-7s-users.text-info
            %h5 My <br> Publishers
        %td
          %a{:href => account_managers_campaigns_path}
            %i.pe.pe-7s-graph1.text-info
            %h5 Publishers <br> Campaign
        %td
          %a{:href => account_managers_request_landing_pages_path}
            %i.pe.pe-7s-display2.text-info
            %h5 LP <br> Publishers
        