#header.header-publisher
	#logo.light-version
		= link_to account_managers_dashboards_path do
			= image_tag "logo-cpaground-black.png", class: "logo-publisher"

	%nav{:role => "navigation"}
		.header-link.hide-menu
			%i.fa.fa-bars
		.small-logo
			%span
				= link_to account_managers_dashboards_path do
					= image_tag "logo-cpaground-black.png", class: "logo-publisher"
		.mobile-menu
			%button.navbar-toggle.mobile-menu-toggle.responsive-menu-icon{"data-target" => "#mobile-collapse", "data-toggle" => "collapse", :type => "button"}
				%i.fa.fa-chevron-down
			#mobile-collapse.collapse.mobile-navbar.responsive-ul-menu-icon
				%ul.nav.navbar-nav.no-borders
					%li.responsive-menu-icon-publisher.dropdown
						= render 'account_managers/shared/latest_notification'
					%li.responsive-menu-icon-publisher.dropdown
						= render 'account_managers/shared/latest_component_menu'
					%li.responsive-menu-icon-publisher.dropdown
						= render 'account_managers/shared/latest_message'
					%li.responsive-menu-icon-publisher
						%a#sidebar.right-sidebar-toggle{:href => "#"}
							%i.pe-7s-upload.pe-7s-news-paper
					%li.pull-right.dropdown
						= button_to destroy_user_session_path, method: :delete, class: 'menu-icon logout' do
							%i.pe-7s-upload.pe-rotate-90
		.navbar-right
			%ul.nav.navbar-nav.no-borders
				%li.dropdown
					= render 'account_managers/shared/latest_notification'
				%li.dropdown
					= render 'account_managers/shared/latest_component_menu'
				%li.dropdown
					= render 'account_managers/shared/latest_message'
				%li
					%a#sidebar.right-sidebar-toggle{:href => "#"}
						%i.pe-7s-upload.pe-7s-news-paper
				%li.dropdown
					= button_to destroy_user_session_path, method: :delete, class: 'menu-icon logout' do
						%i.pe-7s-upload.pe-rotate-90

= render 'account_managers/shared/side_right'
= render 'account_managers/shared/sidebar'