%aside#menu.menu-publisher
	#navigation
		.profile-picture
			= link_to edit_account_managers_profile_path(current_user) do
				= image_tag current_user.avatar, class: "img-circle m-b"
			.stats-label.text-color
				%span.font-extra-bold.font-uppercase
					= @account_manager.profile_account_manager.first_name ? "#{@account_manager.profile_account_manager.first_name} #{@account_manager.profile_account_manager.last_name}" : current_user.username
				.dropdown
					%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
						%small.text-muted
							Settings
							%b.caret
					%ul.dropdown-menu.animated.flipInX.m-t-xs
						%li
							= link_to 'Dashboard', account_managers_dashboards_path
						%li
							= link_to 'Setting Profile', edit_account_managers_profile_path(current_user)
						%li.divider
						%li
							= link_to 'Logout', destroy_user_session_path, method: :delete
				%div
					%h4.font-extra-bold.m-b-xs
						= "#{get_currency(get_payment('ongoing_payment', current_user))}"
					%small.text-muted Ongoing Payment

		%ul#side-menu.nav.ul-menu
			%li{class: "#{active_sidebar?(:dashboards, :index)}"}
				= link_to account_managers_dashboards_path do
					%i.pe-7s-flag
					&nbsp;
					%span.nav-label Dashboard
			%li{class: "#{active_sidebar?(:reports, :all)}"}
				%a{href: "#"}
					%span.nav-label <i class="pe-7s-menu"></i> &nbsp; Reports
					%span.fa.arrow
				%ul.nav.nav-second-level
					- link_performance_reports = account_managers_reports_path(status: "visited")
					- link_convertion_reports = account_managers_reports_path(status: "convertion")
					%li{class: "#{active_sidebar_params?(link_performance_reports, :all)}"}
						= link_to link_performance_reports do
							%i.pe-7s-way
							&nbsp;
							%span.nav-label Performance Reports
					%li{class: "#{active_sidebar_params?(link_convertion_reports, :all)}"}
						= link_to link_convertion_reports do
							%i.pe-7s-way
							&nbsp;
							%span.nav-label Convertion Reports
			%li{class: "#{active_sidebar?(:permission_referral_publishers, :all)} #{active_sidebar?(:commisions, :all)}"}
				%a{href: "#"}
					%span.nav-label <i class="pe-7s-share"></i> &nbsp; Referral Publishers
					%span.fa.arrow
				%ul.nav.nav-second-level
					%li{class: "#{active_sidebar?(:permission_referral_publishers, :all)}"}
						= link_to account_managers_permission_referral_publishers_path do
							%i.pe-7s-attention
							&nbsp;
							%span.nav-label Permission Referral
					%li{class: "#{active_sidebar?(:commisions, :all)}"}
						= link_to account_managers_commisions_path do
							%i.pe-7s-way
							&nbsp;
							%span.nav-label Commisions
			%li{class: "#{active_sidebar?(:publishers, :all)}"}
				= link_to account_managers_publishers_path do
					%i.pe-7s-users
					&nbsp;
					%span.nav-label Publishers
			%li{class: "#{active_sidebar?(:offers, :all)}"}
				= link_to account_managers_offers_path do
					%i.pe-7s-portfolio
					&nbsp;
					%span.nav-label Offers Approval
			%li{class: "#{active_sidebar?(:campaigns, :all)}"}
				%a{href: "#"}
					%span.nav-label <i class="pe-7s-display2"></i> &nbsp; Campaigns
					%span.fa.arrow
				%ul.nav.nav-second-level
					- link_campaign_cpa = account_managers_campaigns_path(action_offer: "CPA")
					- link_campaign_cpi = account_managers_campaigns_path(action_offer: "CPI")
					- link_campaign_cps = account_managers_campaigns_path(action_offer: "CPS")
					%li{class: "#{active_sidebar_params?(link_campaign_cpa, :all)}"}
						= link_to link_campaign_cpa do
							%i.pe-7s-display2
							&nbsp;
							%span.nav-label Campaigns CPA
					%li{class: "#{active_sidebar_params?(link_campaign_cpi, :all)}"}
						= link_to link_campaign_cpi do
							%i.pe-7s-display2
							&nbsp;
							%span.nav-label Campaigns CPI
					%li{class: "#{active_sidebar_params?(link_campaign_cps, :all)}"}
						= link_to link_campaign_cps do
							%i.pe-7s-display2
							&nbsp;
							%span.nav-label Campaigns CPS
			%li{class: "#{active_sidebar?(:request_landing_pages, :all)}"}
				= link_to account_managers_request_landing_pages_path do
					%i.pe-7s-cloud
					&nbsp;
					%span.nav-label LP Publishers
			%li{class: "#{active_sidebar?(:rankings, :index)}"}
				= link_to account_managers_rankings_path do
					%i.pe-7s-star
					&nbsp;
					%span.nav-label Ranking Managers
			%li{class: "#{active_sidebar?(:forums, :all)} #{active_sidebar?(:groups, :all)}"}
				= link_to 'https://www.facebook.com/groups/cpaground/', target: '_blank' do
					%i.pe-7s-comment
					&nbsp;
					%span.nav-label Forum
			%li{class: "#{active_sidebar?(:blogs, :all)}"}
				= link_to account_managers_blogs_path do
					%i.pe-7s-video
					&nbsp;
					%span.nav-label Blogs
			%li{class: "#{active_sidebar?(:payments, :all)}"}
				= link_to account_managers_payments_path do
					%i.pe-7s-cash
					&nbsp;
					%span.nav-label Payments
			%li{class: "#{active_sidebar?(:activities, :all)}"}
				= link_to account_managers_activities_path do
					%i.pe-7s-timer
					&nbsp;
					%span.nav-label Activities
			%li.last-menu
				= button_to destroy_user_session_path, method: :delete do
					%i.pe-7s-back
					&nbsp;
					%span.nav-label Sign Out