/ Main Wrapper
#wrapper.content-detail-lp
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					- code_and_campaign_title = @request_landing_page.is_active? ? "(#{@request_landing_page.code}) #{@request_landing_page.try(:layout_theme).try(:title)}" : @request_landing_page.try(:layout_theme).try(:title)
					%b= code_and_campaign_title
				%p #{@request_landing_page.publisher.username} Landing Page
	.content.animate-panel.responsive-panel-full
		.row
			.col-lg-12.m-t-md.content-campaign
				.hpanel.hgreen.data-campaign
					.panel-body
						.row
							.col-md-4
								.line-image
									.scroll{:style => "background-image: url(#{@request_landing_page.try(:layout_theme).try(:image)});"}
								%br
							.col-md-8
								.form-horizontal
									.form-group
										.col-md-2
											%b Publisher
										.col-md-10
											= @request_landing_page.try(:publisher).try(:username)
									.form-group			
										.col-md-2
											%b Layout Theme
										.col-md-10
											= @request_landing_page.try(:layout_theme).try(:title)
									.form-group
										.col-md-2
											%b Category Name
										.col-md-10
											= @request_landing_page.category[:name]
									.form-group
										.col-md-2
											%b Campaign
										.col-md-10
											= link_to "(#{@request_landing_page.campaign.code}) #{@request_landing_page.campaign.title}", account_managers_campaign_path(@request_landing_page.campaign) if @request_landing_page.campaign.present?
									.form-group
										.col-md-2
											%b Link Campaign
										.col-md-10
											.link-campaign
												.scroll-link-campaign
													- if @request_landing_page.is_campaign_complete?
														%p Offer for this campaign has paused by advertiser and no longer valid
													- else
														= link_to @request_landing_page.link_campaign?, @request_landing_page.link_campaign? if @request_landing_page.link_campaign.present?
									.form-group
										- if @request_landing_page.is_active?
											.col-md-2
												%b Link LP
											.col-md-10
												- if @request_landing_page.is_campaign_complete?
													%p Offer for this campaign has paused by advertiser and no longer valid
												- else
													= link_to @request_landing_page.domain, @request_landing_page.domain
									.form-group
										.col-md-2
											%b Publisher
										.col-md-10
											= link_to @request_landing_page.publisher.username, admins_publisher_path(@request_landing_page.publisher) if @request_landing_page.publisher.present?
									.form-group
										.col-md-2
											%b Track Script
										.col-md-10 
											- if @request_landing_page.is_campaign_complete?
												%p Offer for this campaign has paused by advertiser and no longer valid
											- else
												= @request_landing_page.track_script.present? ? @request_landing_page.track_script : '--'
									.form-group
										.col-md-2
											%b Status
										.col-md-10 
											= @request_landing_page.status?
									.form-group
										.col-md-2
											%b Created
										.col-md-10
											= get_datetime(@request_landing_page.created_at)
									.form-group
										- if @request_landing_page.is_active?
											.col-md-2
												%b Actived At
											.col-md-10
												= get_datetime(@request_landing_page.updated_at)
