#page-top.slider-faqs
  .container.content-slider
    .heading
      %h1.text-center.tittle-faqs
        %span.text-greenlow GDPR 
        CPAGROUND
%br
%section.content-faqs
  .container
    .description-faqs
      .col-md-12.content-description
        .row
          .col-md-8.col-xs-12.faqs.privacy-policy
            %h3 What is GDPR and Will it Affect Affiliates?
            %p 
              If you’re an affiliate and you’re hearing or reading the letters GDPR a lot today, you’re likely not the only one. The 5-years-in-the-making privacy law became officially enforceable today, and it didn’t take long for some big brand companies to be impacted by its scope.
            %p 
              Google, along with social media juggernauts Facebook and Instagram, were hit with massive multi-billion-dollar lawsuits today. The complaints claim that the companies’ data collection practices do not meet the regulations outlined in the GDPR. The companies’ responded by defending their current practices, insisting their compliant with the new laws.

            %p 
              If this is your first time reading about GDPR, it stands for General Data Protection Regulation and is a newly enforced European law that aims to change the way data can be obtained and subsequently used by online companies. The goal of the law is to better protect the personal data of Europeans by ensuring their private information is secure and not being exploited. If it’s not, the companies responsible can be penalized for failing to do so.
            %p 
              You can learn more about the purpose of GDPR by clicking here. (http://www.itpro.co.uk/it-legislation/27814/what-is-gdpr-everything-you-need-to-know)

            %br
            %h3 Will GDPR Impact Affiliates?
            %p 
              If you’re an affiliate, you’re understandably wondering what kind of impact the GDPR could have on the way you promote offers and acquire leads. You may be using social platforms like Facebook and Instagram as a traffic source, and are wondering if today’s lawsuits could affect the way you target users through their advertising platforms. Additionally, you may feel your own practices aren’t compliant, especially if you promote offers through a traffic source that relies heavily on consumer data, such as e-mail marketing.
            %p
              It’s also important to note that just because you’re not a European affiliate doesn’t mean the GDPR is irrelevant to you.  Although the law only applies to European consumers, online marketers will still be responsible for following the law’s guidelines if they’re targeting consumers from European countries. However, if you’re not purposely targeting residents of Europe, the law does offer some lenience.
            %p 
              The portion of the law that most applies to affiliate marketers are the content and opt-in rules. These require marketers to receive direct permission from users before they send them any targeted commercial messages across any technology. An exception to this rule is e-mail however, which will allow direct marketing to users if the user provided their e-mail at a time of purchase.
            %p 
              Online marketers must also present a clear opportunity for anyone receiving their messages to easily opt-out. Forcing users to be bombarded with your content will not be permitted if those users are European residents.
            %p 
              Essentially, the GDPR can have an impact on you if you’re promoting in a way that is limiting the control of users.
            %p 
              Overall, these rules could actually have a positive impact on the affiliate marketing industry. They will ensure higher quality marketing content is being used to acquire users, helping to strengthen the industry’s reputation.
            %p 
              If you’d like additional information on the GDPR’s potential impact on affiliates and performance/affiliate marketing, head to The Performance Marketing Association’s Blog (https://thepma.org/the-gdpr-and-affiliate-marketing-what-you-need-to-know/). They’ve also listed resources from European companies who go into further detail of why the GDPR should be supported.

            %br
            %h3 GDPR and CPAGROUND
            %p 
              Here at Cpaground we value your privacy as an affiliate and want to make sure that you’re aware our efforts to keep up with evolving international data privacy standards. Earlier this year we have updated our Privacy Policy, making it more clear and understandable, so as to increase transparency and make our privacy policy more clear and understandable.
            %p 
              In an effort to evolve early and comply with new international data privacy standards, particularly the new privacy law General Data Protection Regulation (GDPR) in the EU.
            %p 
              A few key things we wanted you to know about Cpaground's efforts:

            %p 
              Your account settings has direct access to control the communication you receive from Cpaground. You have direct access to control the communication you receive from Cpaground in your account settings.
            %p 
              Your personally identifiable information was never shared, sold, rented, or traded with any entity outside of Cpaground.com for any promotional purposes.
            %p 
              Your information has been was kept private and secure from since the date you signed-up to our program using SSL encryption. All personally identifiable information we collect about you is stored in limited access servers.

            %br
            %h3
              GDPR and YOU
            %p 
              Does the GDPR affect me? (If you answer yes to any of these questions, then the GDPR will affect you too)
            %p 
              Does your website get any traffic from the EU countries?
            %p 
              Do you have any subscribers or members on your site from any country in the EU
             
            %p 
              Why should you get GDPR compliant?
            %p 
              Because you’re cool and want to meeting affiliate industry standards.

            %p 
              As an client of Cpaground, if you do have to become GDPR compliant, you should seek your own legal advice. Our support article should not be your only legal advice.
            %p 
              But to help you out further, here are a few articles you can read to get a better idea on what to do next:

            %p 
              Publisher guidance on the GDPR and consent
              %br
              The GDPR and what it means for affiliates
              %br
              How will the GDPR affect affiliate marketers?
              %br
              The GDPR and affiliates: An industry statement


= render 'home/shareds/footer'