.responsive-tabel
  .responsive-content-tabel
    %table#example1.table.table-bordered.table-striped.tabel-width2
      %thead
        %tr
          %th
            = check_box_tag :check_all
          %th Message
          %th Status
          %th Created At
          %th{width: '180px'} Action
      %tbody
        - if @forums.blank?
          %tr
            %td{ colspan: "7"} 
              = render "shared/empty_blank"
        - else
          - @forums.each_with_index do |resource, index|  
            %tr
              %td
                = check_box_tag 'ids[]', resource.id
              %td
                = truncate(resource.message, length: 50)
              %td
                = resource.status?
              %td
                = get_datetime(resource.created_at)
              %td
                = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_forum_path(resource), class: 'btn btn-default btn-xs'
                = link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_forum_path(resource), class: 'btn btn-default btn-xs'
                = link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, admins_forum_path(resource), method: 'delete', data: {confirm: "Are you sure to delete this forum?"}, class: 'btn btn-default btn-xs'
= paginate @forums, remote: true