<table border="1">
  <tr>
    <th>No</th>
    <th>Name</th>
    <th>Status</th>
    <th>Created at</th>
  </tr>
  <% @blogs_size.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:name) %></td>
    <td><%= resource.try(:status) %></td>
    <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
  </tr>
  <% end %>
</table>