$('#breadcrumbs').html("<%= escape_javascript render partial: 'shared/admin/breadcrumbs' %>");
// $('.js-button-export').html("<%= escape_javascript render partial: 'shared/admin/button_export' %>");
$('#js-lists-forum').html("<%= escape_javascript render partial: 'publishers/forums/index', object: @feeds %>");