#breadcrumbs
	= render "shared/admin/breadcrumbs"

%section.content.full-page
	.row
		.bg-white
			.col-md-12.search
				= form_for :search, url: admins_forums_path, method: 'get', html: {class: 'form-search', remote: true} do
					.input-group.full
						.col-md-3.no-padding
							= text_field_tag :key, params[:key], class: 'form-control pull-left', placeholder: 'Keywords'
						.col-md-2.no-padding
							= select_tag :status, options_for_select(Blog::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control'
						.col-md-3.no-padding
							= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
						.col-md-3.no-padding
							= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
						.col-md-1.no-padding
							= submit_tag :search, class: 'btn btn-info radius-right'
			/ .col-md-2
			/ 	.btn-search-admin.js-button-export
			/ 		= render 'shared/admin/button_export'
	.row
		.col-xs-12.top-plus
			.box.box-m
				.box-body
					= form_for :multiple, url: multiple_action_admins_forums_path, method: 'get' do
						= link_to new_admins_forum_path, class: 'btn btn-info btn-sm pull-right' do
							%i.fa.fa-bars
							&nbsp; New Feed
						= submit_tag Feed::ACTIVE, value: Feed::ACTIVE, class: 'btn btn-sm btn-default no-radius no-border-right'
						= submit_tag Feed::INACTIVE, value: Feed::INACTIVE, class: 'btn btn-sm btn-default no-radius'

						%br
						%br
						.check-all-box
							.check-all
								%b Check all
							= check_box_tag :check_all
						#js-lists-forum
							= render 'publishers/forums/index'