= render "shared/admin/breadcrumbs"
	
%section.content
	.row
		.col-xs-12.full-page
			.box.box-m
				.box-header
					%h3.box-title
						Detail Feed
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_forums_path, class: "btn btn-info btn-xs"
						&nbsp;
						= link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_admins_forum_path(@feed), class: "btn btn-default btn-xs"
					%hr
				.box-body.blog-body
					.show-blog
						.col-md-12.no-padding-m
							.row
								.col-md-6.top-min
									.writer.float-none
										= image_tag @feed.user.avatar.thumb, class: "img-circle"
										.writer-by
											%b= @feed.user.username
											%br
											= get_datetime(@feed.created_at)
								.col-md-6.no-padding-m.top-plus
									= form_for @feed, url: change_status_admins_forum_path, method: 'put', html: {class: "pull-right form-active-m"} do |f|
										.col-md-12 
											.form-label
												Change Status to :
										.col-xs-8.group-btn-m
											= f.select :status, Blog::STATUSES, {prompt: 'Select Status'}, class: 'form-control btn-full-m', required: true  
										.col-xs-4.group-btn-m
											= submit_tag :change, class: 'btn btn-info btn-full-m no-radius btn-m'
							%hr.float-block
						.col-md-12-no-padding-m
							.panel.panel-default.list-forum{style: 'margin:auto; display:table; width:100%;'}
								.panel-body
									- if @feed.attachment_image.present?
										.panel-image{style: 'height:auto;'}
											= image_tag @feed.attachment_image, class: "img-blog"
										%br
										%br
									= @feed.message.html_safe
									%br
									.total-like
										.span.pull-left
											%i.fa.fa-commenting-o
											%span.num.js-num
												#{@feed.feed_comments.count} 
											Comments
										%a{"data-target" => "#like-feed-#{@feed.id}", "data-toggle" => "modal"} 
											.span.pull-right
												%i.fa.fa-thumbs-o-up
												%span.num.js-num-like
													#{@feed.likes.count} 
												Like
								.panel-footer
									.forum-comments
										.media-all
											- if @feed.feed_comments.present?
												- comment_count = @feed.feed_comments.count
												- @feed.feed_comments.oldest.each do |comment|
													.social-talk
														.media.social-profile.clearfix
															%a.pull-left
																= image_tag comment.user.avatar.url(:thumb)
															.media-body
																%span.font-bold
																	= comment.user.username
																%small.text-muted
																	%i.pe-7s-timer
																	= time_to_ago(comment.created_at)
																= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, admins_feed_path(comment), method: 'delete', data: {confirm: "Are you sure to delete this comment?"}, class: 'btn btn-default btn-xs pull-right'
																.social-content
																	= comment.message

										.social-form 
											= form_for FeedComment.new, url: '', method: 'post', html: { class: 'new-comment-feed', data: {url: comment_create_admins_feeds_path}} do |f|
												= hidden_field_tag :feedable_id, @feed.id
												= hidden_field_tag :feedable_type, FeedComment::FEED
												= text_field_tag :message, nil, placeholder: 'write your comments', class: 'form-control comment-input', required: true, autocomplete: 'off'

= render 'publishers/forums/modal_like_feed', feed: @feed
							
							
