#page-top.slider-faqs
  .container.content-slider
    .heading
      %h1.text-center.tittle-faqs
        %span.text-greenlow Privacy 
        Policy
%br
%section.content-faqs
  .container
    .description-faqs
      .col-md-12.content-description
        .row
          .col-md-8.col-xs-12.faqs.privacy-policy
            %h3 About Us
            %p 
              This is a privacy policy for Cpaground.com Our homepage on the Web is located at https://www.cpaground.com Users may go to our https://www.cpaground.com/contacts for information on how to opt-in or opt-out of use of their information. Cpaground is owned by Ultiface Selamet Nugraha.
            %p
              We invite you to contact us if you have questions about this policy. You may contact us by mail at the following address:
            %p
              CPAGROUND
              %br
              Cibatu Regency 
              %br
              Sukabumi, West Java
              %br
              Indonesia
              %br
              You may contact us by e-mail at hi@cpaground.com

            %br
            %h3 Dispute Resolution
            %p
              We have the following dispute resolution mechanisms. If you think we have not followed our privacy policy in some way, they can help you resolve your concern.
            %p
              In-House Resolution: All privacy disputes will be resolved internally by Customer Service.
            %p
              Please contact Customer Service by e-mail at hi@cpaground.com

            %br
            %h3 Additional Information
            %p This policy is valid for 1 day from the time that it is loaded by a client.

            %br
            %h3 Data Collection
            %p Site Usage Information
            %p 
              Site access logs are stored on the system. Also, information is stored about the computer system that the individual is using to access the network -- such as the IP number, domain name, browser type or operating system. This information is used for hardware and application maintenance purposes. Cookies are used for state management purposes (i.e. maintaining a "logged in" status to the site).
              %br
              %br
              We collect the following information: Navigation and click-stream data, Computer information, State management mechanisms. This data will be used for the following purposes: Completion and support of the current activity, Web site and system administration, Research and development.
              This data will be used by ourselves and our agents.

            %br
            %h3 Cookies
            %p 
              Cookies are used to keep track of visitors to network merchants sent by network affiliates. This ensures affiliates get credited for business generated for merchants.
            %p 
              We collect the following information: HTTP cookies. This data will be used for the following purposes: Other purposes: Cookies are used to keep track of visitors to network merchants sent by network affiliates. This ensures affiliates get credited for business generated for merchants.
              %br
              %br
              This data will be used by ourselves and our agents.

            %br
            %h3 Contact Information
            %p This information is collected so that we can maintain communication with the merchants and affiliates that form our network.
            %p 
              We collect the following information: Physical contact information, Online contact information. This data will be used for the following purposes: Other purposes: This information is collected so that we can maintain communication with the merchants and affiliates that form our network.
            %p 
              This data will be used by ourselves and our agents.

            %p 
              CPAGROUND affiliates must agree to receive periodic communications from CPAGROUND. This communication could be in the form of e-mail, instant message, postal mail, telephone or fax.
              %br
              %br
              Merchants and affiliates can modify their contact information once they've logged in to the network.

            %br
            %h3 Financial Information
            %p
              Information on all network transactions are stored and and available to network merchants and affiliates involved in the transactions. Transactions include: clicks generated, leads generated and account transactions. Summarized information is also available in the form of reports.
            %p 
              We collect the following information: Financial information, Transaction history. This data will be used for the following purposes: Historical preservation, Other purposes: Information on all network transactions are stored and and available to network merchants and affiliates involved in the transactions. Transactions include: clicks generated, leads generated and account transactions. Summarized information is also available in the form of reports.
              %br
              This data will be used by ourselves and our agents.

            %br
            %h3 Cookies
            %p 
              Cookies are a technology which can be used to provide you with tailored information from a Web site. A cookie is an element of data that a Web site can send to your browser, which may then store it on your system. You can set your browser to notify you when you receive a cookie, giving you the chance to decide whether to accept it.
            %p 
              Our site makes use of cookies. Cookies are used for the following purposes: Other: To keep track of visitors to network merchants sent by network affiliates. This ensures affiliates get credited for business generated for merchants.

            %br
            %h3 
              = link_to '>> Read GDPR CPAGROUND', gdpr_cpaground_path

= render 'home/shareds/footer'