- flag = params[:action] == "edit" ? true : false

.row
	.col-md-12
		.form-group
			= f.label :campaign_date
			= f.date_field :campaign_date, placeholder: "Select campaign date", class: 'form-control datepicker campaign_date_select', 'data-node' => "#{@campaign_id}", required: true, disabled: flag
	.col-md-3
		.form-group
			= f.label :impressions
			= f.text_field :impressions, placeholder: "Enter impressions", class: 'form-control', required: true
	.col-md-3
		.form-group
			= f.label :clicks
			= f.text_field :clicks, placeholder: "Enter clicks", class: 'form-control', required: true
	.col-md-3
		.form-group
			= f.label :visitors
			= f.text_field :visitors, placeholder: "Enter visitors", class: 'form-control', required: true
	.col-md-3
		.form-group
			= f.label :unique_visitors
			= f.text_field :unique_visitors, placeholder: "Enter unique visitors", class: 'form-control', required: true
	.col-md-6
		.form-group
			= f.label :sales
			= f.text_field :sales, placeholder: "Enter sales", class: 'form-control', required: true
	.col-md-6
		.form-group
			= f.label :revenue
			= f.text_field :revenue, placeholder: "Enter revenue", class: 'form-control', required: true
	= f.hidden_field :campaign_id, value: @campaign_id if params[:action] == "new"