.box.box-m
	.box-body
		.row
			.col-md-3
				.well
					%center
						Earnings Publisher: 
						%br
						%b= get_currency(@publisher_revenue)
			.col-md-3
				.well
					%center
						Fee AM: 
						%br
						%b= get_currency(@fee_am)
			.col-md-3
				.well
					%center
						Fee Company: 
						%br
						%b= get_currency(@fee_company)
			.col-md-3
				.well
					%center
						Total Revenue: 
						%br
						%b= get_currency(@total_revenue)
					
.box.box-m
	.box-body
		.responsive-tabel
			%table#example1.table.table-bordered.table-striped.tabel-width2
				%thead
					%tr
						%th No.
						%th Code
						%th{width: '120px'} Publisher Id
						%th Campaign
						%th{width: '100px'} Campaign Date
						%th Impressions
						%th Clicks
						%th Visitors
						%th{width: '120px'} Unique Visitors
						%th Sales
						%th Revenue
						%th{width: '160px'} Created At
						- if current_user.is_admin?
							%th{width: '70px'} Action
				%tbody
					- if @report_campaign_snapshots.blank?
						%tr
							%td{ colspan: "14"}
								= render "shared/empty_blank"
					- else
						- @report_campaign_snapshots.each_with_index do |resource, index|  
							%tr
								%td
									= index+1
								%td
									= resource.code
								%td
									- if resource.publisher.present?
										= link_to resource.publisher.id, admins_publisher_path(resource.publisher_id)
									- else  
										= resource.publisher_id
								%td
									= link_to resource.campaign.title, admins_campaign_path(resource.campaign_id)
								%td
									= date_sort_time(resource.campaign_date)
								%td
									= resource.impressions
								%td
									= resource.clicks
								%td
									= resource.visitors
								%td
									= resource.unique_visitors
								%td
									= resource.sales
								%td
									= get_currency(resource.revenue)
								%td
									= get_datetime(resource.created_at)
								- if current_user.is_admin?
									%td
										= link_to '<i class="fa fa-file-text" aria-hidden="true"></i>'.html_safe, admins_report_campaign_snapshot_path(resource), class: 'btn btn-default btn-xs pull-left'
										/ &nbsp;
										/ = link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_report_campaign_snapshot_path(resource), class: 'btn btn-default btn-xs pull-right'
		= paginate @report_campaign_snapshots, remote: true

:javascript
	$('.responsive-tabel').doubleScroll();