= render "shared/admin/breadcrumbs"

%section.content.full-page
  .row
    .col-md-12
      .box.box-m
        .box-header
          %h3.box-title
            = @collection_name
          = link_to 'Back To Campaign', admins_campaign_path(@campaign), class: 'btn btn-info btn-xs pull-right'
          %hr
        .box-body
          = form_for @report_campaign_snapshot, url: admins_report_campaign_snapshot_path, method: 'put', html: { multipart:true } do |f|
            = render 'form', f: f
            = submit_tag "Update", class: "btn btn-info"