<table border="1" align="center">
  <tr>
    <td>Earnings Publisher</td>
    <td>Fee AM</td>
    <td>Fee Company</td>
    <td>Total Revenue</td>
  </tr>
  <tr>
    <th><%= get_currency(@publisher_revenue) %></th>
    <th><%= get_currency(@fee_am) %></th>
    <th><%= get_currency(@fee_company) %></th>
    <th><%= get_currency(@total_revenue) %></th>
  </tr>
</table>
<br>
<table border="1">
  <caption><h3>LIST REPORT CAMPAIGN SNAPSHOTS</h3></caption>
  <tr>
    <th>No</th>
    <th>Code</th>
    <th>Admin</th>
    <th>Publisher</th>
    <th>Account Manager</th>
    <th>Category</th>
    <th>Campaign</th>
    <th>Link Campaign</th>
    <th>Status</th>
    <th>Impressions</th>
    <th>Clicks</th>
    <th>Visitors</th>
    <th>Unique Visitors</th>
    <th>Sales</th>
    <th>Revenue</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>
  <% @total_report_campaign_snapshots.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:code) %></td>
    <td><%= resource.try(:admin).try(:username) ? resource.try(:admin).try(:username) : "---" %></td>
    <td><%= resource.campaign.try(:publisher).try(:username) %></td>
    <td><%= resource.try(:account_manager).try(:username) %></td>
    <td><%= resource.campaign.try(:category_campaign) ? resource.campaign.try(:category_campaign).try(:name) : "---" %></td>
    <td><%= resource.campaign.try(:title) %></td>
    <td><%= resource.campaign.try(:tracking_code) %></td>
    <td><%= resource.campaign.try(:status) %></td>
    <td><%= resource.try(:impressions) %></td>
    <td><%= resource.try(:clicks) %></td>
    <td><%= resource.try(:visitors) %></td>
    <td><%= resource.try(:unique_visitors) %></td>
    <td><%= resource.try(:sales) %></td>
    <td><%= resource.try(:revenue).to_f %></td>
    <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
    <td><%= resource.updated_at.strftime("%I:%M %B, %d, %Y") %></td>
  </tr>
  <% end %>
</table>