#breadcrumbs
	= render "shared/admin/breadcrumbs"

%section.content.full-page
	.row
		.bg-white
			.col-md-10.search
				= form_for :search, url: admins_report_campaign_snapshots_path, method: 'get', html: {class: 'form-search', remote: true} do
					.input-group.full
						.col-md-2.no-padding
							= text_field_tag :publisher_id, params[:publisher_id], class: 'form-control pull-right radius-left', placeholder: 'Publisher Id'
						.col-md-2.no-padding
							= text_field_tag :campaign_id, params[:campaign_id], class: 'form-control', placeholder: 'Campaign Id'
						.col-md-1.no-padding
							= select_tag :sales, options_for_select([["Has Sales", 1], ["No Sales", 0]], params[:sales]), prompt: 'All Sales', class: 'form-control'
						.col-md-3.no-padding
							= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At Campaign Date'
						.col-md-3.no-padding
							= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At Campaign Date'
						.col-md-1.no-padding
							= submit_tag :Search, class: 'btn btn-info radius-right'
			.col-md-2
				.btn-search-admin.js-button-export
					= render 'shared/admin/button_export'

	.row
		.col-xs-12.top-plus
			#table-lists
				= render 'admins/report_campaign_snapshots/lists'