$('#table-list-reports').html("<%= escape_javascript render 'publishers/campaigns/list_report_campaign_snapshots' %>");

<% if @activities.present? %>
  $('#table-list-activities').html("<%= escape_javascript render partial: 'list_activities', locals: {activities: @activities} %>");
<% end %>

$(document).ready(function() {
  $(".spinner-load").fadeOut(1000);
});
