= render "shared/admin/breadcrumbs"

%section.content.full-page
	.row
		.col-xs-12
			.box.box-m
				.box-header
					%h3.box-title
						Report Campaign Snapshot
						= date_sort_time(@report_campaign_snapshot.campaign_date)
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_report_campaign_snapshots_path, class: "btn btn-info btn-xs"
						&nbsp;
						= link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_admins_report_campaign_snapshot_path(@report_campaign_snapshot), class: "btn btn-default btn-xs"
					%hr
				.box-body
					.show-campaign
						.col-md-6.no-padding-m
							.row
								.col-md-12
									%h4 Data Campaign
									%hr
								.col-md-3
									.form-group
										%b Campaign Id
								.col-md-9
									.form-group 
										= link_to @report_campaign_snapshot.campaign.id, admins_campaign_path(@report_campaign_snapshot.campaign.id)
								.col-md-3
									.form-group
										%b Code
								.col-md-9
									.form-group 
										= @report_campaign_snapshot.campaign.code
								.col-md-3
									.form-group
										%b Publisher
								.col-md-9
									.form-group 
										= link_to @report_campaign_snapshot.campaign.publisher.username, admins_publisher_path(@report_campaign_snapshot.campaign.publisher)
								.col-md-3
									.form-group
										%b Account Manager
								.col-md-9
									.form-group 
										= link_to @report_campaign_snapshot.campaign.account_manager.username, admins_account_manager_path(@report_campaign_snapshot.campaign.account_manager) if @report_campaign_snapshot.campaign.account_manager.present?
								.col-md-3
									.form-group
										%b Admin
								.col-md-9
									.form-group 
										= @report_campaign_snapshot.campaign.admin ? @report_campaign_snapshot.campaign.admin.username : "---"
								.col-md-3
									.form-group
										%b Category
								.col-md-9
									.form-group 
										= @report_campaign_snapshot.campaign.category_campaign ? @report_campaign_snapshot.campaign.category_campaign.name : "---"
								.col-md-3
									.form-group
										%b Title
								.col-md-9
									.form-group 
										= @report_campaign_snapshot.campaign.title
								.col-md-3
									.form-group
										%b Link Campaign
								.col-md-9
									.form-group 
										= @report_campaign_snapshot.campaign.tracking_code ? @report_campaign_snapshot.campaign.tracking_code : "---"
								.col-md-3
									.form-group
										%b Status
								.col-md-9
									.form-group 
										= @report_campaign_snapshot.campaign.status?
						.col-md-6.no-padding-m
							.row
								.col-md-12
									%h4 Data Report Campaign Snapshot
									%hr
								.col-md-3
									.form-group
										%b Campaign Date
								.col-md-9 
									.form-group
										= date_sort_time(@report_campaign_snapshot.campaign_date)
								.col-md-3
									.form-group
										%b Created at
								.col-md-9 
									.form-group
										= get_datetime(@report_campaign_snapshot.created_at)
						.col-md-12.no-padding-m
							.box.box-m.box-default.total-report
								.box-footer
									.row
										.col-md-2.col-xs-6
											.description-block
												%h5.description-header #{@report_campaign_snapshot.impressions}
												%span.description-text Impressions
										.col-md-2.col-xs-6
											.description-block
												%h5.description-header #{@report_campaign_snapshot.clicks}
												%span.description-text Clicks
										.col-md-2.col-xs-6
											.description-block
												%h5.description-header #{@report_campaign_snapshot.visitors}
												%span.description-text Visitors
										.col-md-2.col-xs-6
											.description-block
												%h5.description-header #{@report_campaign_snapshot.unique_visitors}
												%span.description-text Unique Visitors
										.col-md-2.col-xs-6
											.description-block
												%h5.description-header #{@report_campaign_snapshot.sales}
												%span.description-text Sales
										.col-md-2.col-xs-6
											.description-block
												%h5.description-header #{get_currency(@report_campaign_snapshot.revenue)}
												%span.description-text Revenue

			.row
				.col-md-12
					.exTab
						%ul.nav.nav-tabs
							%li.active
								%a{"data-toggle" => "tab", :href => "#1"} Activities
							%li
								%a{"data-toggle" => "tab", :href => "#2"} All Reports
						= form_for :search, url: admins_report_campaign_snapshot_path(@report_campaign_snapshot), method: 'get', html: {class: 'js-form-submit', remote: true} do
							.tab-content.background-white
								#1.tab-pane.active
									#table-list-activities
										= render 'admins/report_campaign_snapshots/list_activities'
								#2.tab-pane
									#table-list-reports
										= render 'publishers/campaigns/list_report_campaign_snapshots'


:javascript
	$(document).ready(function() {
		$(document).on('change', '.js-onchange-group', function(){
			$('.js-form-submit').trigger('submit.rails');
		});
	});