- unless params[:status] == 'visited'
	.col-md-12
		.row
			.col-md-4.col-xs-12
				.hpanel.hblue.offers.responsive-hpanel
					.panel-body.quick-date
						.col-md-12
							%h3= current_user.is_publisher? ? "Revenue Approved" : "Revenue Publisher Approved"
						.col-md-6.col-xs-6	
							%h3.text-success
								= @total_collection_approved || 0
							%small Sales
						.col-md-6.col-xs-6	
							%h3.text-success
								= get_currency_full(@fee_approved)
							%small Revenue
			.col-md-4.col-xs-12
				.hpanel.hblue.offers.responsive-hpanel
					.panel-body.quick-date
						.col-md-12
							%h3= current_user.is_publisher? ? "Revenue Pending" : "Revenue Publisher Pending"
						.col-md-6.col-xs-6	
							%h3.text-warning
								= @total_collection_pending || 0
							%small Sales
						.col-md-6.col-xs-6	
							%h3.text-warning
								= get_currency_full(@fee_pending)
							%small Revenue
			.col-md-4.col-xs-12
				.hpanel.hblue.offers.responsive-hpanel
					.panel-body.quick-date
						.col-md-12
							%h3= current_user.is_publisher? ? "Revenue Rejected" : "Revenue Publisher Rejected"
						.col-md-6.col-xs-6	
							%h3.text-danger
								= @total_collection_reject || 0
							%small Sales
						.col-md-6.col-xs-6	
							%h3.text-danger
								= get_currency_full(@fee_reject)
							%small Revenue