.normalheader.small-header
	.hpanel
		.panel-body.responsive-title-page
			%a.small-header-action{:href => ""}
				.clip-header
					%i.fa.fa-arrow-up
			#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
				%ol.breadcrumb.hbreadcrumb
					= render_breadcrumbs :tag => :li, :separator => ""
			%h2.font-light.m-b-xs
				- unless params[:status] == "visited"
					- label = "Convertion Reports"
				- else
					- label = "Performance Reports"
				%b #{label} (<span class='js-total-collection'>#{@convertion_reports.total_count}</span>)
			%p All list my reports