- if @convertion_reports.present?
  .row
    - unless @campaign.present?
      - if @offer_chart.present?
        .col-xs-12
          .panel.hpanel.responsive-hpanel.hblue
            .panel-body
              %b SALES BY OFFER
              %br
              = bar_chart @offer_chart
    - if @geo_chart.present?
      .col-xs-12
        .panel.hpanel.responsive-hpanel.hblue
          .panel-body
            %b SALES BY GEO
            %br
            = geo_chart @geo_chart
    - if @device_chart.present?
      .col-xs-4
        .panel.hpanel.responsive-hpanel.hblue
          .panel-body
            %b SALES BY DEVICE
            %br
            = pie_chart @device_chart
    - if @browser_chart.present?
      .col-xs-4
        .panel.hpanel.responsive-hpanel.hblue
          .panel-body
            %b SALES BY BROWSER
            %br
            = pie_chart @browser_chart