- unless current_user.is_admin?
	- if current_user.is_account_manager?
		- @date_begining = @date
		= hidden_field_tag :account_manager_id, current_user.id
	- else
		- @date_begining = @date
	.col-md-12
		.panel.hpanel.responsive-hpanel
			.panel-body
				.row
					- unless params[:status] == "visited"
						- datepicker = 'datepicker'
						- ConvertionReport::STATUSES2.each do |c|
							.col-md-3
								.well
									= radio_button_tag :status, c, params[:status] == c ? true : false
									%b
										= c.titleize
					- else
						- datepicker = 'datepicker-limited'
						= hidden_field_tag :status, params[:status]
					.col-md-2
						.form-group
							= text_field_tag :start_at, nil, value: params[:start_at].present? ? params[:start_at] : @date_begining, class: "#{datepicker} form-control", placeholder: 'Start At'
					.col-md-2
						.form-group
							= text_field_tag :end_at, nil, value: params[:end_at].present? ? params[:end_at] : @date, class: "#{datepicker} form-control", placeholder: 'End At'
					- if current_user.is_account_manager?
						.col-md-2
							.form-group
								= text_field_tag :publisher_username, params[:publisher_username], class: 'form-control', placeholder: 'Publisher Username'
					%div{class: current_user.is_account_manager? ? 'col-md-2' : 'col-md-4' }
						.form-group
							= select_tag :category_campaign_id, options_for_select(CategoryCampaign.all.pluck(:name, :id), params[:category_campaign_id]), prompt: 'Select Offer', class: 'form-control', placeholder: 'Offer Id'
					.col-md-2
						.form-group
							= text_field_tag :campaign_code, params[:campaign_code], class: 'form-control', placeholder: 'Campaign Id/Code'
					.col-md-2
						.form-group
							= text_field_tag :country, params[:country], class: 'form-control', placeholder: 'Country Code'
					.col-md-2
						.form-group
							= text_field_tag :referrer, params[:referrer], class: 'form-control', placeholder: 'Link Referrer'
					.col-md-2
						.form-group
							= select_tag :device, options_for_select(["desktop", "smartphone", "tablet"], params[:device]), prompt: 'Device', class: 'form-control'
					.col-md-2
						.form-group
							= text_field_tag :browser, params[:browser], class: 'form-control', placeholder: 'Browser'
					.col-md-2
						.form-group
							= text_field_tag :source, params[:source], class: 'form-control', placeholder: 'Source'
					.col-md-1
						.form-group
							= text_field_tag :sub1, params[:sub1], class: 'form-control', placeholder: 'Sub1'
					.col-md-1
						.form-group
							= text_field_tag :sub2, params[:sub2], class: 'form-control', placeholder: 'Sub2'
					.col-md-2
						.form-group
							= submit_tag :Search, class: 'btn btn-primary no-border-radius btn-block js-submit-search-report'

= render 'shared/loading'
- if @convertion_reports.present?
	- if @offer_chart.present?
		.col-md-12
			.panel.hpanel.responsive-hpanel
				.panel-body
					%b SALES BY OFFER
					%br
					= bar_chart @offer_chart
	- if @geo_chart.present?
		.col-md-12
			.panel.hpanel.responsive-hpanel
				.panel-body
					%b SALES BY GEO
					%br
					= geo_chart @geo_chart
	- if @device_chart.present?
		.col-md-6
			.panel.hpanel.responsive-hpanel
				.panel-body
					%b SALES BY DEVICE
					%br
					= pie_chart @device_chart
	- if @browser_chart.present?
		.col-md-6
			.panel.hpanel.responsive-hpanel
				.panel-body
					%b SALES BY BROWSER
					%br
					= pie_chart @browser_chart

:javascript
	$('.datepicker').datepicker({
		format: "yyyy-mm-dd",
		autoclose: true
	});

	$(document).on('click', '.js-submit-search-report', function(){
		$(".spinner-load").show();
	});