- if current_user.is_publisher?
	- link_path = publishers_reports_path
- elsif current_user.is_account_manager?
	- link_path = account_managers_reports_path
- else
	- link_path = admins_reports_pat
#wrapper.content-offer-publisher.content-dashboard
	.js-breadcrumb
		= render 'publishers/reports/breadcrumb'
	.content.animate-panel.offers.responsive-content-offers
		.row
			= form_for :search, url: link_path, method: 'get', html: {class: 'js-form-submit', remote: true} do
				.js-box-calculation
					= render 'publishers/reports/box_calculation'
				.js-report-convertion
					= render 'publishers/reports/cart'
				.col-md-12
					.hpanel.responsive-hpanel
						.panel-body
							.row
								.col-xs-12.col-md-12
									#table-lists
										= render 'publishers/reports/lists'

	= render 'publishers/shared/footer'

:javascript
	$(document).ready(function() {
		$(document).on('change', '.js-onchange-group', function(){
			$('.js-form-submit').trigger('submit.rails');
			$(".spinner-load").show();
		});
	});