.row
	%div{ class: "#{params[:status] == "visited" ? 'col-xs-12 col-md-12' : 'col-xs-12 col-md-10'}"}
		.form-group
			- if current_user.is_publisher?
				= select_tag :group_by, options_for_select(['Campaign', 'Offer', 'Date', 'Country', 'Referrer', 'Device', 'Browser', 'Source', 'Sub1', 'Sub2'], params[:group_by]), prompt: 'Group By', class: 'js-onchange-group form-control'
			- else
				= select_tag :group_by, options_for_select(['Campaign', 'Offer', 'Date', 'IP Address', 'Country', 'Referrer', 'Device', 'Browser', 'Source', 'Sub1', 'Sub2'], params[:group_by]), prompt: 'Group By', class: 'js-onchange-group form-control'
	- unless params[:status] == "visited"
		.col-md-2.col-xs-12
			.form-group
				%a{ href: "#{controller_name.downcase}.xls?export=true&#{request.fullpath.split("?")[1]}", class: 'btn btn-success btn-block'}
					%i.fa.fa-file-excel-o
					&nbsp;
					Export to excel

- if @convertion_reports.present?
	.show-report-campaign-snapshots
		- if params[:group_by].blank?
			.responsive-tabel
				%table#example1.table.table-bordered.table-striped.tabel-width3
					%thead
						%tr
							%th.th-report Click Date
							%th Time
							%th Campaign
							%th Offer
							- unless current_user.is_publisher?
								%th Publisher
								%th IP Address
							%th Referrer
							%th Country
							%th Device
							%th Browser
							%th OS
							%th Source
							%th Sub1
							%th Sub2
							- unless params[:status] == "visited"
								%th Status
								%th Sales
								%th Revenue
					%tbody
						- if @convertion_reports.blank?
							%tr
								= render "shared/empty_blank"
						- else
							- @convertion_reports.each_with_index do |resource, index|
								- if current_user.is_admin?
									- link_path = admins_campaign_path(resource.campaign)
									- link_publisher_path = admins_publisher_path(resource.publisher)
									- revenue = resource.revenue
								- elsif current_user.is_account_manager?
									- link_path = account_managers_campaign_path(resource.campaign)
									- link_publisher_path = account_managers_publisher_path(resource.publisher)
									- revenue = resource.fee_publisher
								- elsif current_user.is_publisher?
									- link_path = publishers_campaign_path(resource.campaign)
									- revenue = resource.fee_publisher
								%tr
									%td
										%small
											= date_sort_time(resource.convertion_date)
									%td
										%small
											= get_time(resource.convertion_time)
									%td
										%small
											= link_to "(#{resource.campaign.code}) "+resource.campaign.title, link_path
									%td
										%small
											= resource.category_campaign.name
									- unless current_user.is_publisher?
										%td
											%small
												= link_to resource.publisher.username, link_publisher_path
										%td
											%small
												= resource.ip
									%td
										%small
											= resource.referrer
									%td
										%small
											= resource.country_code
									%td
										%small
											= resource.device
									%td
										%small
											= resource.browser
									%td
										%small
											= resource.os || '--'
									%td
										%small
											= resource.source || '--'
									%td
										%small
											= resource.sub1 || '--'
									%td
										%small
											= resource.sub2 || '--'
									- unless params[:status] == "visited"
										%td
											%small
												= resource.status
										%td
											%small
												= resource.sales > 0 ? 'Yes' : 'No'
										%td
											%small
												#{resource.status?} #{get_currency(revenue)}
											- if resource.category_campaign.is_cps? && params[:status] != "visited"
												%span.pull-right
													.fa.fa-list-alt{"data-target" => "#modalReportItem-#{resource.id}", "data-toggle" => "modal", type: "button", style: 'cursor:pointer;', title: "Detail report items"}
													.modal.fade{:role => "dialog", id: "modalReportItem-#{resource.id}"}
														= render 'publishers/reports/modal_report_item', resource: resource

		- else
			- if params[:group_by] == 'Campaign'
				.responsive-tabel
					%table#example1.table.table-bordered.table-striped.tabel-width2
						.responsive-content-tabel
							%thead
								%tr
									%th Campaign
									%th Offer
									- unless params[:status] == 'convertion'
										%th
											Clicks
											= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_clicks', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_clicks'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
										%th
											Visitors
											= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
										%th
											Unique Visitors
											= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_unique_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_unique_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
									- else
										%th
											Sales
											= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_sales', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_sales'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
										%th 
											Revenue
											= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_revenue', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_revenue'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
							%tbody
								- @convertion_reports.each_with_index do |resource|
									- campaign = Campaign.find(resource[0])
									- if current_user.is_admin?
										- link_path = admins_campaign_path(campaign)
									- elsif current_user.is_account_manager?
										- link_path = account_managers_campaign_path(campaign)
									%tr
										%td
											%small
												= link_to campaign.title, link_path
										%td
											%small
												= campaign.category_campaign.name
										- unless params[:status] == 'convertion'
											%td
												%small
													= resource[1]
											%td
												%small
													= resource[2]
											%td
												%small
													= resource[3]
										- else
											%td
												%small
													= resource[4]
											%td
												%small
													= get_currency(resource[5])

			- elsif params[:group_by] == 'Offer'
				.responsive-tabel
					%table#example1.table.table-bordered.table-striped.tabel-width2
						.responsive-content-tabel
							%thead
								%tr
									%th Offer
									- unless params[:status] == 'convertion'
										%th
											Clicks
											= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_clicks', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_clicks'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
										%th
											Visitors
											= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
										%th
											Unique Visitors
											= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_unique_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_unique_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
									- else
										%th
											Sales
											= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_sales', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_sales'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
										%th 
											Revenue
											= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_revenue', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_revenue'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
							%tbody
								- @convertion_reports.each_with_index do |resource|
									- category_campaign = CategoryCampaign.find(resource[0])
									%tr
										%td
											%small
												= category_campaign.name
										- unless params[:status] == 'convertion'
											%td
												%small
													= resource[1]
											%td
												%small
													= resource[2]
											%td
												%small
													= resource[3]
										- else
											%td
												%small
													= resource[4]
											%td
												%small
													= get_currency(resource[5])

			- elsif params[:group_by] == 'IP Address'
				= render "publishers/campaigns/convertion_reports", subject: "IP Address"

			- elsif params[:group_by] == 'Country'
				= render "publishers/campaigns/convertion_reports", subject: "Country"

			- elsif params[:group_by] == 'Referrer'
				= render "publishers/campaigns/convertion_reports", subject: "Referrer"

			- elsif params[:group_by] == 'Date'
				= render "publishers/campaigns/convertion_reports", subject: "Click Date"

			- elsif params[:group_by] == 'Device'
				= render "publishers/campaigns/convertion_reports", subject: "Device"

			- elsif params[:group_by] == 'Browser'
				= render "publishers/campaigns/convertion_reports", subject: "Browser"

			- elsif params[:group_by] == 'Source'
				= render "publishers/campaigns/convertion_reports", subject: "Source"

			- elsif params[:group_by] == 'Sub1'
				= render "publishers/campaigns/convertion_reports", subject: "Sub1"

			- elsif params[:group_by] == 'Sub2'
				= render "publishers/campaigns/convertion_reports", subject: "Sub2"

		= paginate @convertion_reports, remote: true, param_name: "page_report_convertion"
- else
	= render "shared/empty_blank"

:javascript
	$(document).on('click', '.js-submit-search-report', function(){
		$(".spinner-load").show();
	});

	$(document).on('change', '.js-onchange-group', function(){
		$(".spinner-load").show();
	});
	$('.responsive-tabel').doubleScroll();
