.modal-dialog
	.modal-content
		.modal-header.modal-default
			%button.close{"data-dismiss" => "modal", :type => "button"} ×
			%h4.modal-title
				Report Items
		.modal-body
			- if current_user.is_admin?
				- link_path = admins_campaign_path(resource.campaign)
				- link_publisher_path = admins_publisher_path(resource.publisher)
				- revenue = resource.revenue
			- elsif current_user.is_account_manager?
				- link_path = account_managers_campaign_path(resource.campaign)
				- link_publisher_path = account_managers_publisher_path(resource.publisher)
				- revenue = resource.fee_publisher
			- elsif current_user.is_publisher?
				- link_path = publishers_campaign_path(resource.campaign)
				- revenue = resource.fee_publisher
			.form-horizontal{style: "display: inline-block; width: 100%;"}
				.row
					.col-md-6
						.form-group
							.col-md-4
								%b Date
							.col-md-8
								= date_sort_time(resource.convertion_date)
						.form-group
							.col-md-4
								%b Time
							.col-md-8
								= get_time(resource.convertion_time)
								= date_sort_time(resource.convertion_date)
						.form-group
							.col-md-4
								%b Campaign
							.col-md-8
								= link_to "(#{resource.campaign.code}) "+resource.campaign.title, link_path
						.form-group
							.col-md-4
								%b Offer
							.col-md-8
								= resource.category_campaign.name
						.form-group
							.col-md-4
								%b Country
							.col-md-8
								= resource.country_code
						.form-group
							.col-md-4
								%b Device
							.col-md-8
								= resource.device
						.form-group
							.col-md-4
								%b Browser
							.col-md-8
								= resource.browser
						.form-group
							.col-md-4
								%b Referrer
							.col-md-8
								= resource.referrer
					.col-md-6
						.form-group
							.col-md-4
								%b OS
							.col-md-8
								= resource.os || '--'
						.form-group
							.col-md-4
								%b Source
							.col-md-8
								= resource.source || '--'
						.form-group
							.col-md-4
								%b Sub1
							.col-md-8
								= resource.sub1 || '--'
						.form-group
							.col-md-4
								%b Sub2
							.col-md-8
								= resource.sub2 || '--'
						.form-group
							.col-md-4
								%b Status
							.col-md-8
								= resource.status
						.form-group
							.col-md-4
								%b Sales
							.col-md-8
								= resource.sales > 0 ? 'Yes' : 'No'
						.form-group
							.col-md-4
								%b Revenue
							.col-md-8
								#{resource.status?} #{get_currency(revenue)}
					- if resource.report_items.present?
						.col-md-12
							.responsive-tabel
								%table#example1.table.table-bordered.table-striped
									%thead
										%tr
											%th{width: '30px;'} No
											%th Item
											%th Revenue
											%th Status
									%tbody
										- resource.report_items.each_with_index do |resource, index|
											- if current_user.is_publisher? || current_user.is_account_manager?
												- revenue = resource.fee_publisher
											- else
												- revenue = resource.revenue
											%tr
												%td
													= index+1
												%td
													= resource.name
												%td
													= get_currency(revenue)
												%td
													= resource.status?