%section.login.no-margin
  .container
    .row
      .content-login.bg-login
        .col-md-6
          .row
            .introduce-login
              .introduce
                %h1
                  HELLO,
                  %br
                  WELCOME BACK TO
                  %br
                  %span.font-bold.text-cpaground
                    CPAGROUND
                %h3
                  Login now and earn a profit
              .ask
                Not on CPAGround yet?
                = link_to "Sign Up", new_user_registration_path
                %br/
                Forgot your Password?
                = link_to "Fix Now", new_password_path(resource_name)
                %br
                Didn't receive a confirmation email?
                = link_to "Request a new one.", new_user_confirmation_path
              .overlay

        .col-md-6
          = devise_error_messages!
          .row
            .form-sessions.login-form
              %h2.font-bold
                LOGIN TO
                %span
                  DASHBOARD
              %p
                Sign in using email or username
              %br
              = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                %label
                  = f.text_field :login, class: "app-btn value-clear input", autofocus: true, placeholder: "Username or Email", required: true
                %label
                  = f.password_field :password, autocomplete: "off", class: "app-btn value-clear input", autofocus: true, placeholder: "Password", required: true
                / %label.checkbox-label
                /   %input{:name => "app_phone", :placeholder => "Phone", :type => "checkbox"}
                /   Remember me?

                %label
                  = f.submit "SIGNIN", class: "btn btn-login btn-info btn-block"
                %label
                  = link_to "Forgot Password?", new_password_path(resource_name), class: "text-info Forget-password"
                / .hr-label
                / .row
                /   .col-md-6
                /     = link_to 'Facebook', user_facebook_omniauth_authorize_path, class: 'loginBtn loginBtn--facebook'
                /   .col-md-6
                /     = link_to 'Google', user_google_oauth2_omniauth_authorize_path, class: 'loginBtn loginBtn--google'
      .overlay-m
= render 'shared/footer_small'


/ %section.login.no-margin
/   .container
/     .row
/       .col-md-7.col-sm-7.login7
/         %h1.introduce
/           HELLO,
/           %br
/           WELCOME BACK TO
/           %br
/           %span.font-bold.text-green
/             CPAGROUND
/         %h3
/           Login now and earn a profit
/       .col-md-5.col-sm-5.form-login
/         %h2
/           LOGIN TO
/           %span.font-bold
/             DASHBOARD
/         %p
/           Sign in using email or username
/         %br
/         = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
/           %label
/             = f.text_field :login, class: "app-btn value-clear", autofocus: true, placeholder: "Username or Email", required: true
/           %label
/             = f.password_field :password, autocomplete: "off", class: "app-btn value-clear", autofocus: true, placeholder: "Password", required: true
/           %label.checkbox-label
/             %input{:name => "app_phone", :placeholder => "Phone", :type => "checkbox"}
/             Remember me?

/           %label
/             = f.submit "SIGNIN", class: "btn btn-login btn-full"
/           %label
/             %a.text-info{href: new_password_path(resource_name)} Forgot password?
/           / .hr-label
/           / .row
/           /   .col-md-6
/           /     = link_to 'Facebook', user_facebook_omniauth_authorize_path, class: 'loginBtn loginBtn--facebook'
/           /   .col-md-6
/           /     = link_to 'Google', user_google_oauth2_omniauth_authorize_path, class: 'loginBtn loginBtn--google'

/ = render 'shared/footer_small'
