.responsive-tabel
  .responsive-content-tabel
    %table#example1.table.table-bordered.table-striped.tabel-width2
      %thead
        %tr
          %th No.
          %th Username
          %th Email
          %th Phone
          %th Skype
          %th Status
          %th Created At
          %th{width: '40'} Action
      %tbody
        - @referrals.each_with_index do |resource, index|  
          %tr
            %td
              = index+1
            %td
              = resource.username
            %td
              = resource.email
            %td
              = resource.phone
            %td
              = resource.skype
            %td
              = resource.status?
            %td
              = get_datetime(resource.created_at)
            %td
              = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_publisher_path(resource), class: 'btn btn-default btn-xs'
= paginate @referrals, remote: true, param_name: "page_referrals"