.responsive-tabel
  .responsive-content-tabel
    %table#example1.table.table-bordered.table-striped.tabel-width1
      %thead
        %tr
          %th Code
          %th Category Name
          %th Campaign
          %th Publisher
          %th Layout Theme
          %th Domain
          %th Status
          %th Created At
          %th{width: '50px'} Action
      %tbody
        - if @request_landing_pages.blank?
          %tr
            %td{ colspan: "8"} 
              = render "shared/empty_blank"
        - else
          - @request_landing_pages.each_with_index do |resource, index|  
            %tr
              %td
                = resource.code
              %td
                = resource.category[:name]
              %td
                = link_to resource.campaign.title, admins_campaign_path(resource.campaign)
              %td
                = link_to resource.publisher.username, admins_publisher_path(resource.publisher)
              %td
                = resource.try(:layout_theme).try(:title)
              %td
                = resource.domain ? resource.domain : "---"
              %td
                = resource.status?
              %td
                = get_datetime(resource.created_at)
              %td
                = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_request_landing_page_path(resource), class: 'btn btn-default btn-xs'
= paginate @request_landing_pages, remote: true, param_name: "page_landing_pages"