- if current_user.is_admin?
	= link_to new_admins_account_manager_path, class: 'btn btn-info btn-sm pull-left btn-no-width' do
		%i.fa.fa-user
		&nbsp; New Account Manager
%a{ href: "account_managers.xls?export=true&#{request.fullpath.split("?")[1]}", class: 'btn btn-success btn-sm pull-right btn-no-width'}
	%i.fa.fa-file-excel-o
	&nbsp;
	Export to excel
%br
%br

.responsive-tabel
	%table#example1.table.table-bordered.table-striped.tabel-width1
		%thead
			%tr
				%th ID
				%th Username
				%th Email
				%th Skype
				%th Publishers
				%th Status
				%th Last Payment
				%th Ongoing
				%th{width: '122px'} Action
		%tbody
			- if @account_managers.blank?
				%tr
					%td{ colspan: "9"} 
						= render "shared/empty_blank"
			- else
				- @account_managers.each_with_index do |resource, index|  
					%tr
						%td
							= resource.id
						%td
							= resource.username
						%td
							= resource.email
						%td
							= resource.skype
						%td
							%center <b>#{resource.publishers.verified.no_suspended.count}</b> out of <b>#{resource.publishers.count}</b>
						%td
							= resource.status?
						%td
							= get_currency_full(get_payment('last_payment', resource))
						%td
							= get_currency_full(get_payment('ongoing_payment', resource))
						%td
							= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_account_manager_path(resource), class: 'btn btn-default btn-xs'
							&nbsp;
							= link_to "<i class='fa fa-line-chart' aria-hidden='true'></i>".html_safe, detail_report_admins_account_manager_path(resource), class: 'btn btn-default btn-xs' if current_user.is_admin?
							&nbsp;
							= link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_account_manager_path(resource), class: 'btn btn-default btn-xs' if current_user.is_admin?          
= paginate @account_managers, remote: true

:javascript
	$('.responsive-tabel').doubleScroll();