.responsive-tabel
  .responsive-content-tabel
    %table#example1.table.table-bordered.table-striped.tabel-width2
      %thead
        %tr
          %th No.
          %th Invoice
          %th Revenue Publisher
          %th Fee AM
          %th Fee Company
          %th Total
          %th Payment at
          %th Payment end
          %th Created At
          %th{width: '80'} Action
      %tbody
        - if @payment_snapshots.blank?
          %tr
            %td{ colspan: "12"}
              %center Data not found.
        - else
          - @payment_snapshots.each_with_index do |resource, index|  
            %tr
              %td
                = index+1
              %td
                = resource.code
              %td
                = get_currency(resource.price)
              %td
                = get_currency(resource.fee_am)
              %td
                = get_currency(resource.fee_company)
              %td
                = get_currency(resource.total)
              %td
                = date_sort_time(resource.payment_at)
              %td
                = date_sort_time(resource.payment_end)
              %td
                = get_datetime(resource.created_at)
              %td
                = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_payment_snapshot_path(resource), class: 'btn btn-default btn-xs'
                = link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_payment_snapshot_path(resource), class: 'btn btn-default btn-xs' if current_user.is_admin?
= paginate @payment_snapshots, remote: true, param_name: "page_payment_snapshots"