- if list_reports.present?
  .col-md-12
    %table#example1.table.table-bordered.table-striped
      %thead
        %tr
          %th
            Publisher
          %th Admin
          = render 'shared/analytics/thead_table_analytic'
      %tbody
        - list_reports.each_with_index do |resource, index|
          %tr
            %td
              - publisher = Publisher.find resource[0]
              = link_to publisher.username, admins_publisher_path(publisher)
            %td
              - admin = publisher.admin
              = link_to admin.username, admins_admin_path(admin)
            %td
              = resource[4]
            %td
              = resource[5]
            %td
              = resource[6]
            %td
              = resource[7]
            %td
              = resource[8]
            %td
              = get_currency(resource[9])
    = paginate list_reports, remote: true, param_name: "#{list_report_by}"
- else
  = render "shared/empty_blank"