.responsive-tabel
	%table#example1.table.table-bordered.table-striped
		%thead
			%tr
				%th{width: '50px;'} No
				%th Id
				%th Username
				%th Sales
				%th FEE AM
				%th FEE Publisher
				%th FEE Company
				%th Revenue
		%tbody
			- if @account_managers.blank?
				%tr
					%td{ colspan: "8"} 
						= render "shared/empty_blank"
			- else
				- @ranking_am.each_with_index do |resource, index|  
					%tr
						%td
							= index+1
						%td
							= resource[0]
						%td
							= resource[1]
						%td
							= resource[6]
						%td
							= get_currency_full(resource[2])
						%td
							= get_currency_full(resource[3])
						%td
							= get_currency_full(resource[4])
						%td
							= get_currency_full(resource[5])

:javascript
	$('.responsive-tabel').doubleScroll();