= render 'shared/loading'
.panel.hpanel.responsive-hpanel
  .panel-body
    %h4{align: 'center'} TOP MANAGER BY SALES
    %br
    = form_for :search, url: admins_account_managers_path, method: 'get', html: {class: 'form-search2', remote: true} do
      .col-md-2.col-md-offset-4
        = text_field_tag :campaign_start_at, params[:campaign_start_at].blank? ? @date.beginning_of_month : params[:campaign_start_at], class: 'form-control datepicker campaign_start_at', placeholder: 'Campaign Start At'
      .col-md-2
        = text_field_tag :campaign_end_at, params[:campaign_end_at].blank? ? @date : params[:campaign_end_at], class: 'form-control datepicker campaign_end_at',  placeholder: 'Campaign End At'
    = bar_chart @sales_am

:javascript
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true
    });
  });