$('.js-field-search').html("<%= escape_javascript render 'shared/analytics/field_search' %>");
$('#btn-group-analytic').html("<%= escape_javascript render 'admins/campaigns/btn_group_analytic' %>")
$('#the-report-analytics').html("<%= escape_javascript render 'shared/analytics/analytic', report_for: 'account_manager' %>")
$('.total-revenue').html("<%= get_currency(@reports_total_revenue) %>")

<% if @report_campaign_snapshots.present? %>
  $('#table-list-report_campaign_snapshots').html("<%= escape_javascript render partial: 'publishers/campaigns/am_list_report_campaign_snapshots', locals: {report_campaign_snapshots: @report_campaign_snapshots, report_for: 'account_manager'} %>");
<% end %>

$('html, body').animate({ scrollTop: $('.ibox-title').offset().top }, 400)

$(document).ready(function() {
  $(".spinner-load").fadeOut(1000);
});