#breadcrumbs
  = render "shared/admin/breadcrumbs"
= render 'shared/loading'
%section.content.full-page
  .row
    .bg-white
      .col-md-12.search
        / .row
        /   .col-xs-12
        /     #js-sales-am
        /       = render 'admins/account_managers/sales'
        
        .row.top-plus
          .col-xs-12
            .box.box-m
              .box-body
                .exTab
                  .scroll-tab
                    %ul.nav.nav-tabs
                      %li.active
                        %a{"data-toggle" => "tab", :href => "#1"} Lists
                      %li
                        %a{"data-toggle" => "tab", :href => "#2"} Ranking Managers
                  .tab-content.background-white
                    #1.tab-pane.active
                      = form_for :search, url: admins_account_managers_path, method: 'get', html: {class: 'form-search', remote: true} do
                        .input-group.full
                          .col-md-3.no-padding
                            = text_field_tag :key, params[:key], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
                          .col-md-2.no-padding
                            = select_tag :status, options_for_select([["All Status", ""], ["Inactive", false], ["Active", true]], params[:status]), class: 'form-control'
                          .col-md-3.no-padding
                            = text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
                          .col-md-3.no-padding
                            = text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
                          .col-md-1.no-padding
                            = submit_tag :Search, class: 'btn btn-info radius-right js-btn-submit'
                            
                      #table-lists
                        = render 'admins/account_managers/lists'
                    #2.tab-pane
                      = form_for :search, url: admins_account_managers_path, method: 'get', html: {class: 'form-search2', remote: true} do
                        .input-group.full
                          .col-md-5.no-padding
                            = text_field_tag :campaign_start_at, params[:campaign_start_at].blank? ? @date.beginning_of_month : params[:campaign_start_at], class: 'form-control datepicker campaign_start_at', placeholder: 'Campaign Start At'
                          .col-md-5.no-padding
                            = text_field_tag :campaign_end_at, params[:campaign_end_at].blank? ? @date : params[:campaign_end_at], class: 'form-control datepicker',  placeholder: 'Campaign End At'
                          .col-md-2.no-padding
                            = submit_tag :Search, class: 'btn btn-info radius-right js-btn-submit2'

                      #js-table-ranking-am 
                        = render 'admins/account_managers/ranking_am'

:javascript
  $(document).ready(function() {
    $(document).on('click', '.js-btn-submit', function(){
      $('.form-search').trigger('submit.rails');
      $(".spinner-load").show();
    });

    $(document).on('click', '.js-btn-submit2', function(){
      $('.form-search2').trigger('submit.rails');
      $(".spinner-load").show();
    });
  });