$('#breadcrumbs').html("<%= escape_javascript render partial: 'shared/admin/breadcrumbs' %>");
$('#table-lists').html("<%= escape_javascript render 'lists' %>");
$('#js-sales-am').html("<%= escape_javascript render 'sales' %>");
$('#js-table-ranking-am').html("<%= escape_javascript render 'ranking_am' %>");

$(document).ready(function() {
  $(".spinner-load").fadeOut(1000);
});