<table border="1">
  <caption>LIST ACCOUNT MANAGERS</caption>
  <tr>
    <th>No</th>
    <th>Username</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Skype</th>
    <th>Status</th>
    <th>Active Publishers</th>
    <th>Last Payment</th>
    <th>Ongoing Payment</th>
    <th>Payment Method</th>
    <th>Payment ACC</th>
    <th>Created at</th>
  </tr>
  <% @total_account_managers.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:username) %></td>
    <td><%= resource.try(:email) %></td>
    <td><%= resource.try(:phone) %></td>
    <td><%= resource.try(:skype) %></td>
    <td><%= resource.status? %></td>
    <td><%= resource.publishers.verified.no_suspended.count %></td>
    <td><%= get_currency_full(get_payment('last_payment', resource)) %></td>
    <td><%= get_currency_full(get_payment('ongoing_payment', resource)) %></td>
    <td><%= resource.try(:profile_account_manager).try(:get_payment_type) %></td>
    <td><%= resource.try(:profile_account_manager).try(:payment_acc) %></td>
    <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
  </tr>
  <% end %>
</table>