$('#table-list-publishers').html("<%= escape_javascript render partial: 'list_publishers', locals: {publishers: @publishers} %>");
$('#table-list-campaigns').html("<%= escape_javascript render partial: 'list_campaigns', locals: {campaigns: @campaigns} %>");
$('#table-list-payment_snapshots').html("<%= escape_javascript render partial: 'list_payment_snapshots', locals: {payment_snapshots: @payment_snapshots} %>");
$('#table-list-activities').html("<%= escape_javascript render partial: 'list_activities', locals: {activities: @activities} %>");
$('#table-list-referrals').html("<%= escape_javascript render partial: 'list_referrals', locals: {referrals: @referrals} %>");
$('#table-list-request-landing-pages').html("<%= escape_javascript render partial: 'list_request_landing_pages', locals: {request_landing_pages: @request_landing_pages} %>");
$('#table-list-permission-referral-publishers').html("<%= escape_javascript render partial: 'account_managers/permission_referral_publishers/lists', locals: {permission_referral_publishers: @permission_referral_publishers} %>");
$('#table-list-commisions').html("<%= escape_javascript render partial: 'account_managers/commisions/lists', locals: {commisions: @commisions} %>");