= render "shared/admin/breadcrumbs"
	
%section.content.full-page
	.row
		.col-xs-12
			.box.box-m
				.box-header
					%h3.box-title
						Data account manager &nbsp;
						= link_to "<i class='fa fa-line-chart' aria-hidden='true'></i> Repots".html_safe, detail_report_admins_account_manager_path(@account_manager), class: "btn btn-default btn-xs .pull-right-m"
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, :back, class: "btn btn-info btn-xs"
						&nbsp;
						= link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_admins_account_manager_path(@account_manager), class: "btn btn-default btn-xs" if current_user.is_admin?
					%hr
				.box-body
					.box-body
					.show-publisher
						.col-md-2
							.photo-profile
								= image_tag @account_manager.avatar
						.col-md-6
							.form-horizontal
								.row
									.form-group
										.col-md-12
											%h4 ACCOUNT
											%hr
									.form-group
										.col-md-3
											%b Username
										.col-md-9
											= @account_manager.username
									.form-group
										.col-md-3
											%b Email
										.col-md-9 
											= @account_manager.email
									.form-group
										.col-md-3
											%b Phone
										.col-md-9 
											= @account_manager.get_phone_number
									.form-group
										.col-md-3
											%b Skype
										.col-md-9 
											= @account_manager.skype
									.form-group
										.col-md-3
											%b Status
										.col-md-9 
											= @account_manager.status?
									.form-group
										.col-md-3
											%b Created at
										.col-md-9 
											= get_datetime(@account_manager.created_at)
									.form-group
										.col-md-3
											%b Total Publishers
										.col-md-9 
											= @account_manager.publishers.count
							
									.form-group
										.col-md-12
											%h4 PAYMENT METHOD
											%hr
									.form-group
										.col-md-3
											%b Payment Typpe
										.col-md-9 
											= @profile_account_manager.choice_payment_type.present? ? @profile_account_manager.get_payment_type : '-'
									.form-group
										.col-md-3
											%b= @profile_account_manager.choice_payment_type.present? ? @profile_account_manager.get_payment_type : '-'
										.col-md-9 
											= @profile_account_manager.choice_payment_type.present? ? @profile_account_manager.payment_acc : '-'
							
									.form-group
										.col-md-12
											%h4 PROFILE
											%hr
									.form-group
										.col-md-3
											%b Fullname
										.col-md-9 
											= @profile_account_manager.full_name.present? ? @profile_account_manager.full_name : '-'
									.form-group
										.col-md-3
											%b Address
										.col-md-9 
											= @profile_account_manager.place_info.present? ? @profile_account_manager.place_info : '-'
									.form-group
										.col-md-12
											%b Location
									.form-group
										.col-md-12
											#map
					.col-md-4.no-padding-m
						- if @account_manager.verified == false
							%h4 Activate this account?
							= form_for @account_manager, url: change_status_admins_account_manager_path, method: 'put' do |f|
								= f.hidden_field :verified, value: true
								= f.submit "Activated", class: 'btn btn-success btn-xs'
							%br
						= render "admins/panel_last_payment"
						
			.col-md-12
				.row
					.exTab
						.scroll-tab
							%ul.nav.nav-tabs
								%li.active
									%a{"data-toggle" => "tab", :href => "#1"} List Publishers
								%li
									%a{"data-toggle" => "tab", :href => "#2"} Campaigns
								%li
									%a{"data-toggle" => "tab", :href => "#3"} Request Landing Pages
								%li
									%a{"data-toggle" => "tab", :href => "#4"} Payment Histories
								%li
									%a{"data-toggle" => "tab", :href => "#5"} Activities
								%li
									%a{"data-toggle" => "tab", :href => "#6"} Referrals
								%li
									%a{"data-toggle" => "tab", :href => "#7"} Permission Referral Publishers
								%li
									%a{"data-toggle" => "tab", :href => "#8"} Commisions
						.tab-content.background-white
							#1.tab-pane.active
								- if @publishers.present?
									.show-pulishers.search
										%h2{align: 'center'} List Publisher
										%br
										= form_for :search, url: admins_account_manager_path(@account_manager), method: 'get', html: {class: 'form-search', remote: true} do
											.input-group.full
												.col-md-3.no-padding
													= text_field_tag :key_publishers, params[:key_publishers], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
												.col-md-2.no-padding
													= select_tag :status_publishers, options_for_select(Publisher::STATUSES, params[:status_publishers]), prompt: 'Select Status', class: 'form-control'
												.col-md-3.no-padding
													= text_field_tag :start_at_publishers, nil, value: params[:start_at_publishers], class: 'form-control datepicker', placeholder: 'Start At'
												.col-md-3.no-padding
													= text_field_tag :end_at_publishers, nil, value: params[:end_at_publishers], class: 'form-control datepicker',  placeholder: 'End At'
												.col-md-1.no-padding
													= submit_tag :search, class: 'btn btn-info radius-right'
										#table-list-publishers
											= render 'admins/account_managers/list_publishers'
								- else
									= render "shared/empty_blank"
							#2.tab-pane
								- if @campaigns.present?
									.show-pulishers.search
										%h2{align: 'center'} Campaigns
										%br
										= form_for :search, url: admins_account_manager_path(@account_manager), method: 'get', html: {class: 'form-search', remote: true} do
											.input-group.full
												.col-md-3.no-padding
													= text_field_tag :key_campaigns, params[:key_campaigns], class: 'form-control pull-left radius-left', placeholder: 'Keywords'
												.col-md-2.no-padding
													= select_tag :status_campaign, options_for_select(Campaign::STATUSES, params[:status_campaign]), prompt: 'Select Status', class: 'form-control pull-left'
												.col-md-3.no-padding
													= text_field_tag :start_at_campaigns, nil, value: params[:start_at_campaigns], class: 'form-control datepicker pull-left', placeholder: 'Start At'
												.col-md-3.no-padding
													= text_field_tag :end_at_campaigns, nil, value: params[:end_at_campaigns], class: 'form-control datepicker pull-left',  placeholder: 'End At'
												.col-md-1.no-padding
													= submit_tag :Search, class: 'btn btn-info radius-right'
										#table-list-campaigns
											= render 'admins/account_managers/list_campaigns'
								- else
									= render "shared/empty_blank"
							#3.tab-pane
								- if @request_landing_pages.present?
									.show-pulishers.search
										%h2{align: 'center'} Requset Landing Pages
										%br
										= form_for :search, url: admins_account_manager_path(@account_manager), method: 'get', html: {class: 'form-search', remote: true} do
											.input-group.full
												.col-md-3.no-padding
													= text_field_tag :key_landing_pages, params[:key_landing_pages], class: 'form-control pull-left radius-left', placeholder: 'Keywords'
												.col-md-2.no-padding
													= select_tag :status_landing_pages, options_for_select(RequestLandingPage::STATUSES, params[:status_landing_pages]), prompt: 'Select Status', class: 'form-control pull-left'
												.col-md-3.no-padding
													= text_field_tag :start_at_landing_pages, nil, value: params[:start_at_landing_pages], class: 'form-control datepicker pull-left', placeholder: 'Start At'
												.col-md-3.no-padding
													= text_field_tag :end_at_landing_pages, nil, value: params[:end_at_landing_pages], class: 'form-control datepicker pull-left',  placeholder: 'End At'
												.col-md-1.no-padding
													= submit_tag :Search, class: 'btn btn-info radius-right'
										#table-list-request-landing-pages
											= render 'admins/account_managers/list_request_landing_pages'
								- else
									= render "shared/empty_blank"
							#4.tab-pane
								- if @payment_snapshots.present?
									.show-pulishers.search
										%h2{align: 'center'} Payment histories
										%br
										= form_for :search, url: admins_account_manager_path(@account_manager), method: 'get', html: {class: 'form-search', remote: true} do
											.input-group.full
												.col-md-3.no-padding
													= text_field_tag :key_payment_snapshots, params[:key_payment_snapshots], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
												.col-md-2.no-padding
													= select_tag :category_payment_snapshots, options_for_select(PaymentSnapshot::CATEGORIES, params[:category_payment_snapshots]), prompt: 'Select Category', class: 'form-control'
												.col-md-3.no-padding
													= text_field_tag :start_at_payment_snapshots, nil, value: params[:start_at_payment_snapshots], class: 'form-control datepicker', placeholder: 'Start At'
												.col-md-3.no-padding
													= text_field_tag :end_at_payment_snapshots, nil, value: params[:end_at_payment_snapshots], class: 'form-control datepicker',  placeholder: 'End At'
												.col-md-1.no-padding
													= submit_tag :search, class: 'btn btn-info radius-right'
										#table-list-payment_snapshots
											= render 'admins/account_managers/list_payment_snapshots'
								- else
									= render "shared/empty_blank"
							#5.tab-pane
								- if @activities.present?
									%h2{align: 'center'} Activities
									%br
									= form_for :search, url: admins_account_manager_path(@account_manager), method: 'get', html: {class: 'form-search', remote: true} do
										.input-group.full.search
											.col-md-5.no-padding
												= text_field_tag :key_activities, params[:key_activities], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
											.col-md-3.no-padding
												= text_field_tag :start_at_activities, nil, value: params[:start_at_activities], class: 'form-control datepicker', placeholder: 'Start At'
											.col-md-3.no-padding
												= text_field_tag :end_at_activities, nil, value: params[:end_at_activities], class: 'form-control datepicker',  placeholder: 'End At'
											.col-md-1.no-padding
												= submit_tag :Search, class: 'btn btn-info radius-right'
									#table-list-activities
										= render 'admins/account_managers/list_activities'
								- else
									= render "shared/empty_blank"
							#6.tab-pane
								- if @referrals.present?
									%h2{align: 'center'} Referrals
									%br
									= form_for :search, url: admins_account_manager_path(@account_manager), method: 'get', html: {class: 'form-search', remote: true} do
										.input-group.full.search
											.col-md-3.no-padding
												= text_field_tag :key_referrals, params[:key_referrals], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
											.col-md-2.no-padding
												= select_tag :status_referrals, options_for_select(Publisher::STATUSES, params[:status_referrals]), prompt: 'Select Status', class: 'form-control'
											.col-md-3.no-padding
												= text_field_tag :start_at_referrals, nil, value: params[:start_at_referrals], class: 'form-control datepicker', placeholder: 'Start At'
											.col-md-3.no-padding
												= text_field_tag :end_at_referrals, nil, value: params[:end_at_referrals], class: 'form-control datepicker',  placeholder: 'End At'
											.col-md-1.no-padding
												= submit_tag :Search, class: 'btn btn-info radius-right'
									#table-list-referrals
										= render 'admins/account_managers/list_referrals'
								- else
									= render "shared/empty_blank"
							#7.tab-pane
								%h2{align: 'center'} Permission Referral Publishers
								%br
								= form_for :search, url: admins_account_manager_path(@account_manager), method: 'get', html: {class: 'form-search', remote: true} do
									.input-group.full.search
										.col-md-3.no-padding
											= text_field_tag :key_prp, params[:key_prp], class: 'form-control pull-right radius-left', placeholder: 'Keywords (Username Publisher)'
										.col-md-2.no-padding
											= select_tag :status_prp, options_for_select(PermissionReferralPublisher::STATUSES, params[:status_prp]), prompt: 'Select Status', class: 'form-control'
										.col-md-3.no-padding
											= text_field_tag :start_at_prp, nil, value: params[:start_at_prp], class: 'form-control datepicker', placeholder: 'Start At'
										.col-md-3.no-padding
											= text_field_tag :end_at_prp, nil, value: params[:end_at_prp], class: 'form-control datepicker',  placeholder: 'End At'
										.col-md-1.no-padding
											= submit_tag :Search, class: 'btn btn-info radius-right'
									#table-list-permission-referral-publishers
										= render 'account_managers/permission_referral_publishers/lists'
							#8.tab-pane
								%h2{align: 'center'} Commisions
								%br
								= form_for :search, url: admins_account_manager_path(@account_manager), method: 'get', html: {class: 'form-search', remote: true} do
									.input-group.full.search
										.col-md-3.no-padding
											= text_field_tag :publisher_username_commisions, params[:publisher_username_commisions], class: 'form-control pull-right radius-left', placeholder: 'Username Publisher'
										.col-md-2.no-padding
											= select_tag :status_commisions, options_for_select(Commision::STATUSES, params[:status_commisions]), prompt: 'Select Status', class: 'form-control'
										.col-md-3.no-padding
											= text_field_tag :start_at_commisions, nil, value: params[:start_at_commisions], class: 'form-control datepicker', placeholder: 'Start At'
										.col-md-3.no-padding
											= text_field_tag :end_at_commisions, nil, value: params[:end_at_commisions], class: 'form-control datepicker',  placeholder: 'End At'
										.col-md-1.no-padding
											= submit_tag :Search, class: 'btn btn-info radius-right'
									#table-list-commisions
										= render 'account_managers/commisions/lists'

= render 'admins/account_managers/js_set_geo_map'