<table border="1">
  <caption>LIST CONVERTION REPORTS</caption>
  <tr>
    <th>No</th>
    <th>Click Date</th>
    <th>Time</th>
    <th>Campaign</th>
    <th>Offer</th>
    <th>Publisher</th>
    <th>IP Address</th>
    <th>Referrer</th>
    <th>Country</th>
    <th>Device</th>
    <th>Browser</th>
    <th>OS</th>
    <th>Source</th>
    <th>Sub1</th>
    <th>Sub2</th>
    <th>Status</th>
    <th>Sales</th>
    <th>Revenue</th>
    <th>Created at</th>
  </tr>
  <% if @total_convertion_reports.blank? %>
    <tr>
      <td colspan="#{params[:status] == 'visited' ? '16' : '13'}">
        <%= "Data not Found" %>
      </td>
    </tr>
  <% else %>
    <% @total_convertion_reports.each_with_index do |resource, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= date_sort_time(resource.convertion_date) %></td>
      <td><%= get_time(resource.convertion_time) %></td>
      <td><%= resource.campaign.title %></td>
      <td><%= resource.category_campaign.name  %></td>
      <td><%= resource.publisher.username %></td>
      <td><%= resource.ip %></td>
      <td><%= resource.referrer %></td>
      <td><%= resource.country_code %></td>
      <td><%= resource.device %></td>
      <td><%= resource.browser %></td>
      <td><%= resource.os || '--' %></td>
      <td><%= resource.source %></td>
      <td><%= resource.sub1 %></td>
      <td><%= resource.sub2 %></td>
      <td><%= resource.status %></td>
      <td><%= resource.sales > 0 ? 'Yes' : 'No' %></td>
      <td><%= resource.status? %>
          <%= get_currency(resource.fee_publisher) %></td>
      <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
    </tr>
    <% end %>
  <% end %>
</table>