$('.js-breadcrumb').html("<%= escape_javascript render 'publishers/reports/breadcrumb' %>");
$('.js-total-collection').html("<%= @convertion_reports.total_count %>");
$('#table-lists').html("<%= escape_javascript render 'publishers/reports/lists' %>");
$('.js-report-convertion').html("<%= escape_javascript render partial: 'publishers/reports/cart' %>");
$('.js-box-calculation').html("<%= escape_javascript render 'publishers/reports/box_calculation' %>");

$(document).ready(function() {
  $(".spinner-load").fadeOut(1000);
});