$('.js-total-collection').html("<%= @total_collection %>");
$("<%=j render(partial: 'publishers/forums/list', object: @feeds) %>").appendTo($(".infinitescroll-page .js-forum-box"));
$('.pagination').html("<%=j link_to_next_page(@feeds, 'LOADING MORE FEEDS', remote: true, class: 'btn btn-default btn-more') %>");