$('.js-total-collection').html("<%= @blogs.total_count %>");
$("<%=j render(partial: 'publishers/blogs/blog', object: @blogs) %>").appendTo($(".infinitescroll-page .js-blog-box"));
$('.pagination').html("<%=j link_to_next_page(@blogs, 'LOADING MORE ARTICLES', remote: true, class: 'btn btn-default btn-more') %>");