$("<%=j render(partial: 'publishers/blogs/list_blog_comments', object: @blog_comments) %>").appendTo($(".infinitescroll-page .js-blog-box"));
$('.pagination').html("<%=j link_to_next_page(@blog_comments, 'LOADING MORE COMMENTS', remote: true, class: 'btn btn-default btn-more') %>");