.row
  .col-md-3
    .form-group
      = label_tag "User Type"
      = select_tag :user_type, options_for_select([User::ACCOUNTMANAGER, User::PUBLISHER], @payment_snapshot.try(:user).try(:type)), prompt: 'Select User', class: 'form-control select_user_type'
  .col-md-2
    .form-group{style: "margin-top:10px;"}
      .section-select-user
        .user-publisher 
          = label_tag "Publisher"
          = f.select :user_id, options_for_select(get_publishers.no_suspended.map{|p| [p.username, p.id]}, @payment_snapshot.user_id), {prompt: 'Select Publisher'}, class: 'form-control select2','data-node' => "publisher", required: true
        .user-account-manager
          = label_tag "Account Manager"
          = f.select :user_id, options_for_select(get_account_managers.map{|am| [am.username, am.id]}, @payment_snapshot.user_id), {prompt: 'Select Account Manager'}, class: 'form-control select2','data-node' => "publisher", required: true
  .col-md-2
    .form-group
      = f.label :payment_at
      = f.text_field :payment_at, placeholder: "Enter payment at", class: 'form-control datepicker', required: true
  .col-md-2
    .form-group
      = f.label :payment_end
      = f.text_field :payment_end, placeholder: "Enter payment end", class: 'form-control datepicker payment_date_select', required: true
  .balance-container
    .col-md-3
      .form-group
        = f.label :total
        = f.text_field :total, placeholder: "Enter total", class: 'form-control', disabled: true
  .col-md-12
    .form-group
      = f.label :message
      = f.text_area :message, placeholder: "Enter message", class: 'form-control', required: true

:javascript
  function get_revenues(){
    $(document).on('change', '.payment_date_select', function() {
      $user_id = document.getElementById("payment_snapshot_user_id").value;
      $payment_at = document.getElementById("payment_snapshot_payment_at").value;
      $node = $user_id+"+"+$payment_at;
      if($(this).val() != '' && $(this).val() != 'undefined'){
        $.get('/xhrs/get_revenues?id='+$(this).val()+'&node='+$node, function(result){
          $('.balance-container').html(result);
        })
      }
    });
  }

  function checkUserType(){
    choice_user_type = document.getElementById("user_type").value;

    if(choice_user_type == 'publisher'){
      $('.section-select-user .user-account-manager').appendTo('.content-footer');
      $('.user-account-manager').hide();
      $('.user-publisher').appendTo('.section-select-user');
      $('.user-publisher').show();
    }else if(choice_user_type == 'account_manager'){
      $('.section-select-user .user-publisher').appendTo('.content-footer');
      $('.user-publisher').hide();
      $('.user-account-manager').appendTo('.section-select-user');
      $('.user-account-manager').show();
    }else{
      $('.section-select-user .user-publisher').appendTo('.content-footer');
      $('.user-publisher').hide();
      $('.section-select-user .user-account-manager').appendTo('.content-footer');
      $('.user-account-manager').hide();
    }
  }

  $(document).ready(function() {
    get_revenues();
    checkUserType();

    $(document).on('change', '.select_user_type', function() {
      checkUserType();
    });
  });