<table border="1">
  <caption>LIST PAYMENT PUBLISHER</caption>
  <tr>
    <th>No</th>
    <th>Invoice</th>
    <th>Type User</th>
    <th>Username</th>
    <th>Email</th>
    <th>Phone</th>
    <th>AM</th>
    <th>Admin</th>
    <th>Payment Method</th>
    <th>Payment From</th>
    <th>Payment To</th>
    <th>Transfer Revenue</th>
    <th>Fee AM</th>
    <th>Fee Company</th>
    <th>Total</th>
    <th>Status</th>
    <th>Payment Period</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>
  <% @payment_for_publisher.each_with_index do |resource, index| %>
    <% publisher = Publisher.find(resource.user) %>
    <% payment_method = publisher.profile.get_payment_type %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= resource.try(:code) %></td>
      <td><%= resource.user.type? %></td>
      <td><%= resource.try(:user).try(:username) ? resource.try(:user).try(:username) : "---" %></td>
      <td><%= resource.user.email %></td>
      <td><%= resource.user.phone %></td>
      <td><%= publisher.try(:account_manager).try(:username) ? publisher.try(:account_manager).try(:username) : "---" %></td>
      <td><%= resource.try(:admin).try(:username) ? resource.try(:admin).try(:username) : "---" %></td>
      <td><%= payment_method %></td>
      <td><%= resource.from_acc %></td>
      <td><%= resource.to_acc %></td>
      <td><%= resource.price.to_f %></td>
      <td><%= resource.fee_am.to_f %></td>
      <td><%= resource.fee_company.to_f %></td>
      <td><%= resource.total.to_f %></td>
      <td><%= resource.try(:status) %></td>
      <td><%= "#{date_sort_time(resource.payment_at)} - #{date_sort_time(resource.payment_end)}" %></td>
      <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
      <td><%= resource.updated_at.strftime("%I:%M %B, %d, %Y") %></td>
    </tr>
  <% end %>
</table>
<br>
<br>
<br>
<table border="1">
  <caption>LIST PAYMENT ACCOUNT MANAGER</caption>
  <tr>
    <th>No</th>
    <th>Invoice</th>
    <th>Type User</th>
    <th>Username</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Payment Method</th>
    <th>Payment From</th>
    <th>Payment To</th>
    <th>Transfer Revenue</th>
    <th>Fee Publisher</th>
    <th>Fee Company</th>
    <th>Total</th>
    <th>Status</th>
    <th>Payment Period</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>
  <% @payment_for_manager.each_with_index do |resource, index| %>
    <% payment_method = AccountManager.find(resource.user).profile_account_manager.get_payment_type %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= resource.try(:code) %></td>
      <td><%= resource.user.type? %></td>
      <td><%= resource.try(:user).try(:username) ? resource.try(:user).try(:username) : "---" %></td>
      <td><%= resource.user.email %></td>
      <td><%= resource.try(:admin).try(:username) ? resource.try(:admin).try(:username) : "---" %></td>
      <td><%= payment_method %></td>
      <td><%= resource.from_acc %></td>
      <td><%= resource.to_acc %></td>
      <td><%= resource.price.to_f %></td>
      <td><%= resource.fee_publisher.to_f %></td>
      <td><%= resource.fee_company.to_f %></td>
      <td><%= resource.total.to_f %></td>
      <td><%= resource.try(:status) %></td>
      <td><%= "#{date_sort_time(resource.payment_at)} - #{date_sort_time(resource.payment_end)}" %></td>
      <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
      <td><%= resource.updated_at.strftime("%I:%M %B, %d, %Y") %></td>
    </tr>
  <% end %>
</table>