.show-payment_snapshot
	.show-payment_snapshot__content
		%section.invoice
			.row
				.col-md-12
					%h2.page-header
						%i.fa.fa-globe
						= @payment_snapshot.code
						%small.date-invoice.pull-right Date: #{get_datetime(@payment_snapshot.created_at)}
			.row.invoice-info
				.col-md-4.invoice-col
					From
					%address
						%strong CPA Ground
						%br
						%b= @payment_snapshot.from_acc.present? ? @payment_snapshot.from_acc : "-"
				.col-md-4.invoice-col
					To
					%address
						- if @payment_snapshot.user.is_publisher?
							%strong
								#{link_to @payment_snapshot.user.username, admins_publisher_path(@payment_snapshot.user)} (#{@payment_snapshot.user.type.titleize})
							%br
							Address: #{@payment_snapshot.publisher.profile.place_info}
						- elsif @payment_snapshot.user.is_account_manager?
							%strong
								#{link_to @payment_snapshot.user.username, admins_account_manager_path(@payment_snapshot.user)} (#{@payment_snapshot.user.type.titleize})
							%br
							Address: #{@payment_snapshot.account_manager.profile_account_manager.place_info}
						%br
						Phone: #{@payment_snapshot.user.phone}
						%br
						Email: #{@payment_snapshot.user.email}
				.col-md-4.invoice-col
					Information
					%br
					%b Period Payment:
					= "#{date_sort_time(@payment_snapshot.payment_at)} - #{date_sort_time(@payment_snapshot.payment_end)}"
					%br
					%b Account: #{@payment_snapshot.to_acc.present? ? @payment_snapshot.to_acc : '-'}
			.row
				.col-md-12
					%table.table.table-striped.table-bordered
						%thead
							%tr
								%th Fee Publisher
								%th Fee AM
								%th Fee Company
								%th Total
								%th Earnings
						%tbody
							%tr
								%td
									= get_currency_full(@payment_snapshot.fee_publisher)
								%td
									= get_currency_full(@payment_snapshot.fee_am)
								%td
									= get_currency_full(@payment_snapshot.fee_company)
								%td
									= get_currency_full(@payment_snapshot.total)
								%td
									= get_currency_full(@payment_snapshot.price)