<table border="1">
  <caption><h3>Data Campaign</h3></caption>
  <tr>
    <th>Code</th>
    <th>Publisher</th>
    <th>Account Manager</th>
    <th>Admin</th>
    <th>Category</th>
    <th>Title</th>
    <th>Link</th>
    <th>Link Campaign</th>
    <th>Status</th>
    <th>Created at</th>
  </tr>
  <tr>
    <td><%= @campaign.try(:code) %></td>
    <td><%= @campaign.try(:publisher).try(:username) %></td>
    <td><%= @campaign.try(:account_manager).try(:username) %></td>
    <td><%= @campaign.try(:admin).try(:username) ? @campaign.try(:admin).try(:username) : "---" %></td>
    <td><%= @campaign.try(:category_campaign).try(:name) %></td>
    <td><%= @campaign.try(:title) %></td>
    <td><%= @campaign.try(:link) %></td>
    <td><%= @campaign.try(:tracking_code) %></td>
    <td><%= @campaign.try(:status) %></td>
    <td><%= @campaign.created_at.strftime("%I:%M %B, %d, %Y") %></td>
  </tr>
</table>

<br />                    
<table border="1">
  <thead>
    <caption><h3>Data Report Campaign Snapshots</h3></caption>
    <tr>
      <th>No.</th>
      <th>Code</th>
      <th>Date</th>
      <th>Admin</th>
      <th>Impressions</th>
      <th>Clicks</th>
      <th>Visitors</th>
      <th>Unique Visitors</th>
      <th>Sales</th>
      <th>Country</th>
      <th>Revenue</th>
      <th>Created At</th>
      <th>Update At</th>
    </tr>
  </thead>
  <tbody>
    <% @total_report_campaign_snapshots.each_with_index do |resource, index| %>
      <tr>
        <td>
          <%= index+1 %>
        </td>
        <td>
          <%= resource.code %>
        </td>
        <td>
          <%= resource.campaign_date %>
        </td>
        <td>
          <%= resource.admin.username %>
        </td>
        <td>
          <%= resource.impressions %>
        </td>
        <td>
          <%= resource.clicks %>
        </td>
        <td>
          <%= resource.visitors %>
        </td>
        <td>
          <%= resource.unique_visitors %>
        </td>
        <td>
          <%= resource.sales %>
        </td>
        <td>
          <%= resource.country %>
        </td>
        <td>
          <%= get_currency_full(resource.revenue) %>
        </td>
        <td>
          <%= resource.created_at.strftime("%I:%M %B, %d, %Y") %>
        </td>
        <td>
          <%= resource.updated_at.strftime("%I:%M %B, %d, %Y") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>