#wrapper.load-more-scroll.content-dashboard.responsive-activities
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b History Notifications (<span class='js-total-collection'>#{@total_collection}</span>)
				%p List history notifications

	.content.animate-panel
		.row
			.col-lg-12.content-campaign.responsive-content-activities
				.hpanel
					.col-md-6.col-md-offset-3
						.hpanel.responsive-panel-activities
							.v-timeline.vertical-container.animate-panel{"data-child" => "vertical-timeline-block", "data-delay" => "1"}
								%section
									.infinitescroll-page
										.hpanel.forum-box.js-forum-box.responsive-forum-box
											= render partial: "publishers/notifications/lists", object: @notifications
									.pagination
										= link_to_next_page(@notifications, 'LOADING MORE', remote: true, class: 'btn btn-default btn-more') unless current_user.is_admin?

	= render 'publishers/shared/footer'