- if @notifications.present?
	- @notifications.each do |resource|
		- if resource.campaign.present?
			- direct_link = resource.user.is_publisher? ? click_notif_publishers_campaign_path(resource.campaign, notification_id: resource.id) : click_notif_account_managers_campaign_path(resource.campaign, notification_id: resource.id)
		- elsif resource.payment_snapshot.present?
			- direct_link = resource.user.is_publisher? ? click_notif_publishers_payment_path(resource.payment_snapshot, notification_id: resource.id) : click_notif_account_managers_payment_path(resource.payment_snapshot, notification_id: resource.id)
		- elsif resource.request_landing_page.present?
			- direct_link = resource.user.is_publisher? ? click_notif_publishers_request_landing_page_path(resource.request_landing_page, notification_id: resource.id) : click_notif_account_managers_request_landing_page_path(resource.request_landing_page, notification_id: resource.id)
		- elsif resource.offer.present?
			- direct_link = resource.user.is_publisher? ? click_notif_publishers_offer_path(resource.offer, notification_id: resource.id) : click_notif_account_managers_offer_path(resource.offer, notification_id: resource.id)
		.vertical-timeline-block
			= link_to direct_link do
				.vertical-timeline-icon.navy-bg
					= image_tag resource.user.avatar, class: "img-circle", width: "40", height: "40"
				.vertical-timeline-content.responsive-timeline-content
					.p-sm
						= resource.status?
						= resource.message
					.panel-footer.date-messages
						%small
							= get_datetime(resource.created_at)

	= paginate @notifications, remote: true if current_user.is_admin?
- else
	= render "shared/empty_blank"