.row
	.col-md-12
		- if current_user.is_admin?
			.form-group
				= f.label "Role"
				= f.select :role_id, options_for_select([['Staff', User::STAFF_ROLE], ['Finance', User::FINANCE_ROLE]], @admin.role_id), {prompt: 'Choice Role'}, class: 'form-control', disabled: params[:action] == 'edit' ? true : false
	.col-md-6
		.form-group
			= f.label :username
			= f.text_field :username, placeholder: "Enter username", class: 'form-control', required: true
	.col-md-6
		.form-group
			= f.label :email
			= f.email_field :email, placeholder: "Enter email", class: 'form-control', required: true
	.col-md-6
		.form-group
			= f.label :phone
			.row
				.col-xs-5
					.no-right
						= f.select :phone_code, get_phone_codes, {prompt: 'Code'}, class: 'form-control', required: true
				.col-xs-7
					= f.text_field :phone, placeholder: "Phone Number", class: 'form-control', required: true
	.col-md-6
		.form-group
			= f.label :skype
			= f.text_field :skype, placeholder: "Enter skype", class: 'form-control', required: true
	- if current_user.is_admin?
		- if @admin != current_user
			.col-md-12
				.form-group
					= f.label :status
					= f.select :verified, [['Inactive', false], ['Active', true]], {prompt: 'Select Status'}, class: 'form-control', required: true
	.col-md-6
		.form-group
			= f.label :password
			= f.password_field :password, placeholder: "Enter password", class: 'form-control'
	.col-md-6
		.form-group
			= f.label :password_confirmation
			= f.password_field :password_confirmation, placeholder: "Enter password confirmation", class: 'form-control'
