= link_to new_admins_admin_path, class: 'btn btn-info btn-sm pull-left' do
  %i.fa.fa-user
  &nbsp; Create Admin

%a{ href: "admins.xls?#{request.fullpath.split("?")[1]}", class: 'btn  btn-success btn-sm pull-right'}
  %i.fa.fa-file-excel-o
  &nbsp;
  Export to excel

.full.responsive-tabel
  .responsive-content-tabel
    %table.table.table-hover.table-striped.table-bordered.tabel-width
      %thead
        %tr
          %th Username
          %th{width: '25%'} Email
          %th Type
          %th Status
          %th Created At
          %th{width: '75px'} Action
      %tbody
        - if @admins.blank?
          %tr
            %td{ colspan: "6"} 
              = render "shared/empty_blank"
        - else
          - @admins.each do |resource|
            %tr
              %td
                = resource.username
              %td
                = resource.email
              %td
                = resource.role_id == User::STAFF_ROLE ? 'Staff' : 'Finance'
              %td
                = resource.status?
              %td
                = resource.created_at.strftime("%I:%M %B, %d, %Y")
              %th.text-center
                = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_admin_path(resource), class: 'btn btn-default btn-xs' unless resource.is_finance?
                &nbsp;
                = link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_admin_path(resource), class: 'btn btn-default btn-xs'
= paginate @admins, remote: true