#wallmessages.qa-message-list
  - @activities.each do |resource|
    .message-item
      .message-inner
        .message-head.clearfix
          .avatar.pull-left
            = link_to admins_admin_path(resource.admin) do
              .avatar-timeline
                = image_tag resource.admin.avatar
          .user-detail.timeline-m
            %h5.handle
              = resource.name
            .post-meta
              .asker-meta.text-left-m
                %span.qa-message-what
                %span.qa-message-when
                  %span.qa-message-when-data= get_datetime(resource.created_at)
                %br.mobile
                %span.qa-message-who
                  %span.qa-message-who-pad by &nbsp;
                  %span.qa-message-who-data
                    = link_to "#{resource.admin.username}", admins_admin_path(resource.admin)
        .qa-message-content
          = resource.description
= paginate @activities, remote: true, param_name: "page_activities"