.responsive-tabel
  .responsive-content-tabel
    %table#example1.table.table-bordered.table-striped.tabel-width2
      %thead
        %tr
          %th No.
          %th Publisher
          %th Account Manager
          %th Message
          %th Status
          %th Created At
          %th{width: '70px'} Action
      %tbody
        - @verification_snapshots.each_with_index do |resource, index|  
          %tr
            %td
              = index+1
            %td
              = link_to resource.try(:publisher).try(:username), admins_publisher_path(resource.publisher)
            %td
              = link_to resource.try(:account_manager).try(:username), admins_account_manager_path(resource.account_manager)
            %td
              = resource.message
            %td
              = resource.status?
            %td
              = get_datetime(resource.created_at)
            %td
              = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_publisher_path(resource.publisher), class: 'btn btn-default btn-xs'
              = link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_publisher_path(resource.publisher), class: 'btn btn-default btn-xs'
= paginate @verification_snapshots, remote: true, param_name: "page_verification_snapshots"