<table border="1">
  <caption>LIST ADMINS</caption>
  <tr>
    <th>No</th>
    <th>Username</th>
    <th>Email</th>
    <th>Type</th>
    <th>Status</th>
    <th>Created at</th>
  </tr>
  <% @admins.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:username) %></td>
    <td><%= resource.try(:email) %></td>
    <td><%= resource.role_id == User::STAFF_ROLE ? 'Staff' : 'Finance' %></td>
    <td><%= resource.status? %></td>
    <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
  </tr>
  <% end %>
</table>