= render "shared/admin/breadcrumbs"

%section.content.full-page
  .row
    .col-md-12
      .box.box-m
        .box-header
          %b
            = @collection_name
            = link_to 'Back To List', admins_admins_path, class: 'btn btn-info btn-xs pull-right'
          %hr
        .box-body
          = form_for @admin, url: admins_admins_path, method: 'post' do |f|
            = render 'form', f: f
            = submit_tag "Create", class: "btn btn-info"
