$('#table-list-payment_snapshots').html("<%= escape_javascript render partial: 'list_payment_snapshots', locals: {payment_snapshots: @payment_snapshots} %>");
$('#table-list-campaigns').html("<%= escape_javascript render partial: 'list_campaigns', locals: {campaigns: @campaigns} %>");
$('#table-list-report_campaign_snapshots').html("<%= escape_javascript render partial: 'list_report_campaign_snapshots', locals: {report_campaign_snapshots: @report_campaign_snapshots} %>");
$('#table-list-verification_snapshots').html("<%= escape_javascript render partial: 'list_verification_snapshots', locals: {verification_snapshots: @verification_snapshots} %>");
$('#table-list-activities').html("<%= escape_javascript render partial: 'list_activities', locals: {activities: @activities} %>");