= render "shared/admin/breadcrumbs"
	
%section.content.full-page.tab-content.tab-content
	.row
		.col-xs-12
			.box.box-m
				.box-header
					%h3.box-title
						Data #{@admin.class.name}
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_admins_path, class: "btn btn-info btn-xs"
						&nbsp;
						= link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_admins_admin_path(@admin), class: "btn btn-default btn-xs"
					%hr
				.box-body
					.show-admin
						.col-md-2
							.photo-profile
								= image_tag @admin.avatar
						.col-md-6.no-padding-m
							.row
								.col-md-3
									.form-group
										%b Username
								.col-md-9
									.form-group 
										= @admin.username
								.col-md-3
									.form-group
										%b Email
								.col-md-9
									.form-group 
										= @admin.email
								.col-md-3
									.form-group
										%b Phone
								.col-md-9
									.form-group 
										= @admin.get_phone_number || "---"
								.col-md-3
									.form-group
										%b Skype
								.col-md-9
									.form-group 
										= @admin.skype
								.col-md-3
									.form-group
										%b Status
								.col-md-9
									.form-group 
										= @admin.status?
								.col-md-3
									.form-group
										%b Created at
								.col-md-9
									.form-group 
										= get_datetime(@admin.created_at)
						.col-md-4
							- if @admin.verified == false
								%h4 Activate this account?
								= form_for @admin, url: admins_admin_path, method: 'put' do |f|
									= f.hidden_field :verified, value: true
									= f.submit "Activated", class: 'btn btn-success btn-xs'
						.col-md-12.tab-responsive
							.exTab
								.scroll-tab
									%ul.nav.nav-tabs
										%li.active
											%a{"data-toggle" => "tab", :href => "#1"} Payment Histories
										%li
											%a{"data-toggle" => "tab", :href => "#2"} Campaigns
										%li
											%a{"data-toggle" => "tab", :href => "#3"} Report campaign Snapshots
										%li
											%a{"data-toggle" => "tab", :href => "#4"} Verification Stories
										%li
											%a{"data-toggle" => "tab", :href => "#5"} Activities
								.tab-content
									#1.tab-pane.active
										- if @payment_snapshots.present?
											.show-pulishers.search
												%h2{align: 'center'} Payment histories
												%br
												= form_for :search, url: admins_admin_path(@admin), method: 'get', html: {class: 'form-search', remote: true} do
													.input-group.full
														.col-md-3.no-padding
															= text_field_tag :key_payment_snapshots, params[:key_payment_snapshots], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
														.col-md-2.no-padding
															= select_tag :category_payment_snapshots, options_for_select(PaymentSnapshot::CATEGORIES, params[:category_payment_snapshots]), prompt: 'Select Category', class: 'form-control'
														.col-md-3.no-padding
															= text_field_tag :start_at_payment_snapshots, nil, value: params[:start_at_payment_snapshots], class: 'form-control datepicker', placeholder: 'Start At'
														.col-md-3.no-padding
															= text_field_tag :end_at_payment_snapshots, nil, value: params[:end_at_payment_snapshots], class: 'form-control datepicker',  placeholder: 'End At'
														.col-md-1.no-padding
															= submit_tag :search, class: 'btn btn-info radius-right'
												#table-list-payment_snapshots
													= render 'admins/admins/list_payment_snapshots'
										- else
											= render "shared/empty_blank"
									#2.tab-pane
										- if @campaigns.present?
											.show-pulishers.search
												%h2{align: 'center'} Campaigns
												%br
												= form_for :search, url: admins_admin_path(@admin), method: 'get', html: {class: 'form-search', remote: true} do
													.input-group.full
														.col-md-3.no-padding
															= text_field_tag :key_campaigns, params[:key_campaigns], class: 'form-control pull-left radius-left', placeholder: 'Keywords'
														.col-md-2.no-padding
															= select_tag :status_campaign, options_for_select(Campaign::STATUSES, params[:status_campaign]), prompt: 'Select Status', class: 'form-control pull-left'
														.col-md-3.no-padding
															= text_field_tag :start_at_campaigns, nil, value: params[:start_at_campaigns], class: 'form-control datepicker pull-left', placeholder: 'Start At'
														.col-md-3.no-padding
															= text_field_tag :end_at_campaigns, nil, value: params[:end_at_campaigns], class: 'form-control datepicker pull-left',  placeholder: 'End At'
														.col-md-1.no-padding
															= submit_tag :Search, class: 'btn btn-info radius-right'
												#table-list-campaigns
													= render 'admins/admins/list_campaigns'
										- else
											= render "shared/empty_blank"
									#3.tab-pane
										- if @report_campaign_snapshots.present?
											.show-pulishers.search
												%h2{align: 'center'} Report campaign snapshots
												%br
												= form_for :search, url: admins_admin_path(@admin), method: 'get', html: {class: 'form-search', remote: true} do
													.input-group.full
														.col-md-5.no-padding
															= text_field_tag :key_report_campaign_snapshots, params[:key_report_campaign_snapshots], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
														.col-md-3.no-padding
															= text_field_tag :start_at_report_campaign_snapshots, nil, value: params[:start_at_report_campaign_snapshots], class: 'form-control datepicker', placeholder: 'Start At'
														.col-md-3.no-padding
															= text_field_tag :end_at_report_campaign_snapshots, nil, value: params[:end_at_report_campaign_snapshots], class: 'form-control datepicker',  placeholder: 'End At'
														.col-md-1.no-padding
															= submit_tag :Search, class: 'btn btn-info radius-right'
												#table-list-report_campaign_snapshots
													= render 'admins/admins/list_report_campaign_snapshots'
										- else
											= render "shared/empty_blank"
									#4.tab-pane
										- if @verification_snapshots.present?
											.show-pulishers.search
												%h2{align: 'center'} Verification stories
												%br
												= form_for :search, url: admins_admin_path(@admin), method: 'get', html: {class: 'form-search', remote: true} do
													.input-group.full
														.col-md-3.no-padding
															= text_field_tag :key_verification_snapshots, params[:key_verification_snapshots], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
														.col-md-2.no-padding
															= select_tag :status_verification_snapshots, options_for_select(VerificationSnapshot::STATUSES, params[:status_verification_snapshots]), prompt: 'Select Status', class: 'form-control pull-left'
														.col-md-3.no-padding
															= text_field_tag :start_at_verification_snapshots, nil, value: params[:start_at_verification_snapshots], class: 'form-control datepicker', placeholder: 'Start At'
														.col-md-3.no-padding
															= text_field_tag :end_at_verification_snapshots, nil, value: params[:end_at_verification_snapshots], class: 'form-control datepicker',  placeholder: 'End At'
														.col-md-1.no-padding
															= submit_tag :Search, class: 'btn btn-info radius-right'
												#table-list-verification_snapshots
													= render 'admins/admins/list_verification_snapshots'
										- else
											= render "shared/empty_blank"
									#5.tab-pane
										- if @activities.present?
											%h2{align: 'center'} Activities
											%br
											= form_for :search, url: admins_admin_path(@admin), method: 'get', html: {class: 'form-search', remote: true} do
												.input-group.full.search
													.col-md-5.no-padding
														= text_field_tag :key_activities, params[:key_activities], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
													.col-md-3.no-padding
														= text_field_tag :start_at_activities, nil, value: params[:start_at_activities], class: 'form-control datepicker', placeholder: 'Start At'
													.col-md-3.no-padding
														= text_field_tag :end_at_activities, nil, value: params[:end_at_activities], class: 'form-control datepicker',  placeholder: 'End At'
													.col-md-1.no-padding
														= submit_tag :Search, class: 'btn btn-info radius-right'
											#table-list-activities
												= render 'admins/admins/list_activities'
										- else
											= render "shared/empty_blank"
							