.row
	.col-md-12
		.form-group
			= f.label :publisher_id
			- if params[:action] == "new"
				= f.select :publisher_id, options_for_select(@publishers.map{|p| [p.username, p.id]}, @permission_referral_publisher.publisher_id), {prompt: 'Select Publisher'}, class: 'form-control select2','data-node' => "publisher", required: true
			- else
				.form-control
					= @permission_referral_publisher.publisher.username
	.col-md-12
		.form-group
			= f.label "Commision (%)"
			= f.text_field :commision, placeholder: "Enter commision (%)", class: 'form-control', required: true
	.col-md-12
		.form-group
			= f.label :status
			= f.select :status, PermissionReferralPublisher::STATUSES, {prompt: 'Select Status'}, class: 'form-control', required: true
	.col-md-12
		= button_tag type: "submit", class: "btn btn-info pull-right" do
			%i.fa.fa-send
			&nbsp; Save
		- if params[:action] == "edit"
			= link_to '<i class="fa fa-eye" aria-hidden="true"></i> Detail'.html_safe, account_managers_permission_referral_publisher_path(@permission_referral_publisher), class: 'btn btn-default pull-left'
