.responsive-tabel
	%table#example1.table.table-bordered.table-striped
		%thead
			%tr
				%th Token
				%th Publisher
				%th Commision (%)
				%th Status
				%th Created At
				%th Updated At
				- if current_user.is_account_manager?
					%th Action
		%tbody
			- if @permission_referral_publishers.blank?
				%tr
					%td{ colspan: "7"} 
						= render "shared/empty_blank"
			- else
				- @permission_referral_publishers.each do |resource|
					%tr
						%td
							= resource.referral_token
						%td
							= link_to resource.publisher.username, account_managers_publisher_path(resource.publisher)
						%td
							= "#{resource.commision} %"
						%td
							= resource.status?
						%td
							= get_datetime(resource.created_at)
						%td
							= get_datetime(resource.updated_at)
						- if current_user.is_account_manager?
							%td
								= link_to '<i class="fa fa-eye" aria-hidden="true"></i> Detail'.html_safe, account_managers_permission_referral_publisher_path(resource), class: 'btn btn-info btn-xs'
								&nbsp;
								= link_to "<i class='fa fa-wrench' aria-hidden='true'></i> Edit".html_safe, edit_account_managers_permission_referral_publisher_path(resource), class: 'btn btn-warning btn-xs'

= paginate @permission_referral_publishers, remote: true, param_name: "page_permission_referral_publishers"