.row
	- if @offers.present?
		- if params[:action] == "show"
			.col-md-12
				%a.btn.btn-info.btn-sm.pull-left.btn-chart-ex{ href: "#{@permission_referral_publisher.id}.xls?"}
					%i.fa.fa-file-excel-o
					&nbsp;
					Export to excel
			%br
			%br
			%br
		.col-md-12
			- @offers.each do |offer|
				- if offer.targetings.present?
					.panel.panel-default
						.panel-heading
							= offer.name
						.panel-body
							- offer.targetings.each do |resource|
								%label.label.label-default.label-targeting
									= resource.country_code+" "+(resource.fee_am? > 0 ? get_currency(resource.fee_referral_publisher?(@permission_referral_publisher.commision)) : '')

			= paginate @offers, remote: true, param_name: "page_list_offers"
	- else
		.col-md-12
			= render "shared/empty_blank"