.responsive-tabel
	%table#example1.table.table-bordered.table-striped
		%thead
			%tr
				%th Username
				%th Email
				%th Status
				%th Created At
				%th Updated At
		%tbody
			- if @referral_publishers.blank?
				%tr
					%td{ colspan: "7"} 
						= render "shared/empty_blank"
			- else
				- @referral_publishers.each do |resource|
					%tr
						%td
							= resource.username
						%td
							- if current_user.is_admin?
								- link_publisher = admins_publisher_path(resource)
							- elsif current_user.is_account_manager?
								- link_publisher = account_managers_publisher_path(resource)
							- else
								- link_publisher = "#"
							= link_to resource.email, link_publisher
						%td
							= resource.status?
						%td
							= get_datetime(resource.created_at)
						%td
							= get_datetime(resource.updated_at)

= paginate @referral_publishers, remote: true, param_name: "page_referral_publishers"