- @offers.each do |offer|
	- if offer.targetings.present?
		.panel.panel-default
			.panel-heading
				= offer.name
			.panel-body
				- offer.targetings.each do |resource|
					%label.label.label-default.label-targeting
						= resource.country_code+" "+(resource.fee_am? > 0 ? get_currency(resource.fee_am_referral_publisher?(@permission_referral_publisher.commision)) : '')

= paginate @offers, remote: true, param_name: "page_list_offers"