#wrapper.content-offer-publisher.content-dashboard
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b Edit Permission Referral Publisher
	.content.animate-panel.offers.responsive-content-offers
		.hpanel.responsive-hpanel
			.panel-body
				.row
					.col-md-12
						.box-header
							%h3.box-title
								.row
									.col-md-10
										= "Edit "+@collection_name
									.col-md-2
										= link_to 'Back To List', account_managers_permission_referral_publishers_path, class: 'btn btn-info btn-xs pull-right'
							%hr
						.right-left-min
							.box-body
								= form_for @permission_referral_publisher, url: account_managers_permission_referral_publisher_path, method: 'put', html: { multipart:true } do |f|
									= render 'form', f: f
		
		.row
			.col-lg-12
				.hpanel
					%ul.nav.nav-tabs
						%li.active
							%a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab-1"} 
								%i.fa.fa-file-text-o
								&nbsp; Offers Fee AM
						%li
							%a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab-2"} 
								%i.fa.fa-file-text-o
								&nbsp; Offers Fee Referral
					.tab-content
						#tab-1.tab-pane.active
							.panel-body
								#js-list-offers
									= render 'account_managers/permission_referral_publishers/list_offers'
						#tab-2.tab-pane
							.panel-body
								#js-list-offers-fee-referral-publisher
									= render 'account_managers/permission_referral_publishers/list_offers_fee_referral_publisher'