$('.js-total-collection').html("<%= @permission_referral_publishers.total_count %>");
$('#table-lists').html("<%= escape_javascript render partial: 'lists', locals: {permission_referral_publishers: @permission_referral_publishers} %>");