#wrapper.content-offer-publisher.content-dashboard
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b Permission Referral (<span class='js-total-collection'>#{@permission_referral_publishers.total_count}</span>)
				%p All list permission referral publishers
	.content.animate-panel.offers.responsive-content-offers
		.hpanel.responsive-hpanel
			.panel-body
				.row
					.col-md-12
						= form_for :search, url: account_managers_permission_referral_publishers_path, method: 'get', html: {class: 'form-search form-search-permission_referral_publishers', remote: true} do
							.col-md-3.no-padding
								.form-group
									= text_field_tag :key, params[:key], class: 'form-control no-border-radius', placeholder: 'Keywords (username publisher)'
							.col-md-2.no-padding
								.form-group
									= select_tag :status, options_for_select(PermissionReferralPublisher::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control no-border-radius'
							.col-md-3.no-padding
								.form-group
									= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker no-border-radius', placeholder: 'Start At'
							.col-md-3.no-padding
								.form-group
									= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker no-border-radius', placeholder: 'End At'
							.col-md-1.no-padding
								.form-group
									= submit_tag :Search, class: 'btn btn-primary btn-block no-border-radius'
						%br
					.col-md-12
						= link_to "<button class='btn btn-xs btn-info'>New #{@resource_name}</button>".html_safe, new_account_managers_permission_referral_publisher_path
						%br
						%br
						#table-lists
							= render 'account_managers/permission_referral_publishers/lists'

	= render 'publishers/shared/footer'