#wrapper.content-offer-publisher.content-dashboard
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b Create Permission Referral Publisher
	.content.animate-panel.offers.responsive-content-offers
		.hpanel.responsive-hpanel
			.panel-body
				.row
					.col-md-12
						.box-header
							.row
								.col-md-10
									%b
										= "Create "+@collection_name
								.col-md-2
									= link_to 'Back To List', account_managers_permission_referral_publishers_path, class: 'btn btn-info btn-xs pull-right'
							%hr
						.right-left-min
							.box-body
								= form_for @permission_referral_publisher, url: account_managers_permission_referral_publishers_path, method: 'post', html: { multipart:true } do |f|
									= render 'form', f: f