$('#js-list-referral-publishers').html("<%= escape_javascript render partial: 'list_referral_publishers', locals: {referral_publishers: @referral_publishers} %>");
$('#js-list-offers').html("<%= escape_javascript render partial: 'list_offers', locals: {offers: @offers} %>");
$('#js-list-offers-fee-referral-publisher').html("<%= escape_javascript render partial: 'list_offers_fee_referral_publisher', locals: {offers: @offers} %>");