<% @offers.each do |offer| %>
	<% if offer.targetings.present? %>
		<table border="1">
			<tr>
				<th colspan="2">
					<center><%= offer.name %></center> 
				</th>
			</tr>
			<tr>
				<th>
					Country Code  
				</th>
				<th>
					Commision	
				</th>
			</tr>
			<% offer.targetings.each do |resource| %>
				<tr>
					<td><%= resource.try(:country_code) %></td>
					<td><%= get_currency(resource.fee_referral_publisher?(@permission_referral_publisher.commision)) %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
<% end %>