#wrapper.content-detail-campaign-publisher
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b Detail #{@resource_name}

	.content.animate-panel.responsive-list-campaign
		.row
			.col-lg-12
				.hpanel.hblue
					.panel-body
						.form-horizontal
							.row
								.col-md-12
									%h3
										Detail #{@resource_name}
										%span.pull-right
											= link_to 'Back To List', account_managers_permission_referral_publishers_path, class: 'btn btn-info btn-xs'
											&nbsp;
											= link_to "<i class='fa fa-wrench' aria-hidden='true'></i> Edit".html_safe, edit_account_managers_permission_referral_publisher_path(@permission_referral_publisher), class: 'btn btn-warning btn-xs'
									%hr
								.col-md-12
									.form-group
										.col-md-2
											%b Referral Token
										.col-md-10
											= @permission_referral_publisher.referral_token
									.form-group
										.col-md-2
											%b Publisher
										.col-md-10
											= link_to @permission_referral_publisher.publisher.username, account_managers_publisher_path(@permission_referral_publisher.publisher)
									.form-group
										.col-md-2
											%b Commision
										.col-md-10
											= get_percent(@permission_referral_publisher.commision)
									.form-group
										.col-md-2
											%b Status
										.col-md-10
											= @permission_referral_publisher.status?
									.form-group
										.col-md-2
											%b Created At
										.col-md-10
											= get_datetime(@permission_referral_publisher.created_at)
									.form-group
										.col-md-2
											%b Updated At
										.col-md-10
											= get_datetime(@permission_referral_publisher.updated_at)

			.col-lg-12.m-t-md.content-campaign.responsive-panel-full
				.hpanel
					%ul.nav.nav-tabs
						%li.active
							%a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab-1"} 
								%i.fa.fa-file-text-o
								&nbsp; Referral Publishers
						%li
							%a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab-2"} 
								%i.fa.fa-file-text-o
								&nbsp; Offers Fee AM
						%li
							%a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab-3"} 
								%i.fa.fa-file-text-o
								&nbsp; Offers Fee Referral
					.tab-content
						#tab-1.tab-pane.active
							.panel-body
								#js-list-referral-publishers
									= render 'account_managers/permission_referral_publishers/list_referral_publishers'
						#tab-2.tab-pane
							.panel-body
								#js-list-offers
									= render 'account_managers/permission_referral_publishers/list_offers'
						#tab-3.tab-pane
							.panel-body
								#js-list-offers-fee-referral-publisher
									= render 'account_managers/permission_referral_publishers/list_offers_fee_referral_publisher'
						
	= render 'publishers/shared/footer'
