.landing-page {
  .about-us {
    overflow: hidden;
    padding-top: 30px;
    margin-bottom: 50px;
    position: relative;
    .about-title {
      margin-left: 50px;
      margin-top: -20px;
      h2 {
        font-size: 50px;
      }
    }
    .about-title1 {
      visibility: hidden;
      display: none;
    }
    .line-image {
      border:solid 1px #ccc;
      width: 100%;
    }
    .line-image-jpg {
      margin-top: 20px;
      margin-left: 20px;
      border:solid 1px #ccc;
      width: 100%;
      position: absolute;
      top: 0px;
      img {
        width: 100%;
        margin-bottom: -2px
      }
      .btn-readmore {
        padding: 10px 50px 10px 50px;
        background: #00563c;
        color: white;
        font-size: 17px;
        border-radius: 0px;
        position: absolute;
        right: 0px;
        margin-right: -108px;
        bottom: -47px;
        z-index: 2;
      }
    }
    .description {
      width: 105%;
      margin-left: -50px;
      overflow: hidden;
      background: -moz-linear-gradient(left, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
      padding: 20px;
      p {
        font-size: 17px;
        line-height: 1.6em;
        letter-spacing: 0.2px;
        text-align: justify;
        color: #383838;
      }
    }
    .triangle-left {
      position: absolute;
      width: 0; 
      height: 0; 
      border-top: 150px solid transparent;
      border-bottom: 150px solid transparent;
      border-right: 150px solid rgba(228, 228, 228, 0.36);
      right: 0px;
      top: 50px;
    }
    .triangle-right {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 150px solid transparent;
      border-bottom: 150px solid transparent;
      border-left: 150px solid rgba(228, 228, 228, 0.36);
      bottom: 50px;
    }
  }
  .donut1 {
    background: radial-gradient(circle, transparent 40%, rgba(243, 243, 243, 0.77) 40%);
    border-radius: 100%;
    position: absolute;
    height: 100px;
    width: 100px;
  }
  .donut2 {
    background: radial-gradient(circle, transparent 40%, rgba(243, 243, 243, 0.77) 40%);
    border-radius: 100%;
    position: absolute;
    height: 100px;
    width: 100px;
    right: 400px;
    top: 100px;
  }
  .donut3 {
    background: radial-gradient(circle, transparent 40%, rgba(243, 243, 243, 0.77) 40%);
    border-radius: 100%;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 130px;
    top: 300px;
  }
  .donut4 {
    background: radial-gradient(circle, transparent 40%, rgba(243, 243, 243, 0.77) 40%);
    border-radius: 100%;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 250px;
    top: 140px;
  }
  .donut5 {
    background: radial-gradient(circle, transparent 40%, rgba(243, 243, 243, 0.77) 40%);
    border-radius: 100%;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 500px;
    top: 80px;
  }
  .donut6 {
    background: radial-gradient(circle, transparent 40%, rgba(243, 243, 243, 0.77) 40%);
    border-radius: 100%;
    position: absolute;
    height: 100px;
    width: 100px;
    right: 200px;
    top: 300px;
  }
  .donut7 {
    background: radial-gradient(circle, transparent 40%, rgba(243, 243, 243, 0.77) 40%);
    border-radius: 100%;
    position: absolute;
    height: 100px;
    width: 100px;
    right: 80px;
    top: 80px;
  }
}


@media screen and (max-width: 991px) {
  .landing-page {
    .about-us {
      .about-title {
        visibility: hidden;
        display: none;
      }
      .about-title1 {
        visibility: visible;
        display: block;
        position: absolute;
        z-index: 2;
        right: inherit!important;
        bottom: -20px;
        background: white;
        position: absolute;
        padding-left: 40px!important;
        padding-right: 20px;
        h2 {
          font-size: 60px;
        }
      }
      .description {
        margin-top: 100px;
        width: 100%;
        margin-left: 0px;
        padding: 0px!important
        p {
          font-size: 16px;
        }
      }
      .btn-readmore {
        padding: 10px 50px 10px 50px;
        background: #00563c;
        color: white;
        font-size: 17px;
        border-radius: 0px;
        position: absolute;
        right: inherit!important;
        margin-right: -108px;
        bottom: 23px;
        z-index: 2;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .btn-readmore {
    margin-right: 238px !important;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 550px) {
  .landing-page {
    .about-us {
      padding-top: 0px;
      margin-bottom: 0px!important;
      .about-title {
        visibility: hidden;
        display: none;
      }
      .about-title1 {
        visibility: visible;
        display: block;
        position: absolute;
        z-index: 2;
        right: 0px;
        bottom: -20px;
        background: white;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        text-align: right;
        h2 {
          font-size: 30px!important;
        }
      }
      .description {
        margin-top: 110px!important;
        padding: 0px!important;
        p {
          font-size: 12px!important;
        }
      }
      .line-image {
        border:solid 1px #ccc;
        width: 100%;
        margin-left: -10px
      }
      .line-image-jpg {
        margin-top: 15px;
        margin-left: 5px;
        border:solid 1px #ccc;
        width: 100%;
        position: absolute;
        top: 0px;
        img {
          width: 100%;
          margin-bottom: -2px
        }
      }
    }
  }

}

@media screen and (max-width: 450px) {
  .btn-readmore {
    margin-right: 65px !important;
    margin-bottom: 29px;
    font-size: 14px!important;
  }
  .about-us {
    .about-title1 {
      h2 {
        font-size: 20px !important;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .landing-page{
    .about-us {
      .description {
        margin-top: 110px!important;
        width: 100%;
        margin-left: 0px;
        padding: 0px!important
        p {
          font-size: 12px!important;
        }
      }
      .about-title1 {
        bottom: -50px!important;
        h2 {
          font-size: 20px !important;
        }
      }
    }
    .btn-readmore {
      padding: 10px 50px 10px 50px;
      background: #00563c;
      color: white;
      font-size: 14px!important;
      border-radius: 0px;
      position: absolute;
      right: 0px;
      margin-right: -108px;
      bottom: -73px!important;
      z-index: 2;
    }
  }
}