/*=======================================
	Alert Custom
=======================================*/
/*.section-alert{
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 120px;
	padding-left: 10px;
	padding-right: 10px;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	padding-top: 120px;
	.alert{
		width: 600px;
		z-index: 99;
		margin: auto;
		text-align: center;
	}
}
.alert{
	margin-top: 10px;
}*/
.alert-publisher {
  position: fixed;
  right: 15px;
  z-index: 10;
  top: 70px;
  -webkit-box-shadow: 3px 3px 21px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 21px 0px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 21px 0px rgba(0,0,0,0.2);
  h4 {
    font-weight: bold;
    .count-error {
      font-weight: normal;
      font-size: 14px;
      line-height: 2.5em;
      color:#ce650c;
    }
  }
  li {
    list-style: decimal;
    margin-left: -10px;
  }
}