
.slider-faqs:before {
  background:linear-gradient(to right, rgba(0, 0, 0, 0.51) 0, transparent 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.84) 0, rgba(0, 0, 0, 0.37) 70%);
  width: 100%;
  height: 350px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: '';
}

.user {
  position: relative;
  width: 100%;
  .user-faqs:before {
    background:linear-gradient(45deg, rgba(0, 86, 60, 0.98) 0%, rgba(4, 105, 74, 0.95) 100%);
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    content: '';
  }

  .user-faqs {
    background: asset-url('bg-peoples.png') 50% 0 repeat!important;
    background-size: none!important;
    height: 350px!important;
    .heading {
      margin-top: -50px;
    }
    .btn-border {
      position: relative;
      z-index: 3;
      margin:auto;
      display: table;
    }
    h1 {
      color: white;
      z-index: 2;
      position: relative;
      margin-top: 170px;
      font-family: SourceSansPro-ExtraLight;
      font-size: 40px!important;
      span {
        font-family: SourceSansPro-Bold;
        font-size: 40px!important;
      }
      .text-greenlow {
        color: #62cb31!important;
        font-family: SourceSansPro-ExtraLight;
        font-size: 40px!important;
      }
    }
  }
}


.team-faqs {
  margin-bottom: 50px;
  padding-top: 0px;
}



@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 736px) {
  
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 550px) {
  
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 350px) {
}