.slider-faqs {
  background: asset-url('about-us.jpg') 50% 0 no-repeat!important;
  background-size: cover!important;
  background-position:center!important;
  height: 350px!important;
  h1 {
    color: white;
    z-index: 2;
    position: relative;
    margin-top: 140px;
    font-family: SourceSansPro-ExtraLight;
    font-size: 40px!important;
    span {
      font-family: SourceSansPro-Bold;
      font-size: 40px!important;
    }
    .text-greenlow {
      color: #62cb31;
      font-family: SourceSansPro-Bold;
      font-size: 40px!important;
    }
  }
  .imaginary_container{
    margin-top:20px;
    .stylish-input-group .input-group-addon{
      background: white !important; 
      border-radius:0px 20px 20px 0px;
      position: relative;
      z-index: 3;
      height: 40px;
    }
    .stylish-input-group .form-control{
      border-right:0; 
      box-shadow:0 0 0; 
      border-color:#ccc;
      border-radius:20px;
      margin-left: 17px;
      height: 40px;
      font-size: 16px;
      padding-left: 20px;
      text-transform: capitalize;
    }
    .stylish-input-group button{
      border:0;
      background:transparent;
      border-radius:20px;
    }
  }
}
.description-faqs {
  margin-top: 50px;
  .faqs {
    margin: auto;
    display: table;
    background-color: white;
    margin-top: -150px;
    float: none;
    z-index: 1;
    padding: 30px;
      }
  .content-description {
    margin-bottom: 40px;
    .menu-left {
      width:100%;
      overflow: hidden;
      ul {
        width: 335px;
        background: #eee;
        border:solid 1px #ddd;
        padding: 0px;
        z-index: 5;
        li {
          padding: 20px;
          padding-top: 15px;
          padding-bottom: 15px;
          border-bottom: solid 1px #ddd;
          list-style: none;
        }
        .active {
          padding: 20px;
          padding-top: 15px;
          padding-bottom: 15px;
          border-left: solid 3px $green;
          border-bottom: solid 1px #ddd;
          list-style: none;
        }
        li:hover {
          background: #ccc;
        }
      }

    }
    .content-faqs:hover{
      .count-faq {
        background: $green;
        transition-property: background;
        transition-duration: 0.4s;
        transition-timing-function: linear;
        span {
          color: white;
        }
      }
    }
    .content-faqs {
      margin-bottom: 30px;
      overflow: hidden;
      .count-faq {
        width: 60px;
        height: 60px;
        border:solid 1px #ddd;
        border-radius: 50px;
        float: left;
        margin-right: 20px;
        transition-property: background;
        transition-duration: 0.6s;
        transition-timing-function: linear;
        span {
          margin: auto;
          display: table;
          margin-top: 7px;
          color: $green;
          font-size: 30px;
          font-family: SourceSansPro-Semibold;
        }
      }
      .point-faq {
        width: 85%;
        overflow: hidden;
        float: left;
        h2 {
          font-family: SourceSansPro-Semibold;
          color: $green;
          span {
            font-size: 17px;
            color: #403f3f;
            font-family: fantasy;
            font-weight: bold;
          }
        }
        h3 {
          font-family: SourceSansPro-Bold;
          color: $green;
          span {
            font-size: 15px;
            color: #403f3f;
            font-family: fantasy;
            font-weight: bold;
          }
        }
        p {
          font-size: 17px;
          color: #494949;
          line-height: 27px;
          text-align: justify;
        }
        ul {
          li {
            font-size: 17px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 736px) {
  .description-faqs {
    .content-description {
      .content-faqs {
        .count-faq {
          width: 50px;
          height: 50px;
          border: solid 1px #ddd;
          border-radius: 50px;
          float: left;
          margin-right: 20px;
          span {
            margin-top: 3px;
          }
          .point-faq {
            width: 85%;
            overflow: hidden;
            float: left;
            h2 {
              font-family: SourceSansPro-Semibold;
              color: $green;
              span {
                font-size: 17px;
                color: #403f3f;
                font-family: fantasy;
                font-weight: bold;
              }
            }
            h3 {
              font-family: SourceSansPro-Bold;
              color: $green;
              span {
                font-size: 15px;
                color: #403f3f;
                font-family: fantasy;
                font-weight: bold;
              }
            }
            p {
              font-size: 17px;
              color: #494949;
              line-height: 27px;
              text-align: justify;
            }
            ul {
              li {
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
  .faqs {
    .content-faqs {
      margin-bottom: 30px;
      overflow: hidden;
      .count-faq {
        width: 60px;
        height: 60px;
        border:solid 1px #ddd;
        border-radius: 50px;
        float: left;
        margin-right: 20px;
        transition-property: background;
        transition-duration: 0.6s;
        transition-timing-function: linear;
        span {
          margin: auto;
          display: table;
          margin-top: 7px;
          color: $green;
          font-size: 30px;
          font-family: SourceSansPro-Semibold;
        }
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .description-faqs {
    .content-description {
      .content-faqs {
        .point-faq {
          width: 84%;
          overflow: hidden;
          float: right;
        }
      }
    }
  }
  .faqs {
    .content-faqs {
      margin-bottom: 30px;
      overflow: hidden;
      .count-faq {
        width: 50px;
        height: 50px;
        border:solid 1px #ddd;
        border-radius: 50px;
        float: left;
        margin-right: 20px;
        transition-property: background;
        transition-duration: 0.6s;
        transition-timing-function: linear;
        span {
          margin: auto;
          display: table;
          margin-top: 2px;
          color: $green;
          font-size: 25px;
          font-family: SourceSansPro-Semibold;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  
}

@media screen and (max-width: 450px) {
  .description-faqs {
    .content-description {
      .content-faqs {
        .count-faq {
          width: 40px;
          height: 40px;
          border: solid 1px #ddd;
          border-radius: 50px;
          float: left;
          margin-right: 20px;
          span {
            margin-top: 2px;
            font-size: 25px;
          }
        }
      }
    }
  }
  .faqs {
    padding: 20px!important;
    .content-faqs {
      margin-bottom: 30px;
      overflow: hidden;
      .count-faq {
        width: 60px;
        height: 60px;
        border:solid 1px #ddd;
        border-radius: 50px;
        float: left;
        margin-right: 20px;
        transition-property: background;
        transition-duration: 0.6s;
        transition-timing-function: linear;
        span {
          margin: auto;
          display: table;
          margin-top: 7px;
          color: $green;
          font-size: 30px;
          font-family: SourceSansPro-Semibold;
        }
      }
      .point-faq {
        width: 100%!important;
        overflow: hidden;
        float: left;
        h3 {
          font-family: SourceSansPro-Semibold;
          color: $green;
          font-size: 20px;
        }
        h2 {
          font-family: SourceSansPro-Semibold;
          color: $green;
          span {
            font-size: 17px;
            color: #403f3f;
            font-family: fantasy;
            font-weight: bold;
          }
        }
        h3 {
          font-family: SourceSansPro-Bold;
          color: $green;
          span {
            font-size: 15px;
            color: #403f3f;
            font-family: fantasy;
            font-weight: bold;
          }
        }
        p {
          font-size: 14px!important;
          color: #494949;
          line-height: 27px;
          text-align: justify;
        }
        ul {
          li {
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
}