.landing-page{
  .features {
    position: relative;
    margin-bottom: 30px;
    .mobile {
      visibility: hidden;
      display: none;
    }
    .desktop {
      visibility: visible;
      display: block;
    }
    .bg-list-features {
      width: 60%;
      margin: auto;
      .list1 {
        width: 50%;
        float: left;
        height: 25px;
        background: #f5f5f5;
      }
      .list2 {
        width: 50%;
        float: right;
        height: 20px;
        margin-top: 30px;
        background: #f5f5f5;
      }
      .list3 {
        width: 50%;
        float: right;
        height: 5px;
        margin-top: 5px;
        background: #f5f5f5;
      }
    }
    .triangle-left {
      position: absolute;
      width: 0; 
      z-index: 1;
      height: 0; 
      border-top: 150px solid transparent;
      border-bottom: 150px solid transparent;
      border-right: 150px solid rgba(228, 228, 228, 0.36);
      right: 0px;
      top: 50px;
    }
    .triangle-left1 {
      position: absolute;
      width: 0; 
      height: 0; 
      z-index: 1;
      border-top: 150px solid transparent;
      border-bottom: 150px solid transparent;
      border-right: 150px solid rgba(228, 228, 228, 0.36);
      right: 0px;
      bottom: -250px;
    }
    .triangle-right {
      position: absolute;
      width: 0;
      height: 0;
      z-index: 1;
      border-top: 150px solid transparent;
      border-bottom: 150px solid transparent;
      border-left: 150px solid rgba(228, 228, 228, 0.36);
      bottom: -50px;

    }
    .features-title {
      float: none;
      margin: auto;
      margin-bottom: 10px;
      margin-top: 30px;
    }
    .vc_row {
      margin-left: -15px;
      margin-right: -15px;
    }
    .marg-md-b105 {
        margin-bottom: 105px !important;
    }
    .vc_column_container>.vc_column-inner {
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .marg-md-t70 {
        margin-top: 70px !important;
    }
    .lx-circle-wrapper .lx-text-icon {
      float: left;
      width: 50%;
      margin: 28px 0;
    }
    .lx_consultant.lx-text-icon .border {
      border: 2px solid #efefef;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon {
        padding: 34px;
        margin: 0;
    }
    .lx-text-icon .wrap-icon.round {
        display: inline-block;
        padding: 15px;
        position: relative;
    }
    .lx_consultant.lx-text-icon .wrap-icon {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon {
        height: 124px;
        min-height: 124px;
        min-width: 120px;
    }
    .lx-text-icon .wrap-icon.right {
        float: right;
        width: 120px;
    }
    .lx-text-icon.round, .lx-text-icon .wrap-icon.round {
        border-radius: 50%;
    }
    .icon-consultant .lx-text-icon .border:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon:before {
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon.round .icon {
        margin-top: 0;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon.round .icon {
        font-size: 50px;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon img.icon, .lx-circle-wrapper .lx-text-icon .wrap-icon .icon.bg_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: 0.4s;
    }
    .lx-text-icon .wrap-icon.round .icon {
        margin-top: 45px;
        display: inline-block;
    }
    .lx-text-icon .wrap-icon.round .icon {
        font-size: 60px;
    }
    .lx_consultant.lx-text-icon .wrap-icon .icon {
        color: #0094cd;
    }
    .lx_consultant.lx-text-icon .wrap-icon .icon {
        font-size: 50px;
        color: #3b3b2d;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon img {
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        width: 50px;
    }
    .lx-text-icon .wrap-icon .icon {
        color: #946a4d;
    }
    .lx-text-icon .wrap-icon .icon {
        max-width: 64px;
        max-height: 64px;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
    .lx-text-icon .wrap-icon .icon {
        color: #636363;
    }
    .lx-text-icon .wrap-icon .icon {
        max-width: 70px;
        max-height: 70px;
    }
    .lx-text-icon .wrap-icon .icon {
        font-size: 50px;
        color: #0094cd;
    }
    img {
      border: 0;
    }
    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }
    .bg-wrap {
        width: 420px;
        height: 415px;
        border-radius: 50%;
        top: 35px;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        background-size: cover;
        background-position: center;
        transition: 0.4s;
    }
    .s-back-switch {
        background-image: asset-url('img-home-page.jpg');
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .lx-circle-wrapper .icon-career .lx-text-icon .wrap-icon, .lx-circle-wrapper .icon-consultant.modern .lx-text-icon .wrap-icon {
      background-color: #fff;
      -webkit-box-shadow: 0 0 0px 10px #fff;
      -moz-box-shadow: 0 0 0px 10px #fff;
      box-shadow: 0 0 0 10px #fff;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon.round {
        transform: none;
    }
    .lx_consultant.lx-text-icon .wrap-icon.round {
        margin-top: 0;
        margin-bottom: 0;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon.right {
        margin-right: 40px;
        margin-left: 30px;
    }
    .lx-text-icon.round, .lx-text-icon .wrap-icon.round {
        border-radius: 50%;
    }
    .lx_consultant.lx-text-icon .border {
        border: 2px solid #efefef;
    }
    .lx_designer.lx-text-icon .border, .lx_tatoo.lx-text-icon .border, .lx_stuff.lx-text-icon .border, .lx_consultant.lx-text-icon .border {
        border: 2px solid #ececec;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon {
        padding: 34px;
        margin: 0;
    }
    .lx-text-icon .wrap-icon.round {
        display: inline-block;
        padding: 15px;
        position: relative;
    }
    .lx_consultant.lx-text-icon .wrap-icon {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon {
        height: 124px;
        min-height: 124px;
        min-width: 120px;
    }
    .lx-text-icon .wrap-icon.right {
        float: right;
        width: 120px;
    }
    .lx-text-icon .border {
        height: 187px;
        width: 187px;
    }
    .lx-text-icon .border {
        border: 1px solid #0094cd;
        padding: 5px;
    }
    .lx-text-icon .wrap-icon {
        position: relative;
    }
    .lx-text-icon, .lx-text-icon .wrap-icon {
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        text-align: center;
    }
    .lx-circle-wrapper .lx-text-icon:first-child, .lx-circle-wrapper .lx-text-icon:nth-child(2) {
      margin-top: 0;
    }
    .lx-circle-wrapper .lx-text-icon {
      float: left;
      width: 50%;
      margin: 28px 0;
    }
    .lx-text-icon, .lx-text-icon .wrap-icon {
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        text-align: center;
    }
    .lx-text-icon, .lx-circle-wrapper {
        position: relative;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-text {
      margin-top: 10px;
    }
    .text_right {
        text-align: right;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-text .title {
      margin-bottom: 5px;
      margin-top: 0;
    }
    .lx-text-icon .title.large {
        font-size: 20px;
        line-height: 21px;
    }
    .icon-consultant .lx-text-icon .title {
        color: #282828;
        font-family: "Ebrima",sans-serif;
        font-weight: 400;
    }
    .lx-circle-wrapper .lx-text-icon .desc {
      max-height: 79px;
    }
    .lx-circle-wrapper .lx-text-icon .desc {
        margin-top: 10px;
    }
    .icon-consultant .lx-text-icon .desc {
      color: #6b6b6b;
      font-family: "Lato",sans-serif;
      font-weight: 400;
      z-index: 3;
      position: relative;
    }
    .lx-text-icon .desc {
      color: #868686;
      font-family: "Lato",sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 10px;
      letter-spacing: 0.3px;
    }


    .lx-circle-wrapper .lx-text-icon {
      float: left;
      width: 50%;
      margin: 28px 0;
    }
    .lx-text-icon, .lx-text-icon .wrap-icon {
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        text-align: center;
    }
    .lx-text-icon, .lx-circle-wrapper {
        position: relative;
    }
    .lx-circle-wrapper .icon-career .lx-text-icon .wrap-icon, .lx-circle-wrapper .icon-consultant.modern .lx-text-icon .wrap-icon {
      background-color: #fff;
      -webkit-box-shadow: 0 0 0px 10px #fff;
      -moz-box-shadow: 0 0 0px 10px #fff;
      box-shadow: 0 0 0 10px #fff;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon.round {
        transform: none;
    }
    .lx_consultant.lx-text-icon .wrap-icon.round {
        margin-top: 0;
        margin-bottom: 0;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon.left {
        margin-left: 45px;
        margin-right: 30px;
    }
    .lx-text-icon.round, .lx-text-icon .wrap-icon.round {
        border-radius: 50%;
    }
    .lx_consultant.lx-text-icon .border {
        border: 2px solid #efefef;
    }
    .lx_designer.lx-text-icon .border, .lx_tatoo.lx-text-icon .border, .lx_stuff.lx-text-icon .border, .lx_consultant.lx-text-icon .border {
        border: 2px solid #ececec;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon {
        padding: 34px;
        margin: 0;
    }
    .lx-text-icon .wrap-icon.round {
        display: inline-block;
        padding: 15px;
        position: relative;
    }
    .lx_consultant.lx-text-icon .wrap-icon {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-icon {
        height: 124px;
        min-height: 124px;
        min-width: 120px;
    }
    .lx-text-icon .wrap-icon.left {
        float: left;
        width: 90px;
        text-align: left;
    }
    .lx-text-icon .border {
        height: 187px;
        width: 187px;
    }
    .lx-text-icon .border {
        border: 1px solid #0094cd;
        padding: 5px;
    }
    .lx-text-icon .wrap-icon {
        position: relative;
    }
    .lx-text-icon, .lx-text-icon .wrap-icon {
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        text-align: center;
    }
    .lx-circle-wrapper .lx-text-icon:nth-child(3) .wrap-icon {
      margin-right: 150px;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-text {
      margin-top: 10px;
    }
    .text_left {
        text-align: left;
    }
    .lx-circle-wrapper .lx-text-icon .wrap-text .title {
      margin-bottom: 5px;
      margin-top: 0;
    }
    .lx-text-icon .title.large {
      font-size: 20px;
      line-height: 21px;
    }
    .icon-consultant .lx-text-icon .title {
        color: #282828;
        font-family: "Ebrima",sans-serif;
        font-weight: 400;
    }
    .lx-circle-wrapper .lx-text-icon:nth-child(4) .wrap-icon {
      margin-left: 150px;
    }
    .lx_consultant.lx-text-icon .desc p {
      color: #3e3e3e !important;
      line-height: 1.5em;
      font-size: 12px;
    }
    .consultant_text_icon:hover{
      .round{
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.18);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.18);
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.18);
      }
      .round:before {
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.18);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.18);
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.18);
      }
    }
  }
}

.mobile-features {
  visibility: hidden;
  display: none;
}
.desktop-features {
  visibility: visible;
  display: block;
}

@media screen and (max-width: 1024px) {
  .lx-text-icon .title.large {
    font-size: 14px!important;
    font-weight: bold!important;
    line-height: 21px!important;
  }
}

@media screen and (max-width: 991px) {
  .desktop-features {
    visibility: hidden!important;
    display: none!important;
  }
  .mobile-features {
    visibility: visible!important;
    display: block!important;
  }
  .features-for-mobile {
    margin: auto;
    display: table;
    background-color: white;
    float: none;
    z-index: 1;
    padding: 20px;
    .content-features {
      width: 100%;
      overflow: hidden;
      .count-features {
        width: 100px;
        height: 100px;
        border: solid 1px #ddd;
        border-radius: 50px;
        float: left;
        padding: 25px;
        margin-right: 20px;
        transition-property: background;
        transition-duration: 0.6s;
        transition-timing-function: linear;
      }
      .point-features {
        width: 80% !important;
        overflow: hidden;
        line-height: 0em;
        float: left;
        h3 {
          font-size: 18px;
          color: $green;
        }
        p {
          font-size: 14px !important;
          color: #494949;
          line-height: 1.5em;
          text-align: justify;
        }
      }
    }
  }
  .content-description {
    margin-bottom: 40px;
    .menu-left {
      width:100%;
      overflow: hidden;
      ul {
        width: 335px;
        background: #eee;
        border:solid 1px #ddd;
        padding: 0px;
        z-index: 5;
        li {
          padding: 20px;
          padding-top: 15px;
          padding-bottom: 15px;
          border-bottom: solid 1px #ddd;
          list-style: none;
        }
        .active {
          padding: 20px;
          padding-top: 15px;
          padding-bottom: 15px;
          border-left: solid 3px $green;
          border-bottom: solid 1px #ddd;
          list-style: none;
        }
        li:hover {
          background: #ccc;
        }
      }
      .count-features {
        padding: 20px;
      }
    }
    .content-features:hover{
      .count-features {
        background: $green;
        transition-property: background;
        transition-duration: 0.4s;
        transition-timing-function: linear;
        span {
          color: white;
        }
      }
    }
    .content-features {
      margin-bottom: 30px;
      overflow: hidden;
      .count-features {
        width: 60px;
        height: 60px;
        border:solid 1px #ddd;
        border-radius: 50px;
        float: left;
        margin-right: 20px;
        transition-property: background;
        transition-duration: 0.6s;
        transition-timing-function: linear;
        span {
          margin: auto;
          display: table;
          margin-top: 7px;
          color: $green;
          font-size: 30px;
          font-family: SourceSansPro-Semibold;
        }
      }
      .point-features {
        width: 85%;
        overflow: hidden;
        float: left;
        h2 {
          font-family: SourceSansPro-Semibold;
          color: $green;
          span {
            font-size: 17px;
            color: #403f3f;
            font-family: fantasy;
            font-weight: bold;
          }
        }
        h3 {
          font-family: SourceSansPro-Bold;
          color: $green;
          span {
            font-size: 15px;
            color: #403f3f;
            font-family: fantasy;
            font-weight: bold;
          }
        }
        p {
          font-size: 17px;
          color: #494949;
          line-height: 27px;
          text-align: justify;
        }
        ul {
          li {
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .landing-page {
    .Excellence {
      margin-bottom: -20px;
      position: relative;
      .space{
        margin-bottom: 0px;
        margin-top: 20px;
      }
      p {
        color: $silverlow;
        margin-top: 10px;
      }
      .img {
        margin-bottom: 20px;
      }
    }
    .title-features {
      margin-bottom: 30px;
      h2 {
        font-size: 20px;
      }
    }
    .triangle-left {
      position: absolute;
      width: 0; 
      height: 0; 
      border-top: 150px solid transparent;
      border-bottom: 150px solid transparent;
      border-right: 150px solid rgba(228, 228, 228, 0.36);
      right: 0px;
      top: 50px;
    }
    .triangle-right {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 150px solid transparent;
      border-bottom: 150px solid transparent;
      border-left: 150px solid rgba(228, 228, 228, 0.36);
      bottom: 50px;
    }
    .features-wrap {
      margin-top: 0;
      position: relative;
      z-index: 1;
      h4 {
        color: $green;
      }
    }
    .show-description {
      display: block;
      visibility: visible;
    }
  }
}

@media screen and (max-width: 654px) {
  .features-for-mobile {
    .content-features {
      .count-features {
        width: 70px;
        height: 70px;
        border: solid 1px #ddd;
        border-radius: 50px;
        float: left;
        padding: 15px;
        margin-right: 20px;
        transition-property: background;
        transition-duration: 0.6s;
        transition-timing-function: linear;
      }
      .point-features {
        width: 80% !important;
        overflow: hidden;
        line-height: 0em;
        float: left;
        h2 {
          font-family: SourceSansPro-Semibold;
          color: $green;
          span {
            font-size: 17px;
            color: #403f3f;
            font-family: fantasy;
            font-weight: bold;
          }
        }
        h3 {
          font-family: SourceSansPro-Bold;
          color: $green;
          span {
            font-size: 15px;
            color: #403f3f;
            font-family: fantasy;
            font-weight: bold;
          }
        }
        p {
          font-size: 12px!important;
          color: #494949;
          line-height: 1.5em;
          text-align: justify;
        }
        ul {
          li {
            font-size: 17px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {

}

@media screen and (max-width: 504px) {
  .features-for-mobile {
    .content-features {
      .count-features {
        width: 70px;
        height: 70px;
        border: solid 1px #ddd;
        border-radius: 50px;
        float: left;
        padding: 15px;
        margin-right: 20px;
        transition-property: background;
        transition-duration: 0.6s;
        transition-timing-function: linear;
      }
      .point-features {
        width: 79% !important;
        overflow: hidden;
        line-height: 0em;
        float: left;
      }
    }
  }
}
@media screen and (max-width: 483px) {
  .features-for-mobile {
    .content-features {
      .count-features {
        width: 70px;
        height: 70px;
        border: solid 1px #ddd;
        border-radius: 50px;
        float: left;
        padding: 15px;
        margin-right: 20px;
        transition-property: background;
        transition-duration: 0.6s;
        transition-timing-function: linear;
      }
      .point-features {
        width: 77% !important;
        overflow: hidden;
        line-height: 0em;
        float: left;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .features-for-mobile {
    .content-features {
      .count-features {
        width: 70px;
        height: 70px;
        border: solid 1px #ddd;
        border-radius: 50px;
        float: left;
        padding: 15px;
        margin-right: 20px;
        transition-property: background;
        transition-duration: 0.6s;
        transition-timing-function: linear;
      }
      .point-features {
        width: 69% !important;
        overflow: hidden;
        line-height: 0em;
        float: left;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .features-for-mobile {
    .content-features {
      .count-features {
        width: 50px;
        height: 50px;
        border: solid 1px #ddd;
        border-radius: 50px;
        float: left;
        padding: 15px;
        margin-right: 20px;
        transition-property: background;
        transition-duration: 0.6s;
        transition-timing-function: linear;
      }
      .point-features {
        width: 70% !important;
        overflow: hidden;
        line-height: 0em;
        float: left;
      }
    }
  }
}