.landing-page {  
  .how-it-works {
    margin-bottom: 50px;
    .content-how-it-works {
      .list-step {
        width: 100%;
        overflow: hidden;
        margin-bottom: 40px;
        padding-top: 20px;
        p{
          font-size: 18px;
          color: #505050;
        }
        h2 {
          font-family: SourceSansPro-Semibold;
          color: $green;
          margin-top: -10px;
        }
        .text-right {
          text-align: right;
        }
        img {
          width: 100%;
        }
      }
    }

    .number {
      font-size: 72px;
      color: #dedede;
      font-family: SourceSansPro-bold;

    }
  }
}

.landing-page {
  .how-it-works {
    .desktop-step {
      visibility: visible;
      display: block;
    }
    .mobile-step {
      visibility: hidden;
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
  .landing-page {
    .how-it-works {
      .desktop-step {
        visibility: visible;
        display: block;
      }
      .mobile-step {
        visibility: hidden;
        display: none;
      }
      .content-how-it-works {
        .list-step {
          margin-bottom: 20px;
          .number {
            font-size: 45px;
          }
          img {
            margin-top: -40px;
            width: 100%;
            margin: auto;
          }
          h2 {
            font-family: SourceSansPro-bold;
            color: #007139;
            margin-top: 0px;
            font-size: 20px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 736px) {

}

@media screen and (max-width: 600px) {
  .landing-page {
    .how-it-works {
      .desktop-step {
        visibility: visible;
        display: block;
      }
      .mobile-step {
        visibility: hidden;
        display: none;
      }
      .content-how-it-works {
        .list-step {
          margin-bottom: 20px;
          .number {
            font-size: 30px;
          }
          img {
            margin-top: -40px;
            width: 100%;
            margin: auto;
          }
          h2 {
            font-family: SourceSansPro-bold;
            color: #007139;
            margin-top: 0px;
            font-size: 20px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .landing-page {
    .how-it-works {
      .desktop-step {
        visibility: hidden;
        display: none;
      }
      .mobile-step {
        visibility: visible;
        display: block;
      }
      .content-how-it-works {
        .list-step {
          margin-bottom: 0px;
          img {
            margin-top: -50px;
            width: 100%;
          }
          h2 {
            font-family: SourceSansPro-bold;
            color: #007139;
            margin-top: 10px;
            font-size: 20px;
          }
          p {
            font-size: 14px;
          }
          .number-mobile {
            display: block;
            visibility: visible;
            font-size: 40px;
            color: #8bc1b2;
            font-family: SourceSansPro-bold;
          }
          .number-desktop {
            display: none;
            visibility: hidden;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 350px) {
}