/*     btn login with facebook & google     */
/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  padding: 7px 10px 10px 30px;
  border: none;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFF;
  width: 100%;
  float: left;
  &:hover, &:focus{
    color: #fff;
  }
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: asset-url('icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: asset-url('icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
  opacity: 0.9;
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
  .form-login {
    height: 100vh;
    padding-top: 170px!important;
    padding-bottom: 100px;
    padding-left: 20px!important;
    padding-right: 20px!important;
    background: rgba(255, 255, 255, 0.82);
  }
  .login7 {
    visibility: visible;
    display: block!important;
  }
}
@media screen and (max-width: 736px) {
  .landing-page {
    .login {
      height: auto!important;
      .form-login {
        height: auto!important;
      }
      .login7 {
        height: auto!important;
        display: none;
        visibility: hidden;
      }
    }
    .login7 {
      height: auto!important;
      display: none;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 600px) {


}
@media screen and (max-width: 550px) {
  .form-login {
    height: 100vh;
    padding-top: 120px;
    padding-bottom: 100px;
    padding-left: 20px!important;
    padding-right: 20px!important;
    background: rgba(255, 255, 255, 0.82);
  }
}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 414px) {
  .landing-page {
    .login {
      height: auto!important;
      .form-login {
        height: 100vh!important;
      }
      .login7 {
        height: auto!important;
        display: none;
        visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .form-login {
    height: 100vh;
    padding-top: 120px!important;
    padding-bottom: 100px;
    padding-left: 20px!important;
    padding-right: 20px!important;
    background: rgba(255, 255, 255, 0.82);
  }
}

