/*   color   */
$green : #00563c;
$greenlow : #62cb31;
$greenhover : #43ad12;
$silverlow : #7b7b7b;
$silverlight : #dedede;
.navbar-base {
  background-color: white!important;
  border-bottom: none!important;
  box-shadow: rgba(0,0,0,0.1) 0 0 9px 0;
  .icon-bar,
  .navbar-toggle:focus .icon-bar {
    background-color: #555!important;
  }
  .menu-responsive {
    a, button, .slash {
      color: #555!important;
      font-size: 12px;
      letter-spacing: 1.5px;
    }
    a:hover, button:hover, .active {
      color: $greenlow!important;
    }
  }
  .active a {
    color: $greenlow!important;
  }
  .logo-color {
    display: none;
  }
  .logo-transparant {
    display: block;
  }
}
.navbar-transparant {
  background-color: transparent!important;
  box-shadow: rgba(0,0,0,0.0) 0 0 0px 0;
  .icon-bar,
  .navbar-toggle:focus .icon-bar {
    background-color: white!important;
  }
  .menu-responsive {
    a, .slash {
      color: white!important;
    }
    a:hover {
      color: $greenhover!important;
    }
  .active a{
    color: $greenhover!important;
  }
  }
  .logo-transparant {
    display: none;
  }
  .logo-color {
    display: block;
  }
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav .open > a, .navbar-nav .open > a:hover, .navbar-nav .open > a:focus {
  color: inherit;
  background: #f7f8fa;
  border-bottom: transparent!important;
}

.landing-page {
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:after {
    color: white;
    background-color: transparent!important;
    border-bottom: 0px;
  }


  .bg-list {
    background: asset-url('bg-list1.png') 50% 0 no-repeat;
    background-size: cover;
    height: 200px;
    z-index: 1;
    position: relative;
    margin-top: -150px;

  }
  .navbar-base {
    min-height: 70px;
    background: $green;
    border-color: #014e37;
    color: white;
    z-index: 4;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    li{
      a {
        color: white;
        font-size: 12px;
      }
    }
    .menu-left {
      margin-left: 30px;
      margin-top: 3px;
    }
    .logo {
      margin-top: 20px;
      height: 30px;
    }
    .login-navbar {
      color:yellow;
    }
    .brand-desc {
      color: white;
    }
    .nav-table {
      margin-top: -2px;
      img {
        margin-right: 5px;
      }
      .menu-profile {
        margin-top: 20px;
        padding-bottom: 0;
        padding-top: 0;
        width: 200px;
        &:before{
          content: '';
          position: absolute;
          top: -10px;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #555;
          clear: both;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
        }
        &:after{
          content: '';
          position: absolute;
          top: -10px;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #fff;
          clear: both;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
        }
        .divider {
          margin-bottom: 0px;
        }
        .li-logout {
          margin-top: 0px;
        }
        a {
          color: #555!important;
          padding: 15px 20px;
          border-bottom: solid 1px #f5f5f5;
          .fa{
            height: 15px;
            width: 15px;
          }
        }
        .btn-logout {
          width: 100%;
          border: 0px;
          text-align: left;
          padding: 15px 20px;
        }
        .btn-logout:hover {
          background-color: #eee;
        }
      }
    }
    li {
      a{
        color: white;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }
      a:hover{
        color: #00de1e;
      }
    }
    .btn-login {
      margin-top: 12px;
    }
    .active {
      a{
        color: #00de1e;
      }
    }
  }
  .navbar-responsive {
    margin-top: 8px;
  }
  .navbar-transparant {
    background-color: transparent;
    border-bottom:0px;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
}

.mobile-menu-profile {
  visibility: hidden;
  display: none;
}
.desktop-menu-profile {
  visibility: visible;
  display: block;
}
@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
  .btn-profile-mobile {
    border:0px;
    padding: 0px;
    margin-top: 19px!important;
  }
  .navbar-default .navbar-toggle {
    border-color: rgba(221, 221, 221, 0);
  }
  .logo {
    height: 20px;
    margin-top: 27px;
  }
  .navbar-transparant {
    .navbar-responsive {
      .menu-responsive {
        margin-top: 0px;
        padding-bottom: 0px!important;
      }
    }
  }
  #color-span {
    background: #797979!important;
  }
  #color-span1 {
    background: white;
  }
  #color-logout {
    color: #555!important;
    letter-spacing: 1.5px;
    font-size: 12px;
  }

  .btn-profile-mobile:hover {
    background-color: transparent;
  }
  body.page-small.show-sidebar #wrapper {
    margin-left: 220px;
  }
  .ss {
    display: none!important;
  }
  .mobile-menu-profile {
    visibility: visible!important;
    display: block;
  }
  .desktop-menu-profile {
    visibility: hidden;
    display: none;
  }
  .btn-logout {
    width: 100%;
    background-color: transparent;
    border: 0px;
    text-align: left;
    color: white;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .btn-logout:hover {
    color: #00de1e;
  }
  .landing-page {
    .login7 {
      display: none;
    }
    .slider {
      h1 {
        margin-bottom: 30px;
        font-size: 30px;
        span {
          font-size: 50px;
        }
      }
      h2 {
        font-size: 20px;
      }
    }
    .btn-menu-header {
      margin-top: 17px;
      .icon-bar {
        background-color: white;
      }
    }
    .btn-menu-header:hover{
      background-color: $green!important;
    }
    .btn-menu-header:focus {
      background-color: $green!important;
    }
    .btn-menu-header:open {
      background-color: $green!important;
    }
    
  }

}
@media screen and (max-width: 736px) {
  .navbar-base {
    .logo {
      margin-left: 20px;
    }
  }
  .navbar-default {
    .navbar-toggle {
      margin-top: 17px;
      .icon-bar {
        background-color: #fff;
      }
    }
  }
  
  .navbar-default {
    .navbar-collapse {
      border-color: transparent!important;
    }
    .navbar-form {
      border-color: transparent!important;
    }
  }
  .navbar-responsive {
    border-color: 0px;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    background: white;
    padding-left: 0px;
    .menu-responsive {
      margin-top: 3px;
      margin-bottom: 15px;
      padding-bottom: 0px;
      margin-left: 0px!important;
      li {
        height: 40px;
        a {
          color: #555!important;
        }
      }
    }
  }
  .navbar-transparant {
    background-color: transparent;
    border-bottom:0px;
    .navbar-responsive {
      border-color: 0px!important;
      .menu-responsive {
        margin-top: 3px;
        padding-bottom: px;
        li {
          height: 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .navbar-base {
    .logo {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 550px) {
  
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 350px) {
}