/*   color   */
$green : #00563c;
$silverlow : #7b7b7b;
$silverlight : #dedede;

.mobile {
	display: none;
}
.desktop {
	display: block;
}
.responsive-border {
	border: 1px solid #e4e5e7!important; 
}
@media screen and (max-width: 1440px) {
	.responsive-image-lp {
		.line-image-list {
			height: 120px;
		}
	}
}
@media screen and (max-width: 1024px) {
	.iframe-youtube {
		height: 250px;
	}
}
@media screen and (max-width: 991px) {
	.logo-publisher {
		height: 25px;
		margin-top: -2px;
	}
	.desktop {
		display: none!important;
	}
	.list-group-coverages__info{
		float: left;
		padding-bottom: 10px;
		.avatar{
			min-width: 80px;
		}
		.action{
			width: 20%;
		}

	}
	.list-group-coverages{
		&__searching-publisher{
			float: left;
			width: 100%;
			margin-bottom: 10px;
		}
		.mobile-searching{
			width: 100%;
			display: inline;
			.btn{
				border-radius: 0px;
				width: 100%;
			}
			select, input{
				margin-bottom: 5px;
			}
		}
	}
	.access-offer{
		&__info{
			.mobile-padding{
				padding-bottom: 10px;
			}
		}
	}
	.btn-message-box{
		width: 100%;
		margin-bottom: 10px;
	}

	.form-search-offers{
		.input-group{
			width: 100%;
			.form-control{
				margin-bottom: 10px;
			}
			.input-group-btn{
				display: inherit;
				width: 100%;
				.btn{
					width: 100%;
				}
			}
		}
	}
	.mobile-margin-bottom-searching{
		margin-bottom: 10px!important;
	}
	.mobile-btn-no-radius{
		border-radius: 0px!important;
	}
	.solicitation{
		.site-copyright{
			text-align: center;
		}
		.footer-menu{
			margin: auto;
			display: table;
			float: inherit;
			margin-top: 20px;
		}
	}
	.landing-page .solicitation .content .logo-cpa{
		margin-top: 0;
	}
}
@media screen and (max-width: 850px) {
}
@media screen and (max-width: 768px) {
	.sidebar-open {
		overflow: visible;
	}
	.responsive-label-status {
		position: absolute;
		right: 5px;
		top: 5px;
		font-size: 12px;
	}
	.iframe-youtube {
		height: 420px;
	}
	.responsive-border {
		border: 1px solid #e4e5e7!important; 
	}
	.responsive-border-top {
		border: none!important;
		border-top: 1px solid #e4e5e7!important; 
	}
	.responsive-border-bottom {
		border: none!important;
		border-top: 1px solid #e4e5e7!important; 
	}
	.responsive-border-top {
		border: none!important;
		border-top: 1px solid #e4e5e7!important; 
	}
	.responsive-border-top-bottom {
		border: none!important;
		border-bottom: solid 1px #e4e5e7!important;
		border-top: solid 1px #e4e5e7!important;
	}
	.responsive-no-panel-body {
		padding: 0px!important;
		border:0px!important;
	}
	.responsive-title-page {
		padding-top: 0px;
		padding-bottom: 10px;
		h2, h3 {
			font-size: 14px;
			font-weight: 600!important;
			line-height: 1.5em;
		}
		p {
			margin-bottom: 0px;
			font-size: 10px;
			margin-top: 4px;
		}
	}
	.responsive-tabel {
		overflow: scroll;
		.responsive-content-tabel {
			width: 950px;
			font-size: 12px;
		}
	}
	.responsive-form-search {
		margin-bottom: 15px!important;
		input, select {
			margin-bottom: 10px;
			padding-left: 10px;
			font-size: 12px;
		}
	}
	.responsive-panel-full {
		padding-left: 0px;
		padding-right: 0px;
		.responsive-hpanel {
			margin-bottom: 10px;
		}
		.nav-tabs > li > a{
			font-size: 10px;
			padding: 8px;
		}
	}
	.responsive-no-border {
		border: none!important;
		.filter-item:last-child {
			border:none;
		}
	}
	.responsive-border-right {
		border-right: solid 1.5px #e4e5e7!important;
	}

	/*---------------------------*/
	/*        Hapnel Count       */
	/*---------------------------*/
	.hpanel-count{
		padding: 10px!important;
		.hpanel{
			margin-bottom: 0;
		}
		.panel-body{
			padding: 10px;
		}
		h4{
			font-size: 11px!important;
		}
		i{
			font-size: 40px;
		}
		.btn-send-message {
			font-size: small;
		}
	}


	/*---------------------------*/
	/*      Table Responsive     */
	/*---------------------------*/
	.responsive-tabel {
		overflow: scroll;
		.responsive-content-tabel {
			width: 950px;
			font-size: 12px;
		}
	}

	/*---------------------------*/
	/*    Responsive Analytic    */
	/*---------------------------*/
	.responsive-panel-analytic {
		margin: auto;
		display: block;
		width: 100%;
		overflow-y: hidden;
		overflow-x: auto;
		.responsive-row-analytic {
			width: 1024px;
			.btn-total-revenue, a, select, .total-revenue,
			.btn-tab-analytic, input, .real-time {
				font-size: 12px!important;
			}
			.btn-search-analytic {
				font-size: 12px!important;
			}
			.btn-export-csv {
				height: 34px;
				padding-top: 7px;
			}
			.btn-total-revenue {
				margin-top: 5px;
			}
			.btn-search-dashboard, .real-time {
				padding-top: 7.5px;
				padding-bottom: 7.5px;
				margin-left: 0px;
			}
			h2 {
				font-size: 20px;
			}
			.btn-search-analytic {
				padding-top: 7.5px;
				padding-bottom: 7.5px;
			}
		}
	}


	/*---------------------------*/
	/*           Navbar          */
	/*---------------------------*/
	.responsive-right-sidebar {
		z-index: 10001!important;
		.responsive-content-right-sidebar {
			h3 {
				font-size: 16px;
			}
			.responsive-title-payment {
				font-size: 12px;
			}
		}
	}
	.mobile-navbar {
		.navbar-nav {
			border-bottom: 0px!important;
		}
	}
	.resposnsive-header{
		z-index: 10000!important;
	}
	.responsive-ul-menu-icon {
		margin-top: -10px;
		border-top: solid 1px #f1f3f6;
		border-bottom: solid 1px #f1f3f6;
	}
	.responsive-menu-icon {
		color: #545454;
	}
	.responsive-menu-icon-publisher {
		width: 55px;
		float: left!important;
		i {
			font-size: 25px;
		}
		.bigmenu {
			padding: 10px 10px 10px 10px!important;
			border-bottom: solid 1px #eee!important;
			a {
				min-width: 115px!important;
				margin: 10px 0px 20px 0;
				i {
					font-size: 40px;
				}
			}
		}
		.responsive-dropdown-menu-icon {
			position: fixed!important;
			top: 110px;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: white!important;
			width: 100%!important;
			min-width: 100%;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
			margin:0px!important;
			font-size: 14px!important;
			.small-list-notofication {
				width: 100%;
				float: left;
			}
			a {
				padding: 5px 10px 5px 10px!important;
				font-size: 12px;
			}
			.text-notification-title {
				i {
					font-size: 13px;
				}
			}
		}
	}


	/*---------------------------*/
	/*       Page Dashboard      */
	/*---------------------------*/
	.responsive-panel-quick-date {
		padding-left: 0px;
		padding-right: 0px;
		.responsive-hpanel {
			margin-bottom: 10px;
			.bg-offers,.quick-date {
				border: none;
				.filter-item:last-child {
					border:none;
				}
				.title-list-offers {
					font-weight: 600;
				}
			}
			h3 {
				font-size: 14px;
				margin-bottom: 10px;
			}
			h5 {
				font-size: 11px;
				color: #36658e!important;
				margin-top: 0px!important;
			}
			small {
				font-size: 10px;
			}
			.responsive-list-offer {
				padding: 8px 0px 8px 0px!important;
				border:none!important;
			}
		}
	}
	/*---------------------------*/
	/*       Page History        */
	/*---------------------------*/
	.responsive-activities {
		.responsive-title-page {
			padding-top: 0px;
			padding-bottom: 10px;
			h2 {
				font-size: 16px;
				font-weight: 600;
			}
		}
		.responsive-content-activities {
			margin-top: 0px!important;
			margin-bottom: 20px;
			.responsive-panel-activities {
				.responsive-timeline-content {
					h2 {
						font-size: 12px;
						text-transform: capitalize;
						font-weight: 600;
					}
					p {
						font-size: 10px;
						text-transform: capitalize;
					}
					.date-activities {
						font-size: 10px;
					}
				}
			}
		}
	}
	.btn-step {
		float: none;
		border-radius: 0px;
		margin-top: 0px;
	}
	.information-step {
		height: inherit;
		.text-info {
			float: left;
			margin-right: 15px;
		}
	}
	.number-step {
		width: 25px;
		position: absolute;
		height: 25px;
		background: #3498db;
		right: 20px;
		top: 0px;
		text-align: center;
		z-index: 1;
		border-radius: 5px 0px;
		color: white;
		font-weight: 600;
		padding-top: 3px;
	}

	/*---------------------------*/
	/*       Page History        */
	/*---------------------------*/
	.responsive-content-offers {
		padding-left: 0px;
		padding-right: 0px;
		.responsive-hpanel {
			margin-bottom: 10px;
			.bg-offers,.quick-date {
				border: none;
				.filter-item:last-child {
					border:none;
				}
				.title-list-offers {
					font-weight: 600;
				}
			}
		}
	}

	/*---------------------------*/
	/*       Page Campaign       */
	/*---------------------------*/
	.content-detail-campaign-publisher, .content-campaign-publisher {
		.respponsive-section-total {
			margin-bottom: 10px;
			.responsive-total {
				float: inherit!important;
				width: 100%;
				.responsive-total-earning {
					width: 60%;
					font-size: 10px;
				}
				.responsive-total-campaign {
					width: 40%;
					font-size: 10px;
				}
			}
		}

		.responsive-list-campaign {
			.list-mobile {
				overflow: hidden;
				width: 100%;
			}
			.data-campaign {
				margin-bottom: 15px!important;
				.link-campaign {
					margin-bottom: 10px;
					margin-top: 10px!important;
				}
				.status-detail-campaign {
					text-align: left;
					label {
						font-size: 10px;
						.label {
							font-size: 8px;
						}
					}
				}
				b {
					font-size: 11px;
					font-weight: 600;
				}
				.last-updated{
					float: left;
				}
				.status-left {
					text-align: left!important;
					font-size: 10px;
				}
			}
			h4 {
				margin-bottom: 2px;
				a {
					font-size: 15px!important;
				}
				small {
					font-size: 10px;
					margin-top: 7px;
				}
			}
			span {
				font-size: 11px;
			}
			.link-input {
				width: 70%!important;
			} 
			.input-link {
				margin-top: 7px;
			}
			input, button, a {
				font-size: 10px!important;
			}
			.responsive-total-value-campaign {
				width: 100%;
				overflow: hidden;
				margin-bottom: 10px;
				.responsive-border-right {
					border-right: 0px!important;
				}
			}
			.colon {
				padding-left: 10px!important;
			}
			.responsive-value {
				padding-left: 10px!important;
				font-weight: 600;
				font-size: 11px;
			}
			.responsive-footer-panel {
				border: 1px solid #ddd;
				border-top: 0px;
			}
		}
		.responsive-detalcampaign-lp {
			.line-image-list {
				height: 150px;
				margin-bottom: 10px;
				position: relative;
			}
		}
	}
	.btn-detail-campaign {
		width: 40px!important;
		height: 37px;
		float: right;
		position: relative;
		padding-top: 9px;
		margin-right: -15px;
		z-index: 1;
		font-size: 10px;
		margin-top: -11px;
		border-radius: 0px !important;
		i {
			font-size: 11px;
		}
	}

  .generate-link-section{
    margin-bottom: 10px;
  }

	/*---------------------------*/
	/*          Page LP          */
	/*---------------------------*/
	.responsive-content-lp {
		.responsive-tools-lp {
			.btn {
				font-size: 12px;
			}
			.responsive-btn-request-lp {
				width: 100%;
				margin-bottom: -10px!important;
				border-radius: 0px;
				padding: 15px;
			}
		}
		.responsive-list-lp {
			.responsive-hpanel {
				margin-bottom: 15px;
				.responsive-image-lp {
					margin-bottom: 20px;
					.line-image-list {
						height: 200px;
						.responsive-status {
							position: absolute;
							right: 20px;
							top: 5px;
						}
					}
				}
				.responsive-content-lp {
					h4 {
						a {
							font-size: 12px!important;
							font-weight: 600;
						}
					}
					.link-campaign {
						margin-top: 4px;
					}
					input, button, a {
						font-size: 10px!important;
					}
					input {
						width: 70%!important;
					}
					p {
						font-size: 10px;
					}
				}
				.responsive-campaign-code {
					float: none!important;
					margin-top: 10px;
				}
				.colon {
					padding-left: 10px!important;
				}
				span {
					font-size: 11px;
				}
				.responsive-value {
					padding-left: 10px!important;
					font-weight: 600;
					font-size: 11px;
				}
				.responsive-footer-panel {
					border: 1px solid #ddd;
					border-top: 0px;
					font-size: 11px!important;
				}
			}
		}
	}
	.new-lp {
		.content-lp {
			.form-lp {
				h4 {
					font-size: 12px;
				}
			}
		}
	}

	.content-detail-lp {
		.line-image {
			height: 170px;
			font-size: 11px;
		}
		h5{
			font-size: 12px;
		}
		b {
			font-size: 12px;
			font-weight: 600!important;
			color: #555;
		}
		p,a {
			font-size: 12px;
		}
		textarea {
			font-size: 12px;
			height: 170px!important;
		}
		.link-campaign{
			overflow-x: scroll;
			width: 310px;
			.scroll-link-campaign {
				font-size: 12px;
				width: 850px;
			}
		}
		hr {
			margin:7px;
		}
		.form-group {
			margin-bottom: 10px;
		}
	}

	/*---------------------------*/
	/*       Page Manager        */
	/*---------------------------*/
	.responsive-manager {
		font-size: 12px;
		min-height: auto!important;
		.responsive-title-page{
			padding: 10px;
			display: none;
		}
		.content-chat{
			padding: 0;
		}
		.chat{
			margin-bottom: 0;
			.hbuilt{
				border: 0;
				border-right: 0;
				border-bottom: solid 1px #e4e5e7;
				border-radius: 0;
			}
		}
		.chat-discussion{
			margin-bottom: 50px;
		}
		.responsive-form-chate {
			color: inherit;
			border: 1px solid #e4e5e7;
			border-top: none;
			font-size: 90%;
			background: #f7f9fa;
			padding: 10px 15px;
			position: fixed;
			bottom: 0px;
			z-index: 1;
		}
		.responsive-about-am {
			h5 {
				margin-top: 10px;
			}
		}
	}
	/*==========================
		Side Comment Publisher
	==========================*/
	.side-all-comments{
		overflow-y: scroll;
		width: 100%;
		&::-webkit-scrollbar {
			width: 0 !important;
		}
		&.fixed{
			top: 70px;
			position: fixed;
		}
		.media{
			img{
				width: 32px;
				height: 32px;
				border-radius: 50%;
				margin-top: 0;
				margin-bottom: 10px;
			}
		}
	}
	.target-notification {
		z-index: 99999!important;
	}
	.btn-show-feed {
		padding: 11px;
		padding-top: 7px;
		padding-bottom: 8px;
		position: fixed;
		top: 55px;
		right: 0px;
		border-left: solid 1px #e4e5e7;
		border-bottom: solid 1px #e4e5e7;
		background: white;
		color: #3498db;
		z-index: 8;

	}
	.btn-show-feed:hover {
		i {
			color:#555!important;
		}
	}
	.btn-close-feed {
		margin-top: 15px;
		margin-left: 15px;
	}
	/*---------------------------*/
	/*        Page Forum         */
	/*---------------------------*/
	.forum-publisher {
		a {
			font-size: 12px;
		}
		.feed-content {
			padding-bottom: 0px;
			.total-like {
				margin-bottom: 16px!important;
				font-size: 10px;
				a {
					font-size: 10px;
				}
			}
		}
	}
	.responsive-forum {
		border: none!important;
		.responsive-btn {
			font-size: 12px;
			width: 100%;
			border-radius: 0px;
		}
		.back-to-discussion {
			width: 100%;
			padding: 10px;
			border-top: 1px solid #e4e5e7;
			background: white;
		}
		.responsive-forum-box {
			.media-image {
				overflow: hidden;
				margin-right: 0px;
				.avatar {
					width: 50px;
					height: 40px;
					img {
						width: 40px;
						height: 40px;
						border-radius: 50%;
					}
				}
			}
			.cover-photo-feed {
				height: 150px;
			}
			.like-feed {
				float: right;
				margin-top: 5px;
				i {
					font-size: 20px;
					color:#dedede;
				}
				i:hover {
					color: #3498db;
				}
			}
			.name-profile {
				text-align: left;
				font-size: 10px;
				margin-left: -20px;
				margin-top: 4px;
				b {
					text-transform: capitalize!important;
				}
				.date-feed {
					margin-top: 5px;
					i {
						font-size: 9px;
						font-weight: bold;
					}
					span {
						font-size: 10px;
						margin-left: 4px;
					}
				}
			}
			.description-feed {
				padding-left: 0px;
			}
			.responsive-description {
				font-size: 12px;
				text-align: justify;
				li {
					text-align: left;
				}
			}
			.forum-comments {
				border-left: none;
				border-right: none;
				padding: 0px;
			}
		}
		.responsive-panel-footer {
			padding-top: 0px!important;
			.responsive-feed-comments {
				.btn-view-more {
					margin-top: 15px!important;
				}
				input {
					font-size: 12px;
				}
				i {
					font-size: 12px;
				}
				.responsive-media-comments {
					margin-top: 10px;
					.media-body {
						b {
							font-size: 10px;
							text-transform: capitalize;
						}
						i {
							font-size: 10px;
							margin-left: 5px;
							margin-right: 1px;
						}
					}
				}
				.social-content {
					font-size: 11px;
				}
			}
		}
	}
	.modal-body-like {
		overflow-y: scroll;
		height: 400px; 
		padding: 10px;
		.list-like-modal {
			border-bottom: solid 1px #eee;
			margin-top: 10px;
			img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				margin-top: 0;
				margin-bottom: 10px;
			}
			.name-liked {
				padding-top: 10px;
				font-size: 10px;
			}
		}
	}

	/*---------------------------*/
	/*         Page Blog         */
	/*---------------------------*/
	.blog-publisher{
		.blog-box{
			p {
				font-size: 12px!important;
			}
		}
	}
	.responsive-blog {
		.blogs {
			.blog-box{
				width: 100%;
				img {
					width:100%;
				}
			}
			.masonry { /* Masonry container */
				column-count: inherit;
				column-gap: inherit;
				.panel-image {
					height: 120px;
				}
				.panel-body {
					font-size: 11px;
					padding:10px;
					h5 {
						font-size: 11px;
					}
				}
				.panel-footer {
					font-size: 11px;
				}
			}

			.item { /* Masonry bricks or child elements */
				display: inline-block;
				width: 100%;
			}
		}
	}

	/*---------------------------*/
	/*         Page Blog         */
	/*---------------------------*/
	.responsive-payment {
		.content-campaign {
			margin-top: 0px;
		}
	}
	.btn-profile-mobile {
		border:0px;
		padding: 0px;
		margin-top: 20px;
	}
	.logo {
		height: 20px;
		margin-top: 27px;
	}
	.landing-page .navbar-default .navbar-toggle:hover, .landing-page .navbar-default .navbar-toggle:focus {
		background: transparent;
	}
	.btn-profile-mobile:hover {
		background-color: transparent;
	}
	body.page-small.show-sidebar #wrapper {
		margin-left: 220px;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
	.btn-logout {
		width: 100%;
		background-color: transparent;
		border: 0px;
		text-align: left;
		color: white;
		padding-left: 15px;
		padding-top: 10px;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.btn-logout:hover {
		color: #00de1e;
	}
	.landing-page {
		.login7 {
			display: none;
		}
		.slider {
			h1 {
				margin-bottom: 10px;
				font-size: 25px;
				span {
					font-size: 50px;
				}
			}
			h2 {
				font-size: 18px;
			}
		}
		.btn-menu-header {
			margin-top: 17px;
			.icon-bar {
				background-color: white;
			}
		}
		.btn-menu-header:hover{
			background-color: transparent!important;
		}
		.btn-menu-header:focus {
			background-color: transparent!important;
		}
		.btn-menu-header:open {
			background-color: transparent!important;
		}
		
	}
	.btn-action-forum{
		.col-xs-6{
			padding: 0;
			.btn{
				width: 100%;
				border-radius: 0;
				font-size: 12px;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.btn-sort {
				border-color: #ffffff!important;
			}
		}
	}

	/*---------------------------*/
	/*           Footer          */
	/*---------------------------*/
	.footer{
		display: none;
	}

	/*---------------------------*/
	/*       Offer Promo         */
	/*---------------------------*/
	.offers{
		.bg-offers{
			min-height: auto;
		}
	}

	/*---------------------------*/
	/*       Normal Header       */
	/*---------------------------*/
	.normalheader{
		h2{
			font-size: 20px;
		}
	}

	/*---------------------------*/
	/*          Invoice          */
	/*---------------------------*/
	.invoice{
		h2{
			font-size: 20px;
		}
	}

	/*---------------------------*/
	/*        Page Header        */
	/*---------------------------*/
	.page-header{
		margin-top: 0;
	}
}
@media screen and (max-width: 600px) {
	.iframe-youtube {
		height: 350px;
	}
	.modal-dialog{
		.modal-header h4 {
			font-size: 14px;
		}
		.modal-body {
			.nav-tabs{
				li a{
					font-size: 11px;
				}
			}
		}
	}
}
@media screen and (max-width: 550px) {
	/*---------------------------*/
	/*          Invoice          */
	/*---------------------------*/
	.invoice{
		h2{
			font-size: 18px;
		}
		table{
			width: 100%;
		}
	}
	.iframe-youtube {
		height: 350px;
	}
	/*=======================
		GROUP FORUM
	=======================*/
	.group-box{
		.panel-body{
			padding: 10px;
		}
		.link-group{
			padding: 10px;
		}
		&__item-header{
			.bg-cover{
				.bg-cover-image{
					height: 100%;
					width: auto;
				}
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.btn-action-forum{
		.col-xs-6{
			padding: 0;
			.btn{
				width: 100%;
				border-radius: 0;
				font-size: 12px;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.btn-sort {
				border-color: #ffffff!important;
			}
		}
	}
	.iframe-youtube {
		height: 300px;
	}
	.count-total{
		margin-top: 0!important;
		h4{
			font-size: 12px;
			font-weight: normal;
		}
	}
	.list-group-coverages__info{
		.avatar{
			display: none;
		}
		.detail{
			width: 80%;
		}
	}
}
@media screen and (max-width: 460px) {
	.vertical-timeline-block{
		.vertical-timeline-content{
			margin-left: 0;
		}
	}
	.iframe-youtube {
		height: 250px;
	}
	.privacy-policy{
	  p{
	    font-size: 14px;
	  }
	}
	.description-faqs .content-description .content-faqs .point-faq ul li {
    font-size: 14px;
	}
}
@media screen and (max-width: 400px) {
	/*---------------------------*/
	/*         Page Blog         */
	/*---------------------------*/
	.responsive-blog {
		.blogs {
			.blog-box{
				width: 100%;
				img {
					width:100%;
				}
			}
			.masonry {
				column-count: inherit;
				column-gap: inherit;
				.panel-image {
					height: 200px;
				}
				.panel-body {
					font-size: 11px;
					padding:10px;
					h5 {
						font-size: 11px;
					}
				}
				.panel-footer {
					font-size: 11px;
				}
			}
			.item {
				display: inline-block;
				width: 100%;
			}
		}
	}
	.landing-page .slider h2{
		font-size: 16px;
	}
}
@media screen and (max-width: 375px) {
	.iframe-youtube {
		height: 200px;
	}
}
@media screen and (max-width: 320px) {
	.iframe-youtube {
		height: 180px;
	}
}