.slider-faqs {
  background: asset-url('about-us.jpg') 50% 0 no-repeat!important;
  background-size: cover!important;
  background-position: center!important;
  height: 350px!important;
  h1 {
    color: white;
    z-index: 2;
    position: relative;
    margin-top: 140px;
    font-family: SourceSansPro-ExtraLight;
    font-size: 40px!important;
    span {
      font-family: SourceSansPro-Bold;
      font-size: 40px!important;
    }
    .text-greenlow {
      font-family: SourceSansPro-Bold;
      font-size: 40px!important;
    }
  }
  .imaginary_container{
    margin-top:20px;
    .stylish-input-group .input-group-addon{
      background: white !important; 
      border-radius:0px 20px 20px 0px;
      position: relative;
      z-index: 3;
      height: 40px;
    }
    .stylish-input-group .form-control{
      border-right:0; 
      box-shadow:0 0 0; 
      border-color:#ccc;
      border-radius:20px;
      margin-left: 17px;
      height: 40px;
      font-size: 16px;
      padding-left: 20px;
      text-transform: capitalize;
    }
    .stylish-input-group button{
      border:0;
      background:transparent;
      border-radius:20px;
    }
  }
}