/*   color   */
$green : #00563c!important;
$silverlow : #7b7b7b;
$silverlight : #dedede;


body {
	font-family: SourceSansPro-Regular;
}
.text-semi-bold {
  font-family: SourceSansPro-Semibold;
}

.no-border-radius {
  border-radius: 0px!important;
}
.gmnoprint a, .gmnoprint span {
  display:none;
}
.gmnoprint div {
  background:none !important;
}
#map {
  width: 100%;
  height: 550px;
}


/*     button     */

.btn-border {
	border: solid 2px white;
	border-radius :50px;
	color: white;
	padding: 10px 20px 10px 20px;
  font-weight: bold;
}
.btn-border:hover {
	border: solid 2px white;
	border-radius :50px;
	background: white;
  color: $green;
  font-weight: bold;
}
.btn-white {
	border: solid 1px white;
	color: #252323;
  font-weight: 600;
  background : rgba(255, 255, 255, 0.78);
	border-radius: 50px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
}
.btn-white:focus, .btn-white:active {
  color: white;
}
.btn-white:hover {
	background: white;
	color: #252323!important;
}

.btn-green {
	background: $green;
	color: white;
	border-radius: 50px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
}
.btn-green:hover {
	background: #003827;
	color: white;
}
.btn-full {
	width: 100%!important;
}

/*     tools     */
.text-green {
	color: $green;
}
.center {
	text-align: center;
}
.no-pading {
	padding: 0px;
}
.no-margin {
	margin: 0px;
}
.font-bold {
	font-family: SourceSansPro-Black;
}
.font-semi-bold {
  font-family: SourceSansPro-Semibold;
}
.slash {
  margin-top: 16px;
}

/*===================
  THANK YOU PAGE
===================*/
#thank-you{
  height: 100vh;
  .content-thank-you{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    .icon-thank-you{
      i{
        color: #08b108;
        font-size: 42px;
      }
    }
    .title-thank-you{
      font-size: 18px;
      color: #828282;
      padding: 10px;
      .your-confirmation{
        color: #9ab998;
        font-size: 14px;
      }
    }
    .body-content-thank-you{
      font-size: 14px;
      color: #000000;
      .confirm{
        font-weight: bold;
        padding: 5px;
      }
    }
  }
}

/*===================
 CONTACT
===================*/
#contact{
  .phone-code {
    width: 20%;
    padding-right: 4px;
  }
  .phone {
    padding-left: 4px;
  }
}

.privacy-policy{
  h3{
    font-family: SourceSansPro-Bold;
    color: #00563c;
    font-size: 24px;
    font-weight: bold;
  }
  p{
    font-size: 17px;
    color: #494949;
  }
}