- link_path = current_user.is_publisher? ? publishers_request_landing_pages_path : account_managers_request_landing_pages_path
- new_link_path = current_user.is_publisher? ? new_publishers_request_landing_page_path : new_account_managers_request_landing_page_path
#wrapper.content-campaign-publisher.content-dashboard.responsive-content-lp
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b Landing Pages (<span class='js-total-collection'>#{@request_landing_pages.total_count}</span>)
				%p All List My #{current_user.is_account_manager? ? 'Publishers' : ''} Landing Pages

	.content.animate-panel.responsive-tools-lp
		.row
			.col-lg-12.m-t-md.content-campaign.responsive-panel-full
				%section{style: 'padding-bottom: 20px; overflow: hidden;'}
					/ - if current_user.is_publisher?
					/ 	= link_to '<i class="pe-7s-note"></i> &nbsp;Request Landing Page'.html_safe, new_link_path, class: 'btn btn-primary responsive-btn-request-lp'
					/ .btn-group.pull-right.btn-chart.desktop{"data-toggle" => "btns"}
					/ 	.btn.btn-default.revenue
					/ 		%b= @request_landing_pages_size
					/ 		&nbsp; LANDING PAGES

				%section
					.hpanel.responsive-form-search.mobile
						.panel-body.responsive-no-border
							= form_for :search, url: link_path, method: 'get', html: {class: 'form-search', remote: true} do
								.col-md-4.no-padding
									= text_field_tag :key, params[:key], class: 'form-control no-border-radius', placeholder: 'Keywords'
								.col-md-4.no-padding
									= select_tag :category_id, options_for_select(CategoryCampaign::CATEGORIES.pluck(:name, :id), params[:category_id]), prompt: 'Select Category Offer', class: 'form-control pull-left no-border-radius mobile-margin-bottom-searching'
								.col-md-4.no-padding
									= select_tag :status, options_for_select(RequestLandingPage::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control no-border-radius'
								.col-md-4.no-padding
									= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker no-border-radius', placeholder: 'Start At'
								.col-md-4.no-padding
									= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker no-border-radius', placeholder: 'End At'
								.col-md-1.no-padding
									= submit_tag :Search, class: 'btn btn-primary no-border-radius btn-block'

					.btn.btn-default.btn-block.revenue.no-border-radius.responsive-no-border.mobile
						%b= @request_landing_pages_size
						&nbsp; LANDING PAGES
					.hpanel.desktop
						.panel-body
							= form_for :search, url: link_path, method: 'get', html: {class: 'form-search', remote: true} do
								.input-group.full
									.col-xs-3.no-padding
										= text_field_tag :key, params[:key], class: 'form-control pull-left no-border-right', placeholder: 'Keywords'
									.col-xs-3.no-padding
										= select_tag :category_id, options_for_select(CategoryCampaign::CATEGORIES.pluck(:name, :id), params[:category_id]), prompt: 'Select Category Offer', class: 'form-control pull-left no-border-radius mobile-margin-bottom-searching'
									.col-xs-2.no-padding
										= select_tag :status, options_for_select(RequestLandingPage::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control no-border-right'
									.col-xs-2.no-padding
										= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker no-border-right', placeholder: 'Start At'
									.col-xs-2.no-padding
										= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker no-border-right',  placeholder: 'End At'
									.input-group-btn
										.col-xs-1.no-padding
											= submit_tag :search, class: 'btn btn-info no-border-radius'
					%br

				%section.responsive-list-lp
					#list-lp
						= render 'publishers/request_landing_pages/lists'
										
	= render 'publishers/shared/footer'