- if @request_landing_pages.blank?
	= render "shared/empty_blank"
- else
	- @request_landing_pages.each_with_index do |resource, index|  
		- link_path = current_user.is_publisher? ? publishers_request_landing_page_path(resource) : account_managers_request_landing_page_path(resource)
		- link_campaign_path = current_user.is_publisher? ? publishers_campaign_path(resource.campaign) : account_managers_campaign_path(resource.campaign)
		.hpanel.data-campaign.responsive-hpanel
			.panel-body.responsive-no-border
				.row
					.col-sm-2.responsive-image-lp
						.line-image-list
							.responsive-status.mobile
								#{resource.status?}
							- if resource.layout_theme.present?
								= link_to link_path do
									.scroll{:style => "background-image: url(#{resource.layout_theme.image.url(:big)});", class: 'theme-cover'}
					.col-sm-6.responsive-content-lp
						- code_and_campaign_title = resource.is_active? ? "(#{resource.code}) #{resource.campaign.title}" : resource.campaign.title
						%h4
							= link_to code_and_campaign_title, link_path
						%small
							= 'Offer: ' + resource.campaign.category_campaign.name
						%br
						- if resource.is_active?
							- if resource.is_campaign_complete?
								%p Offer for this campaign has paused by advertiser and no longer valid
							- else
								%small
									This is your site landing page link
								.input-group.link-campaign
									%input.link-input.no-border-right{value: resource.domain, class: "js-link-target-#{resource.id}"}
									%button.btn.clipboard-btn.no-border-right{"data-clipboard-target" => ".js-link-target-#{resource.id}"}
										%i.fa.fa-copy
									%a.btn.clipboard-btn{href: resource.domain, target: "_blank"}
										%i.fa.fa-share
						- elsif resource.is_reject?
							%br
							.alert.alert-danger
								The domain for your requested landing page has been rejected for some reason, please contact your Manager to ask for more reasons! #{link_to 'KLIK HERE', publishers_managers_path}
						- else
							%p The domain for your requested landing page is not available yet!

						- if current_user.is_account_manager?
							%br
							%p
								%b Publisher: 
								= link_to resource.publisher.username, account_managers_publisher_path(resource.publisher)

					.col-md-4
						.pull-right.desktop
							For Campaign :
							&nbsp;
							%b
								= link_to resource.campaign.code, link_campaign_path

						.responsive-campaign-code.mobile
							%table
								%tr
									%td
										%span
											For Campaign
									%td.colon
										&#58;
									%td
										%span.responsive-value
											= resource.campaign.code
								%tr
									%td
										%span
											Category
									%td.colon
										&#58;
									%td.responsive-value
										#{resource.category_name}

			.panel-footer.desktop
				%i.fa.fa-calendar
				&nbsp; <b>Request time :</b> #{get_datetime(resource.updated_at)} &nbsp; | &nbsp; <b>Status : </b> &nbsp; #{resource.status?} &nbsp; | &nbsp; <b>Category : </b> #{resource.category_name}
				= link_to 'View More'.html_safe, link_path, class: "btn btn-primary detail-campaign"

			= link_to link_path do
				.panel-footer.responsive-footer-panel.responsive-border-top-bottom.mobile
					%i.fa.fa-calendar
					&nbsp;
					#{get_datetime(resource.updated_at)}
					= link_to '<i class="fa fa-eye"></i>'.html_safe, link_path, class: "btn btn-primary btn-detail-campaign pull-right mobile"

	= paginate @request_landing_pages, remote: true

:javascript
		$('.clipboard-btn').click(function(){
				var clipboard = new Clipboard($(this)[0]);
		});
