#wrapper
  .normalheader.small-header
    .hpanel
      .panel-body.responsive-title-page
        %a.small-header-action{:href => ""}
          .clip-header
            %i.fa.fa-arrow-up
        %h3.font-light.m-b-xs
          %b 
            = 'Download LP Cpaground FREE'
  .content.animate-panel.blogs.responsive-panel-full
    .row
      %section
        %iframe{:align => "center", :name => "window", :src => "/lpcpa.pdf", :height => "100vh;", :width => "100%;", :style => "height:100vh; border:0px;"}