$('.js-total-collection').html("<%= @request_landing_pages.total_count %>");
$('#list-lp').html("<%= escape_javascript render partial: 'lists', locals: {request_landing_pages: @request_landing_pages} %>");