#wrapper.new-lp
  .normalheader.small-header
    .hpanel
      .panel-body.responsive-title-page
        %a.small-header-action{:href => ""}
          .clip-header
            %i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital
          %ol.breadcrumb.hbreadcrumb
            = render_breadcrumbs :tag => :li, :separator => ""
        %h2.font-light.m-b-xs
          %b Landing Pages
        %p All list my landing pages

  .content.animate-panel.responsive-panel-full
    .row
      .col-lg-12.m-t-md.content-lp
        = form_for @request_landing_page, url: publishers_request_landing_pages_path, method: 'post', html: { multipart:true } do |f|
          .hpanel
            .panel-body
              %h4 FORM CREATE LANDING PAGE
              %hr
              .form-group
                = f.label :category_landing_page
                = f.select :category_id, options_for_select(CategoryCampaign::CATEGORIES.pluck(:name, :id), @request_landing_page.category_id), {prompt: 'Select Category Landing Page'}, class: 'form-control select-lp select2 js-select_category_id', required: true
              .js-content-lp
  = render 'publishers/shared/footer'

:javascript
  $(document).ready(function() {
    if($('.js-select_category_id').val() != '' && $('.js-select_category_id').val() != 'undefined'){
      $.get('/xhrs/get_campaign?id='+$('.js-select_category_id').val()+"&node=#{params[:campaign_id]}", function(result){
        $('.js-content-lp').html(result);
        $('.select2').select2();
      })
    }
  });