/ Main Wrapper
#wrapper.content-detail-lp
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					- code_and_campaign_title = @request_landing_page.is_active? ? "(#{@request_landing_page.code}) #{@request_landing_page.try(:layout_theme).try(:title)}" : @request_landing_page.try(:layout_theme).try(:title)
					%b= code_and_campaign_title
				%p Your Landing Page
	.content.animate-panel.responsive-panel-full
		.row
			.col-md-6
				.hpanel.hblue.data-campaign
					.panel-body
						.row
							.col-md-12
								.line-image
									.responsive-label-status.mobile
										= @request_landing_page.status?
									.scroll{:style => "background-image: url(#{@request_landing_page.try(:layout_theme).try(:image)});"}
								%br
							.col-md-12
								.form-horizontal
									.form-group
										.col-md-3
											%b Layout Theme
										.col-md-9
											= @request_landing_page.try(:layout_theme).try(:title)
									.form-group
										.col-md-3
											%b Category Name
										.col-md-9
											= @request_landing_page.category[:name]
									.form-group
										.col-md-3
											%b Campaign
										.col-md-9
											= link_to "(#{@request_landing_page.campaign.code}) #{@request_landing_page.campaign.title}", publishers_campaign_path(@request_landing_page.campaign) if @request_landing_page.campaign.present?
									- if @request_landing_page.is_active?
										.form-group
											.col-md-3
												%b Link LP
											.col-md-9
												- if @request_landing_page.is_campaign_complete?
													"-"
												- else
													= link_to @request_landing_page.domain, @request_landing_page.domain, target: "_blank"
									.form-group.desktop
										.col-md-3
											%b Status
										.col-md-9
											= @request_landing_page.status?
									.form-group
										.col-md-3
											%b Created At
										.col-md-9
											= get_datetime(@request_landing_page.created_at)
									.form-group
										- if @request_landing_page.is_active?
											.col-md-3
												%b Actived At
											.col-md-9
												= get_datetime(@request_landing_page.updated_at)

			.col-md-6
				.hpanel.hblue.data-campaign
					.panel-body
						- if @request_landing_page.is_active?
							- if @request_landing_page.is_campaign_complete?
								%p Offer for this campaign has paused by advertiser and no longer valid
							- else
								%h5
									Your Link Landing Page
								.input-group.link-campaign
									%input.link-input.form-control.no-border-right{value: @request_landing_page.domain, class: "js-link-target-#{@request_landing_page.id}"}
									%button.btn.clipboard-btn.no-border-right{"data-clipboard-target" => ".js-link-target-#{@request_landing_page.id}"}
										%i.fa.fa-copy
									%a.btn.clipboard-btn{href: @request_landing_page.domain, target: "_blank"}
										%i.fa.fa-share
								%br
								%h5
									Your Link Campaign
								.input-group.link-campaign
									%input.link-input.form-control.no-border-right{value: @request_landing_page.link_campaign?, class: "js-link-target1-#{@request_landing_page.id}"}
									%button.btn.clipboard-btn.no-border-right{"data-clipboard-target" => ".js-link-target1-#{@request_landing_page.id}"}
										%i.fa.fa-copy
									%a.btn.clipboard-btn{href: @request_landing_page.link_campaign?, target: "_blank"}
										%i.fa.fa-share
								%br
								%h5
									Please Add Script (Google Analytic/Histats)
								= form_for @request_landing_page, url: change_status_publishers_request_landing_page_path, method: 'put' do |f|
									.form-group 
										= f.text_area :track_script, placeholder: 'Enter Track Script', class: 'form-control', required: true, style: 'height:280px;'
									.form-group 
										= submit_tag :save, class: 'btn btn-primary'

						- elsif @request_landing_page.is_reject?
							.alert.alert-danger
								The domain for your requested landing page has been rejected for some reason, please contact your Manager to ask for more reasons! #{link_to 'KLIK HERE', publishers_managers_path}
						- else
							.alert.alert-warning
								The domain for your requested landing page is not available yet!

		