.responsive-tabel
  %table#example1.table.table-bordered.table-striped
    %thead
      %tr
        %th Token
        %th Publisher
        %th AM
        %th Commision (%)
        %th Status
        %th Created At
        %th Updated At
    %tbody
      - if @permission_referral_publishers.blank?
        %tr
          %td{ colspan: "7"} 
            = render "shared/empty_blank"
      - else
        - @permission_referral_publishers.each do |resource|
          %tr
            %td
              = resource.referral_token
            %td
              = link_to resource.publisher.username, admins_publisher_path(resource.publisher)
            %td
              = link_to resource.account_manager.username, admins_account_manager_path(resource.account_manager)
            %td
              = resource.commision
            %td
              = resource.status?
            %td
              = get_datetime(resource.created_at)
            %td
              = get_datetime(resource.updated_at)

= paginate @permission_referral_publishers, remote: true