$('#breadcrumbs').html("<%= escape_javascript render partial: 'shared/admin/breadcrumbs' %>");
$('#js-lists-permission-referral-publishers').html("<%= escape_javascript render partial: 'admins/permission_referral_publishers/lists', locals: {permission_referral_publishers: @permission_referral_publishers} %>");