#breadcrumbs
	= render "shared/admin/breadcrumbs"

%section.content.full-page
	.col-md-12
		.row.search
			.bg-white
				= form_for :search, url: admins_permission_referral_publishers_path, method: 'get', html: {class: 'form-search', remote: true} do
					.input-group.full
						.col-md-4.no-padding
							= text_field_tag :am_username, params[:am_username], class: 'form-control pull-left', placeholder: 'Account Manager Username'
						.col-md-3.no-padding
							= select_tag :status, options_for_select(PermissionReferralPublisher::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control no-border-radius'
						.col-md-2.no-padding
							= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
						.col-md-2.no-padding
							= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
						.col-md-1.no-padding
							= submit_tag :search, class: 'btn btn-info radius-right'

	.row
		.col-xs-12.top-plus
			.box.box-m
				.box-body
					#js-lists-permission-referral-publishers
						= render 'admins/permission_referral_publishers/lists'