@import "bootstrap-sprockets";
@import "bootstrap";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css";

body{
  font-size: 10px;
  .date-invoice{
    margin-top: 20px;
    font-size: 10px;
  }
  .logo{
    width: 300px;
  }
}

.invoice-info{
  .invoice-col{
    float: left;
    width: 33.33%;
  }
}