= f.fields_for :profile do |p|
  / = p.hidden_field :country, value: 'Indonesia'
  .row
    .col-md-6
      .row
        .col-md-12
          %h4 ACCOUNT
          %hr
        .col-md-6
          .form-group
            = f.label :username
            = f.text_field :username, placeholder: "Enter username", class: 'form-control', required: true
        .col-md-6
          .form-group
            = f.label :email
            = f.email_field :email, placeholder: "Enter email", class: 'form-control', required: true
        .col-md-6
          .form-group
            = f.label :password
            = f.password_field :password, placeholder: "Enter password", class: 'form-control'
        .col-md-6
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, placeholder: "Enter password confirmation", class: 'form-control'
        .col-md-12
          .form-group
            = f.label :phone
            .row
              .col-xs-3
                .no-right
                  = f.select :phone_code, get_phone_codes, {prompt: 'Code'}, class: 'form-control', required: true
              .col-xs-9
                = f.text_field :phone, placeholder: "Phone Number", class: 'form-control', required: true
        .col-md-6
          .form-group
            = f.label :skype
            = f.text_field :skype, placeholder: "Enter skype", class: 'form-control'
        .col-md-6
          .form-group
            = f.label :facebook_url
            = f.text_field :facebook_url, placeholder: "Enter facebook url", class: 'form-control', required: true
        .col-md-12
          .form-group
            %label Number KTP/ID Card
            = f.text_field :id_card, class: "form-control", placeholder: "KTP/ID Card Must Valid", required: true
        .col-md-6
          .form-group
            %label Photo KTP/ID Card
            .card1
              = image_tag f.object.foto_id_card, class: 'img img-thumbnail'
              %br
              = f.file_field :foto_id_card
        .col-md-6
          .form-group
            %label Selfie With Your KTP/ID Card
            .card2
              = image_tag f.object.selfi_id_card, class: 'img img-thumbnail'
              %br
              = f.file_field :selfi_id_card
        .col-md-12
          %h4 PAYMENT METHOD
          %hr
        .col-md-6
          .form-group
            = p.label :choice_payment_type
            = p.select :choice_payment_type, options_for_select(Profile::CHOICE_PAYMENT_TYPE, p.object.choice_payment_type), {prompt: 'Select choice payment type'}, class: 'form-control choice_payment_type_select'
        .field-acc-payment
          .col-md-6.acc-paypal
            .form-group
              = p.label :acc_paypal
              = p.text_field :acc_paypal, placeholder: "Enter Account Paypal", class: "form-control"
          .col-md-6.acc-payoneer
            .form-group
              = p.label :acc_payoneer
              = p.text_field :acc_payoneer, placeholder: "Enter Account Payoneer", class: "form-control"
          .acc-bank
            .col-md-6
              .form-group
                = label_tag "Bank Name (ex. BCA)"
                = p.select :bank_name, options_for_select(Profile::CHOICE_BANK_NAME, p.object.bank_name), {prompt: 'Select bank name'}, class: 'form-control'
            .col-md-6
              .form-group
                = label_tag "Account Number (ex. 123456)"
                = p.text_field :acc_bank, placeholder: "ex.Account Number", class: "form-control"
            .col-md-6
              .form-group
                = label_tag "Account Name (ex. cpaground)"
                = p.text_field :acc_name, placeholder: "ex.Account Name", class: "form-control"
        .col-md-12
          %h4 PROFILE
          %hr
        .col-md-6
          .form-group
            = p.label :first_name
            = p.text_field :first_name, placeholder: "Enter First Name", class: "form-control"
        .col-md-6
          .form-group
            = p.label :last_name
            = p.text_field :last_name, placeholder: "Enter Last Name", class: "form-control"
        / .col-md-6
        /   .form-group
        /     = p.label :province
        /     = p.select :province, options_for_select(get_province, @publisher.profile.province), {prompt: 'Select Province'}, class: 'form-control provinces_select', 'data-node' => "publisher[profile_attributes]"
        / .col-md-6
        /   .form-group
        /     = p.label :city
        /     - cities = @publisher.profile.city ? get_cities(@publisher.profile.province) || [] : Region.none rescue []
        /     .city-container
        /       = p.select :city, options_for_select(cities, @publisher.profile.city), {prompt: 'Select City'}, class: 'form-control'
        .col-md-6
          .form-group
            = p.label :country
            = p.country_select :country, ["Indonesia"], options = {prompt: 'Select Country'}, html_options = {class: "form-control"}
        .col-md-6
          .form-group
            = p.label :city
            = p.text_field :city, class: 'form-control', placeholder: 'Your City'
        .col-md-12
          .form-group
            = p.label :address
            = p.text_field :address, placeholder: "Enter Address", class: "form-control"
        .col-md-12
          .form-group
            = p.label :zip_code
            = p.text_field :zip_code, placeholder: "Enter Zip Code", class: "form-control"
        .col-md-12
          = p.hidden_field :latitude, class: 'latitude'
          = p.hidden_field :longitude, class: 'longitude'
          %input#pac-input.controls{placeholder: "Tentukan Lokasi Persis Anda", type: "text"}
          #map
          #infowindow-content
            %span#place-name.title
            %br
            Place ID
            %span#place-id
            %br
            %span#place-address

    .col-md-6
      .form-group
        .photo-profile
          %img.img-thumbnail{ src: asset_path(@publisher.avatar) }
          %br
          = f.file_field :avatar
          = f.hidden_field :avatar_cache
          

= render 'admins/publishers/js_set_geo_map'

:javascript
  function checkAccPayment(){
    choice_payment_type = document.getElementById("publisher_profile_attributes_choice_payment_type").value;

    if(choice_payment_type == '1'){
      $('.field-acc-payment .acc-payoneer').appendTo('.content-footer');
      $('.acc-payoneer').hide();
      $('.field-acc-payment .acc-bank').appendTo('.content-footer');
      $('.acc-bank').hide();
      $('.acc-paypal').appendTo('.field-acc-payment');
      $('.acc-paypal').show();
    }else if(choice_payment_type == '2'){
      $('.field-acc-payment .acc-paypal').appendTo('.content-footer');
      $('.acc-paypal').hide();
      $('.field-acc-payment .acc-bank').appendTo('.content-footer');
      $('.acc-bank').hide();
      $('.acc-payoneer').appendTo('.field-acc-payment');
      $('.acc-payoneer').show();
    }else if(choice_payment_type == '3'){
      $('.field-acc-payment .acc-paypal').appendTo('.content-footer');
      $('.acc-paypal').hide();
      $('.field-acc-payment .acc-payoneer').appendTo('.content-footer');
      $('.acc-payoneer').hide();
      $('.acc-bank').appendTo('.field-acc-payment');
      $('.acc-bank').show();
    }else{
      $('.field-acc-payment .acc-paypal').appendTo('.content-footer');
      $('.acc-paypal').hide();
      $('.field-acc-payment .acc-payoneer').appendTo('.content-footer');
      $('.acc-payoneer').hide();
      $('.field-acc-payment .acc-bank').appendTo('.content-footer');
      $('.acc-bank').hide();
    }
  }

  $(document).ready(function() {
    checkAccPayment();

    $(document).on('change', '.choice_payment_type_select', function() {
      checkAccPayment();
    });

    $(".card1").find("input[type='file']").on('change', function(index){
      if($(this).length){
        previewFile(this, $('.card1 img'));
      }
    });

    $(".card2").find("input[type='file']").on('change', function(index){
      if($(this).length){
        previewFile(this, $('.card2 img'));
      }
    });


  });