= form_for :multiple, url: multiple_action_admins_campaigns_path, method: 'get' do
  / = submit_tag Campaign::ACTIVE, value: Campaign::ACTIVE, class: 'btn btn-sm btn-default no-radius'
  / = submit_tag Campaign::PENDING, value: Campaign::PENDING, class: 'btn btn-sm btn-default no-radius'
  = submit_tag Campaign::INACTIVE, value: Campaign::INACTIVE, class: 'btn btn-sm btn-default no-radius'
  = submit_tag Campaign::COMPLETE, value: Campaign::COMPLETE, class: 'btn btn-sm btn-default no-radius'
  .responsive-tabel
    .responsive-content-tabel
      %table#example1.table.table-bordered.table-striped.tabel-width1
        %thead
          %tr
            %th
              = check_box_tag :check_all
            %th Code
            %th Admin
            %th AM
            %th Title
            %th Link
            %th Link Campaign
            %th Status
            %th Created At
            %th{width: '70px'} Action
        %tbody
          - if @campaigns.blank?
            %tr
              %td{ colspan: "10"}
                = render "shared/empty_blank"
          - else
            - @campaigns.each_with_index do |resource, index|  
              %tr
                %td
                  = check_box_tag 'ids[]', resource.id
                %td
                  = resource.code
                %td
                  - if resource.admin.present?
                    = link_to resource.try(:admin).try(:username), admins_admin_path(resource.try(:admin))
                  - else
                    = "---"
                %td
                  - if resource.account_manager.present?
                    = link_to resource.try(:account_manager).try(:username), admins_account_manager_path(resource.try(:account_manager))
                %td
                  = resource.title
                %td
                  = resource.link
                %td
                  = resource.tracking_code
                %td
                  = resource.status?
                %td
                  = get_datetime(resource.created_at)
                %td
                  = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_campaign_path(resource), class: 'btn btn-default btn-xs'
                  = link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_campaign_path(resource), class: 'btn btn-default btn-xs' if current_user.is_admin?
= paginate @campaigns, remote: true, param_name: "page_campaigns"