.responsive-tabel
  .responsive-content-tabel
    %table#example1.table.table-bordered.table-striped.tabel-width2
      %thead
        %tr
          %th No.
          %th Admin
          %th Account Manager
          %th Message
          %th Status
          %th Created At
      %tbody
        - if @verification_snapshots.blank?
          %tr
            %td{ colspan: "6"}
              = render "shared/empty_blank"
        - else
          - @verification_snapshots.each_with_index do |resource, index|  
            %tr
              %td
                = index+1
              %td
                = link_to resource.admin.username, admins_admin_path(resource.admin)
              %td
                - if resource.account_manager.present?
                  = link_to resource.try(:account_manager).try(:username), admins_account_manager_path(resource.try(:account_manager).try(:username))
                - else
                  '--'
              %td
                = resource.message
              %td
                = resource.status?
              %td
                = get_datetime(resource.created_at)
= paginate @verification_snapshots, remote: true, param_name: "page_verification_snapshots"