- if list_reports.present?
  .col-md-12
    .responsive-tabel
      .responsive-content-tabel
        %table#example1.table.table-bordered.table-striped.tabel-width2
          %thead
            %tr
            %th
              Campaign Title
            %th Admin
            = render 'shared/analytics/thead_table_analytic'
          %tbody
            - list_reports.each_with_index do |resource, index|
              %tr
                %td
                  = link_to Campaign.find_by(id: resource[0]).title, admins_campaign_path(resource[0])
                %td
                  - admin = Admin.find resource[3]
                  = link_to admin.username, admins_admin_path(admin)
                %td
                  = resource[4]
                %td
                  = resource[5]
                %td
                  = resource[6]
                %td
                  = resource[7]
                %td
                  = resource[8]
                %td
                  = get_currency(resource[9])
    = paginate list_reports, remote: true, param_name: "#{list_report_by}"
- else
  = render "shared/empty_blank"