.responsive-tabel
	.responsive-content-tabel
		%table#example1.table.table-bordered.table-striped.tabel-width1
			%thead
				%tr
					%th No.
					%th Invoice
					%th Admin
					%th Earnings Publisher
					%th Fee AM
					%th Total
					%th Payment at
					%th Payment end
					%th Created At
					%th Status
					%th Action
			%tbody
				- if @payment_commisions.blank?
					%tr
						%td{ colspan: "11"}
							= render "shared/empty_blank"
				- else
					- @payment_commisions.each_with_index do |resource, index|  
						%tr
							%td
								= index+1
							%td
								= resource.code
							%td
								= link_to resource.try(:admin).try(:username), admins_admin_path(resource.try(:admin))
							%td
								= get_currency(resource.price)
							%td
								= get_currency(resource.fee_am)
							%td
								= get_currency(resource.total)
							%td
								= date_sort_time(resource.payment_at)
							%td
								= date_sort_time(resource.payment_end)
							%td
								= get_datetime(resource.created_at)
							%td
								= resource.status?
							%td
								= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_payment_commision_path(resource), class: 'btn btn-default btn-xs'
								= link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_payment_commision_path(resource), class: 'btn btn-default btn-xs' if current_user.is_admin?
= paginate @payment_commisions, remote: true, param_name: "page_payment_commisions"