.row
	.col-md-12
		%a{ href: "#{list_email_admins_publishers_url}?export=true&#{request.fullpath.split("?")[1]}", class: 'btn btn-info btn-block'}
			Get Email All Publishers

.responsive-tabel
	%table#example1.table.table-bordered.table-striped.tabel-width1
		%thead
			%tr
				%th ID
				%th KTP
				%th Username
				%th Email
				%th FB
				%th AM
				%th{ width: "100px"} Last Payment
				%th Ongoing
				%th Status
				%th{ width: "170px"} Created At
				%th{width: '120px'} Action
		%tbody
			- if @publishers.blank?
				%tr
					%td{ colspan: "11"} 
						= render "shared/empty_blank"
			- else
				- @publishers.each_with_index do |resource, index| 

					%tr
						%td
							= resource.id
						%td
							= resource.id_card
						%td
							= resource.username
						%td
							= resource.email
						%td
							- if resource.facebook_url.present?
								= link_to "<i class='fa fa-facebook-official' aria-hidden='true'></i>".html_safe, resource.facebook_url, target: "_blank"
							- else
								= "---"
						%td
							- if resource.account_manager.present?
								= link_to resource.try(:account_manager).try(:username), admins_account_manager_path(resource.try(:account_manager))
							- else
								= "---"
						%td
							= get_currency_full(get_payment('last_payment', resource))
						%td
							= get_currency_full(get_payment('ongoing_payment', resource))
						%td
							= resource.status?
						%td
							= get_datetime(resource.created_at)
						%td
							= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_publisher_path(resource), class: 'btn btn-default btn-xs'
							&nbsp;
							= link_to "<i class='fa fa-line-chart' aria-hidden='true'></i>".html_safe, detail_report_admins_publisher_path(resource), class: 'btn btn-default btn-xs' if current_user.is_admin?
							&nbsp;
							= link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_publisher_path(resource), class: 'btn btn-default btn-xs' if current_user.is_admin?
= paginate @publishers, remote: true

:javascript
	$('.responsive-tabel').doubleScroll();