/ Main Wrapper
#wrapper.detail-report
	.normalheader.top-header
		.panel
			.panel-body
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b #{@publisher.username.titleize} Report Campaigns
				%p 
					This report is all #{@publisher.username.titleize}'s belongs. 
					= link_to "Back to detail publisher", admins_publisher_path(@publisher)
	.content.full-page.top-min
		.row
			.count-total
				.col-md-9
					.box.box-m.box-default.estimate-earnings
						.box-footer
							.row
								.col-md-12
									%h3 Estimated Earnings
								.col-xs-3
									.description-block
										%h3.text-success
											= get_currency(@earning_today_so_far)
										%small Today so far    
								.col-xs-3
									.description-block
										%h3.text-success
											= get_currency(@earning_yesterday)
										%small Yesterday
								.col-xs-3
									.description-block
										%h3.text-success
											= get_currency(@earning_last_7_month)
										%small Last 7 days
								.col-xs-3
									.description-block
										%h3.text-success
											= get_currency(@earning_this_month)
										%small This month
								
				.col-md-3
					.box.box-m.box-default.estimate-earnings
						.box-footer
							.row
								.col-md-12
									%h3 Balance
								.col-md-12
									%h3.text-success 
										= get_currency(@_last_payment)
									%small Last Payment

			.col-lg-12.m-t-md.content-campaign
				%ul.nav.nav-tabs
					%li
						%a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab-1"} 
							%i.fa.fa-table
							&nbsp; Reports Convertion
					%li.active
						%a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab-2"} 
							%i.fa.fa-line-chart
							&nbsp; Analytic Campaign

				= form_for :select_date, url: detail_report_admins_publisher_path(@publisher), method: 'get', remote: true, html: {class: 'js-form-submit'} do
					.tab-content.no-padding-m.background-white
						#tab-1.tab-pane
							.panel-body
								#table-list-report_campaign_snapshots
									= render 'publishers/campaigns/am_list_report_campaign_snapshots', report_campaign_snapshots: @report_campaign_snapshots, report_for: 'publisher'

						#tab-2.tab-pane.active
							.panel-body.responsive-panel-analytic
								.row.responsive-row-analytic
									.col-xs-6
										.simple-search
											.input-group.js-field-search
												= render 'shared/analytics/field_search'
									.col-xs-6
										#btn-group-analytic
											= render 'admins/campaigns/btn_group_analytic'
									.col-xs-12
										.btn-group.pull-right.btn-chart
											%button.btn.btn-default.btn-total-revenue
												Total Earnings :
												%span.total-revenue #{get_currency(@reports_total_revenue)}
									.col-xs-12
										#the-report-analytics
											= render "shared/analytics/analytic", report_for: 'publisher'