= render "shared/admin/breadcrumbs"

%section.content.full-page
	.row
		.col-md-12
			.box.box-m
				.box-header
					%h3.box-title
						= @collection_name
					= link_to 'Back To List', admins_publishers_path, class: 'btn btn-info btn-xs pull-right'
					%hr
				.box-body
					= form_for @publisher, url: admins_publisher_path, method: 'put' do |f|
						= render 'form', f: f
						= submit_tag "Update", class: "btn btn-info"
				.content-footer