#breadcrumbs
	= render "shared/admin/breadcrumbs"
	
%section.content.full-page
	.row
		.bg-white
			.col-md-10.search
				= form_for :search, url: admins_publishers_path, method: 'get', html: {class: 'form-search', remote: true} do
					.input-group.full
						.col-md-2.no-padding
							= text_field_tag :key, params[:key], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
						.col-md-1.no-padding
							= text_field_tag :user_id, params[:user_id], class: 'form-control pull-right radius-left', placeholder: 'Publisher Id'
						.col-md-1.no-padding
							= text_field_tag :manager_id, params[:manager_id], class: 'form-control pull-right radius-left', placeholder: 'AM Id'
						.col-md-2.no-padding
							= select_tag :last_payment, options_for_select([["All Last Payment", ""], ["Has Last Payment", true], ["Has not Last Payment", false]], params[:last_payment]), class: 'form-control'
						.col-md-1.no-padding
							= select_tag :status, options_for_select([["All Status", ""], ["Active", true], ["Inactive", false], ["Suspended", 'suspended']], params[:status]), class: 'form-control'
						.col-md-2.no-padding
							= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
						.col-md-2.no-padding
							= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
						.col-md-1.no-padding
							= submit_tag :Search, class: 'btn btn-info radius-right'
		.col-md-2
			.btn-search-admin.js-button-export
				= render 'shared/admin/button_export'
			
	.row
		.col-xs-12.top-plus
			.box.box-m
				.box-body
					#table-lists
						= render 'admins/publishers/lists'