<table border="1">
  <caption>LIST PUBLISHERS</caption>
  <tr>
    <th>No</th>
    <th>ID</th>
    <th>KTP</th>
    <th>Username</th>
    <th>Email</th>
    <th>Account Manager</th>
    <th>Phone</th>
    <th>Skype</th>
    <th>Status</th>
    <th>Payment Method</th>
    <th>Payment ACC</th>
    <th>Last Payment</th>
    <th>Created at</th>
  </tr>
  <% @total_publishers.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:id) %></td>
    <td><%= resource.try(:id_card) %></td>
    <td><%= resource.try(:username) %></td>
    <td><%= resource.try(:email) %></td>
    <td><%= resource.account_manager ? resource.account_manager.username : "-"  %></td>
    <td><%= resource.try(:phone) %></td>
    <td><%= resource.try(:skype) %></td>
    <td><%= resource.status? %></td>
    <td><%= resource.profile.get_payment_type %></td>
    <td><%= resource.profile.payment_acc %></td>
    <td><%= get_currency_full(get_payment('last_payment', resource)) %></td>
    <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
  </tr>
  <% end %>
</table>