#breadcrumbs
	= render "shared/admin/breadcrumbs"
	
%section.content.full-page
	.row
		.col-md-12
			.box.box-m
				.box-body
					%h3 Total Email (#{@publishers.count})
					- @publishers.each do |resource|
						= resource.email+", "