$('#table-list-payment_snapshots').html("<%= escape_javascript render partial: 'list_payment_snapshots', locals: {payment_snapshots: @payment_snapshots} %>");
$('#table-list-verification_snapshots').html("<%= escape_javascript render partial: 'list_verification_snapshots', locals: {verification_snapshots: @verification_snapshots} %>");
$('#table-list-campaigns').html("<%= escape_javascript render partial: 'list_campaigns', locals: {campaigns: @campaigns} %>");
$('#table-list-activities').html("<%= escape_javascript render partial: 'list_activities', locals: {activities: @activities} %>");
$('#table-list-request-landing-pages').html("<%= escape_javascript render partial: 'list_request_landing_pages', locals: {request_landing_pages: @request_landing_pages} %>");
<% if @publisher.have_link_referral? %>
  $('#table-list-referral-publishers').html("<%= escape_javascript render partial: 'account_managers/permission_referral_publishers/list_referral_publishers', locals: {referral_publishers: @referral_publishers} %>");
  $('#table-list-commisions').html("<%= escape_javascript render partial: 'publishers/commisions/lists', locals: {commisions: @commisions} %>");
  $('#table-list-payment-commisions').html("<%= escape_javascript render partial: 'admins/publishers/list_payment_commisions', locals: {payment_commisions: @payment_commisions} %>");
<% end %>