= render "shared/admin/breadcrumbs"
	
%section.content.full-page
	.row
		.col-xs-12
			.box.box-m
				.box-header
					%h3.box-title
						Data publisher &nbsp;
					= link_to "<i class='fa fa-line-chart' aria-hidden='true'></i> Repots".html_safe, detail_report_admins_publisher_path(@publisher), class: "btn btn-default btn-xs"
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_publishers_path, class: "btn btn-info btn-xs"
						&nbsp;
						= link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_admins_publisher_path(@publisher), class: "btn btn-default btn-xs" if current_user.is_admin?
					%hr
				.box-body
					.show-publisher
						.col-md-2
							.photo-profile
								= image_tag @publisher.avatar
							- if @publisher.suspended?
								.status-suspended
									= @publisher.status?
									.well{ style: "text-align: justify;"}
										= @publisher.suspended_message
						.col-md-6
							.form-horizontal
								.row
									.form-group
										.col-md-12
											%h4 ADMIN
											%hr
									.form-group
										.col-md-3
											%b Username
										.col-md-9
											- if @publisher.admin.present? 
												= link_to @publisher.try(:admin).try(:username), admins_admin_path(@publisher.admin)
											- else
												= '--'
									.col-md-12
										.form-group
											%h4 ACCOUNT MANAGER
											%hr
									.form-group
										.col-md-3
											%b Username
										.col-md-9
											- if @publisher.account_manager.present? 
												= link_to @publisher.try(:account_manager).try(:username), admins_account_manager_path(@publisher.account_manager)
											- else
												= '--'

									.form-group
										.col-md-12
											%h4 REFERRAL
											%hr
									.form-group
										.col-md-3
											%b Username
										.col-md-9
											- if @publisher.referral_am?
												= link_to @publisher.try(:referral), admins_account_manager_path(@publisher.referral)
											- else
												= @publisher.referral.blank? ? '--' : @publisher.referral
									
									.form-group
										.col-md-12
											%h4 ACCOUNT
											%hr
									.form-group
										.col-md-3
											%b Username
										.col-md-9
											= @publisher.username
									.form-group
										.col-md-3
											%b Email
										.col-md-9
											= @publisher.email
									.form-group
										.col-md-3
											%b Phone
										.col-md-9
											= @publisher.get_phone_number
									.form-group
										.col-md-3
											%b Skype
										.col-md-9
											= @publisher.skype.present? ? @publisher.skype : "---"
									.form-group
										.col-md-3
											%b Facebook Url
										.col-md-9
											- if @publisher.facebook_url.present?
												= link_to @publisher.facebook_url, @publisher.facebook_url
											- else
												= "---"
									.form-group
										.col-md-3
											%b Status
										.col-md-9
											= @publisher.status?
									.form-group
										.col-md-3
											%b Created at
										.col-md-9 
											= get_datetime(@publisher.created_at)
									.form-group
										.col-md-3
											%b Number KTP/ID Card
										.col-md-9 
											= @publisher.id_card
									.form-group
										.col-md-3
											%b Photo KTP/ID Card
										.col-md-9
											.card1 
												= image_tag @publisher.foto_id_card.url
									.form-group
										.col-md-3
											%b Selfie With Your KTP/ID Card
										.col-md-9
											.card2
												= image_tag @publisher.selfi_id_card.url
								
									.form-group
										.col-md-12
											%h4 PAYMENT METHOD
											%hr
									.form-group
										.col-md-3
											%b Payment Type
										.col-md-9
											= @profile.choice_payment_type.present? ? @profile.get_payment_type : '-'
									.form-group
										.col-md-3
											%b= @profile.choice_payment_type.present? ? @profile.get_payment_type : '-'
										.col-md-9
											= @profile.choice_payment_type.present? ? @profile.payment_acc : '-'

									.form-group
										.col-md-12
											%h4 REFERRAL INFORMATION
											%hr
									.form-group
										.col-md-3
											%b Referral Token
										.col-md-9
											= @publisher.referral_token || "--"
									.form-group
										.col-md-3
											%b Referral Publisher
										.col-md-9
											= @publisher.referral_publisher || "--"
									.form-group
										.col-md-3
											%b Referral Status
										.col-md-9
											= @publisher.referral_status?
								
									.form-group
										.col-md-12
											%h4 PROFILE
											%hr
									.form-group
										.col-md-3
											%b Fullname
										.col-md-9 
											= @profile.full_name.present? ? @profile.full_name : '-'
									.form-group
										.col-md-3
											%b Address
										.col-md-9 
											= @profile.place_info.present? ? @profile.place_info : '-'
									.form-group
										.col-md-12
											%b Location
									.form-group
										.col-md-12
											#map

						.col-md-4.no-padding-m
							- if current_user.is_admin?
								.well
									%h4 Activate this account?
									- if @publisher.confirmed?
										- flag = @publisher.is_verified? ? true : false
										= form_for @publisher, url: change_status_admins_publisher_path, method: 'put' do |f| 
											.form-group 
												= f.label 'Status' 
												= f.select :verified, [[VerificationSnapshot::INACTIVE, false], [VerificationSnapshot::ACTIVE, true]], {prompt: 'Select Status'}, class: 'form-control', required: true
											.form-group 
												= label_tag "Admin"
												= f.select :admin_id, options_for_select(get_admins.map{|admin| [admin.username, admin.id]}, @publisher.admin_id), {prompt: 'Select Admin'}, class: 'form-control select2', required: true, disabled: flag
											.form-group 
												= label_tag "Account Manager"
												= f.select :account_manager_id, options_for_select(get_account_managers.map{|am| [am.username, am.id]}, @publisher.account_manager_id), {prompt: 'Select Account Manager'}, class: 'form-control select2', required: true, disabled: false
											.form-group 
												= submit_tag :change, class: 'btn btn-info'
									- else
										= @publisher.status?

							= render "admins/panel_last_payment"

							= render "admins/panel_last_payment_commision" if @publisher.have_link_referral?
							
			.col-md-12
				.row
					.exTab
						.scroll-tab
							%ul.nav.nav-tabs
								%li.active
									%a{"data-toggle" => "tab", :href => "#1"} Payment Histories
								%li
									%a{"data-toggle" => "tab", :href => "#2"} Verification Stories
								%li
									%a{"data-toggle" => "tab", :href => "#3"} Campaigns
								%li
									%a{"data-toggle" => "tab", :href => "#4"} Request Landing Pages
								%li
									%a{"data-toggle" => "tab", :href => "#5"} Activities
								- if @publisher.have_link_referral?
									%li
										%a{"data-toggle" => "tab", :href => "#6"} Referral Publishers
									%li
										%a{"data-toggle" => "tab", :href => "#7"} Commisions
									%li
										%a{"data-toggle" => "tab", :href => "#8"} Payment Commisions
						.tab-content.background-white
							#1.tab-pane.active
								- if @payment_snapshots.present?
									.show-pulishers.search
										%h2{align: 'center'} Payment Histories
										%br
										= form_for :search, url: admins_publisher_path(@publisher), method: 'get', html: {class: 'form-search', remote: true} do
											.input-group.full
												.col-md-3.no-padding
													= text_field_tag :key_payment_snapshots, params[:key_payment_snapshots], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
												.col-md-2.no-padding
													= select_tag :category_payment_snapshots, options_for_select(PaymentSnapshot::CATEGORIES, params[:category_payment_snapshots]), prompt: 'Select Category', class: 'form-control'
												.col-md-3.no-padding
													= text_field_tag :start_at_payment_snapshots, nil, value: params[:start_at_payment_snapshots], class: 'form-control datepicker', placeholder: 'Start At'
												.col-md-3.no-padding
													= text_field_tag :end_at_payment_snapshots, nil, value: params[:end_at_payment_snapshots], class: 'form-control datepicker',  placeholder: 'End At'
												.col-md-1.no-padding
													= submit_tag :search, class: 'btn btn-info radius-right'
										#table-list-payment_snapshots
											= render 'admins/publishers/list_payment_snapshots'
								- else
									= render "shared/empty_blank"
							
							#2.tab-pane
								- if @verification_snapshots.present?
									.show-pulishers.search
										%h2{align: 'center'} Verification stories
										%br
										= form_for :search, url: admins_publisher_path(@publisher), method: 'get', html: {class: 'form-search', remote: true} do
											.input-group.full
												.col-md-3.no-padding
													= text_field_tag :key_verification_snapshots, params[:key_verification_snapshots], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
												.col-md-2.no-padding
													= select_tag :status_verification_snapshots, options_for_select(VerificationSnapshot::STATUSES, params[:status_verification_snapshots]), prompt: 'Select Status', class: 'form-control pull-left'
												.col-md-3.no-padding
													= text_field_tag :start_at_verification_snapshots, nil, value: params[:start_at_verification_snapshots], class: 'form-control datepicker', placeholder: 'Start At'
												.col-md-3.no-padding
													= text_field_tag :end_at_verification_snapshots, nil, value: params[:end_at_verification_snapshots], class: 'form-control datepicker',  placeholder: 'End At'
												.col-md-1.no-padding
													= submit_tag :Search, class: 'btn btn-info radius-right'
										#table-list-verification_snapshots
											= render 'admins/publishers/list_verification_snapshots'
								- else
									= render "shared/empty_blank"
							
							#3.tab-pane
								- if @campaigns.present?
									.show-campaigns.search
										%h2{align: 'center'} Campaigns
										%br
										= form_for :search, url: admins_publisher_path(@publisher), method: 'get', html: {class: 'form-search', remote: true} do
											.input-group.full
												.col-md-3.no-padding
													= text_field_tag :key_campaigns, params[:key_campaigns], class: 'form-control pull-left radius-left', placeholder: 'Keywords'
												.col-md-2.no-padding
													= select_tag :status_campaign, options_for_select(Campaign::STATUSES, params[:status_campaign]), prompt: 'Select Status', class: 'form-control pull-left'
												.col-md-3.no-padding
													= text_field_tag :start_at_campaigns, nil, value: params[:start_at_campaigns], class: 'form-control datepicker pull-left', placeholder: 'Start At'
												.col-md-3.no-padding
													= text_field_tag :end_at_campaigns, nil, value: params[:end_at_campaigns], class: 'form-control datepicker pull-left',  placeholder: 'End At'
												.col-md-1.no-padding
													= submit_tag :Search, class: 'btn btn-info radius-right'
										.box-body
											#table-list-campaigns
												= render 'admins/publishers/list_campaigns'
								- else
									= render "shared/empty_blank"

							#4.tab-pane
								- if @request_landing_pages.present?
									%h2{align: 'center'} Requset Landing Pages
									%br
									= form_for :search, url: admins_publisher_path(@publisher), method: 'get', html: {class: 'form-search', remote: true} do
										.input-group.full.search
											.col-md-3.no-padding
												= text_field_tag :key_landing_pages, params[:key_landing_pages], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
											.col-md-2.no-padding
												= select_tag :status_landing_pages, options_for_select(RequestLandingPage::STATUSES, params[:status_landing_pages]), prompt: 'Select Status', class: 'form-control pull-left'
											.col-md-3.no-padding
												= text_field_tag :start_at_landing_pages, nil, value: params[:start_at_landing_pages], class: 'form-control datepicker', placeholder: 'Start At'
											.col-md-3.no-padding
												= text_field_tag :end_at_landing_pages, nil, value: params[:end_at_landing_pages], class: 'form-control datepicker',  placeholder: 'End At'
											.col-md-1.no-padding
												= submit_tag :Search, class: 'btn btn-info radius-right'
									#table-list-request-landing-pages
										= render 'admins/publishers/list_request_landing_pages'
								- else
									= render "shared/empty_blank"

							#5.tab-pane
								%h2{align: 'center'} Activities
								%br
								= form_for :search, url: admins_publisher_path(@publisher), method: 'get', html: {class: 'form-search', remote: true} do
									.input-group.full.search
										.col-md-5.no-padding
											= text_field_tag :key_activities, params[:key_activities], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
										.col-md-3.no-padding
											= text_field_tag :start_at_activities, nil, value: params[:start_at_activities], class: 'form-control datepicker', placeholder: 'Start At'
										.col-md-3.no-padding
											= text_field_tag :end_at_activities, nil, value: params[:end_at_activities], class: 'form-control datepicker',  placeholder: 'End At'
										.col-md-1.no-padding
											= submit_tag :Search, class: 'btn btn-info radius-right'
								#table-list-activities
									= render 'admins/publishers/list_activities'
							- if @publisher.have_link_referral?
								#6.tab-pane
									%h2{align: 'center'} Referral Publishers
									%br
									= form_for :search, url: admins_publisher_path(@publisher), method: 'get', html: {class: 'form-search', remote: true} do
										.input-group.full.search
											.col-md-5.no-padding
												= text_field_tag :key_publishers, params[:key_publishers], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
											.col-md-3.no-padding
												= text_field_tag :start_at_publishers, nil, value: params[:start_at_publishers], class: 'form-control datepicker', placeholder: 'Start At'
											.col-md-3.no-padding
												= text_field_tag :end_at_publishers, nil, value: params[:end_at_publishers], class: 'form-control datepicker',  placeholder: 'End At'
											.col-md-1.no-padding
												= submit_tag :Search, class: 'btn btn-info radius-right'
									#table-list-referral-publishers
										= render 'account_managers/permission_referral_publishers/list_referral_publishers'

								#7.tab-pane
									%h2{align: 'center'} Commisions
									%br
									= form_for :search, url: admins_publisher_path(@publisher), method: 'get', html: {class: 'form-search', remote: true} do
										.input-group.full.search
											.col-md-3.no-padding
												= text_field_tag :referral_publisher_username_commisions, params[:referral_publisher_username_commisions], class: 'form-control pull-right radius-left', placeholder: 'Username Publisher'
											.col-md-2.no-padding
												= select_tag :status_commisions, options_for_select(Commision::STATUSES, params[:status_commisions]), prompt: 'Select Status', class: 'form-control'
											.col-md-3.no-padding
												= text_field_tag :start_at_commisions, nil, value: params[:start_at_commisions], class: 'form-control datepicker', placeholder: 'Start At'
											.col-md-3.no-padding
												= text_field_tag :end_at_commisions, nil, value: params[:end_at_commisions], class: 'form-control datepicker',  placeholder: 'End At'
											.col-md-1.no-padding
												= submit_tag :Search, class: 'btn btn-info radius-right'
									#table-list-commisions
										= render 'publishers/commisions/lists'

								#8.tab-pane
									%h2{align: 'center'} Payment Commisions
									%br
									= form_for :search, url: admins_publisher_path(@publisher), method: 'get', html: {class: 'form-search', remote: true} do
										.input-group.full.search
											.col-md-3.no-padding
												= text_field_tag :key_payment_commisions, params[:key_payment_commisions], class: 'form-control pull-right radius-left', placeholder: 'Keywords'
											.col-md-2.no-padding
												= select_tag :status_payment_commisions, options_for_select(PaymentCommision::STATUSES, params[:status_payment_commisions]), prompt: 'Select Status', class: 'form-control'
											.col-md-3.no-padding
												= text_field_tag :start_at_payment_commisions, nil, value: params[:start_at_payment_commisions], class: 'form-control datepicker', placeholder: 'Start At'
											.col-md-3.no-padding
												= text_field_tag :end_at_payment_commisions, nil, value: params[:end_at_payment_commisions], class: 'form-control datepicker',  placeholder: 'End At'
											.col-md-1.no-padding
												= submit_tag :Search, class: 'btn btn-info radius-right'
									#table-list-payment-commisions
										= render 'admins/publishers/list_payment_commisions'

= render 'admins/publishers/js_set_geo_map'