<%= render 'devise/mailer/shared/header' %>
<tr>
  <td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

                    <!-- <h3 align='center' style='font-size:16px;'>Hello! Thank you and Welcome to CPGROUND.COM!</h3> -->
                    <p style='font-size:12px; color:#777;'>
                      Hello <b><%= @resource.username %></b>,
                      <br>
                      <br>
                      Thank you for signing up as a CPAGround affiliate.
                      <br>
                      <br>
                      Before you can be accepted into the CPAGRound, you
                      <br>
                      need to verify your e-mail address with us. This step ensures
                      <br>
                      we can successfully contact you in the future.
                      <br>
                      <br>
                      Once you have verified your e-mail address, your application will be
                      <br>
                      reviewed by an affiliate manager.
                      <br>
                      <br>
                      <%= link_to 'Verify your e-mail address by clicking on this link', user_confirmation_url(confirmation_token: @token) %>!
                      <br><br>
                      Thank you!
                      <br><br>
                      Best Regards,<br>
                      CPAGROUND.COM<br>
                    </p>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<%= render 'devise/mailer/shared/footer' %>


