.responsive-tabel
	%table#example1.table.table-bordered.table-striped.tabel-width2
		%thead
			%tr
				%th Id
				%th From
				%th To
				%th Message
				%th Status
				%th Created At
				%th{width: '105px'} Action
		%tbody
			- if @messages.blank?
				%tr
					%td{ colspan: "7"} 
						= render "shared/empty_blank"
			- else
				- @messages.each_with_index do |resource, index|  
					%tr
						%td
							= resource.id
						%td
							#{resource.user.username}
							- if resource.user.is_account_manager?
								(AM)
						%td
							#{resource.user_to.username}
							- if resource.user_to.is_account_manager?
								(AM)
						%td
							= resource.message.html_safe
						%td
							= resource.status?
						%td
							= get_datetime(resource.created_at)
						%td.text-center
							= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, admins_message_path(resource), method: 'delete', data: {confirm: "Are you sure to delete this message?"}, class: 'btn btn-default btn-xs'
= paginate @messages, remote: true

:javascript
	$('.responsive-tabel').doubleScroll();