#breadcrumbs
	= render "shared/admin/breadcrumbs"

%section.content.full-page
	.row  
		.col-md-12
			.box.box-m
				.box-body
					= form_for Message.new, url: admins_messages_path, method: "post" do |f|
						.row
							.col-md-12
								.input-group
									.input-group-addon To
									.select2-tag
										= select_tag "tags[]", options_for_select(get_publishers.confirmed.no_suspended.map{|p| [p.username, p.id]} << "all", selected: "all"), multiple: true, class: 'form-control to_tags', required: true
								%br
							.col-md-12
								= f.text_area :message, placeholder: "Enter message", id: "editor1", class: 'margin-bottom form-control', rows: "5", required: true
							.col-xs-12
								= button_tag class: "btn btn-primary btn-block", type: "submit" do
									%i.fa.fa-send
									&nbsp;
									Send

	.row
		.bg-white
			.col-md-12.search
				= form_for :search, url: admins_messages_path, method: 'get', html: {class: 'form-search', remote: true} do
					.input-group.full
						.col-md-3.no-padding
							= text_field_tag :key, params[:key], class: 'form-control pull-left', placeholder: 'Keywords'
						.col-md-2.no-padding
							= select_tag :status, options_for_select(Message::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control'
						.col-md-3.no-padding
							= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
						.col-md-3.no-padding
							= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
						.col-md-1.no-padding
							= submit_tag :search, class: 'btn btn-info radius-right'
	.row
		.col-xs-12.top-plus
			.box.box-m
				.box-body
					= link_to new_admins_message_path, class: 'btn btn-info btn-sm pull-right' do
						%i.fa.fa-bars
						&nbsp; New Message

					#table-lists
						= render 'admins/messages/lists'