- if list_reports.present?
	%table#example1.table.table-bordered.table-striped
		%thead
			%tr
			%th
				Campaign Title
			%th Admin
			%th 
				= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_impressions', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_impressions'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
				Impressions
			%th 
				= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_clicks', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_clicks'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
				Clicks
			%th 
				= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
				Visitors
			%th 
				= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_unique_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_unique_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
				Unique Visitors
			%th 
				= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_sales', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_sales'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
				Sales
			%th 
				= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_revenue', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_revenue'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
				Revenue Publiher
		%tbody
			- list_reports.each_with_index do |resource, index|
				%tr
					%td
						= link_to Campaign.find_by(id: resource[0]).title, account_managers_campaign_path(resource[0])
					%td
						- admin = Admin.find resource[3]
						= admin.username
					%td
						= resource[4]
					%td
						= resource[5]
					%td
						= resource[6]
					%td
						= resource[7]
					%td
						= resource[8]
					%td
						= get_currency(resource[9])
	= paginate list_reports, remote: true, param_name: "#{list_report_by}"
- else
	= render "shared/empty_blank"