= render 'shared/loading'
- if current_user.is_admin? && @account_manager.present?
	- user = @account_manager
- elsif current_user.is_admin? && @publisher.present?
	- user = @publisher
- else
	- user = @publisher
.show-report-campaign-snapshots
	.row
		/ - ConvertionReport::STATUSES_FOR_LIST.each do |c|
		/ 	.col-md-2
		/ 		.radio-report
		/ 			= radio_button_tag :status, c, params[:status] == c ? true : false, class: 'js-onchange-group', style: 'height:auto!important;'
		/ 			%b
		/ 				= c.titleize
		.col-md-12
			= select_tag :group_by, options_for_select(['Date', 'Campaign', 'Offer', 'IP Address', 'Country', 'Referrer', 'Device', 'Browser'], params[:group_by]), prompt: 'Group By', class: 'pull-right js-onchange-group form-control'
	- if @report_campaign_snapshots.present?
		%br
		- if params[:group_by].blank?
			.responsive-tabel
				%table#example1.table.table-bordered.table-striped.tabel-width1 
					.responsive-content-tabel
						%thead
							%tr
								- unless current_user.is_account_manager?
									%th Click Id
								%th.th-report{ width: "100px"} Click Date
								%th Time
								%th Campaign
								%th Offer
								%th IP Address
								%th Country
								%th Device
								%th Browser
								%th OS
								%th Source
								%th Sub1
								%th Sub2
								%th Sales
								%th Revenue
						%tbody
							- @convertion_reports.each_with_index do |resource, index|  
								- if current_user.is_admin?
									- link_path = admins_campaign_path(resource.campaign) 
								- elsif current_user.is_account_manager?
									- link_path = account_managers_campaign_path(resource.campaign) 
								%tr
									- unless current_user.is_account_manager?
										%td
											%small
												= resource.click_id
									%td
										%small
											= date_sort_time(resource.convertion_date)
									%td
										%small
											= get_time(resource.convertion_time)
									%td
										%small
											= link_to resource.campaign.title, link_path
									%td
										%small
											= resource.category_campaign.name
									%td
										%small
											= resource.ip
									%td
										%small
											= resource.country_code
									%td
										%small
											= resource.device
									%td
										%small
											= resource.browser
									%td
										%small
											= resource.os || '--'
									%td
										%small
											= resource.source || '--'
									%td
										%small
											= resource.sub1 || '--'
									%td
										%small
											= resource.sub2 || '--'
									%td
										%small
											= resource.sales > 0 ? 'Yes' : 'No'
									%td
										%small
											#{resource.status?} #{current_user.is_admin? && @account_manager.present? ? get_currency(resource.convertion_revenue_am) : get_currency(resource.convertion_revenue(user.type))}
										- if resource.category_campaign.is_cps? && params[:status] != "visited"
											%span.pull-right
												.fa.fa-list-alt{"data-target" => "#modalReportItem-#{resource.id}", "data-toggle" => "modal", type: "button", style: 'cursor:pointer;', title: "Detail report items"}
												.modal.fade{:role => "dialog", id: "modalReportItem-#{resource.id}"}
													= render 'publishers/reports/modal_report_item', resource: resource
		- else
			- if params[:group_by] == 'Campaign'
				.responsive-tabel
					%table#example1.table.table-bordered.table-striped
						.responsive-content-tabel.tabel-width 
							%thead
								%tr
									%th Campaign
									%th Offer
									/ %th
									/ 	Clicks
									/ 	= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_clicks', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_clicks'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
									/ %th
									/ 	Visitors
									/ 	= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
									/ %th
									/ 	Unique Visitors
									/ 	= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_unique_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_unique_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
									%th
										Sales
										= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_sales', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_sales'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
									%th 
										Revenue
										= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_revenue', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_revenue'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
							%tbody
								- @convertion_reports.each_with_index do |resource|
									- campaign = Campaign.find(resource[0])
									- if current_user.is_admin?
										- link_path = admins_campaign_path(campaign)
									- elsif current_user.is_account_manager?
										- link_path = account_managers_campaign_path(campaign)
									%tr
										%td
											%small
												= link_to campaign.title, link_path
										%td
											%small
												= campaign.category_campaign.name
										/ %td
										/ 	%small
										/ 		= resource[1]
										/ %td
										/ 	%small
										/ 		= resource[2]
										/ %td
										/ 	%small
										/ 		= resource[3]
										%td
											%small
												= resource[4]
										%td
											%small
												= get_currency(resource[5])

			- elsif params[:group_by] == 'Offer'
				.responsive-tabel
					%table#example1.table.table-bordered.table-striped
						.responsive-content-tabel
							%thead
								%tr
									%th Offer
									/ %th
									/ 	Clicks
									/ 	= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_clicks', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_clicks'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
									/ %th
									/ 	Visitors
									/ 	= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
									/ %th
									/ 	Unique Visitors
									/ 	= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_unique_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_unique_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
									%th
										Sales
										= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_sales', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_sales'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
									%th 
										Revenue
										= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_revenue', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_revenue'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
							%tbody
								- @convertion_reports.each_with_index do |resource|
									- category_campaign = CategoryCampaign.find(resource[0])
									%tr
										%td
											%small
												= category_campaign.name
										/ %td
										/ 	%small
										/ 		= resource[1]
										/ %td
										/ 	%small
										/ 		= resource[2]
										/ %td
										/ 	%small
										/ 		= resource[3]
										%td
											%small
												= resource[4]
										%td
											%small
												= get_currency(resource[5])

			- elsif params[:group_by] == 'IP Address'
				= render "publishers/campaigns/convertion_reports", subject: "IP Address"

			- elsif params[:group_by] == 'Country'
				= render "publishers/campaigns/convertion_reports", subject: "Country"

			- elsif params[:group_by] == 'Referrer'
				= render "publishers/campaigns/convertion_reports", subject: "Referrer"

			- elsif params[:group_by] == 'Date'
				= render "publishers/campaigns/convertion_reports", subject: "Click Date"

			- elsif params[:group_by] == 'Device'
				= render "publishers/campaigns/convertion_reports", subject: "Device"

			- elsif params[:group_by] == 'Browser'
				= render "publishers/campaigns/convertion_reports", subject: "Browser"

		= paginate @convertion_reports, remote: true, param_name: "page_report_convertion" if @convertion_reports.present?
	- else
		= render "shared/empty_blank"