.hpanel.hblue
	.panel-body
		.col-md-12
			.row
				%h3 Detail Offer
				%hr
		.col-md-6
			.row.form-horizontal
				.form-group
					.col-md-12
						%b Code Offer
						%br
						= @offer.code
				.form-group
					.col-md-12
						%b Category Name
						%br
						= @offer.category_name
				.form-group
					.col-md-12
						%b Offer Name
						%br
						= @offer.name
				.form-group
					.col-md-12
						%b Offer Action
						%br
						= @offer.action
				.form-group
					.col-md-12
						%b Offer Detail
						%br
							= @offer.detail.present? ? @offer.detail.html_safe : "-"

				- if @offer.targetings.present?
					.form-group
						.col-md-12
							%b Targeting Countries
							%br
							%br
							%h4
								- @offer.targetings.each do |resource|
									- payout_price = current_user.is_admin? ? resource.payout_price : resource.fee_publisher?
									%label.label.label-default.label-targeting
										= resource.country_code+" "+(resource.fee_publisher? > 0 ? get_currency(resource.fee_publisher?) : '')

		.col-md-6
			.row.form-horizontal
				- if @offer.is_cps?
					.form-group
						.col-md-12
							%b Expires
							%br
								= @offer.expires.present? ? date_sort_time(@offer.expires) : "--"
				.form-group
					.col-md-12
						%b Status
						%br
							= @offer.status?
				.form-group
					.col-md-12
						%b Cover
						%br
						%br
							= image_tag @offer.cover, style: "width: 200px;"
						.input-group.link-campaign
							%input.link-input.js-link-input-cover.no-border-right{value: "<a href='#{@campaign.tracking_code?}'><img src='#{@offer.cover.url}'></a>"}
							%button.btn.clipboard-btn{"data-clipboard-target" => ".js-link-input-cover"}
								%i.fa.fa-copy

		.col-md-12
			.row
				.panel.panel-default
					.panel-body
						.col-md-12
							.row
								%h4
									%b Banner Images Offer
								%br
						.col-md-12
							.row
								%table#example1.table.table-bordered.table-striped
									%thead
										%tr
											%th{width: '10px;'} No
											%th Size
											%th Name
											%th Options
									%tbody
										- if @banner_images.present?
											- @banner_images.each_with_index do |resource, index|  
												%tr
													%td
														= index+1
													%td
														= resource.description
													%td
														= link_to resource.filename, "#{resource.name.url}", target: "_blank"
													%td
														%button.btn.btn-xs.btn-info{"data-target" => "#toggle-#{resource.id}", "data-toggle" => "collapse", :type => "button"} Get Code
														&nbsp;
														= link_to "<div class='btn btn-xs btn-default'>Preview</div>".html_safe, "#{resource.name.url}", target: "_blank"
												%tr
													%td{ colspan: "4", style: "padding: 0px;"}
														.collapse{ id: "toggle-#{resource.id}", style: "padding: 5px;" }
															.input-group.link-campaign{ style: "margin-bottom: 15px;" }
																%input.link-input.no-border-right{class: "js-link-input-#{resource.id}", value: "<a href='#{@campaign.tracking_code?}'><img src='#{resource.name.url}'></a>", style: "width: 90%!important;"}
																%button.btn.clipboard-btn{"data-clipboard-target" => ".js-link-input-#{resource.id}", style: "width: 10%!important;"}
																	%i.fa.fa-copy 
										- else
											- BannerImage::CPA_IMAGES.each_with_index do |resource, index|  
												%tr
													%td
														= index+1
													%td
														= resource[2]
													%td
														= link_to resource[1], "#{resource[0]}", target: "_blank"
													%td
														%button.btn.btn-xs.btn-info{"data-target" => "#toggle-#{index+1}", "data-toggle" => "collapse", :type => "button"} Get Code
														&nbsp;
														= link_to "<div class='btn btn-xs btn-default'>Preview</div>".html_safe, "#{resource[0]}", target: "_blank"
												%tr
													%td{ colspan: "4", style: "padding: 0px;"}
														.collapse{ id: "toggle-#{index+1}", style: "padding: 5px;" }
															.input-group.link-campaign{ style: "margin-bottom: 15px;" }
																%input.link-input.no-border-right{class: "js-link-input-#{index+1}", value: "<a href='#{@campaign.tracking_code?}'><img src='#{resource[0]}'></a>", style: "width: 90%!important;"}
																%button.btn.clipboard-btn{"data-clipboard-target" => ".js-link-input-#{index+1}", style: "width: 10%!important;"}
																	%i.fa.fa-copy