- link_path = current_user.is_publisher? ? publishers_campaigns_path : account_managers_campaigns_path
#wrapper.content-campaign-publisher.content-dashboard
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page.quick-date
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b My Campaigns #{params[:action_offer]} (<span class='js-total-collection'>#{@campaigns.total_count}</span>)
				%p All List My #{current_user.is_account_manager? ? 'Publishers' : ''} Campaigns

	.content.animate-panel
		.row
			.col-lg-12.m-t-md.content-campaign.responsive-content-campaign.responsive-panel-full
				.hpanel.responsive-form-search.mobile
					.panel-body.responsive-no-border
						= form_for :search, url: link_path, method: 'get', html: {class: 'form-search', remote: true} do
							= hidden_field_tag :action_offer, params[:action_offer]
							.col-md-4.no-padding
								= text_field_tag :key, params[:key], class: 'form-control no-border-radius', placeholder: 'Keywords'
							- if current_user.is_account_manager?
								.col-md-4.no-padding
									= text_field_tag :publisher_ids, params[:publisher_ids], class: 'form-control no-border-radius', placeholder: 'Username Publisher'
							.col-md-4.no-padding
								= select_tag :category_campaign, options_for_select(get_select_offers(params[:action_offer]), params[:category_campaign]), prompt: 'Select Offer', class: 'form-control no-border-radius'
							.col-md-4.no-padding
								= select_tag :status_campaign, options_for_select(Campaign::STATUSES, params[:status_campaign]), prompt: 'Select Status', class: 'form-control no-border-radius'
							.col-md-4.no-padding
								= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker no-border-radius', placeholder: 'Start At'
							.col-md-4.no-padding
								= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker no-border-radius', placeholder: 'End At'
							.col-md-1.no-padding
								= submit_tag :Search, class: 'btn btn-primary no-border-radius btn-block'
				%section.hpanel.desktop
					.panel-body
						= form_for :search, url: link_path, method: 'get', html: {class: 'form-search', remote: true} do
							= hidden_field_tag :action_offer, params[:action_offer]
							.input-group.btn-block
								- if current_user.is_account_manager?
									.col-xs-2.no-padding
										= text_field_tag :key, params[:key], class: 'form-control pull-left no-border-right', placeholder: 'Keywords'
									.col-xs-2.no-padding
										= text_field_tag :publisher_ids, params[:publisher_ids], class: 'form-control no-border-radius', placeholder: 'Username Publisher'
								- else
									.col-xs-4.no-padding
										= text_field_tag :key, params[:key], class: 'form-control pull-left no-border-right', placeholder: 'Keywords'
								.col-xs-2.no-padding
									= select_tag :category_campaign, options_for_select(get_select_offers(params[:action_offer]), params[:category_campaign]), prompt: 'Select Offer', class: 'form-control no-border-right'
								.col-xs-2.no-padding
									= select_tag :status_campaign, options_for_select(Campaign::STATUSES, params[:status_campaign]), prompt: 'Select Status', class: 'form-control no-border-right'
								.col-xs-2.no-padding
									= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker no-border-right', placeholder: 'Start At'
								.col-xs-2.no-padding
									= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker no-border-right',  placeholder: 'End At'
								.input-group-btn
									.col-xs-1.no-padding
										= submit_tag :Search, class: 'btn btn-primary radius-right'
					%br
				%section.responsive-list-campaign
					#table-lists
						= render "publishers/campaigns/lists", campaigns: @campaigns
										
		= render 'publishers/shared/footer'