- if landing_pages.blank?
  = render "shared/empty_blank"
- else
  - landing_pages.each_with_index do |resource, index|  
    - link_path = current_user.is_publisher? ? publishers_request_landing_page_path(resource) : account_managers_request_landing_page_path(resource)
    - link_campaign_path = current_user.is_publisher? ? publishers_campaign_path(resource.campaign) : account_managers_campaign_path(resource.campaign)
    .hpanel.data-campaign.responsive-detalcampaign-lp
      .panel-body.responsive-no-border.list-lp-campaign
        .row
          .col-sm-2.responsive-image-lp
            .line-image-list
              .responsive-label-status.mobile
                #{resource.status?}
              - if resource.layout_theme.present?
                = link_to link_path do
                  .scroll{:style => "background-image: url(#{resource.layout_theme.image.url(:normal)});", class: 'theme-cover'}
          %br
          .col-sm-6
            - code_and_campaign_title = resource.is_active? ? "(#{resource.code}) #{resource.campaign.title}" : resource.campaign.title
            %h4
              = link_to code_and_campaign_title, link_path
            - if resource.is_active?
              %small
                This is your site landing page link
              .input-group.link-campaign
                %input.input-link.link-input.no-border-right{value: resource.domain, class: "js-link-target-#{resource.id}"}
                %button.input-link.btn.clipboard-btn.no-border-right{"data-clipboard-target" => ".js-link-target-#{resource.id}"}
                  %i.fa.fa-copy
                %a.btn.input-link.clipboard-btn{href: resource.domain, target: "_blank"}
                  %i.fa.fa-share
            - elsif resource.is_reject?
              %br
              .alert.alert-danger
                The domain for your requested landing page has been rejected for some reason, please contact your Manager to ask for more reasons! #{link_to 'KLIK HERE', publishers_managers_path}
            - else
              %p The domain for your requested landing page is not available yet!

          .col-md-4
            .pull-right.desktop
              %span For Campaign : &nbsp;
              %strong
                = link_to resource.campaign.code, link_campaign_path

            .responsive-campaign-code.mobile
              %br
              %table
                %tr
                  %td
                    %span
                      For Campaign
                  %td.colon
                    &#58;
                  %td
                    %span.responsive-value
                      = resource.campaign.code
                %tr
                  %td
                    %span
                      Request time
                  %td.colon
                    &#58;
                  %td.responsive-value
                    #{get_datetime(resource.updated_at)}

      .panel-footer.content-campaign-publisher.desktop
        %i.fa.fa-calendar
        &nbsp; <b>Request time :</b> #{get_datetime(resource.updated_at)} &nbsp; | &nbsp; <b>Status : </b> &nbsp; #{resource.status?} &nbsp; | &nbsp; <b>Category : </b> #{resource.category_name}
        = link_to link_path, class: "btn btn-primary detail-campaign pull-right" do
          %center
            View More
      = link_to link_path, class: "panel-footer mobile" do
        %center
          View More
  = paginate landing_pages, remote: true, param_name: "page_landing_pages"