- if list_reports.blank?
  = render "shared/empty_blank"
- else
  .col-md-12
    %table#example1.table.table-bordered.table-striped
      %thead
        %tr
        %th Date
        %th Code
        %th Admin
        %th Impressions
        %th Clicks
        %th Visitors
        %th Unique Visitors
        %th Sales
        %th Revenue
        %th Created At
      %tbody
        - list_reports.each_with_index do |resource|
          %tr
            %td
              = resource.campaign_date
            %td
              = resource.code
            %td
              = link_to resource.admin.username, admins_admin_path(resource.admin)
            %td
              = resource.impressions
            %td
              = resource.clicks
            %td
              = resource.visitors
            %td
              = resource.unique_visitors
            %td
              = resource.sales
            %td
              = get_currency(resource.fee_publisher)
            %td
              = get_datetime(resource.created_at)
    = paginate list_reports, remote: true