= render 'shared/loading'
.show-report-campaign-snapshots
	.row
		/ - ConvertionReport::STATUSES_FOR_LIST.each do |c|
		/   .col-md-2
		/     .radio-report
		/       = radio_button_tag :status, c, params[:status] == c ? true : false, class: 'js-onchange-group', style: 'height:auto!important;'
		/       %b
		/         = c.titleize
		.col-md-12
			- if current_user.is_publisher?
				= select_tag :group_by, options_for_select(['Date', 'Country', 'Referrer', 'Device', 'Browser', 'Source', 'Sub1', 'Sub2'], params[:group_by]), prompt: 'Group By', class: 'pull-right js-onchange-group form-control'
			- else
				= select_tag :group_by, options_for_select(['Date', 'IP Address', 'Country', 'Referrer', 'Device', 'Browser', 'Source', 'Sub1', 'Sub2'], params[:group_by]), prompt: 'Group By', class: 'pull-right js-onchange-group form-control'
	- if @convertion_reports.present?
		%br
		- if params[:group_by].blank?
			.responsive-tabel
				.responsive-content-tabel
					%table#example1.table.table-bordered.table-striped.tabel-width1
						%thead
							%tr
								- unless current_user.is_publisher? || current_user.is_account_manager?
									%th Click Id
								%th.th-report{width: '100px'} Click Date
								%th Time
								- unless current_user.is_publisher?
									%th IP Address
								%th Country
								%th.th-report{width: '200px'} Referrer
								%th Device
								%th Browser
								%th OS
								%th Source
								%th Sub1
								%th Sub2
								%th Status
								%th Sales
								%th Revenue
						%tbody
							- @convertion_reports.each_with_index do |resource, index|  
								%tr
									- unless current_user.is_publisher? || current_user.is_account_manager?
										%td
											%small
												= resource.click_id
									%td
										%small
											= date_sort_time(resource.convertion_date)
									%td
										%small
											= get_time(resource.convertion_time)
									- unless current_user.is_publisher?
										%td
											%small
												= resource.ip
									%td
										%small
											= resource.country_code
									%td
										%small
											= resource.referrer.present? ? resource.referrer : '--'
									%td
										%small
											= resource.device
									%td
										%small
											= resource.browser
									%td
										%small
											= resource.os || '--'
									%td
										%small
											= resource.source || '--'
									%td
										%small
											= resource.sub1 || '--'
									%td
										%small
											= resource.sub2 || '--'
									%td
										%small
											= resource.status
									%td
										%small
											= resource.sales > 0 ? 'Yes' : 'No'
									%td
										%small
											#{resource.status?} #{get_currency(resource.convertion_revenue(current_user.type))}
										- if resource.category_campaign.is_cps? && params[:status] != "visited"
											%span.pull-right
												.fa.fa-list-alt{"data-target" => "#modalReportItem-#{resource.id}", "data-toggle" => "modal", type: "button", style: 'cursor:pointer;', title: "Detail report items"}
												.modal.fade{:role => "dialog", id: "modalReportItem-#{resource.id}"}
													= render 'publishers/reports/modal_report_item', resource: resource
											
		- else
			- if params[:group_by] == 'IP Address'
				= render "publishers/campaigns/convertion_reports", subject: "IP Address"

			- elsif params[:group_by] == 'Country'
				= render "publishers/campaigns/convertion_reports", subject: "Country"

			- elsif params[:group_by] == 'Referrer'
				= render "publishers/campaigns/convertion_reports", subject: "Referrer"

			- elsif params[:group_by] == 'Date'
				= render "publishers/campaigns/convertion_reports", subject: "Click Date"

			- elsif params[:group_by] == 'Device'
				= render "publishers/campaigns/convertion_reports", subject: "Device"

			- elsif params[:group_by] == 'Browser'
				= render "publishers/campaigns/convertion_reports", subject: "Browser"

			- elsif params[:group_by] == 'Source'
				= render "publishers/campaigns/convertion_reports", subject: "Source"

			- elsif params[:group_by] == 'Sub1'
				= render "publishers/campaigns/convertion_reports", subject: "Sub1"

			- elsif params[:group_by] == 'Sub2'
				= render "publishers/campaigns/convertion_reports", subject: "Sub2"

		= paginate @convertion_reports, remote: true, param_name: "page_report_convertion"
	- else
		= render "shared/empty_blank"
