- if list_reports.present?
	%table#example1.table.table-bordered.table-striped
		%thead
			%tr
			%th
				- if defined?(list_report_by)
					- if list_report_by == 'week'
						= 'Day Name'
					- elsif list_report_by == 'month'
						= 'Month Name'
					- elsif list_report_by == 'year'
						= 'Year'
					- else
						= 'Date'
				- else
					= 'Date'
			%th 
				= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_impressions', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_impressions'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
				Impressions
			%th 
				= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_clicks', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_clicks'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
				Clicks
			%th 
				= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
				Visitors
			%th 
				= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_unique_visitors', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_unique_visitors'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
				Unique Visitors
			%th 
				= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_sales', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_sales'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
				Sales
			%th 
				= button_tag '<i class="fa fa-long-arrow-up" aria-hidden="true"></i>'.html_safe, value: 'sort_by_revenue', class: "btn-up-arrow #{'active' if params[:sort_by] == 'sort_by_revenue'} js-submit-search-report", name: 'sort_by', 'data-toggle'=>"tooltip", 'title'=>"Sort Descending"
				= current_user.is_account_manager? ? 'Revenue Publisher' : 'Revenue'
		%tbody
			- list_reports.each_with_index do |resource, index|
				%tr
					%td
						- if defined?(list_report_by)
							- if list_report_by == 'week'
								= resource[0].strftime("%A")
							- elsif list_report_by == 'month'
								= resource[0].strftime("%B")
							- elsif list_report_by == 'year'
								= resource[0].strftime("%Y")
							- else
								= resource[0]
						- else
							= resource[0]
					%td
						= resource[4]
					%td
						= resource[5]
					%td
						= resource[6]
					%td
						= resource[7]
					%td
						= resource[8]
					%td
						= get_currency(resource[9])
	= paginate list_reports, remote: true, param_name: "#{list_report_by}"
- else
	= render "shared/empty_blank"