- if campaigns.blank?
	= render "shared/empty_blank"
- else
	- campaigns.each_with_index do |resource, index| 
		- link_path = current_user.is_publisher? ? publishers_campaign_path(resource) : account_managers_campaign_path(resource)
		.hpanel.data-campaign
			.panel-body
				.row
					.col-md-5.col-xs-12
						
						%h4
							= link_to "(#{resource.code}) #{resource.title}", link_path
							%br
						%small
							= 'Offer: ' + resource.category_campaign.name
						- if resource.is_banned?
							%p Your access offer has banned. Please contact your manager to get more details.
						- else
							- if resource.is_active?
								.input-group.link-campaign
									%input.link-input.no-border-right{value: resource.tracking_code?, class: "js-link-target-#{resource.id}"}
									%button.btn.clipboard-btn.no-border-right{"data-clipboard-target" => ".js-link-target-#{resource.id}"}
										%i.fa.fa-copy
									%a.btn.clipboard-btn{href: resource.tracking_code?, target: "_blank"}
										%i.fa.fa-share
							- elsif resource.is_complete?
								%p Offer for this campaign has paused by advertiser and no longer valid
							- else
								%p Your link campaign will appear here when we have activated it<br>We will let you know soon
						- if current_user.is_account_manager?
							%br
							%b
								Publisher :
							= link_to resource.publisher.username, account_managers_publisher_path(resource.publisher)
					.col-md-7.col-xs-12.graph-total-campaign.pull-right
						.responsive-total-value-campaign
							.col-md-2.col-xs-4
								.contact-stat
									%span Impressions:
									%strong= resource.report_campaign_snapshots.sum(:impressions)
							.col-md-2.col-xs-4
								.contact-stat
									%span Clicks:
									%strong= resource.report_campaign_snapshots.sum(:clicks)
							.col-md-2.col-xs-4.responsive-border-right
								.contact-stat
									%span Visitors:
									%strong= resource.report_campaign_snapshots.sum(:visitors)
							.col-md-2.col-xs-4
								.contact-stat
									%span Unique Visitors:
									%strong= resource.report_campaign_snapshots.sum(:unique_visitors)
							.col-md-2.col-xs-4
								.contact-stat
									%span Sales:
									%strong= resource.report_campaign_snapshots.sum(:sales)
							.col-md-2.col-xs-4
								.contact-stat
									%span Revenue:
									%strong #{get_currency(resource.report_campaign_snapshots.total(User::PUBLISHER))}
			.panel-footer
				%i.fa.fa-calendar
				#{get_datetime(resource.created_at)} &nbsp; | &nbsp; <span class="status-campaign">#{resource.status?}</span>
				- if resource.is_pending?
					- if current_user.is_account_manager?
						%span.btn-approvement-campaign
							= form_for resource, url: '', method: 'put', html: { class: 'approvement-campaign', data: {url: approvement_account_managers_campaign_path(resource)}} do |f|
								= button_tag 'Approve Campaign'.html_safe, type: "submit", class: "btn btn-default detail-campaign pull-right desktop"
								= button_tag '<i class="fa fa-check"></i>'.html_safe, type: "submit", class: "btn btn-success btn-detail-campaign pull-right mobile"
					- else
						= link_to 'Waiting Approvement'.html_safe, link_path, class: "btn btn-warning detail-campaign pull-right desktop"
						= link_to '<i class="fa fa-clock-o"></i>'.html_safe, link_path, class: "btn btn-warning btn-detail-campaign pull-right mobile"
				- else
					= link_to 'View More'.html_safe, link_path, class: "btn btn-primary detail-campaign pull-right desktop"
					= link_to '<i class="fa fa-eye"></i>'.html_safe, link_path, class: "btn btn-primary btn-detail-campaign pull-right mobile"

	= paginate campaigns, remote: true

:javascript
	$('.clipboard-btn').click(function(){
		var clipboard = new Clipboard($(this)[0]);
	});
