.modal.fade#request-landing-page
	.modal-dialog{:role => "dialog"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×
				%h4.modal-title{align: 'center'} Create Free Landing Page
			.modal-body
				= image_tag "lp-banner.jpg", width: "100%"
				%p.text-center If you do not have your own landing page website, we have provided free landing page for various offer, please click the button below to make it.
			.modal-footer
				%center
					= link_to "<button class='btn btn-success btn-lg btn-full'>CREATE NOW</button>".html_safe, new_publishers_request_landing_page_path(category_id: @campaign.category_campaign.category_id, campaign_id: @campaign.id)

:javascript
	$('#request-landing-page').modal('show');