- link_path = current_user.is_publisher? ? publishers_campaign_path(@campaign) : account_managers_campaign_path(@campaign)
#wrapper.content-detail-campaign-publisher
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b (#{@campaign.code}) #{@campaign.title}
				%p Detail Campaign Category #{@campaign.category_campaign.category_name}

	.content.animate-panel.responsive-list-campaign
		.row
			.col-lg-12.m-t-md.content-campaign.responsive-panel-full
				.hpanel.hblue.data-campaign
					.panel-body
						.row
							.col-md-12
								- if @campaign.is_banned?
									%p Your access offer has banned. Please contact your manager to get more details.
								- else
									- if @campaign.is_active?
										%b
											= "Your Link Campaign #{@campaign.status?}".html_safe
										.input-group.link-campaign
											%input.link-input.no-border-right#link-campaign{value: @campaign.tracking_code?}
											%button.btn.clipboard-btn.no-border-right{"data-clipboard-target" => ".link-input"}
												%i.fa.fa-copy
											%a.btn.clipboard-btn#a-link-campaign{href: @campaign.tracking_code?, target: "_blank"}
												%i.fa.fa-share

										- if CategoryCampaign::ALL_ACTIVE_DOMAIN.select{|t| @campaign.tracking_code.include?(t)}.present? == true
											.generate-link-section
												.row
													.col-md-4
														%label
															Source
														.form-group
															%input.form-control.link-input-sub#input-source
													.col-md-4
														%label
															Sub 1
														.form-group
															%input.form-control.link-input-sub#input-sub1
													.col-md-4
														%label
															Sub 2
														.form-group
															%input.form-control.link-input-sub#input-sub2
													.col-md-12
														.btn.btn-sm.btn-default.margin-right#btn-reset-generate-link Reset Link
														.btn.btn-sm.btn-info#btn-generate-link Generate Link

									- elsif @campaign.is_complete?
										%p 
											%b Offer for this campaign has paused by advertiser and no longer valid
							
					.panel-footer
						.row
							.col-md-6
								%span
									= 'Request Campaign : ' + get_datetime(@campaign.created_at)
							.col-md-6
								- if @report_campaign.present?
									= "<span class='last-updated'>Last Updated : #{get_datetime(@report_campaign.first.updated_at)}</span>".html_safe
								- else
									= "<span class='last-updated'>Last Updated : #{get_datetime(@campaign.created_at)}</span>".html_safe
				.hpanel
					.panel-body
						.row
							.col-md-12
								%h5.text-center
									%b TOTAL REPORTS CAMPAIGN #{@campaign.title.upcase}
								%p.text-center
									= "#{date_sort_time(@campaign.created_at)} - #{date_sort_time(@date)}"

				- if current_user.is_account_manager?
					.hpanel.m-b-none
						.row
							.col-md-6.col-xs-12.responsive-panel-quick-date
								.count-total.responsive-panel
									.hpanel.responsive-hpanel
										.panel-body.quick-date
											.row
												.col-xs-12.dashboard-earning
													%h3
														My Estimated Earnings 
												.col-xs-9
													.row
														.col-xs-3
															%h4.text-success
																= get_currency(@earning_today_so_far_am)
															%small Today so far    
														.col-xs-3
															%h4.text-success
																= get_currency(@earning_yesterday_am)
															%small Yesterday
														.col-xs-3
															%h4.text-success
																= get_currency(@earning_last_7_month_am)
															%small Last 7 days
														.col-xs-3
															%h4.text-success
																= get_currency(@earning_this_month_am)
															%small This month
												.col-xs-3
													.text-right 
														%h4.text-success
															= get_currency(@_last_payment_am)
														%small Last Payment

							.col-md-6.col-xs-12.responsive-panel-quick-date
								.count-total.responsive-panel
									.hpanel.responsive-hpanel
										.panel-body.quick-date
											.row
												.col-xs-12.dashboard-earning
													%h3
														Estimated Earnings My Publishers
												.col-xs-9
													.row
														.col-xs-3
															%h4.text-success
																= get_currency(@earning_today_so_far)
															%small Today so far    
														.col-xs-3
															%h4.text-success
																= get_currency(@earning_yesterday)
															%small Yesterday
														.col-xs-3
															%h4.text-success
																= get_currency(@earning_last_7_month)
															%small Last 7 days
														.col-xs-3
															%h4.text-success
																= get_currency(@earning_this_month)
															%small This month
												.col-xs-3
													.text-right 
														%h4.text-success 
															= get_currency(@_last_payment)
														%small Last Payment
				- else
					.hpanel.m-b-none
						.row
							.col-md-9.responsive-panel-quick-date
								.hpanel.responsive-hpanel
									.panel-body.quick-date
										.col-md-12
											%h3 Estimated Earnings
										.col-md-3.col-xs-3
											%h3.text-success
												= get_currency(@earning_today_so_far)
											%small Today so far
										.col-md-3.col-xs-3
											%h3.text-success
												= get_currency(@earning_yesterday)
											%small Yesterday
										.col-md-3.col-xs-3
											%h3.text-success
												= get_currency(@earning_last_7_month)
											%small Last 7 days
										.col-md-3.col-xs-3
											%h3.text-success
												= get_currency(@earning_this_month)
											%small This month
											
							.col-md-3.responsive-panel-quick-date
								.hpanel.responsive-hpanel
									.panel-body.quick-date
										.col-md-12
											%h3 Balance
										.col-md-12
											%h3.text-success 
												= get_currency(@_last_payment)
											%small Last Payment         
				.hpanel
					%ul.nav.nav-tabs
						%li
							%a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab-2"} 
								%i.fa.fa-table
								&nbsp; Report Convertion
						%li.active
							%a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab-3"} 
								%i.fa.fa-line-chart
								&nbsp; Analytic
						%li
							%a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab-4"} 
								%i.pe-7s-airplay
								&nbsp; Landing Pages

					= form_for :select_date, url: link_path, method: 'get', remote: true, html: {class: 'js-form-submit'} do
						.tab-content
							#tab-2.tab-pane
								.panel-body
									#table-list-report_campaign_snapshots
										= render 'publishers/campaigns/list_report_campaign_snapshots'

							#tab-3.tab-pane.active
								.panel-body.responsive-panel-analytic
									.row.responsive-row-analytic
										.col-xs-6
											.btn-group.pull-left.btn-chart.real-time-publisher
												%label.btn.no-border-radius.btn-default.real-time{"data-toggle": "tooltip", "data-placement": "top", title: "On/Off Real-Time Report"}
													%input.real-time-on{:autocomplete => "on", :checked => "checked", :type => "checkbox"}
													%i.fa.fa-circle.text-red
													&nbsp; Real-Time
											.simple-search
												.input-group.js-field-search
													= render 'shared/analytics/field_search'
										.col-xs-6
											#btn-group-analytic
												= render 'admins/campaigns/btn_group_analytic'
										.col-xs-12
											.btn-group.pull-right.btn-chart
												%button.btn.btn-default.btn-total-revenue
													- if current_user.is_account_manager?
														Total Revenue Publisher :
													- else
														Total Revenue :
													%span.total-revenue #{get_currency(@reports_total_revenue)}
										.col-xs-12
											#the-report-analytics
												= render "publishers/shared/analytic", report_for: 'campaign'

							#tab-4.tab-pane
								.panel-body.responsive-no-panel-body
									#table-list-landing_pages
										= render 'publishers/campaigns/list_landing_pages', landing_pages: @landing_pages 

				= render 'publishers/campaigns/detail_offer'
						
	= render 'publishers/shared/footer'

/ - if current_user.is_publisher? && params[:c].present? && @layout_themes.present?
/ 	= render 'publishers/campaigns/request_landing_page'

:javascript
	$(document).ready(function() {
		$('#btn-generate-link').on('click', function(){
			$(".spinner-load").show();

			link_campaign = "#{@campaign.tracking_code?}";
			if(link_campaign.includes("amp;") == true){
				link_campaign = link_campaign.replace(/amp;/g,'');
			}

			source = $("#input-source").val();
			sub1 = $("#input-sub1").val();
			sub2 = $("#input-sub2").val();

			if (source != '') {
				link_campaign = link_campaign+"&source="+source;
			}

			if (sub1 != '') {
				link_campaign = link_campaign+"&sub1="+sub1;
			}

			if (sub2 != '') {
				link_campaign = link_campaign+"&sub2="+sub2;
			}

			$("#link-campaign").val(link_campaign);

			var a_link_campaign = document.getElementById('a-link-campaign');
			a_link_campaign.setAttribute('href',link_campaign);

			$(".spinner-load").fadeOut(1000);

		});

		$('#btn-reset-generate-link').on('click', function(){
			link_campaign = "#{@campaign.tracking_code?}";
			if(link_campaign.includes("amp;") == true){
				link_campaign = link_campaign.replace(/amp;/g,'');
			}

			$("#input-source").val('');
			$("#input-sub1").val('');
			$("#input-sub2").val('');

			$("#link-campaign").val(link_campaign);

			var a_link_campaign = document.getElementById('a-link-campaign');
			a_link_campaign.setAttribute('href',link_campaign);

		});
	});