.show-campaign
  .col-md-12.no-padding-m
    .row
      .col-md-12
        .row
          .col-md-3
            .form-group
              %b Category Name
          .col-md-9
            .form-group 
              = @offer.category_name
      .col-md-12
        .row
          .col-md-3
            .form-group
              %b Name
          .col-md-9
            .form-group 
              = @offer.name
      .col-md-12
        .row
          .col-md-3
            .form-group
              %b Link Offer
          .col-md-9
            .form-group 
              = @offer.link
      .col-md-12
        .row
          .col-md-3
            .form-group
              %b Action
          .col-md-9
            .form-group 
              = @offer.action
      .col-md-12
        .row
          .col-md-3
            .form-group
              %b Need Approval
          .col-md-9
            .form-group 
              = @offer.need_approval?
      .col-md-12
        .row
          .col-md-3
            .form-group
              %b Status
          .col-md-9
            .form-group 
              = @offer.status?
      .col-md-12
        .row
          .col-md-3
            .form-group
              %b Detail
          .col-md-9
            .form-group 
              = @offer.detail.present? ? @offer.detail.html_safe : "-"
      .col-md-12
        .row
          .col-md-3
            .form-group
              %b Created
          .col-md-9
            .form-group 
              = get_datetime(@offer.created_at)