.responsive-tabel
  %table#example1.table.table-bordered.table-striped.tabel-width1
    %thead
      %tr
        %th
          = check_box_tag :check_all
        %th Publisher
        %th AM
        %th Permission
        %th Status
        %th{ width: "350px"} Offer
        %th{ width: "180px"} Created At
        %th{ width: "180px"} Updated At
    %tbody
      - if @access_offers.blank?
        %tr
          %td{ colspan: "8"} 
            = render "shared/empty_blank"
      - else
        - @access_offers.each_with_index do |resource, index|
          %tr
            %td
              = check_box_tag 'ids[]', resource.id
            %td
              = link_to resource.publisher.username, admins_publisher_path(resource.publisher)
            %td
              = link_to resource.account_manager.username, admins_account_manager_path(resource.account_manager)
            %td
              = resource.label_checked?
            %td
              = resource.status?
            %td
              = link_to resource.offer.name, admins_category_campaign_path(resource.offer)
            %td
              = get_datetime(resource.created_at)
            %td
              = get_datetime(resource.updated_at)

= paginate @access_offers, remote: true

:javascript
  $('.responsive-tabel').doubleScroll();