$('#breadcrumbs').html("<%= escape_javascript render partial: 'shared/admin/breadcrumbs' %>");
$('#js-lists-access-offers').html("<%= escape_javascript render partial: 'admins/access_offers/lists', locals: {access_offers: @access_offers} %>");