#breadcrumbs
	= render "shared/admin/breadcrumbs"

%section.content.full-page
	.col-md-12
		.row.search
			.bg-white
				= form_for :search, url: admins_access_offers_path, method: 'get', html: {class: 'form-search', remote: true} do
					.input-group.full
						.col-md-3.no-padding
							= text_field_tag :key, params[:key], class: 'form-control pull-left', placeholder: 'Keywords'
						.col-md-2.no-padding
							= select_tag :checked, options_for_select(AccessOffer::CHECKEDS, params[:checked]), prompt: 'Select Permission', class: 'form-control no-border-radius'
						.col-md-2.no-padding
							= select_tag :status, options_for_select(AccessOffer::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control no-border-radius'
						.col-md-2.no-padding
							= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
						.col-md-2.no-padding
							= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
						.col-md-1.no-padding
							= submit_tag :search, class: 'btn btn-info radius-right'

	.row
		.col-xs-12.top-plus
			.box.box-m
				.box-body
					= form_for :multiple, url: multiple_action_admins_access_offers_path, method: 'get' do
						= submit_tag "permission", value: "permission", class: 'btn btn-sm btn-default no-radius no-border-right'
						= submit_tag AccessOffer::APPROVE, value: AccessOffer::APPROVE, class: 'btn btn-sm btn-default no-radius'
						= submit_tag AccessOffer::BANNED, value: AccessOffer::BANNED, class: 'btn btn-sm btn-default no-radius'
						#js-lists-access-offers
							= render 'admins/access_offers/lists'