.row
	.col-xs-12.col-md-2
		= f.label 'revenue ($)'
		= f.number_field :revenue, placeholder: "Enter revenue", class: 'form-control', min: 0, step: :any, required: true
	.col-xs-12.col-md-2
		= f.label :convertion_time
		= f.text_field :convertion_time, placeholder: "Convertion Date", class: 'form-control datetimepicker1', required: true, disabled: true
	.col-xs-12.col-md-2
		= f.label :ip_address
		= f.text_field :ip, placeholder: "IP", class: 'form-control', required: true, disabled: true
	.col-xs-12.col-md-1
		= f.label :country
		= f.text_field :country_code, placeholder: "CT", class: 'form-control', required: true, disabled: true
	.col-xs-12.col-md-1
		= f.label :device
		= f.text_field :device, placeholder: "Device", class: 'form-control', required: true, disabled: true
	.col-xs-12.col-md-2
		= f.label :browser
		= f.text_field :browser, placeholder: "Browser", class: 'form-control', required: true, disabled: true
	.col-xs-12.col-md-1
		= submit_tag "Add", data: {disable_with: "Saving..."}, class: "btn btn-info btn-submit btn-block"