%td{ colspan: "11"}
  .box
    = form_for ConvertionReport.new, url: '', method: 'post', html: { class: 'new-campaign-report-on-list', data: {url: admins_report_campaign_snapshots_path}} do |f|
      = f.hidden_field :campaign_id, value: resource.id
      = f.hidden_field :publisher_id, value: resource.publisher.id
      .col-xs-2.no-right
        = f.label 'Enter Click Id'
        .input-group
          %span.input-group-addon.js-click-convertion
            <i class="fa fa-search" aria-hidden="true"></i>
          = f.text_field :click_id, placeholder: "Check Click Id", class: 'form-control js-click-id-convertion-value', required: true
      .col-xs-10.js-box-campaign-form
        = render 'admins/campaigns/box_change_report', f: f