- active_today = params.present? && (params[:start_at].present? && params[:end_at].present? && @date == params[:start_at].to_date && @date == params[:end_at].to_date) ? 'active' : ''
- active_yesterday = params.present? && (params[:start_at].present? && params[:end_at].present? && @date.yesterday == params[:start_at].to_date && @date.yesterday == params[:end_at].to_date) ? 'active' : ''
- last_7_day = params.present? && (params[:start_at].present? && params[:end_at].present? && (@date - 6.days) == params[:start_at].to_date && @date == params[:end_at].to_date) ? 'active' : ''
- daily = last_7_day.blank? && active_yesterday.blank? && active_today.blank? ? 'active' : ''

.btn-group.pull-right.btn-chart
  %button.btn.btn-default.btn-tab-analytic.btn-search-analytic.js-submit-search-report{value: 'last_7_day', class: last_7_day} Last 7 Days
  %button.btn.btn-default.btn-tab-analytic.btn-search-analytic.js-submit-search-report{value: 'yesterday', class: active_yesterday} Yesterday
  %button.btn.btn-default.btn-tab-analytic.btn-search-analytic.js-submit-search-report{value: 'today', class: params[:start_at].blank? ? 'active' : active_today} Today
  %button.btn.btn-default.btn-tab-analytic.btn-search-analytic{value: 'daily', class: params[:start_at].blank? ? '' : daily} Daily
  %button.btn.btn-default.btn-tab-analytic.btn-search-analytic{value: 'monthly'} Monthly
  %button.btn.btn-default.btn-tab-analytic.btn-search-analytic{value: 'yearly'} Yearly