- flag = @campaign.is_active? || @campaign.is_complete? ? true : false
.row
  .col-md-12
    .form-group
      = f.label :code
      = f.text_field :code, placeholder: "Enter code", class: 'form-control', disabled: true
  .col-md-6
    .form-group 
      = label_tag "Category"
      = f.select :category_campaign_id, options_for_select(get_category_campaigns.map{|c| [c.name, c.id]}, @campaign.category_campaign_id), {prompt: 'Select Category'}, class: 'form-control select2', required: true
  .col-md-6
    .form-group 
      = label_tag "Publisher"
      = f.select :publisher_id, options_for_select(get_publishers.map{|p| [p.username, p.id]}, @campaign.publisher_id), {prompt: 'Select Publisher'}, class: 'form-control select2', required: true, disabled: flag
  .col-md-6
    .form-group
      = f.label :title
      = f.text_field :title, placeholder: "Enter title", class: 'form-control', required: true
  .col-md-6
    .form-group
      = f.label :link_campaign
      = f.text_field :tracking_code, placeholder: "Enter Link Campaign", class: 'form-control', required: true, disabled: flag
  .col-md-12
    .form-group
      = f.label :link
      = f.text_field :link, placeholder: "Enter link", class: 'form-control', required: true, disabled: flag