- if @activities.present?
  #wallmessages.qa-message-list
    - @activities.each do |resource|
      - @path_user = resource.admin.present? ? admins_admin_path(resource.user) : admins_publisher_path(resource.user)
      .message-item
        .message-inner
          .message-head.clearfix
            .avatar.pull-left
              = link_to @path_user do
                .avatar-timeline
                  = image_tag resource.user.avatar.url(:thumb)
            .user-detail.timeline-m
              %h5.handle
                = resource.name
              .post-meta
                .asker-meta.text-left-m
                  %span.qa-message-what
                  %span.qa-message-when
                    %span.qa-message-when-data= get_datetime(resource.created_at)
                  %br.mobile
                  %span.qa-message-who
                    %span.qa-message-who-pad by &nbsp;
                    %span.qa-message-who-data
                      = link_to "#{resource.user.username}", @path_user
          .qa-message-content
            = resource.description
  = paginate @activities, remote: true, param_name: "page_activities"
- else
  = render "shared/empty_blank"