- if @report_campaign_snapshots.present?
  .box.box-info 
    .box-header.with-border 
      %h3.box-title All Reports Campaign
      .box-tools.pull-right 
        %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"} 
          %i.fa.fa-minus 
        %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"} 
          %i.fa.fa-times 
    .box-body
      .show-report-campaign-snapshots
        .responsive-tabel
          .responsive-content-tabel
            %table#example1.table.table-bordered.table-striped.tabel-width1
              %thead
                %tr
                  %th Date
                  %th Code
                  %th Admin
                  %th Impressions
                  %th Clicks
                  %th Visitors
                  %th Unique Visitors
                  %th Sales
                  %th Revenue
                  %th Created At
                  %th{width: '70px'} Action
              %tbody
                - @report_campaign_snapshots.each_with_index do |resource, index|  
                  %tr
                    %td
                      = resource.campaign_date
                    %td
                      = resource.code
                    %td
                      = link_to resource.admin.username, admins_admin_path(resource.admin)
                    %td
                      = resource.impressions
                    %td
                      = resource.clicks
                    %td
                      = resource.visitors
                    %td
                      = resource.unique_visitors
                    %td
                      = resource.sales
                    %td
                      = get_currency(resource.revenue)
                    %td
                      = get_datetime(resource.created_at)
                    %td
                      = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_report_campaign_snapshot_path(resource), class: 'btn btn-default btn-xs'
                      = link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, edit_admins_report_campaign_snapshot_path(resource), class: 'btn btn-default btn-xs' if current_user.is_admin?
        = paginate @report_campaign_snapshots, remote: true, param_name: "page_report_campaign_snapshots"
- else
  = render "shared/empty_blank"