.responsive-tabel
  %table#example1.table.table-bordered.tabel-width1
    %thead
      %tr
        %th{width: '60px'} Id
        %th{width: '60px'} Code
        %th{width: '50px'} Link
        %th{width: '200px'} Title
        %th{width: '40px'} Sales
        %th{width: '200px'} Offer
        %th{width: '100px'} Publisher
        %th{width: '60px'} Status
        %th{width: '150px'} Created At
        %th{width: '150px'} Last Update
        %th{width: '40px'} Action
    %tbody
      - if @campaigns.blank?
        %tr
          %td{ colspan: "11"} 
            = render "shared/empty_blank"
      - else
        - @campaigns.each_with_index do |resource, index|  
          %tr
            %td
              = resource.id
            %td.js-to-box-add-report.disabled{value: resource.id}
              = resource.new_data?
              &nbsp;
              = resource.code
            %td
              %a.collapsed.btn.btn-default.btn-xs{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{resource.code}"}
                Show Link
            %td.js-to-box-add-report.disabled{value: resource.id}
              = resource.title
            %td.js-to-box-add-report.disabled{value: resource.id}
              = resource.sales?
            %td.js-to-box-add-report.disabled{value: resource.id}
              = resource.category_campaign ? resource.category_campaign.name : "---"
            %td.js-to-box-add-report.disabled{value: resource.id}
              = link_to resource.publisher.username, admins_publisher_path(resource.publisher)
            %td.js-to-box-add-report.disabled{value: resource.id}
              = resource.status?
            %td.js-to-box-add-report.disabled{value: resource.id}
              = get_datetime(resource.created_at)
            %td.js-to-box-add-report.disabled{value: resource.id}
              = get_datetime(resource.last_updated?)
            %td.text-center
              = link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, admins_campaign_path(resource), class: 'btn btn-default btn-xs'
          %tr
            %td.no-padding{:colspan => "10"}
              .text-primary.bg-link.panel-collapse.collapse{"aria-expanded" => "false", "aria-labelledby" => "headingTwo", :role => "tabpanel", width: "100%", id: resource.code}
                = resource.tracking_code

          - if current_user.is_admin? || current_user.is_staff?
            - if resource.is_active?
              %tr.js-box-add-report{ class: resource.id}
                = render 'admins/campaigns/box_add_report', resource: resource

= paginate @campaigns, remote: true

:javascript
  $('.responsive-tabel').doubleScroll();