.box.box-default
  .box-header.with-border 
    %h3.box-title List Reports
    .box-tools.pull-right 
      %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"} 
        %i.fa.fa-minus 
      %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"} 
        %i.fa.fa-times 
  .box-body
    %table#example1.table.table-bordered.table-striped.tabel-width2
      %thead
        %tr
        %th Date
        %th Code
        %th Admin
        %th Impressions
        %th Clicks
        %th Visitors
        %th Unique Visitors
        %th Sales
        %th Revenue
        %th Created At
      %tbody
        - list_reports.each_with_index do |resource|
          %tr
            %td
              = resource.campaign_date
            %td
              = resource.code
            %td
              = link_to resource.admin.username, admins_admin_path(resource.admin)
            %td
              = resource.impressions
            %td
              = resource.clicks
            %td
              = resource.visitors
            %td
              = resource.unique_visitors
            %td
              = resource.sales
            %td
              = get_currency(resource.revenue)
            %td
              = get_datetime(resource.created_at)
    = paginate list_reports, remote: true