- if @landing_pages.present?
	- @landing_pages.each_with_index do |resource, index| 
		.panel.panel-default.list-landing-page
			.panel-body
				.row
					.col-sm-2
						.line-image-list
							- if resource.layout_theme.present?
								.scroll{:style => "background-image: url(#{resource.layout_theme.image.url(:normal)});", class: 'theme-cover'}
					.col-sm-6
						- code_and_campaign_title = resource.is_active? ? "(#{resource.code}) #{resource.campaign.title}" : resource.campaign.title
						%h4
							= link_to code_and_campaign_title, admins_campaign_path(resource.campaign)
						- if resource.is_active?
							%small
								This is #{resource.publisher.username} site landing page link
							.input-group.link-campaign
								%input.link-input.no-border-right{value: resource.domain, class: "js-link-target-#{resource.id}"}
								%button.btn.clipboard-btn.no-border-right{"data-clipboard-target" => ".js-link-target-#{resource.id}"}
									%i.fa.fa-copy
								%a.btn.clipboard-btn{href: resource.domain, target: "_blank"}
									%i.fa.fa-share
						- else
							%p The domain for #{resource.publisher.username} requested landing page is not available yet!

					.col-md-4
						.pull-right.pull-left-m
							%span For Campaign : &nbsp;
							%strong= resource.campaign.code

			.panel-footer
				.row
					.col-md-8
						%i.fa.fa-calendar
						&nbsp;
						<b>Request time :</b> #{get_datetime(resource.updated_at)} &nbsp; | &nbsp; <b>Status:</b> &nbsp; #{resource.status?} &nbsp; | &nbsp; <b>Category:</b> #{resource.category_name}
					.col-md-4
						= link_to 'View More'.html_safe, admins_request_landing_page_path(resource), class: "btn btn-primary pull-right full-btn-m"
	= paginate @landing_pages, remote: true, param_name: "page_landing_pages"
- else
	= render "shared/empty_blank"