- if list_reports.present?
  .box.box-default
    .box-header.with-border 
      %h3.box-title List Reports
      .box-tools.pull-right 
        %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"} 
          %i.fa.fa-minus 
        %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"} 
          %i.fa.fa-times 
    .box-body
      %table#example1.table.table-bordered.table-striped
        %thead
          %tr
          %th
            - if defined?(list_report_by)
              - if list_report_by == 'week'
                = 'Day Name'
              - elsif list_report_by == 'month'
                = 'Month Name'
              - elsif list_report_by == 'year'
                = 'Year'
              - else
                = 'Date'
            - else
              = 'Date'
          %th Admin
          = render 'shared/analytics/thead_table_analytic'
        %tbody
          - list_reports.each_with_index do |resource, index|
            %tr
              %td
                - if defined?(list_report_by)
                  - if list_report_by == 'week'
                    = resource[0].strftime("%A")
                  - elsif list_report_by == 'month'
                    = resource[0].strftime("%B")
                  - elsif list_report_by == 'year'
                    = resource[0].strftime("%Y")
                  - else
                    = resource[0]
                - else
                  = resource[0]
              %td
                - admin = Admin.find resource[3]
                = link_to admin.username, admins_admin_path(admin)
              %td
                = resource[4]
              %td
                = resource[5]
              %td
                = resource[6]
              %td
                = resource[7]
              %td
                = resource[8]
              %td
                = get_currency(resource[9])
      = paginate list_reports, remote: true, param_name: "#{list_report_by}"