$('#breadcrumbs').html("<%= escape_javascript render partial: 'shared/admin/breadcrumbs' %>");
$('.js-button-export').html("<%= escape_javascript render partial: 'shared/admin/button_export' %>");
$('#table-lists').html("<%= escape_javascript render partial: 'admins/campaigns/lists', locals: {campaigns: @campaigns} %>");