#breadcrumbs
	= render "shared/admin/breadcrumbs"

%section.content.full-page
	.row
		.bg-white
			.col-md-10.search
				= form_for :search, url: admins_campaigns_path, method: 'get', html: {class: 'form-search', remote: true} do
					.input-group.full
						.col-md-2.no-padding
							= text_field_tag :key, params[:key], class: 'form-control pull-left radius-left', placeholder: 'Keywords'
						.col-md-1.no-padding
							= text_field_tag :publisher_id, params[:publisher_id], class: 'form-control pull-left radius-left', placeholder: 'Publisher Id'
						.col-md-2.no-padding
							= select_tag :category_campaign, options_for_select(CategoryCampaign.all.pluck(:name, :id), params[:category_campaign]), prompt: 'Select Offer', class: 'form-control pull-left'
						.col-md-2.no-padding
							= select_tag :status_campaign, options_for_select(Campaign::STATUSES, params[:status_campaign]), prompt: 'Select Status', class: 'form-control pull-left'
						.col-md-2.no-padding
							= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker pull-left', placeholder: 'Start At'
						.col-md-2.no-padding
							= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker pull-left',  placeholder: 'End At'
						.col-md-1.no-padding
							= submit_tag :Search, class: 'btn btn-info radius-right'
			.col-md-2
				.btn-search-admin.js-button-export
					= render 'shared/admin/button_export'
	.row
		.col-xs-12.search.top-plus
			/ .box.box-m
			/   .box-body
			/     = form_tag import_admins_campaigns_path, multipart: true do
			/       .row
			/         .col-md-3
			/           = file_field_tag :file, class: 'pull-left form-control'
			/         .col-md-2
			/           = select_tag :type, options_for_select(['analytic', 'network'], params[:type]), prompt: 'Select Type Import', class: 'form-control', required: true
			/         .col-md-7
			/           = submit_tag "Import", class: 'btn btn-info pull-left btn-full'
			.box.box-m
				.box-body
					.col-md-12.no-padding-m
						#table-lists
							= render 'admins/campaigns/lists'