<table border="1">
  <caption>List Campaigns</caption>
  <tr>
    <th>No</th>
    <th>Code</th>
    <th>Publisher</th>
    <th>Account Manager</th>
    <th>Admin</th>
    <th>Category</th>
    <th>Title</th>
    <th>Link</th>
    <th>Link Campaign</th>
    <th>Status</th>
    <th>Created at</th>
  </tr>
  <% @total_campaigns.each_with_index do |resource, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= resource.try(:code) %></td>
    <td><%= resource.try(:publisher).try(:username) %></td>
    <td><%= resource.try(:account_manager).try(:username) %></td>
    <td><%= resource.try(:admin).try(:username) ? resource.try(:admin).try(:username) : "---" %></td>
    <td><%= resource.try(:category_campaign).try(:name) %></td>
    <td><%= resource.try(:title) %></td>
    <td><%= resource.try(:link) %></td>
    <td><%= resource.try(:tracking_code) %></td>
    <td><%= resource.try(:status) %></td>
    <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
  </tr>
  <% end %>
</table>