= render "shared/admin/breadcrumbs"
%section.campaign-m.content.full-page
	.row
		.col-md-12
			.box.box-m
				.box-header
					%h3.box-title
						Data campaign
					.pull-right
						= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_campaigns_path, class: "btn btn-info btn-xs"
					%hr
				.box-body
					.show-campaign
						.col-md-7.no-padding-m
							.row
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Id
										.col-md-9
											.form-group 
												= @campaign.id
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Code
										.col-md-9
											.form-group 
												= @campaign.code
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Publisher
										.col-md-9
											.form-group 
												= link_to @campaign.publisher.username, admins_publisher_path(@campaign.publisher)
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Account Manager
										.col-md-9
											.form-group 
												= link_to @campaign.account_manager.username, admins_account_manager_path(@campaign.account_manager) if @campaign.account_manager.present?
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Admin
										.col-md-9
											.form-group 
												= link_to @campaign.admin.username, admins_admin_path(@campaign.admin) if @campaign.admin.present?
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Category
										.col-md-9
											.form-group 
												= @campaign.category_campaign ? @campaign.category_campaign.category_name : "---"
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Offer
										.col-md-9
											.form-group 
												= @campaign.category_campaign ? @campaign.category_campaign.name : "---"
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Title
										.col-md-9
											.form-group 
												= @campaign.title
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Link Campaign
										.col-md-9
											.form-group 
												= @campaign.tracking_code ? @campaign.tracking_code? : "---"
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Status
										.col-md-9
											.form-group 
												= @campaign.status?
								.col-md-12
									.row
										.col-md-3
											.form-group
												%b Created
										.col-md-9
											.form-group 
												= get_datetime(@campaign.created_at)
						.col-md-5.no-padding-m
							.well
								%h4 Edit status campaign
								/ - flag = @campaign.is_active? || @campaign.is_complete? ? true : false
								= form_for @campaign, url: change_status_admins_campaign_path, method: 'put' do |f| 
									.form-group 
										= f.label 'Link Campaign' 
										= f.text_field :tracking_code, placeholder: "Enter Link Campaign", class: 'form-control', required: true, readonly: true 
									.form-group 
										= f.label 'Status' 
										= f.select :status, Campaign::STATUSES_WITHOUT_COMPLETE, {prompt: 'Select Status'}, class: 'form-control', required: true
									.form-group 
										= submit_tag :change, class: 'btn btn-info'

		- if @campaign.is_active? || @campaign.is_complete? 
			.col-md-12
				.scroll-tab
					%ul.nav.nav-tabs
						%li
							%a{"data-toggle" => "tab", :href => "#tab-1"} Offer
						%li.active
							%a{"data-toggle" => "tab", :href => "#tab-2"} Report Campaign
						%li
							%a{"data-toggle" => "tab", :href => "#tab-3"} Reports Convertion
						%li
							%a{"data-toggle" => "tab", :href => "#tab-4"} Activities
						%li
							%a{"data-toggle" => "tab", :href => "#tab-5"} Landing Pages
				
				= form_for :select_date, url: admins_campaign_path(@campaign), method: 'get', remote: true, html: {class: 'js-form-submit'} do
					.tab-content.background-white
						#tab-1.tab-pane
							.panel-body
								#table-detail-offer
									= render 'publishers/campaigns/detail_offer'
						#tab-2.tab-pane.active
							.responsive-panel-analytic
								.row.responsive-row-analytic
									.col-xs-6     
										.simple-search
											.input-group.js-field-search
												= render 'shared/analytics/field_search'
									.col-xs-6
										#btn-group-analytic
											= render 'admins/campaigns/btn_group_analytic'
									.col-xs-12
										.btn-group.pull-right.btn-chart
											%button.btn.btn-default.btn-total-revenue
												Total Revenue :
												%span.total-revenue #{get_currency(@reports_total_revenue)}
									.col-xs-12.no-padding-m
										#the-report-analytics
											= render "shared/analytics/analytic", report_for: 'campaign'
						
						#tab-3.tab-pane
							#table-list-report_campaign_snapshots
								= render 'publishers/campaigns/list_report_campaign_snapshots'

						#tab-4.tab-pane
							#table-list-activities
								= render 'admins/campaigns/list_activities'

						#tab-5.tab-pane
							#table-list-landing_pages
								= render 'admins/campaigns/list_landing_pages'

/ = render "admins/modal_new_report_campaign_snapshot"
