$('.js-field-search').html("<%= escape_javascript render 'shared/analytics/field_search' %>");
$('#btn-group-analytic').html("<%= escape_javascript render 'admins/campaigns/btn_group_analytic' %>")
$('#the-report-analytics').html("<%= escape_javascript render 'shared/analytics/analytic', report_for: 'campaign' %>")
$('.total-revenue').html("<%= get_currency(@reports_total_revenue) %>")

$('#table-list-report_campaign_snapshots').html("<%= escape_javascript render 'publishers/campaigns/list_report_campaign_snapshots' %>");

<% if @activities.present? %>
  $('#table-list-activities').html("<%= escape_javascript render partial: 'list_activities', locals: {activities: @activities} %>");
<% end %>

<% if @landing_pages.present? %>
  $('#table-list-landing_pages').html("<%= escape_javascript render partial: 'list_landing_pages', locals: {landing_pages: @landing_pages} %>");
<% end %>

$(document).ready(function() {
  $(".spinner-load").fadeOut(1000);
});
