= render 'shared/loading'
.responsive-tabel
	%table#example1.table.table-bordered.table-striped.responsive-content-tabel.tabel-offer
		%thead
			%tr
				- if params[:action_offer] == "CPS"
					%th{width: '80px'} Ad
				%th{width: '80px'} Code
				%th{width: '200px'} Offer Name
				%th{width: '80px'} Category
				- if params[:action_offer] == "CPS"
					%th{width: '80px'} Expires
				%th{width: '70px'} Action
				/ %th{width: '70px'} Campaigns
				/ %th{width: '70px'} Sales
				%th{width: '70px'} Status
				%th{width: '140px'} Choice To Request
		%tbody
			- if @offers.blank?
				%tr
					%td{ colspan: "#{params[:action_offer] == "CPS" ? '8' : '6'}"}
						= render "shared/empty_blank"
			- else
				- @offers.each_with_index do |resource, index|
					- unless resource.banned_applied?(current_user.id)
						- button_name = resource.auto_approvement? ? 'View Targetings & GET OFFER' : 'REQUEST OFFER'
						- data_target_value = "#myModal-#{resource.id}"
						- data_toggle_value = "modal"
						- btn_style = "info"
						- fa_style = "fa-bullhorn"
						- if resource.approval?
							- button_name = 'APPLY OFFER'
						- if resource.has_applied?(current_user.id)
							- if resource.checked_applied?(current_user.id)
								- button_name = 'View Targetings & GET OFFER'
							- else
								- button_name = 'WAITING APPROVAL'
								- btn_style = "warning"
								- fa_style = "fa-clock-o"
								- data_target_value = "#"
								- data_toggle_value = "#"
						%tr{"data-target" => data_target_value, "data-toggle" => data_toggle_value, type: "button", style: 'cursor:pointer;'} 
							- if params[:action_offer] == "CPS"
								%td 
									= image_tag resource.cover.url, style: 'max-width:100px;'
							%td
								= resource.code
							%td
								= resource.name
							%td
								= resource.category_name
							- if params[:action_offer] == "CPS"
								%td
									= resource.expires.present? ? date_sort_time(resource.expires) : "--"
							%td
								= resource.action
							/ %td
							/ 	= resource.user_campaigns(current_user).count
							/ %td
							/ 	= resource.user_sales(current_user).count
							%td
								- if resource.featured?
									= resource.featured?
								- else
									= resource.status?
							%td
								%button.btn{style: 'width:100%;', class: "btn-#{btn_style} btn-sm"}
									<i class="fa #{fa_style}"></i> #{button_name}
						.modal.fade{:role => "dialog", id: "myModal-#{resource.id}"}
							= render 'publishers/offers/modal_apply', resource: resource, button_name: button_name

= paginate @offers, remote: true