.modal-dialog
	.modal-content
		- if button_name == "APPLY OFFER" || button_name == "Apply"
			.modal-header.modal-default
				%button.close{"data-dismiss" => "modal", :type => "button"} ×
				%h4.modal-title
					Apply Offer
		- else
			.modal-header
				%button.close{"data-dismiss" => "modal", :type => "button"} ×
				%h4.modal-title
					Request Campaign
		.modal-body
			.row.form-horizontal
				.form-group
					.col-md-12
						%b Code Offer
						%br
						= resource.code
				.form-group
					.col-md-12
						%b Category Name
						%br
						= resource.category_name
				.form-group
					.col-md-12
						%b Offer Name
						%br
						= resource.name
				.form-group
					.col-md-12
						%b Offer Action
						%br
						= resource.action
				.form-group
					.col-md-12
						%b Offer Detail
						%br
							= resource.detail.present? ? resource.detail.html_safe : "-"
				- if params[:action_offer] == "CPS"
					.form-group
						.col-md-12
							%b Expires
							%br
							= resource.expires.present? ? date_sort_time(resource.expires) : "--"
				- if resource.targetings.present?
					.form-group
						.col-md-12
							%b Targeting Countries
							%br
							%h4
								- resource.targetings.each do |resource|
									%label.label.label-default.label-targeting
										= resource.country_code+" "+(resource.fee_publisher? > 0 ? get_currency(resource.fee_publisher?) : '')

				- if button_name == "APPLY OFFER" || button_name == "Apply"
					= form_for AccessOffer.new, url: publishers_access_offers_path, method: 'post', html: { multipart:true } do |f|
						- button_action = 'Apply Offer'
						.hpanel
							.panel-body
								.col-md-12
									.form-group
										= f.hidden_field :category_campaign_id, value: resource.id
										= f.label "* Please input the message below, to request this offer to your manager"
										= f.text_field :message, placeholder: "Enter message", class: 'form-control', required: true, autofocus: true
								= submit_tag button_action, class: "btn btn-default"
					%small.text-orangered
						* This offer requires approval from the manager
				- else
					= form_for Campaign.new, url: publishers_campaigns_path(c: "first"), method: 'post', html: { multipart:true } do |f|
						- button_action = resource.auto_approvement? ? 'Apply' : 'Request'
						.hpanel
							.panel-body
								.col-md-12
									.form-group
										= f.hidden_field :category_campaign_id, value: resource.id
										= f.label "* please enter campaign title"
										= f.text_field :title, placeholder: "Enter title", class: 'form-control', required: true, autofocus: true
								= submit_tag button_action, class: "btn btn-primary"