#wrapper.content-offer-publisher.content-dashboard
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b Offers #{params[:action_offer]} (<span class='js-total-collection'>#{@offers.total_count}</span>)
				%p All list my offers #{params[:action_offer].downcase if params[:action_offer].present?}

	.content.animate-panel.offers.responsive-content-offers
		.hpanel.responsive-hpanel
			.panel-body
				.row
					.col-md-12
						= form_for :search, url: publishers_offers_path, method: 'get', html: {class: 'form-search form-search-offers'} do
							= hidden_field_tag :action_offer, params[:action_offer]
							.input-group.full
								.col-md-6.no-padding
									= text_field_tag :key, params[:key], class: 'form-control pull-left no-border-radius', placeholder: 'Keywords', autofocus: true
								.col-md-3.no-padding
									= select_tag :category_offer, options_for_select(CategoryCampaign::CATEGORY_NAMES, params[:category_offer]), prompt: 'Select Category', class: 'form-control no-border-radius'
								.col-md-3.no-padding
									= select_tag :shorter, options_for_select(CategoryCampaign::SHORTERS, params[:shorter]), prompt: 'Sort by', class: 'form-control no-border-radius'
								.input-group-btn
									= submit_tag :Search, class: 'btn btn-primary no-border-radius js-submit-offer'
						%br
					.col-md-12
						#table-lists
							= render 'publishers/offers/lists'
	= render 'publishers/shared/footer'

:javascript
	$(document).on('click', '.js-submit-offer', function(){
		$(".spinner-load").show();
	});