$('.js-total-collection').html("<%= @offers.total_count %>");
$('#table-lists').html("<%= escape_javascript render partial: 'lists', locals: {category_campaigns: @category_campaigns} %>");

$(document).ready(function() {
  $(".spinner-load").fadeOut(1000);
});