%section.content-header.top-header-m
  %h1
    #{@collection_name} #{@collection_size if @collection_size.present?}
    %small list of all #{@collection_name}
  %ol.breadcrumb
    = render_breadcrumbs :tag => :li, :separator => ""