- setting_url = current_user.is_admin? ? edit_admins_admin_path(current_user) : edit_admins_owner_path(current_user)
%header.main-header.header-admin
	.logo.logo-admin
		= link_to admins_dashboards_path do
			%span.logo-lg
				= image_tag "logo-cpaground-monokrom-30.png", class: "logo-cpaground", alt: "cpaground"
	%nav.navbar.navbar-static-top.header-admin{:role => "navigation"}
		%a.sidebar-toggle.show-menu{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
			%span.sr-only Toggle navigation
		.navbar-custom-menu
			%ul.nav.navbar-nav
				%li.dropdown.user.user-menu
					%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
						= image_tag current_user.avatar.url, class: "user-image"
						%span.hidden-xs
							= current_user.email
					%ul.dropdown-menu
						%li.user-header
							.user-bg
								= image_tag "11.png", width: "100%"
								.user-content
									= image_tag current_user.avatar.url, class: "thumb-lg img-circle"
									%h4.text-white.text-uppercase.dropdown-profile
										= current_user.username.titleize
										%br
										%small Member since #{get_datetime(current_user.created_at)}
								.overlay-box
						%li.user-footer
							.pull-left
								= link_to "Settings", setting_url, class: "btn btn-default btn-flat"
							.pull-right
								= button_to 'SignOut', destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat'
