%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
%meta{'http-equiv'=>"X-UA-Compatible", 'content'=>"IE=edge"}
%meta{'content'=>"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", 'name'=>"viewport"}
%title Cpaground (Admin)
/ = favicon_link_tag 'favicon.ico'
%link{ href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css", rel: "stylesheet" }
= stylesheet_link_tag    'application_admin', media: 'all', 'data-turbolinks-track' => true
= csrf_meta_tags