%aside.main-sidebar.sidebar-admin
	%section.sidebar
		.user-panel
			.pull-left.image
				= image_tag current_user.avatar.url, class: "img-circle"
			.pull-left.info
				%p
					= current_user.username.titleize
				%span
					= current_user.type.titleize

		%ul.sidebar-menu
			%li.treeview{class: "#{active_sidebar?(:dashboards, :index)}"}
				= link_to admins_dashboards_path do
					%i.fa.fa-globe
					%span Dashboard

			- if current_user.is_admin? || current_user.is_owner?
				- owners_path = current_user.is_owner? ? admins_owner_path(current_user) : admins_owners_path
				- owners_path_name = current_user.is_owner? ? 'My Report Revenue' : 'Owners'
				%li.header.list-categori-menu MANAGEMENT OWNERS
				%li.treeview{class: "#{active_sidebar?(:owners, :all)}"}
					= link_to owners_path do
						%i.fa.fa-user-secret
						%span #{owners_path_name}
				%li.treeview{class: "#{active_sidebar?(:invoice_owners, :all)}"}
					= link_to admins_invoice_owners_path do
						%i.fa.fa-list-alt
						%span Invoice Owners

			- unless current_user.is_owner?
				%li.header.list-categori-menu MANAGEMENT USERS
			- if current_user.is_admin?
				%li.treeview{class: "#{active_sidebar?(:admins, :all)}"}
					= link_to admins_admins_path do
						%i.fa.fa-user-secret
						%span Admins
			
			- if current_user.is_admin? || current_user.is_finance?
				%li.treeview{class: "#{active_sidebar?(:account_managers, :all)}"}
					= link_to admins_account_managers_path do
						%i.fa.fa-user
						%span Account Managers
			
			- unless current_user.is_owner?
				%li.treeview{class: "#{active_sidebar?(:publishers, :all)}"}
					= link_to admins_publishers_path do
						%i.fa.fa-users
						%span Publishers

				%li.header.list-categori-menu MANAGEMENT CAMPAIGNS
			- if current_user.is_admin?
				%li.treeview{class: "#{active_sidebar?(:access_offers, :all)}"}
					= link_to admins_access_offers_path do
						%i.fa.fa-registered
						%span Access Offers
			- unless current_user.is_owner?
				%li.treeview{class: "#{active_sidebar?(:campaigns, :all)}"}
					= link_to admins_campaigns_path do
						%i.fa.fa-share-alt
						%span Campaigns
				%li.treeview{class: "#{active_sidebar?(:report_campaign_snapshots, :all)}"}
					= link_to admins_report_campaign_snapshots_path do
						%i.fa.fa-files-o
						%span Report Campaign Snapshots
				%li.treeview{class: "#{active_sidebar_params?(input_admins_reports_path, :all)}"}
					= link_to input_admins_reports_path do
						%i.fa.fa-table
						%span Input Reports
				%li.treeview{class: "#{active_sidebar_params?(admins_reports_path(status: "visited"), :all)}"}
					= link_to admins_reports_path(status: "visited") do
						%i.fa.fa-table
						%span Performance Reports
				%li.treeview{class: "#{active_sidebar_params?(admins_reports_path(status: "convertion"), :all)}"}
					= link_to admins_reports_path(status: "convertion") do
						%i.fa.fa-table
						%span Convertion Reports

			- if current_user.is_admin?
				%li.treeview{class: "#{active_sidebar?(:category_campaigns, :all)}"}
					= link_to admins_category_campaigns_path do
						%i.fa.fa-th-list
						%span Offers
				%li.header.list-categori-menu MANAGEMENT LP
				%li.treeview{class: "#{active_sidebar?(:layout_themes, :all)}"}
					= link_to admins_layout_themes_path do
						%i.fa.fa-clone
						%span Layout Themes

			- if current_user.is_admin? || current_user.is_staff?
				%li.treeview{class: "#{active_sidebar?(:request_landing_pages, :all)}"}
					= link_to admins_request_landing_pages_path do
						%i.fa.fa-cloud
						%span Request Landing Pages

			- if current_user.is_admin? || current_user.is_finance?
				%li.header.list-categori-menu MANAGEMENT PAYMENT
				%li.treeview{class: "#{active_sidebar?(:payment_snapshots, :all)}"}
					= link_to admins_payment_snapshots_path do
						%i.fa.fa-usd
						%span Payment Snapshots
				%li.treeview{class: "#{active_sidebar?(:invoices, :all)}"}
					= link_to admins_invoices_path do
						%i.fa.fa-list-alt 
						%span Invoices
				%li.treeview{class: "#{active_sidebar?(:payment_commisions, :all)}"}
					= link_to admins_payment_commisions_path do
						%i.fa.fa-money
						%span Payment Commisions

			- if current_user.is_admin?
				%li.header.list-categori-menu REFERRAL PUBLISHERS
				%li.treeview{class: "#{active_sidebar?(:permission_referral_publishers, :all)}"}
					= link_to admins_permission_referral_publishers_path do
						%i.fa.fa-exclamation-circle
						%span Permission Referral Publisher
				%li.treeview{class: "#{active_sidebar?(:commisions, :all)}"}
					= link_to admins_commisions_path do
						%i.fa.fa-percent
						%span Commisions
				%li.header.list-categori-menu BLOGS
				%li.treeview{class: "#{active_sidebar?(:blogs, :all)}"}
					= link_to admins_blogs_path do
						%i.fa.fa-newspaper-o
						%span Blogs
				%li.header.list-categori-menu FORUMS
				%li.treeview{class: "#{active_sidebar?(:forums, :all)}"}
					= link_to admins_forums_path do
						%i.fa.fa-rss
						%span Forums
				%li.treeview{class: "#{active_sidebar?(:groups, :all)}"}
					= link_to admins_groups_path do
						%i.fa.fa-rss
						%span Groups
				%li.treeview{class: "#{active_sidebar?(:informations, :all)}"}
					= link_to admins_informations_path do
						%i.fa.fa-info-circle
						%span Informations
				%li.treeview{class: "#{active_sidebar?(:messages, :all)}"}
					= link_to admins_messages_path do
						%i.fa.fa-paper-plane
						%span Messages
				%li.header.list-categori-menu SETTINGS
				%li.treeview{class: "#{active_sidebar?(:contacts, :all)}"}
					= link_to admins_contacts_path do
						%i.fa.fa-envelope-o
						%span Inbox Contact
				%li.treeview{class: "#{active_sidebar?(:subscribers, :all)}"}
					= link_to admins_subscribers_path do
						%i.fa.fa-ticket
						%span Subscribers
				%li.treeview{class: "#{active_sidebar?(:web_settings, :all)}"}
					= link_to admins_web_settings_path do
						%i.fa.fa-wrench
						%span Web Settings