.access-offer
	- if @approve_offers.blank?
		.row
			.col-md-12
				= render "shared/empty_blank"
	- else
		- @approve_offers.each_with_index do |resource, index|
			.access-offer__info
				.row
					.col-md-2
						.avatar
							= image_tag resource.publisher.avatar.url(:thumb), class: "img-circle"
					.col-md-6.mobile-padding
						.detail
							.user-entity
								= "<b>#{resource.publisher.username.titleize}</b>".html_safe
								%br
								%small
									= link_to resource.publisher.email, account_managers_publisher_path(resource.publisher)
								%br
								%small
									= resource.publisher.profile.city
					.col-md-2
						.checked-section
							- unless resource.checked?
								= form_for resource, url: '', method: 'put', html: { class: 'submit-checked-offer', data: {url: checked_account_managers_offer_path(resource.id)}} do |f|
									= button_tag "<i class='fa fa-check-circle-o'></i> APPROVE".html_safe, type: "sumbit", class: 'btn btn-sm btn-default', style: 'width:100%;'
					.col-md-2
						.status-section
							= form_for resource, url: '', method: 'put', html: { class: 'submit-status-offer', data: {url: change_status_account_managers_offer_path(resource.id)}} do |f|
								%span= f.hidden_field :status, value: "banned"
								= button_tag "<i class='fa fa-close'></i> BANNED".html_safe, type: "sumbit", class: 'btn btn-sm btn-danger', style: 'width:100%;'
				%hr

= paginate @approve_offers, remote: true, param_name: "page_approve"