.responsive-tabel
  %table#example1.table.table-bordered.table-striped
    %thead
      %tr
        %th{width: '80px'} Code
        %th{width: '280px'} Offer Name
        %th{width: '80px'} Category
        %th{width: '70px'} Action
        %th{width: '50px'} Request
        %th{width: '50px'} Approved
        %th{width: '50px'} Banned
        %th{width: '140px'} Choice To Request
    %tbody
      - if @offers.blank?
        %tr
          %td{ colspan: "8"} 
            = render "shared/empty_blank"
      - else
        - @offers.each_with_index do |resource, index|
          %tr
            %td
              = resource.code
            %td
              = resource.name
            %td
              = resource.category_name
            %td
              = resource.action
            %td
              = resource.request(current_user.id).count
            %td
              = resource.approved(current_user.id).count
            %td
              = resource.banned(current_user.id).count
            %td
              = link_to "<button class='btn btn-info btn-sm' style= 'width:100%;'><i class='fa fa-eye'></i> DETAIL</button>".html_safe, account_managers_offer_path(resource)

= paginate @offers, remote: true