$('#js-approve-offer').html("<%= escape_javascript render partial: 'account_managers/offers/approve', locals: {approve_offers: @approve_offers} %>");
$('#js-banned-offer').html("<%= escape_javascript render partial: 'account_managers/offers/banned', locals: {banned_offers: @banned_offers} %>");
