#wrapper.content-detail-campaign-publisher
	.normalheader.small-header
		.hpanel
			.panel-body.responsive-title-page
				%a.small-header-action{:href => ""}
					.clip-header
						%i.fa.fa-arrow-up
				#hbreadcrumb.pull-right.m-t-lg.breadcrumb-capital.desktop
					%ol.breadcrumb.hbreadcrumb
						= render_breadcrumbs :tag => :li, :separator => ""
				%h2.font-light.m-b-xs
					%b (#{@offer.code}) #{@offer.name}
				%p Detail Offer

	.content.animate-panel.responsive-list-campaign
		.row
			.col-lg-12.m-t-md.content-campaign.responsive-panel-full

				.hpanel
					%ul.nav.nav-tabs
						%li.active
							%a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab-1"} 
								%i.fa.fa-file-text-o
								&nbsp; Detail
						%li
							%a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab-2"} 
								%i.fa.fa-check-square-o
								&nbsp; Approve
						%li
							%a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab-3"} 
								%i.fa.fa-close
								&nbsp; Banned
					.tab-content
						#tab-1.tab-pane.active
							.panel-body
								#js-detail-offer
									= render 'account_managers/offers/detail'

						#tab-2.tab-pane
							.panel-body
								.row
									.col-md-8.col-md-offset-2.no-padding-m
										= form_for :search, url: account_managers_offer_path(@offer), method: 'get', html: {class: 'form-search form-search-offers', remote: true} do
											.input-group.full
												.col-md-12.no-padding
													= text_field_tag :key, params[:key], class: 'form-control pull-left no-border-radius', placeholder: 'Keywords', autofocus: true
												.input-group-btn
													= submit_tag :Search, class: 'btn btn-primary no-border-radius'
										%br
										#js-approve-offer
											= render "account_managers/offers/approve"
						#tab-3.tab-pane
							.panel-body
								.row
									.col-md-8.col-md-offset-2.no-padding-m
										= form_for :search, url: account_managers_offer_path(@offer), method: 'get', html: {class: 'form-search form-search-offers', remote: true} do
											.input-group.full
												.col-md-12.no-padding
													= text_field_tag :key2, params[:key2], class: 'form-control pull-left no-border-radius', placeholder: 'Keywords', autofocus: true
												.input-group-btn
													= submit_tag :Search, class: 'btn btn-primary no-border-radius'
										%br
										#js-banned-offer
											= render 'account_managers/offers/banned'
						
	= render 'publishers/shared/footer'
