#page-top.slider-aboutus
  .container.content-slider
    .heading
      %h1.text-center.tittle-about
        %span.text-greenlow Hello. &nbsp;
        | &nbsp;
        Our Feature Is
      / .col-sm-6.col-sm-offset-3.imaginary_container
      /   .input-group.stylish-input-group
      /     %input.form-control{:placeholder => "Search Help", :type => "text"}/
      /     %span.input-group-addon
      /       %button{:type => "submit"}
      /         %span.fa.fa-search

%br
= render 'home/shareds/feature'
%br
%br
= render 'home/shareds/footer'

