.row
  .col-md-3
    .form-group
      .photo-profile
        = f.file_field :attachment_image, onchange: "previewFile()"
        = f.hidden_field :attachment_image_cache
        = image_tag @blog.attachment_image, class: "img-thumbnail img-responsive change-profile"
        %i.fa.fa-upload.fa-5x
  .col-md-9
    .col-md-12
      .form-group
        = f.label :title
        = f.text_field :title, placeholder: "Enter title blog", class: 'form-control', required: true
    .col-md-12
      .form-group
        = f.label :category
        = f.select :category, Blog::CATEGORIES, {prompt: 'Select Category'}, class: 'form-control', required: true
    .col-md-12
      .form-group
        = f.label :description
        = f.cktext_area :description, placeholder: "Enter description blog", class: 'form-control', required: true
    .col-md-12
      .form-group
        = f.label :status
        = f.select :status, Blog::STATUSES, {prompt: 'Select Status'}, class: 'form-control', required: true
    .col-md-12
      = button_tag type: "submit", class: "btn btn-info pull pull-right" do
        %i.fa.fa-send
        &nbsp; Save
