= render "shared/admin/breadcrumbs"

%section.content.full-page
  .row  
    .col-md-12
      .box.box-m
        .box-header
          %b
            = @collection_name
            = link_to 'Back To List', admins_blogs_path, class: 'btn btn-info btn-xs pull-right'
          %hr
        .right-left-min
          .box-body
            = form_for @blog, url: admins_blogs_path, method: 'post', html: { multipart:true } do |f|
              = render 'form', f: f