= render "shared/admin/breadcrumbs"
  
%section.content.full-page
  .row
    .col-xs-12
      .box.box-m
        .box-header
          %h3.box-title
            Data Blog
          .pull-right
            = link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, admins_blogs_path, class: "btn btn-info btn-xs"
            &nbsp;
            = link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_admins_blog_path(@blog), class: "btn btn-default btn-xs"
          %hr
        .box-body.blog-body.blog-m
          .show-blog
            .col-md-12.no-padding-m
              %h1= @blog.title
              %br
              .row
                .col-md-6
                  .writer
                    = image_tag @blog.user.avatar.thumb, class: "img-circle"
                    .writer-by
                      %b= @blog.user.username
                      %br
                      category: 
                      = @blog.category
                      %br
                      = get_datetime(@blog.created_at)
                .col-md-6.no-padding-m
                  = form_for @blog, url: change_status_admins_blog_path, method: 'put', html: {class: "pull-right form-active-m"} do |f|
                    .col-xs-8.no-right
                      = f.select :status, Blog::STATUSES, {prompt: 'Select Status'}, class: 'btn-full-m form-control', required: true
                    .col-xs-4.no-right
                      = submit_tag :change, class: 'btn btn-info btn-full-m no-radius'
              %hr.float-block
            .col-md-8.col-md-offset-2.no-padding-m
              .panel.panel-default
                .panel-body
                  .panel-image{style: 'height:auto;'}
                    = image_tag @blog.attachment_image, class: "img-blog"
                  %br
                  %br
                  = @blog.description.html_safe
                
              
              
