.row
	.col-md-4.col-xs-12
		.panel.panel-default
			.panel-body
				.col-md-12.col-xs-12
					%b Revenue Publisher  
				.col-md-4.col-xs-4  
					%h5
						= get_currency_full(@fee_publisher_approved)
					%small Approved
				.col-md-4.col-xs-4  
					%h5
						= get_currency_full(@fee_publisher_pending)
					%small Pending
				.col-md-4.col-xs-4  
					%h5
						= get_currency_full(@fee_publisher_rejected)
					%small Reject
	.col-md-4.col-xs-12
		.panel.panel-default
			.panel-body
				.col-md-12.col-xs-12
					%b Revenue Account Manager  
				.col-md-4.col-xs-4  
					%h5
						= get_currency_full(@fee_am_approved)
					%small Approved
				.col-md-4.col-xs-4  
					%h5
						= get_currency_full(@fee_am_pending)
					%small Pending
				.col-md-4.col-xs-4  
					%h5
						= get_currency_full(@fee_am_rejected)
					%small Reject
	.col-md-4.col-xs-12
		.panel.panel-default
			.panel-body
				.col-md-12.col-xs-12
					%b Total Revenue 
				.col-md-4.col-xs-4  
					%h5
						= get_currency_full(@total_revenue_approved)
					%small Approved
				.col-md-4.col-xs-4  
					%h5
						= get_currency_full(@total_revenue_pending)
					%small Pending
				.col-md-4.col-xs-4  
					%h5
						= get_currency_full(@total_revenue_rejected)
					%small Reject