= render "admins/commisions/box_calculation"

- if params[:start_at].present?
	%center
		%b Search Range
		%br
		= params[:start_at]+" - "+params[:end_at]

.responsive-tabel
	%table#example1.table.table-bordered.table-striped
		- if params[:group_by].blank?
			%thead
				%tr
					%th Publisher
					%th AM
					%th Fee AM
					%th Fee Publisher
					%th Revenue
					%th Status
					%th Created At
					%th Updated At
			%tbody
				- if @commisions.blank?
					%tr
						%td{ colspan: "8"} 
							= render "shared/empty_blank"
				- else
					- @commisions.each do |resource|
						%tr
							%td
								= link_to resource.publisher.username, admins_publisher_path(resource.publisher)
							%td
								= link_to resource.account_manager.username, admins_account_manager_path(resource.account_manager)
							%td
								= get_currency(resource.fee_am)
							%td
								= get_currency(resource.fee_publisher)
							%td
								= get_currency(resource.revenue)
							%td
								= resource.status?
							%td
								= get_datetime(resource.created_at)
							%td
								= get_datetime(resource.updated_at)
		- else
			= render "lists_group_by"

= paginate @commisions, remote: true