%thead
	%tr
		%th Publisher
		%th AM
		%th Commision
		%th To Acc
%tbody
	- if @commisions.blank?
		%tr
			%td{ colspan: "8"} 
				= render "shared/empty_blank"
	- else
		- @commisions.each do |resource|
			%tr
				%td
					- publisher = Publisher.find resource[0]
					= link_to publisher.username, admins_publisher_path(publisher)
				%td
					- account_manager = AccountManager.find resource[1]
					= link_to account_manager.username, admins_account_manager_path(account_manager)
				%td
					= get_currency(resource[2])
				%td
					= publisher.profile.payment_to