#breadcrumbs
	= render "shared/admin/breadcrumbs"

%section.content.full-page
	.col-md-12
		.row.search
			.bg-white
				= form_for :search, url: admins_commisions_path, method: 'get', html: {class: 'form-search', remote: true} do
					.input-group.full
						.col-md-2.no-padding
							= text_field_tag :publisher_username, params[:publisher_username], class: 'form-control pull-left', placeholder: 'Publisher Username'
						.col-md-2.no-padding
							= text_field_tag :am_username, params[:am_username], class: 'form-control pull-left', placeholder: 'Account Manager Username'
						.col-md-2.no-padding
							= select_tag :status, options_for_select(Commision::STATUSES, params[:status]), prompt: 'Select Status', class: 'form-control no-border-radius'
						.col-md-1.no-padding
							= select_tag :group_by, options_for_select(Commision::GROUP_BY, params[:group_by]), prompt: 'Group By', class: 'form-control no-border-radius'
						.col-md-1.no-padding
							= text_field_tag :start_at, nil, value: params[:start_at], class: 'form-control datepicker', placeholder: 'Start At'
						.col-md-1.no-padding
							= text_field_tag :end_at, nil, value: params[:end_at], class: 'form-control datepicker',  placeholder: 'End At'
						.col-md-1.no-padding
							= submit_tag :search, class: 'btn btn-info'
						.col-md-2
							.btn-search-admin.js-button-export
								= render 'shared/admin/button_export'

	.row
		.col-xs-12.top-plus
			.box.box-m
				.box-body
					#table-lists
						= render 'admins/commisions/lists'