<table border="1">
  <caption>Commision <%= params[:start_at].present? ? params[:start_at]+" - "+params[:end_at] : '' %></caption>
  <% if params[:group_by].present? %>
    <tr>
      <th>Publisher</th>
      <th>AM</th>
      <th>Commision</th>
      <th>To Acc</th>
    </tr>
    <% @commisions_group.each do |resource| %>
    <tr>
      <% publisher = Publisher.find resource[0] %>
      <% account_manager = AccountManager.find resource[1] %>
      <td><%= publisher.username %></td>
      <td><%= account_manager.username %></td>
      <td><%= get_currency(resource[2]) %></td>
      <td><%= publisher.profile.payment_to %></td>
    </tr>
    <% end %>
  <% else %>
    <tr>
      <th>No</th>
      <th>Publisher</th>
      <th>AM</th>
      <th>Fee AM</th>
      <th>Fee Publisher</th>
      <th>Revenue</th>
      <th>Status</th>
      <th>Created at</th>
    </tr>
    <% @commisions.each_with_index do |resource, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= resource.publisher.try(:username) %></td>
      <td><%= resource.account_manager.try(:username) %></td>
      <td><%= get_currency(resource.try(:fee_am)) %></td>
      <td><%= get_currency(resource.try(:fee_publisher)) %></td>
      <td><%= get_currency(resource.try(:revenue)) %></td>
      <td><%= resource.try(:status) %></td>
      <td><%= resource.created_at.strftime("%I:%M %B, %d, %Y") %></td>
    </tr>
    <% end %>
  <% end %>
</table>