$('.js-total-collection').html("<%= @total_collection %>");
$('#table-lists').html("<%= escape_javascript render partial: 'lists', locals: {commisions: @commisions} %>");
$('.js-button-export').html("<%= escape_javascript render partial: 'shared/admin/button_export' %>");
