!!!
%html
	%head
		= render "shared/admin/head"
		= favicon_link_tag "favicon.png"

		= javascript_include_tag "//www.google.com/jsapi"
		= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.js"
		= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/chartist-plugin-legend/0.6.2/chartist-plugin-legend.js"
		= javascript_include_tag 'application_admin', 'data-turbolinks-track' => true
	%body.skin-blue.sidebar-mini.fixed.sidebar-collapse
		.wrapper
			= render "shared/admin/header_admin"
			= render "shared/admin/sidebar_admin"
			.content-wrapper
				.container-fluid
					= flash_messages
				= yield
			= render "shared/admin/footer"
	