!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = render "shared/meta_global"
    %link{ href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css", rel: "stylesheet" }
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = render 'shared/fb_pixel', event: 'PageViews'
  %body
    .landing-page
      = render "shared/header"
      = flash_messages unless params[:action].present? && params[:action] == 'thank_you'
      = yield
  = javascript_include_tag 'application'
  = render 'home/js_set_geo_map' if current_page?(root_url)

  / ---------- TRACKNEW -------------
  / = javascript_include_tag 'https://code.jquery.com/jquery-2.2.4.js'
  / = render 'shared/js_track_tcground' if current_page?(root_url) && params[:c].present?
