!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
		%meta{'http-equiv'=>"X-UA-Compatible", 'content'=>"IE=edge"}
		%meta{'content'=>"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", 'name'=>"viewport"}
		%title Cpaground - Publisher
		= favicon_link_tag @web_setting.favicon.url if @web_setting.present?
		%link{ href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css", rel: "stylesheet" }
		= stylesheet_link_tag 'application_publisher'

		= javascript_include_tag "//www.google.com/jsapi"
		= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.js"
		= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/chartist-plugin-legend/0.6.2/chartist-plugin-legend.js"
		= javascript_include_tag 'application_publisher'
		= javascript_include_tag "//cdn.ckeditor.com/4.6.0/basic/ckeditor.js"
		= csrf_meta_tags
	%body.fixed-navbar.fixed-sidebar.theme-light
		= flash_messages
		= render "publishers/shared/navbar"
		= yield
	= render 'shared/fb_pixel', event: 'ViewContent'
	= render 'shared/ga'
