!!!
%html
	%head
		%meta{'http-equiv'=>"X-UA-Compatible", 'content'=>"IE=edge"}
		%meta{'content'=>"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", 'name'=>"viewport"}
		%meta{'name'=>"google-site-verification", 'content'=>"CqjMpY0WTabqcGNZEnziFWbvi61DVJ6Dttu0Z8K5AwA"}
		= render "shared/meta_global"
		%link{ href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css", rel: "stylesheet" }
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= render 'shared/fb_pixel', event: 'ViewContent'
	%body
		.landing-page
			= render "shared/header"
			= flash_messages
			= yield
