!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = render "shared/meta_lombok"
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    .landing-page
      = flash_messages
      = yield
