!!!
%html
  %head
    - if current_page?(root_url)
      %title Loading......Please Wait
  %body
    = yield
    = javascript_include_tag 'https://code.jquery.com/jquery-2.2.4.js'
    = render 'shared/js_track_tcground' if current_page?(root_url) && params[:c].present?