.panel
	.panel-body
		.responsive-tabel
			%table#example1.table.table-bordered.table-striped{style: 'width: 2000px;'}
				%thead
					%tr
						%th Click Id
						%th{ width: "100px"} Click Date
						%th Time
						%th Campaign Id
						%th Publisher
						%th Offer
						%th IP Address
						%th Country
						%th Referrer
						%th Device
						%th Browser
						%th OS
						- unless params[:status] == "visited"
							%th{ width: "60px"} Status
							%th{ width: "60px"} Sales
							%th{ width: "100px"} Revenue
							- if current_user.is_admin? || current_user.is_staff?
								%th{ width: "40px"}
				%tbody
					- if @convertion.blank?
						%tr
							%td{ colspan: params[:status] == "visited" ? "16" : "12"} 
								= render "shared/empty_blank"
					- else
						%tr
							%td
								= @convertion.click_id
							%td
								= date_sort_time(@convertion.convertion_date)
							%td
								= get_time(@convertion.convertion_time)
							%td
								= link_to @convertion.campaign_id, admins_campaign_path(@convertion.campaign_id)
							%td
								= link_to @convertion.publisher_id, admins_publisher_path(@convertion.publisher_id) rescue "not found"
							%td
								= link_to @convertion.category_campaign_id, admins_category_campaign_path(@convertion.category_campaign_id)
							%td
								= @convertion.ip
							%td
								= @convertion.country_code
							%td
								= @convertion.referrer
							%td
								= @convertion.device
							%td
								= @convertion.browser
							%td
								= @convertion.os || '--'
							- unless params[:status] == "visited"
								%td
									= @convertion.status
								%td
									= @convertion.sales > 0 ? 'Yes' : 'No'
								%td
									#{@convertion.status?} #{get_currency(@convertion.revenue)}
									/ - if @convertion.category_campaign.is_cps? && params[:status] != "visited"
									/   %span.pull-right
									/     .fa.fa-list-alt{"data-target" => "#modalReportItem-#{@convertion.id}", "data-toggle" => "modal", type: "button", style: 'cursor:pointer;', title: "Detail report items"}
									/     .modal.fade{:role => "dialog", id: "modalReportItem-#{@convertion.id}"}
									/       = render 'publishers/reports/modal_report_item', @convertion: @convertion
								- if current_user.is_admin? || current_user.is_staff?
									%td
										= form_for @convertion, method: 'put', url: change_convertion_report_admins_report_campaign_snapshot_path(@convertion) do |f|
											= button_tag '<i class="pe-7s-check" aria-hidden="true"></i>'.html_safe, class: 'btn btn-default btn-xs btn-no-border pull-right-m', title: "Approve this report", name: 'commit', value: 'approve', data: {confirm: "Are you sure to approve this #{@convertion.click_id} report?"} if @convertion.status == ConvertionReport::REJECT
											= button_tag '<i class="pe-7s-close-circle" aria-hidden="true"></i>'.html_safe, class: 'btn btn-default btn-xs btn-no-border pull-right-m', title: "Reject this report", name: 'commit', value: 'reject', data: {confirm: "Are you sure to reject this #{@convertion.click_id} report?"} if @convertion.status == ConvertionReport::APPROVED