.col-md-3
  .form-group
    = label_tag :total
    = text_field_tag "#{params[:payment_snapshot]}[total]", @total_revenue, class: 'form-control', disabled: true, required: true
.col-md-12
  .panel.panel-default
    .panel-body
      %p
        STATUS
        %b= @status_account
      %p
        Earnings Publisher
        %b= get_currency_full(@revenue_publisher)
      %p
        Fee AM
        %b= get_currency_full(@fee_am)
      %p
        Fee Company
        %b= get_currency_full(@fee_company)
      %p
        Total
        %b= get_currency_full(@total_revenue)
.col-md-6
  .form-group
    = label_tag :from_acc
    = text_field_tag "#{params[:payment_snapshot]}[from_acc]", '', placeholder: "Enter From Account",class: 'form-control', required: true
.col-md-6
  .form-group
    = label_tag :to_acc
    = text_field_tag "#{params[:payment_snapshot]}[to_acc]", @to_acc, placeholder: "Enter To Account", class: 'form-control', required: true