- if @campaigns_data.present?
	.form-group
		%label Your campaign
		= select_tag "request_landing_page[campaign_id]", options_for_select(@campaigns_data.pluck(:title, :id), @campaign_id), {prompt: 'Select Your Campaign', class: 'form-control select2', required: true}
	%br
	%br
	%b PLEASE CHOICE YOUR TEMPLATE
	%hr
	.row
		- @layouts.each do |layout|
			.col-md-4
				.panel
					.panel-body.template-lp
						%label.lbswatches.line-image.request-lp
							%i.fa.fa-check.text-green
							.scroll{:style => "background-image: url(#{layout.image.url(:big)});"}
							= radio_button_tag "request_landing_page[layout_theme_id]", layout.id, required: true
					= link_to "#{layout.title}<br>Preview".html_safe, layout.link_preview, target: "_blank", class: "btn btn-primary no-border-radius btn-block"


	.form-group
		- if @layouts.present?
			= submit_tag 'CREATE NOW', class: 'btn btn-primary'
		- else
			.alert.alert-warning
				Landing page template not available.

- else
	%br
	%br
	= render "shared/empty_blank"
	%p{align: 'center'} You do not have any data campaign yet, please submit a campaign first #{link_to 'CLICK HERE', publishers_offers_path}