.row
	= hidden_field_tag 'convertion_report[campaign_id]', @convertion.campaign_id
	= hidden_field_tag 'convertion_report[publisher_id]', @convertion.publisher_id
	.col-xs-12.col-md-2
		%label Revenue ($)
		= number_field_tag 'convertion_report[revenue]', @convertion.revenue, placeholder: "0", class: 'form-control', min: 0, step: :any, required: true
	- if @convertion.category_campaign.action == 'CPS'
		.col-xs-12.col-md-1
			%label Status
			= select_tag 'convertion_report[status]', options_for_select(ConvertionReport::STATUSES_WITHOUT_VISITED, @convertion.status), class: 'form-control', required: true
	.col-xs-12.col-md-2
		%label Convertion Time
		= text_field_tag 'convertion_report[convertion_time]', @convertion.convertion_time, placeholder: "Convertion Date", class: 'form-control datetimepicker1', required: true, disabled: true
	.col-xs-12.col-md-2
		%label IP Address
		= text_field_tag 'convertion_report[ip]', @convertion.ip, placeholder: "IP Address", class: 'form-control', required: true, disabled: true
	.col-xs-12.col-md-1
		%label Country
		= text_field_tag 'convertion_report[country_code]', @convertion.country_code, placeholder: "CT", class: 'form-control', required: true
	.col-xs-12.col-md-1
		%label Device
		= text_field_tag 'convertion_report[device]', @convertion.device, placeholder: 'Device', class: 'form-control', disabled: true
	.col-xs-12.col-md-2
		%label Browser
		= text_field_tag 'convertion_report[browser]', @convertion.browser, placeholder: 'Browser', class: 'form-control', disabled: true
	.col-xs-12.col-md-1
		= submit_tag "Add", class: "btn btn-info btn-submit js-onclick-add btn-block"