.col-md-4
	.panel.panel-default
		.panel-heading
			.panel-title
				%center Fee Publisher: 
		.panel-body
			%center
				%b= get_currency_full((@reports.total(User::PUBLISHER) rescue 0))
.col-md-4
	.panel.panel-default
		.panel-heading
			.panel-title
				%center Fee Account Manger: 
		.panel-body
			%center
				%b= get_currency_full((@reports.total(User::ACCOUNTMANAGER) rescue 0))
.col-md-4
	.panel.panel-default
		.panel-heading
			.panel-title
				%center Fee Company: 
		.panel-body
			%center
				%b= get_currency_full((@reports.total(User::ADMIN) rescue 0))