- if list_reports.present?
  .box.box-m.box-default
    .box-header.with-border 
      %h3.box-title List Reports
      .box-tools.pull-right 
        %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"} 
          %i.fa.fa-minus 
        %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"} 
          %i.fa.fa-times 
    .box-body
      .responsive-tabel
        %table#example1.table.table-bordered.table-striped.tabel-width2
          %thead
            %tr
            %th Campaign Title
            %th Publisher
            %th AM
            = render 'shared/analytics/thead_table_analytic'
          %tbody
            - list_reports.each_with_index do |resource, index|
              %tr
                %td
                  - campaign = Campaign.find_by(id: resource[0])
                  = link_to campaign.title, admins_campaign_path(resource[0])
                %td
                  - publisher = Publisher.find_by(id: resource[1])
                  = link_to publisher.username, admins_publisher_path(publisher)
                %td
                  - am = AccountManager.find resource[3]
                  = link_to am.username, admins_account_manager_path(am)
                %td
                  = resource[4]
                %td
                  = resource[5]
                %td
                  = resource[6]
                %td
                  = resource[7]
                %td
                  = resource[8]
                %td
                  = get_currency(resource[9])
      = paginate list_reports, remote: true, param_name: "#{list_report_by}"

:javascript
  $('.responsive-tabel').doubleScroll();