.responsive-tabel
	.responsive-content-tabel
		%table.table.table-bordered.tabel-width1
			%thead
				%tr
					%td No
					%td Code
					%td Offer Name
					%td Offer Category
					%td Total Campaign
					/ %td Visitors
					/ %td Uniquue Visitors
					%td Sales
					%td Revenue
			%tbody
				- @list_offer_count.each_with_index do |resource, index|
					- campaign = Campaign.find_by(id: resource[0])
					- update_offer = campaign.category_campaign
					- update_offer.sales = resource[3]
					%tr
						%td
							= index+1
						%td
							= campaign.category_campaign.code
						%td
							= link_to campaign.category_campaign.name, admins_category_campaign_path(campaign.category_campaign)
						%td
							= campaign.category_campaign.category_name
						%td
							= campaign.category_campaign.campaigns.count
						/ %td
						/ 	= resource[2]
						/ %td
						/ 	= update_offer.sales
						%td
							= resource[1]
						%td
							= get_currency(resource[4]) if resource[4].present?
						- update_offer.save