$('.js-field-search').html("<%= escape_javascript render 'shared/analytics/field_search' %>");
$('#btn-group-analytic').html("<%= escape_javascript render 'admins/campaigns/btn_group_analytic' %>");
$('#the-report-analytics').html("<%= escape_javascript render 'shared/analytics/analytic', report_for: 'dashboard' %>");
$('#fee-section').html("<%= escape_javascript render 'admins/dashboards/fee_section' %>");
$('.total-revenue').html("<%= get_currency(@reports_total_revenue) %>");

$(document).ready(function() {
  $(".spinner-load").fadeOut(1000);
});