%section.content.dashboard-admin.full-page
  .row
    .col-md-12
      %h2{align: 'center'}
        = get_datetime(Time.zone.now)
      %br
    .bg-white
      .col-md-3.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.btn-info
            %span.pe-7s-user
          .info-box-content
            %span.info-box-text Account Managers
            %span.info-box-number
              = get_format_number(@account_managers_size)

      .col-md-3.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.btn-info
            %span.pe-7s-users
          .info-box-content
            %span.info-box-text Active Publishers
            %span.info-box-number
              = get_format_number(@publishers_size)
      .col-md-3.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.btn-info
            %span.pe-7s-speaker
          .info-box-content
            %span.info-box-text Campaigns
            %span.info-box-number
              = get_format_number(@campaigns_size)
      .col-md-3.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.btn-info
            %span.pe-7s-display2

          .info-box-content
            %span.info-box-text Landing Pages
            %span.info-box-number
              = get_format_number(@landing_pages_size)
    .bg-white.top-plus
      #fee-section
        = render 'admins/dashboards/fee_section'

    .col-md-12.top-plus
      .panel.panel-default
        .panel-body
          %button.btn.btn-default.btn-block.btn-list-offer TOP OFFERS BY SALES
          .responsive-tabel#list-offer-count{style:"display: none;"}
            .box-body.responsive-content-tabel        
              .loading-data
                .text PLEASE WAIT, LOADING TO CALCULATE DATA OFFERS

    .col-md-12
      = form_for :select_date, url: admins_dashboards_path, method: 'get', remote: true, html: {class: 'js-form-submit'} do
        .panel.responsive-panel-analytic
          .panel-body
            .row
              .responsive-row-analytic
                .col-xs-6
                  .simple-search
                    .input-group.js-field-search
                      = render 'shared/analytics/field_search'
                .col-xs-6
                  #btn-group-analytic
                    = render 'admins/campaigns/btn_group_analytic'
                .col-xs-12
                  .btn-group.pull-right.btn-chart
                    %button.btn.btn-default.btn-total-revenue
                      Total Revenue :
                      %span.total-revenue #{get_currency(@reports_total_revenue)}
                .col-xs-12
                  #the-report-analytics
                    = render 'shared/analytics/analytic', report_for: 'dashboard'

    / - if current_user.is_admin?
    /   .col-md-4
    /     .box.box-m.box-default
    /       .box-header.with-border
    /         %h3.box-title Request Publishers
    /         .box-tools.pull-right
    /           %span.label.label-info = @request_publisher_query.count rescue 0 Publishers
    /           %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
    /             %i.fa.fa-minus
    /           %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
    /             %i.fa.fa-times
    /       .box-body.no-padding
    /         %ul.users-list.clearfix
    /           - if @request_publishers.present?
    /             - @request_publishers.limit(12).each do |f|
    /               = link_to admins_publisher_path(f) do
    /                 %li
    /                   = image_tag f.avatar.url(:thumb)
    /                   %a.users-list-name{href: "#"} 
    /                     = f.username
    /                   %span.users-list-date
    /                     = f.created_at.strftime(" %d %b %y")
    /           - else
    /             = render "shared/empty_blank"
    /       .box-footer.text-center
    /         %a.uppercase{href: admins_publishers_path}
    /           = @request_publishers.present? ? 'View More' : 'Open List Publishers'

    /   .col-md-4
    /     .box.box-m.box-default.notificatin-new-campaign
    /       .box-header.with-border
    /         %h3.box-title Latest Campaigns
    /         .box-tools.pull-right
    /           %span.label.label-info #{@request_campaigns.count rescue 0} Campaigns
    /           %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
    /             %i.fa.fa-minus
    /           %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
    /             %i.fa.fa-times
    /       .box-body.no-padding
    /         .direct-campaigns-box
    /           %ul.products-list.product-list-in-box
    /             - if @request_campaigns.present?
    /               - @request_campaigns.limit(25).each do |f|
    /                 = link_to admins_campaign_path(f), class: "list-campaigns" do  
    /                   %li.item
    /                     .product-img
    /                       = image_tag f.publisher.avatar.url(:thumb)
    /                     .product-info
    /                       .username-campaign
    /                         .product-username.pull-left.text-capital
    /                           = f.publisher.username
    /                         .product-description.pull-right
    /                           = f.created_at.strftime(" %d %b %y")
    /                       .contacts-list-msg.title-campaign
    /                         .product-title.pull-left
    /                           = f.title.slice(0..25)
    /                         .category-campaign
    /                           %span.label.label-info.pull-right
    /                             = f.try(:category_campaign).try(:name)
    /                           .overlay-category
    /             - else
    /               = render "shared/empty_blank"
    /       .box-footer.text-center
    /         %a.uppercase{href: admins_campaigns_path}
    /           = @request_campaigns.present? ? 'View More' : 'Open List Campaigns'

    /   .col-md-4
    /     .box.box-m.box-default.box-contact
    /       .box-header.with-border
    /         %h3.box-title Guest Messages
    /         .box-tools.pull-right
    /           %span.label.label-info #{@request_contacts.count rescue 0} Pesan
    /           %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
    /             %i.fa.fa-minus
    /           %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
    /             %i.fa.fa-times
    /       .box-body.no-padding
    /         .direct-chat-contacts-box
    /           %ul.contacts-list.contact-hr
    /             - if @request_contacts.present?
    /               - @request_contacts.each do |f|
    /                 %li.contact-list
    /                   = link_to admins_contact_path(f) do
    /                     .contacts-list-info.contact-content
    /                       %small.contacts-list-date.pull-right
    /                         = f.created_at.strftime(" %d %b %y")
    /                       %span.contacts-list-name
    /                         From : #{f.name rescue '-'}
    /                         %br
    /                       %span.text-orange
    /                         &lt;#{f.email rescue '-'}&gt;
    /                       %br
    /                       .contacts-list-msg
    /                         = f.message.slice(0..95)
    /             - else 
    /               = render "shared/empty_blank"

    /       .box-footer.text-center
    /         %a.uppercase{href: admins_contacts_path}
    /           = @request_contacts.present? ? 'View More' : 'Open Guest Messages'
